Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Address review feedback
  pkg/utils/kubernetes/health/pod.go
  pkg/utils/kubernetes/health/pod_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ignore completed `Pod`s in health check
  pkg/utils/kubernetes/health/deployment.go
  pkg/utils/kubernetes/health/deployment_test.go
  pkg/utils/kubernetes/health/pod.go
  pkg/utils/kubernetes/health/pod_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.105] Ignore completed `Pod`s in health check (#10728)
  pkg/utils/kubernetes/health/deployment.go
  pkg/utils/kubernetes/health/deployment_test.go
  pkg/utils/kubernetes/health/pod.go
  pkg/utils/kubernetes/health/pod_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.106] Ignore completed `Pod`s in health check (#10727)
  pkg/utils/kubernetes/health/deployment.go
  pkg/utils/kubernetes/health/deployment_test.go
  pkg/utils/kubernetes/health/pod.go
  pkg/utils/kubernetes/health/pod_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Add missing comma
  docs/deployment/getting_started_locally.md
Due: none

chore(deps): update istio images to v1.23.3 (#10725)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module istio.io/api to v1.23.3 (#10726)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Documentation
  docs/usage/shoot/shoot_access.md
Due: none

[make generate]
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Augment API
  example/90-shoot.yaml
  example/operator/20-garden.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `kubernetes/apiserver` component to support structured authz
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/authentication.go
  pkg/component/kubernetes/apiserver/authorization.go
  pkg/component/kubernetes/apiserver/configmaps.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/kubernetes/apiserver/secrets.go
  pkg/component/shared/kubeapiserver.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Augment seed authorizer graph logic
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_shoot.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation handler to GAC for authz configs
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  docs/concepts/admission-controller.md
  pkg/admissioncontroller/webhook/add.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/add.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/authorizationconfig_suite_test.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/handler.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/handler_test.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add condition to only intercept requests from gardenlets and service accounts from seed namespaces
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt config computation for `kubeapiserver` component
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/authentication.go
  pkg/component/kubernetes/apiserver/authorization.go
  pkg/component/kubernetes/apiserver/configmaps.go
  pkg/component/shared/apiserver.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  docs/usage/shoot/shoot_access.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/admissioncontroller/webhook/admission/auditpolicy/handler.go
  pkg/admissioncontroller/webhook/admission/authenticationconfig/handler.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/handler.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_shoot.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/kubernetes/apiserver/authorization.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Augment shoot kubeconfig validator with authz kubeconfig secret handling
  pkg/admissioncontroller/webhook/admission/shootkubeconfigsecretref/handler.go
  pkg/admissioncontroller/webhook/admission/shootkubeconfigsecretref/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename `admissionpluginsecret` to `shootkubeconfigsecretref`
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  pkg/admissioncontroller/webhook/add.go
  pkg/admissioncontroller/webhook/admission/shootkubeconfigsecretref/add.go
  pkg/admissioncontroller/webhook/admission/shootkubeconfigsecretref/handler.go
  pkg/admissioncontroller/webhook/admission/shootkubeconfigsecretref/handler_test.go
  pkg/admissioncontroller/webhook/admission/shootkubeconfigsecretref/shootkubeconfigsecretref_suite_test.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[PR feedback] Adapt `reference` controllers
  docs/concepts/controller-manager.md
  docs/concepts/operator.md
  pkg/controllermanager/controller/shoot/reference/add.go
  pkg/controllermanager/controller/shoot/reference/add_test.go
  pkg/operator/controller/garden/reference/add.go
  pkg/operator/controller/garden/reference/add_test.go
  test/integration/controllermanager/shoot/reference/reference_test.go
  test/integration/operator/garden/reference/reference_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/admissioncontroller/webhook/admission/auditpolicy/handler.go
  pkg/admissioncontroller/webhook/admission/authenticationconfig/handler.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/handler.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/usage/shoot/shoot_access.md
Due: none

[PR feedback] Ensure shoot references exist
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add extension documentation
  docs/operations/network_policies.md
Due: none

Deprecate Shoot's `.kubeAPIServer.oidcConfig` field (#10666)
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  docs/usage/security/openidconnect-presets.md
  docs/usage/shoot/shoot_access.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/settings/types_cluster_openidconnect_preset.go
  pkg/apis/settings/types_openidconnect_preset.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/kubernetes/apiserver/authentication.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deflake `operator/gardenlet` test (#10721)
  test/integration/operator/gardenlet/gardenlet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus/common to v0.60.1 (#10724)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add TODO
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Add marc1404 to OWNER_ALIASES
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Document debugging in GoLand and VS Code (#10719)
  docs/deployment/getting_started_locally.md
Due: none

chore(deps): update dependency gardener/dashboard to v1.78.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Sort OWNER_ALIASES alphabetically
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/dashboard to v1.78.0 (#10731)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency credativ/plutono to v7.5.34
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Introduce Make target operator-seed-dev
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Document `make operator-seed-dev`
  docs/deployment/getting_started_locally.md
Due: none

chore: Add timestamp to gardenlet tags in Skaffold
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Remove operator-debug profile
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Introduce 'operator-dev' Skaffold profile for changing the build tag policy
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Remove abbreviated Git commit hash from gardenlet Skaffold tag
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
