Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

`Garden` controller deploys `extensions.gardener.cloud/v1alpha1.BackupBucket` resource
  charts/gardener/operator/templates/clusterrole.yaml
  charts/gardener/operator/templates/customresouredefintion.yaml
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  example/operator/20-garden.yaml
  pkg/apis/operator/v1alpha1/types.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  test/e2e/operator/garden/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`garden-reference` controller checks DNS secret ref
  docs/concepts/operator.md
  pkg/controller/reference/reconciler.go
  pkg/operator/controller/garden/reference/add.go
  pkg/operator/controller/garden/reference/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fixes after rebase
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
  pkg/gardenlet/operation/botanist/vpnshoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/dns/k8s-dns-node-cache docker tag to v1.23.1 (#9938)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix unit tests
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add Luca to `OWNER_ALIASES`
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.4
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Release v1.94.3
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Notes added by 'git notes add'
  fd/343e89d6773dfc9366d6938b86a0523c78f7b0
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  50/726550656f4e41d86adb110a33182929c41bf0
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  33/3f72613aa77f3b1c3a900e6dbb6e368523628e
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  8a/613ed2630681b5662181f0c3749ec0787ef133
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.95.4
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Prepare next Development Cycle v1.94.4-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Prepare next Development Cycle v1.95.5-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.4 (#9943)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Record warning event when secretbinding cannot be deleted
  pkg/controllermanager/controller/secretbinding/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove failed state of maintenance if current maintenance succeded
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add test
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add Luca to `OWNER_ALIASES` (#9942)
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

rename types to match garden vocab
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_extensions.yaml
  example/operator/15-extension.yaml
  pkg/apis/operator/v1alpha1/types_extension.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

rename crb
  charts/gardener/provider-local/templates/rbac.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency golangci/golangci-lint to v1.59.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update gardener-dashboard
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

`gardenlet`'s pod GC considers pods with reason `NodeAffinity`
  docs/concepts/gardenlet.md
  pkg/gardenlet/controller/shoot/care/garbage_collection.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/concepts/gardenlet.md
Due: none

Update `golang.org/x/tools` in `logcheck`
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update gardener-dashboard (#9947)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update gardener-dashboard (#9948)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

conntrack-fix container: Disable autoscaling
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/kubernetes/proxy/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.96] `gardenlet`'s pod garbage collector considers pods with reason `NodeAffinity` (#9949)
  docs/concepts/gardenlet.md
  pkg/gardenlet/controller/shoot/care/garbage_collection.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

conntrack-fix container: Disable autoscaling (#9953)
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/kubernetes/proxy/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.95] `gardenlet`'s pod garbage collector considers pods with reason `NodeAffinity` (#9950)
  docs/concepts/gardenlet.md
  pkg/gardenlet/controller/shoot/care/garbage_collection.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.94] `gardenlet`'s pod garbage collector considers pods with reason `NodeAffinity` (#9951)
  docs/concepts/gardenlet.md
  pkg/gardenlet/controller/shoot/care/garbage_collection.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `brotli` compression support
  docs/concepts/resource-manager.md
  go.mod
  go.sum
  pkg/apis/resources/v1alpha1/types.go
  pkg/component/autoscaling/vpa/crd_test.go
  pkg/component/garden/system/runtime/runtime.go
  pkg/component/garden/system/virtual/virtual.go
  pkg/component/kubernetes/apiserverexposure/sni.go
  pkg/component/networking/istio/istiod.go
  pkg/component/observability/logging/vali/vali.go
  pkg/component/resourceconfig.go
  pkg/component/seed/system/system.go
  pkg/component/shoot/system/system.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  pkg/utils/managedresources/registry.go
  pkg/utils/managedresources/registry_test.go
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
