Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

config/jobs/gardener/gardener-apidiff.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-apidiff
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    decorate: true
    optional: true
    branches:
    - ^master$ # run on master branch
    spec:
      containers:
      - name: test
        # don't update go version here until a go-apidiff release is available with new go version support.
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
        command:
        - make
        args:
        - check-apidiff

config/jobs/gardener/gardener-check-vulnerabilities.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-check-vulnerabilities
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.(md|yaml)$"
    decorate: true
    decoration_config:
      timeout: 15m
      grace_period: 5m
    optional: true
    branches:
    - ^master$
    spec:
      containers:
      - name: test
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
        command:
        - make
        args:
        - check-vulnerabilities
periodics:
- name: ci-gardener-check-vulnerabilities
  cluster: gardener-prow-build
  interval: 24h
  extra_refs:
  - org: gardener
    repo: gardener
    base_ref: master
  decorate: true
  decoration_config:
    timeout: 15m
    grace_period: 5m
  annotations:
    description: Runs go vulnerability checker for gardener developments periodically
    testgrid-dashboards: gardener-gardener
    testgrid-days-of-results: "60"
  spec:
    containers:
    - image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

config/jobs/gardener/gardener-pull-tests.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-unit
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs unit tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      # Run all tests sequentially in one container or as separete prow jobs.
      # Test will fail when 'check-generate' (which includes a revendor) and 'test' or 'check' run in parallel on the same volume
      - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - check-generate
        - check
        - format
        - test
        - test-prometheus
        - check-docforge
        resources:
          requests:
            cpu: 8
            memory: 8000Mi
  - name: pull-gardener-integration
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs integration tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      - name: test-integration
        image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - test-integration
        resources:
          requests:
            cpu: 6
            memory: 2000Mi

Extend GRM's `NetworkPolicy` controller to optionally watch `Ingress`es
  charts/gardener/resource-manager/charts/runtime/templates/configmap.yaml
  charts/gardener/resource-manager/values.yaml
  docs/concepts/resource-manager.md
  example/resource-manager/10-componentconfig.yaml
  pkg/resourcemanager/apis/config/types.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/resourcemanager/apis/config/zz_generated.deepcopy.go
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
  pkg/resourcemanager/controller/networkpolicy/reconciler.go
  test/integration/resourcemanager/networkpolicy/networkpolicy_suite_test.go
  test/integration/resourcemanager/networkpolicy/networkpolicy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

GRM's `NetworkPolicy` controller no longer uses finalizers
  cmd/gardener-resource-manager/app/app.go
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
  pkg/resourcemanager/controller/networkpolicy/reconciler.go
  test/integration/resourcemanager/networkpolicy/networkpolicy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Upgrade telegraf
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade loki-curator
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade fluent-bit-plugin-installer
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade event-logger
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dashboards
  charts/seed-bootstrap/dashboards/istio/istio-control-plane-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-ingress-gateway-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-mesh-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-workload-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable `FullNetworkPoliciesInRuntimeCluster` feature gate locally
  example/gardener-local/gardenlet/values.yaml
  example/provider-local/garden/base/kustomization.yaml
  example/provider-local/garden/base/patch-controller-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  charts/gardener/gardenlet/templates/networkpolicy.yaml
  charts/gardener/resource-manager/charts/runtime/templates/configmap.yaml
  charts/gardener/resource-manager/values.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-daemonset.yaml
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  docs/concepts/resource-manager.md
  example/gardener-local/controlplane/networkpolicy.yaml
  example/gardener-local/etcd/kustomization.yaml
  example/gardener-local/etcd/networkpolicy.yaml
  example/gardener-local/etcd/service.yaml
  example/gardener-local/etcd/statefulset.yaml
  example/resource-manager/10-componentconfig.yaml
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/component/shared/resourcemanager.go
  pkg/operation/botanist/component/vpa/vpa_test.go
  pkg/resourcemanager/apis/config/types.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/resourcemanager/apis/config/zz_generated.deepcopy.go
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/reconciler.go
  skaffold.yaml
  test/integration/resourcemanager/networkpolicy/networkpolicy_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix managedseed integration test
  test/integration/gardenlet/managedseed/managedseed_suite_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable `FullNetworkPoliciesInRuntimeCluster` feature gate locally (#7630)
  example/gardener-local/gardenlet/values.yaml
  example/provider-local/garden/base/kustomization.yaml
  example/provider-local/garden/base/patch-controller-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Drop deprecated function
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop deprecated function usage
  extensions/pkg/controller/healthcheck/worker/nodes.go
  extensions/pkg/terraformer/terraformer.go
  pkg/extensions/customresources.go
  pkg/gardenlet/controller/backupbucket/reconciler.go
  pkg/gardenlet/controller/backupentry/reconciler.go
  pkg/gardenlet/controller/bastion/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adjust Seed Authorizer
  pkg/admissioncontroller/webhook/auth/seed/authorizer.go
  pkg/admissioncontroller/webhook/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add SingleObject cache
  pkg/client/kubernetes/cache/single_object.go
  pkg/client/kubernetes/cache/single_object_test.go
  pkg/client/kubernetes/runtime_client.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move Aggregator cache to separate file(s)
  pkg/client/kubernetes/cache/aggregator.go
  pkg/client/kubernetes/cache/aggregator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments II
  cmd/gardenlet/app/app.go
  pkg/client/kubernetes/cache/single_object.go
  pkg/client/kubernetes/cache/single_object_test.go
  pkg/client/kubernetes/runtime_client.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments
  cmd/gardenlet/app/app.go
  pkg/client/kubernetes/cache/single_object.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable Seed Authorizer for local setup
  example/gardener-local/controlplane/values.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Enable cache for missing kinds
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Simplify bash script
  hack/check-apidiff.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Format bash script
  hack/check-apidiff.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Cosmetics and improved logging
  cmd/gardenlet/app/app.go
  pkg/client/kubernetes/cache/single_object.go
  pkg/client/kubernetes/cache/single_object_test.go
  pkg/client/kubernetes/runtime_client.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add hint about the optional nature of the apidiff check
  hack/check-apidiff.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use `WithOffset` in unit tests
  pkg/client/kubernetes/cache/single_object_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update v1.26 conformance test coverage
  README.md
Due: none

Use context from `Start` method when starting caches
  pkg/client/kubernetes/cache/single_object.go
  pkg/client/kubernetes/cache/single_object_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ensure cache is started
  pkg/client/kubernetes/cache/single_object.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/concepts/resource-manager.md
Due: none

`Worker` state controller no longer sends empty PATCH requests
  extensions/pkg/controller/worker/state_actuator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`ShootState` secret controller no longer sends empty PATCH requests
  pkg/gardenlet/controller/shootstate/secret/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`Worker` state controller uses PATCH instead of PUT
  extensions/pkg/controller/worker/state_actuator.go
  pkg/gardenlet/controller/shootstate/extensions/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/gardenlet/controller/shootstate/secret/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[cosmetics] Drop useless `StateActuator` interface
  extensions/pkg/controller/worker/actuator.go
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/state_actuator.go
  extensions/pkg/controller/worker/state_reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Cleanup deprecated functions related to `ErrorCode` detection (#7641)
  extensions/pkg/controller/healthcheck/worker/nodes.go
  extensions/pkg/terraformer/terraformer.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/extensions/customresources.go
  pkg/gardenlet/controller/backupbucket/reconciler.go
  pkg/gardenlet/controller/backupentry/reconciler.go
  pkg/gardenlet/controller/bastion/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix managedseed integration test (#7652)
  test/integration/gardenlet/managedseed/managedseed_suite_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move `dropEnableBasicAuthenticationField` and `setKubernetesDashboardAuthMode` functions to `Canonicalize`
  pkg/registry/core/shoot/strategy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove handling from `PrepareForCreate`
  pkg/registry/core/shoot/strategy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
