Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Mediate KCM eviction restriction via eviction requirements controller
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module sigs.k8s.io/controller-runtime to v0.17.5 (#9712)
  go.mod
  go.sum
  hack/generate.sh
  pkg/provider-local/controller/dnsrecord/actuator_test.go
  third_party/mock/controller-runtime/manager/mocks.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module sigs.k8s.io/controller-runtime/tools/setup-envtest to v0.0.0-20240507051437-479b723944e3
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module golang.org/x/tools to v0.21.0 (#9710)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update CI Build link (#9713)
  README.md
Due: none

allow dnsrecord domain starting with _
  pkg/apis/extensions/validation/dnsrecord.go
  pkg/apis/extensions/validation/dnsrecord_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add VPAAndHPA autoscaling mode
  pkg/component/apiserver/types.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/horizontalpodautoscaler.go
  pkg/component/kubernetes/apiserver/hvpa.go
  pkg/component/kubernetes/apiserver/verticalpodautoscaler.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add docs for kube-apiserver autoscaling
  docs/README.md
  docs/concepts/gardener-apiserver-admission-plugins.md
  docs/concepts/gardener-apiserver.md
  docs/concepts/kubernetes-apiserver.md
Due: none

[provider-local] Drop MCM logging config (#9709)
  charts/gardener/provider-local/templates/configmap-logging.yaml
  example/provider-local/garden/base/controller-registration.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fixed broken links - 2024.05
  docs/development/new-kubernetes-version.md
Due: none

Fixed broken links - 2024.05 (#9715)
  docs/development/new-kubernetes-version.md
Due: none

Sort resources in the read-only `ClusterRole` resources
  pkg/component/shoot/system/system.go
  pkg/component/shoot/system/system_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/brancz/kube-rbac-proxy docker tag to v0.17.1
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update golang
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Define CredentialsBinding API
  pkg/apis/authentication/types_credentialsbinding.go
  pkg/apis/authentication/v1alpha1/types_credentialsbinding.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Generate code
  docs/api-reference/authentication.md
  pkg/apis/authentication/v1alpha1/generated.pb.go
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/authentication/v1alpha1/zz_generated.conversion.go
  pkg/apis/authentication/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/authentication/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Register CredentialsBinding to the scheme
  pkg/apis/authentication/register.go
  pkg/apis/authentication/v1alpha1/register.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Generate code
  pkg/apis/authentication/v1alpha1/zz_generated.defaults.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add example CredentialsBinding
  example/80-credentialsbinding.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add static defaulting
  pkg/apis/authentication/v1alpha1/defaults_credentialsbinding.go
  pkg/apis/authentication/v1alpha1/defaults_credentialsbinding_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add static validation
  pkg/apis/authentication/validation/credentialsbinding.go
  pkg/apis/authentication/validation/credentialsbinding_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Register authentication API with the apiserver
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apiserver/admission/initializer/initializer.go
  pkg/apiserver/admission/initializer/types.go
  pkg/apiserver/apis.go
  pkg/apiserver/apiserver.go
  pkg/apiserver/registry/settings/openidconnectpreset/strategy.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run make generate
  docs/api-reference/authentication.md
  pkg/client/authentication/clientset/versioned/clientset.go
  pkg/client/authentication/clientset/versioned/fake/clientset_generated.go
  pkg/client/authentication/clientset/versioned/fake/doc.go
  pkg/client/authentication/clientset/versioned/fake/register.go
  pkg/client/authentication/clientset/versioned/scheme/doc.go
  pkg/client/authentication/clientset/versioned/scheme/register.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/authentication_client.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/credentialsbinding.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/doc.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/fake/doc.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/fake/fake_authentication_client.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/fake/fake_credentialsbinding.go
  pkg/client/authentication/clientset/versioned/typed/authentication/v1alpha1/generated_expansion.go
  pkg/client/authentication/informers/externalversions/authentication/interface.go
  pkg/client/authentication/informers/externalversions/authentication/v1alpha1/credentialsbinding.go
  pkg/client/authentication/informers/externalversions/authentication/v1alpha1/interface.go
  pkg/client/authentication/informers/externalversions/factory.go
  pkg/client/authentication/informers/externalversions/generic.go
  pkg/client/authentication/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/authentication/listers/authentication/v1alpha1/credentialsbinding.go
  pkg/client/authentication/listers/authentication/v1alpha1/expansion_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement authentication apiserver registry
  pkg/apiserver/registry/authentication/credentialsbinding/storage/storage.go
  pkg/apiserver/registry/authentication/credentialsbinding/storage/tableconvertor.go
  pkg/apiserver/registry/authentication/credentialsbinding/strategy.go
  pkg/apiserver/registry/authentication/rest/storage_authentication.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update CredentialsBinding spec in the proposal
  docs/proposals/26-workload-identity.md
Due: none

Fix findings from make verify
  pkg/apis/authentication/validation/.import-restrictions
  pkg/apis/authentication/validation/credentialsbinding.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Generate client, informer and lister for authentication.gardener.cloud
  hack/update-codegen.sh
  pkg/apis/authentication/types_kubeconfigrequest.go
  pkg/apis/authentication/v1alpha1/types_adminkubeconfigrequest.go
  pkg/apis/authentication/v1alpha1/types_viewerkubeconfigrequest.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix skaffold apiserer dependencies
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Various fixes in the apiserver related to the authentication group
  pkg/apiserver/registry/authentication/credentialsbinding/storage/tableconvertor.go
  pkg/apiserver/registry/authentication/credentialsbinding/strategy.go
  pkg/component/gardener/apiserver/apiserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add APIService for authentication.gardener.cloud
  charts/gardener/controlplane/charts/application/templates/apiservice-v1alpha1-authentication-gardener-cloud.yaml
  pkg/component/gardener/apiserver/apiserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix non properly registered authentication API
  pkg/apis/authentication/v1alpha1/register.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Register authentication admission plugin
  pkg/apiserver/admission/initializer/initializer.go
  pkg/apiserver/admission/initializer/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold configs
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Use core/v1.ObjectReference to refer to secret/workloadidentity
  pkg/apis/authentication/types_credentialsbinding.go
  pkg/apis/authentication/v1alpha1/types_credentialsbinding.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Change short shortname to 'cb'
  pkg/apiserver/registry/authentication/credentialsbinding/storage/storage.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply review feedback
  docs/proposals/26-workload-identity.md
  example/80-credentialsbinding.yaml
  pkg/apis/authentication/types_credentialsbinding.go
  pkg/apis/authentication/v1alpha1/defaults_credentialsbinding.go
  pkg/apis/authentication/v1alpha1/defaults_credentialsbinding_test.go
  pkg/apis/authentication/v1alpha1/types_credentialsbinding.go
  pkg/apis/authentication/validation/credentialsbinding.go
  pkg/apis/authentication/validation/credentialsbinding_test.go
  pkg/apiserver/registry/authentication/credentialsbinding/storage/tableconvertor.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix findings from make verify
  pkg/component/gardener/apiserver/apiserver_test.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Regenerate code
  docs/api-reference/authentication.md
  pkg/apis/authentication/v1alpha1/generated.pb.go
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/authentication/v1alpha1/zz_generated.conversion.go
  pkg/apis/authentication/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/authentication/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Generate code
  docs/api-reference/authentication.md
  pkg/apis/authentication/v1alpha1/generated.pb.go
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/authentication/v1alpha1/zz_generated.conversion.go
  pkg/apis/authentication/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/authentication/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update example CredentialsBinding
  example/80-credentialsbinding.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
