Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
      command:
      - make
      args:
      - check-apidiff

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Backupbucket/backupentry controllers: Watch secret metadata only (#8348)
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupbucket/mapper.go
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/backupentry/mapper.go
  extensions/pkg/controller/backupentry/reconciler.go
  pkg/utils/kubernetes/secretref.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop custom eventhandler for backupbuckets and backupentries (#8351)
  pkg/controllerutils/eventhandler.go
  pkg/controllerutils/eventhandler_test.go
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/miscellaneous_test.go
  pkg/gardenlet/controller/backupbucket/add.go
  pkg/gardenlet/controller/backupentry/add.go
  pkg/gardenlet/controller/shoot/state/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update `seed` API
  docs/api-reference/core.md
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rework unit tests using fakeClient
  pkg/api/indexer/gardener_core.go
  pkg/controllermanager/controller/controllerregistration/controllerregistrationfinalizer/reconciler_test.go
  pkg/controllermanager/controller/controllerregistration/seedfinalizer/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improvements in controller
  pkg/controllermanager/controller/controllerregistration/controllerregistrationfinalizer/reconciler.go
  pkg/controllermanager/controller/controllerregistration/seed/add.go
  pkg/controllermanager/controller/controllerregistration/seedfinalizer/reconciler.go
  test/integration/controllermanager/controllerregistration/controllerregistration_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deflake integration test
  test/integration/controllermanager/controllerregistration/controllerregistration_suite_test.go
  test/integration/controllermanager/controllerregistration/controllerregistration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update `github.com/gardener/etcd-druid` and `github.com/gardener/dependency-watchdog` (#8354)
  go.mod
  go.sum
  pkg/component/etcd/crds/templates/crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  pkg/component/etcd/crds/templates/crd-druid.gardener.cloud_etcds.yaml
  vendor/modules.txt
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  pkg/utils/validation/cidr/disjoint_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/controllermanager/controller/controllerregistration/controllerregistrationfinalizer/reconciler.go
  pkg/controllermanager/controller/controllerregistration/controllerregistrationfinalizer/reconciler_test.go
  pkg/controllermanager/controller/controllerregistration/seedfinalizer/reconciler.go
  pkg/controllermanager/controller/controllerregistration/seedfinalizer/reconciler_test.go
  pkg/controllerutils/miscellaneous.go
  test/integration/controllermanager/controllerregistration/controllerregistration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Cleanup stuff related to local setup
  example/provider-local/seed-kind-ha-multi-zone/local/kustomization.yaml
  example/provider-local/seed-kind-ha-multi-zone/local/seed.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Support additional `reserve-excess-capacity` deployments in `seedsystem`
  pkg/component/seedsystem/seedsystem.go
  pkg/component/seedsystem/seedsystem_test.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update documentation
  docs/operations/seed_settings.md
  example/50-seed.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Do not install `unzip`, `jq` and `parallel` on each pipeline run
  .ci/verify
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update verify image to Go 1.21 for release branches `v1.78` and later
  branch.cfg
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix: Documentation seems to be missing "local" at this point
  docs/deployment/getting_started_locally.md
Due: none

Update getting_started_locally.md
  docs/deployment/getting_started_locally.md
Due: none

Address PR review feedback
  pkg/operation/care/health_check_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Do not install `unzip`, `jq` and `parallel` on each pipeline run (#8357)
  .ci/verify
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Justify the usage of Gardener's agnhost image in `logger-app.yaml.tpl`
  test/framework/resources/templates/logger-app.yaml.tpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update getting_started_locally.md (#8359)
  docs/deployment/getting_started_locally.md
Due: none

Add `reconcile` operation for Seed, Reconcile backupbuckets on seed reconciliation (#8347)
  pkg/apis/core/validation/seed.go
  pkg/gardenlet/controller/managedseed/actuator.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/registry/core/seed/strategy.go
  pkg/registry/core/seed/strategy_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add network disjointness check between shoot node network and seed pod network. (#8353)
  pkg/utils/validation/cidr/disjoint.go
  pkg/utils/validation/cidr/disjoint_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance KubePodNotReadyControlPlane alert definition
  pkg/component/monitoring/charts/seed-monitoring/charts/core/charts/prometheus/rules/worker/kube-pods.rules.yaml
  pkg/component/monitoring/charts/seed-monitoring/charts/core/charts/prometheus/rules/workerless/kube-pods.rules.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

update
  hack/check-plutono-dashboards.sh
  pkg/component/plutono/dashboards/shoot/owners/workerless/kubernetes-control-plane-status-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

revert back the last line
  hack/tools.mk
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[operator] Add health checks for observability components to `garden-care` reconciler (#8346)
  charts/gardener/operator/values.yaml
  example/operator/10-componentconfig.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/operator/v1alpha1/types.go
  pkg/operation/care/checker.go
  pkg/operation/care/garden_health.go
  pkg/operation/care/garden_health_test.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
  pkg/operation/care/seed_health.go
  pkg/operator/controller/garden/care/reconciler.go
  test/integration/gardenlet/shoot/care/care_test.go
  test/integration/operator/garden/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Amend `gardener-operator` documentation
  docs/concepts/gardenlet.md
  docs/concepts/operator.md
Due: none

Upgrade hvpa-controller
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade hvpa-controller (#8363)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Use a query for the cluster variable in the Virtual ETCD dashboard
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update the Virtual ETCD dashboard to the current schema
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update the Virtual ETCD Backup dashboard to the current schema
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-backup-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add a cluster variable to the ETCD Backup dashboard
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-backup-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use the new cluster variable in the virtual-etcd backup dashboard
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-backup-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add documentation for managedseed controller
  docs/concepts/gardenlet.md
Due: none

Adjust the content hash suffix of the immutable configmap of the dashboards
  pkg/component/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Amend `gardener-operator` documentation (#8362)
  docs/concepts/gardenlet.md
  docs/concepts/operator.md
Due: none

Deprecate `seed.spec.settings.excessCapacityReservation.enabled`
  docs/api-reference/core.md
  docs/operations/seed_settings.md
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/openapi/openapi_generated.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[operator] Fix virtual-etcd dashboards (#8365)
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-backup-dashboard.json
  pkg/component/plutono/dashboards/garden/garden/virtual-garden-etcd-dashboard.json
  pkg/component/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Cleanup virtual-garden `ManagedResources` before destroying `virtual-garden-kube-apiserver`
  pkg/operator/controller/garden/garden/reconciler_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
