Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Move `CalculateMaxNodesForShoot` to `pkg/gardenlet/operation/botanist/clusterautoscaler.go`
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
  pkg/gardenlet/operation/botanist/clusterautoscaler_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/nodeagent/files/files.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance makefile tools binaries to be system and arch independent (#9589)
  .ci/verify
  .dockerignore
  .gitignore
  .golangci.yaml.in
  Makefile
  docs/development/testing.md
  hack/tools.mk
  hack/tools/image/Dockerfile
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use existing constants for `controller-manager` and `scheduler` (#9610)
  pkg/component/gardener/controllermanager/controller_manager.go
  pkg/component/gardener/scheduler/scheduler.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/waiter.go
  pkg/component/kubernetes/scheduler/scheduler.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/gardener-extension-networking-cilium to v1.34.0
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

[node-agent] Fix kubelet datavolume & moving files between different block devices (#9609)
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/varlibkubeletmount_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/original.go
  pkg/component/extensions/operatingsystemconfig/original/original_test.go
  pkg/nodeagent/bootstrap/bootstrap.go
  pkg/nodeagent/bootstrap/bootstrap_test.go
  pkg/nodeagent/bootstrap/templates/scripts/format-kubelet-data-volume.tpl.sh
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/files/files.go
  pkg/nodeagent/files/files_suite_test.go
  pkg/nodeagent/files/files_test.go
  pkg/nodeagent/registry/containerd_extractor.go
  pkg/nodeagent/registry/fake/fake_extractor.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Create gardener-node-agent temporary directory when bootstrapping
  pkg/nodeagent/bootstrap/bootstrap.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use correct path `/var/lib/kubelet` to mount kubelet data volume
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/varlibkubeletmount_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/original.go
  pkg/component/extensions/operatingsystemconfig/original/original_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Support moving files cross-device in `gardener-node-agent`
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/registry/containerd_extractor.go
  pkg/nodeagent/registry/containerd_extractor_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix formatting and mounting kubelet data volume
  pkg/nodeagent/bootstrap/bootstrap.go
  pkg/nodeagent/bootstrap/bootstrap_test.go
  pkg/nodeagent/bootstrap/templates/scripts/format-kubelet-data-volume.tpl.sh
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move `{Copy,Move}File` into dedicated package
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/files/files.go
  pkg/nodeagent/files/files_suite_test.go
  pkg/nodeagent/files/files_test.go
  pkg/nodeagent/registry/containerd_extractor.go
  pkg/nodeagent/registry/fake/fake_extractor.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix mount options in `var-lib-kubelet-mount`
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus/common to v0.53.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.93] [node-agent] Fix kubelet datavolume & moving files between different block devices (#9614)
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/varlibkubeletmount_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/original.go
  pkg/component/extensions/operatingsystemconfig/original/original_test.go
  pkg/nodeagent/bootstrap/bootstrap.go
  pkg/nodeagent/bootstrap/bootstrap_test.go
  pkg/nodeagent/bootstrap/templates/scripts/format-kubelet-data-volume.tpl.sh
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/files/files.go
  pkg/nodeagent/files/files_suite_test.go
  pkg/nodeagent/files/files_test.go
  pkg/nodeagent/registry/containerd_extractor.go
  pkg/nodeagent/registry/fake/fake_extractor.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.92] [node-agent] Fix kubelet datavolume & moving files between different block devices (#9615)
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/varlibkubeletmount_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/original.go
  pkg/component/extensions/operatingsystemconfig/original/original_test.go
  pkg/nodeagent/bootstrap/bootstrap.go
  pkg/nodeagent/bootstrap/bootstrap_test.go
  pkg/nodeagent/bootstrap/templates/scripts/format-kubelet-data-volume.tpl.sh
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/files/files.go
  pkg/nodeagent/files/files_suite_test.go
  pkg/nodeagent/files/files_test.go
  pkg/nodeagent/registry/containerd_extractor.go
  pkg/nodeagent/registry/fake/fake_extractor.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/gardener-extension-networking-cilium to v1.34.0 (#9612)
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Use correct path `/var/lib/kubelet` to mount kubelet data volume
  pkg/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/varlibkubeletmount_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/original.go
  pkg/component/extensions/operatingsystemconfig/original/original_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/gomega to v1.33.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.90] Automated cherry pick of #9609: [node-agent] Fix kubelet datavolume & moving files between different block devices (#9618)
  pkg/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/varlibkubeletmount_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/original.go
  pkg/component/extensions/operatingsystemconfig/original/original_test.go
  pkg/nodeagent/bootstrap/bootstrap.go
  pkg/nodeagent/bootstrap/bootstrap_test.go
  pkg/nodeagent/bootstrap/templates/scripts/format-kubelet-data-volume.tpl.sh
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/files/files.go
  pkg/nodeagent/files/files_suite_test.go
  pkg/nodeagent/files/files_test.go
  pkg/nodeagent/registry/containerd_extractor.go
  pkg/nodeagent/registry/fake/fake_extractor.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
