Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Modified unit tests
  pkg/component/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressed review comments
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fixed generate
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mitigate random connection issues to virtual garden in local gardener operator setup. (#8972)
  pkg/controller/service/reconciler.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent PrometheusCantScrape alerts for the etcd-druid job
  pkg/component/monitoring/charts/seed-monitoring/charts/core/charts/prometheus/rules/prometheus.rules.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/development/high-availability.md
  pkg/component/blackboxexporter/blackboxexporter.go
  pkg/component/clusterautoscaler/cluster_autoscaler.go
  pkg/component/coredns/coredns.go
  pkg/component/dependencywatchdog/bootstrap.go
  pkg/component/etcd/bootstrap.go
  pkg/component/gardeneradmissioncontroller/poddisruptionbudget.go
  pkg/component/gardenerapiserver/poddisruptionbudget.go
  pkg/component/gardenercontrollermanager/poddisruptionbudget.go
  pkg/component/gardenerscheduler/poddisruptionbudget.go
  pkg/component/hvpa/hvpa.go
  pkg/component/kubeapiserver/poddisruptionbudget.go
  pkg/component/kubecontrollermanager/kube_controller_manager.go
  pkg/component/kubescheduler/kube_scheduler.go
  pkg/component/kubestatemetrics/resources.go
  pkg/component/machinecontrollermanager/machine_controller_manager.go
  pkg/component/metricsserver/metrics_server.go
  pkg/component/nginxingress/nginxingress.go
  pkg/component/resourcemanager/resource_manager.go
  pkg/component/vpa/general.go
  pkg/component/vpnauthzserver/external_authz_server.go
  pkg/component/vpnseedserver/vpn_seed_server.go
  pkg/component/vpnshoot/vpnshoot.go
  pkg/utils/kubernetes/poddisruptionbudget.go
  pkg/utils/kubernetes/poddisruptionbudget_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/utils/validation/apigroups/apigroups.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/component/shootsystem/shootsystem_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Promote `ContainerdRegistryHostsDir` feature gate to GA (#8979)
  docs/deployment/feature_gates.md
  docs/usage/containerd-registry-configuration.md
  example/gardener-local/gardenlet/values.yaml
  extensions/pkg/webhook/controlplane/genericmutator/.import-restrictions
  pkg/component/extensions/operatingsystemconfig/original/components/containerd/containerd_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/containerd/initializer.go
  pkg/component/extensions/operatingsystemconfig/original/components/containerd/initializer_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/containerd/templates/scripts/init.tpl.sh
  pkg/features/features.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adjust CA default values in shoot example
  example/90-shoot.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Support for Kubernetes v1.29 (#8976)
  README.md
  docs/usage/supported_k8s_versions.md
  example/gardener-local/kind/cluster/values.yaml
  example/provider-local/garden/base/cloudprofile.yaml
  hack/compare-k8s-admission-plugins.sh
  hack/compare-k8s-api-groups.sh
  hack/compute-k8s-controllers.sh
  hack/tools.mk
  pkg/component/shootsystem/shootsystem.go
  pkg/component/shootsystem/shootsystem_test.go
  pkg/utils/kubernetes/controllers.go
  pkg/utils/validation/apigroups/apigroups.go
  pkg/utils/validation/features/featuregates.go
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
  pkg/utils/version/version.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deflake nodeagent health check integration test
  test/integration/nodeagent/healthcheck/healthcheck_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deflake nodeagent health check integration test (#8992)
  test/integration/nodeagent/healthcheck/healthcheck_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Minor modifications
  pkg/resourcemanager/apis/config/v1alpha1/defaults.go
  pkg/resourcemanager/apis/config/v1alpha1/defaults_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent PrometheusCantScrape alerts for the etcd-druid job (#8988)
  pkg/component/monitoring/charts/seed-monitoring/charts/core/charts/prometheus/rules/prometheus.rules.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Upgrade prometheus version
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

[ResourceManager] Clean up technical debt in defaulting code (#8953)
  pkg/resourcemanager/apis/config/v1alpha1/defaults.go
  pkg/resourcemanager/apis/config/v1alpha1/defaults_test.go
  pkg/resourcemanager/apis/config/v1alpha1/register.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added verbosity flag for CA & addressed review comments
  docs/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/component/clusterautoscaler/cluster_autoscaler.go
  pkg/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressed review comments
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[Gardenlet] Clean up technical debt in defaulting code (#8985)
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/register.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/operator/apis/config/v1alpha1/defaults.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update pkg/apis/core/types_shoot.go
  pkg/apis/core/types_shoot.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update example/90-shoot.yaml
  example/90-shoot.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Addressed review comments
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Upgrade prometheus version (#8994)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update nginx ingress image to v1.9.5
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Added ignore-daemonsets-utilization flag and verbosity to CA (#8986)
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/component/clusterautoscaler/cluster_autoscaler.go
  pkg/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added default values for 2 CA flags
  example/90-shoot.yaml
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/component/clusterautoscaler/cluster_autoscaler.go
  pkg/component/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added unit tests
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run make generate
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix failing unit test
  pkg/apis/core/v1beta1/defaults_shoot_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Updated value used in cluster_autoscaler_test
  pkg/component/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added default values for CA flags (#8996)
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/component/clusterautoscaler/cluster_autoscaler.go
  pkg/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update nginx ingress image to v1.9.5 (#8997)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration
