Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

config/jobs/gardener/gardener-apidiff.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-apidiff
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    decorate: true
    optional: true
    branches:
    - ^master$ # run on master branch
    spec:
      containers:
      - name: test
        # don't update go version here until a go-apidiff release is available with new go version support.
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
        command:
        - make
        args:
        - check-apidiff

config/jobs/gardener/gardener-check-vulnerabilities.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-check-vulnerabilities
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.(md|yaml)$"
    decorate: true
    decoration_config:
      timeout: 15m
      grace_period: 5m
    optional: true
    branches:
    - ^master$
    spec:
      containers:
      - name: test
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
        command:
        - make
        args:
        - check-vulnerabilities
periodics:
- name: ci-gardener-check-vulnerabilities
  cluster: gardener-prow-build
  interval: 24h
  extra_refs:
  - org: gardener
    repo: gardener
    base_ref: master
  decorate: true
  decoration_config:
    timeout: 15m
    grace_period: 5m
  annotations:
    description: Runs go vulnerability checker for gardener developments periodically
    testgrid-dashboards: gardener-gardener
    testgrid-days-of-results: "60"
  spec:
    containers:
    - image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

config/jobs/gardener/gardener-pull-tests.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-unit
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs unit tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      # Run all tests sequentially in one container or as separete prow jobs.
      # Test will fail when 'check-generate' (which includes a revendor) and 'test' or 'check' run in parallel on the same volume
      - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - check-generate
        - check
        - format
        - test
        - test-prometheus
        - check-docforge
        resources:
          requests:
            cpu: 8
            memory: 8000Mi
  - name: pull-gardener-integration
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs integration tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      - name: test-integration
        image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - test-integration
        resources:
          requests:
            cpu: 6
            memory: 2000Mi

Address PR review feedback
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Documentation
  docs/concepts/resource-manager.md
Due: none

Implementation
  pkg/apis/resources/v1alpha1/types.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Integration test
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix formatting in provider-local doc page
  docs/extensions/provider-local.md
Due: none

Fix typo in provider-local doc page
  docs/extensions/provider-local.md
Due: none

Fix typo in backup sequence diagram
  docs/proposals/assets/02-backupinfra-provisioning-sequence-diagram.svg
Due: none

fix(nodeagent): fix checks
  pkg/nodeagent/apis/config/types.go
  pkg/nodeagent/apis/config/v1alpha1/types.go
  pkg/nodeagent/dbus/dbus.go
  pkg/nodeagent/dbus/dbus_suite_test.go
  pkg/nodeagent/dbus/fakedbus.go
  pkg/nodeagent/registry/fake_extractor.go
  pkg/nodeagent/registry/registry.go
  pkg/nodeagent/registry/remote_extractor.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  docs/concepts/node-agent.md
  pkg/nodeagent/apis/config/types.go
  pkg/nodeagent/dbus/dbus.go
  pkg/nodeagent/registry/remote_extractor.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(nodeagent): lint
  pkg/nodeagent/registry/remote_extractor_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs(nodeagent): wording architecture diagram
  docs/concepts/images/gardener-nodeagent-architecture.svg
Due: none

refactor(nodeagent): dbus logs, events and naming
  pkg/nodeagent/dbus/dbus.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(nodeagent): remove unused fake dbus
  pkg/nodeagent/dbus/fakedbus.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

tmp: delete controller-registration to regenerate
  example/provider-local/garden/base/controller-registration.yaml
  go.mod
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs(nodeagent): rename architecture svg
  docs/concepts/images/gardener-nodeagent-architecture.svg
  docs/concepts/node-agent.md
Due: none

docs(nodeagent): binary path
  docs/concepts/node-agent.md
Due: none

revert: controller registration due to tar incompatabilities
  example/provider-local/garden/base/controller-registration.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

docs(nodeagent): link operatingsystemconfig extension
  docs/concepts/node-agent.md
Due: none

Rephrase reason comparision
  docs/concepts/node-agent.md
Due: none

Remove commented imports
  pkg/nodeagent/apis/config/doc.go
  pkg/nodeagent/apis/config/v1alpha1/doc.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor(dbus): typo and formatting
  pkg/nodeagent/dbus/dbus.go
  pkg/nodeagent/dbus/fakedbus.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor(nodeagent): rename api types
  pkg/nodeagent/apis/config/types.go
  pkg/nodeagent/apis/config/v1alpha1/types.go
  pkg/nodeagent/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/nodeagent/apis/config/validation/validation.go
  pkg/nodeagent/apis/config/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs(nodeagent): prefer `kubelet`
  docs/concepts/node-agent.md
Due: none

Revisit first parts of the node agent concept
  docs/concepts/node-agent.md
Due: none

docs(nodeagent): future development section
  docs/concepts/node-agent.md
Due: none

docs(nodeagent): `kube-apiserver`
  docs/concepts/node-agent.md
Due: none

docs(nodeagent): improved wording
  docs/concepts/node-agent.md
Due: none

fix(nodeagent): wording
  docs/concepts/node-agent.md
Due: none

docs(nodeagent): corrected architecture diagram
  docs/concepts/images/gardener-nodeagent-architecture.svg
Due: none

docs(nodeagent): be more explicit between cloud config and osc
  docs/concepts/node-agent.md
Due: none

Speed benefits mostly in large clusters
  docs/concepts/node-agent.md
Due: none

fix(docs): reorder the basic design and postpone installation
  docs/concepts/node-agent.md
Due: none

docs(nodeagent): rephrase gardener community
  docs/concepts/node-agent.md
Due: none

feat(nodeagent): test registry extraction
  go.mod
  pkg/nodeagent/registry/registry_suite_test.go
  pkg/nodeagent/registry/remote_extractor.go
  pkg/nodeagent/registry/remote_extractor_test.go
  vendor/github.com/google/go-containerregistry/pkg/v1/fake/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/fake/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/static/layer.go
  vendor/modules.txt
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat(nodeagent): validate for supported kubernetesversion
  pkg/nodeagent/apis/config/validation/validation.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(codegen): generate nodeagent
  hack/update-codegen.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(nodeagent): removed empty tests
  pkg/nodeagent/apis/config/v1alpha1/defaults_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor(nodeagent): validation naming and formatting
  pkg/nodeagent/apis/config/validation/validation.go
  pkg/nodeagent/apis/config/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
