Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Release v1.106.1
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Notes added by 'git notes add'
  fd/2dcac2e332646207bd0b76d5110472ee2e633b
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  3e/1103478eadb13f1a174b1e307cc2ddb0c80ae0
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  8b/afcc637614581941f3f18527d3bb1fadf777d7
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Development Cycle v1.106.2-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Address review feedback
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add check for using plain http on helm push only if registry is glgc
  hack/push-helm.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Map garden.local.gardener.cloud to 127.0.0.1
  docs/deployment/content/remote-local-setup.yaml
Due: none

Use 172.18.255.1 for the istio ingress
  docs/deployment/content/remote-local-setup.yaml
Due: none

Break /etc/hosts expansion into multiple lines
  docs/deployment/content/remote-local-setup.yaml
Due: none

Remove && around the commands to install go
  docs/deployment/content/remote-local-setup.yaml
Due: none

Remove && around the commands to install gardenlogin
  docs/deployment/content/remote-local-setup.yaml
Due: none

Remove && around the commands to install gardenctl
  docs/deployment/content/remote-local-setup.yaml
Due: none

Install kind with a default version
  docs/deployment/content/remote-local-setup.yaml
Due: none

Install kns with a default version
  docs/deployment/content/remote-local-setup.yaml
Due: none

Install krew with a default version
  docs/deployment/content/remote-local-setup.yaml
Due: none

Add type label to `NamespacedCloudProfile`s
  plugin/pkg/global/extensionlabels/admission.go
  plugin/pkg/global/extensionlabels/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use lowercase for bash local variable
  hack/push-helm.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase the readiness probe timeout for the gardener-metrics-exporter
  pkg/component/observability/monitoring/gardenermetricsexporter/deployment.go
  pkg/component/observability/monitoring/gardenermetricsexporter/gardener_metrics_exporter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/etcd-druid to v0.23.2
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/etcd-druid to v0.23.2
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Group etcd-druid dependency updates
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/etcd-druid to v0.23.2 (#10747)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address review feedback.
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback.
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kyverno/kyverno to v1.13.0
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/prometheus/prometheus docker tag to v2.55.0 (#10697)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

add dualstack support for coredns (#10733)
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/networking/coredns/mock/mocks.go
  pkg/gardenlet/operation/botanist/coredns.go
  pkg/gardenlet/operation/botanist/coredns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove && around the commands to install ktx
  docs/deployment/content/remote-local-setup.yaml
Due: none

Remove && around the commands to install kubeps1
  docs/deployment/content/remote-local-setup.yaml
Due: none

Remove && around the commands to install kubectl
  docs/deployment/content/remote-local-setup.yaml
Due: none

Remove && around the commands to install tmux-completion
  docs/deployment/content/remote-local-setup.yaml
Due: none

Install yaml2json with a default version
  docs/deployment/content/remote-local-setup.yaml
Due: none

Fix TSC for StatefulSets
  pkg/resourcemanager/webhook/highavailabilityconfig/handler.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-26] Gardener with extensions dev setup now supports deploying the gardener discovery server (#10520)
  Makefile
  docs/deployment/getting_started_locally_with_extensions.md
  example/provider-extensions/garden/controlplane/.gitignore
  example/provider-extensions/garden/controlplane/workload-identity-issuer.yaml.tmpl
  example/provider-extensions/gardener-discovery-server/deploy.sh
  example/provider-extensions/gardener-discovery-server/load-balancer/resources.yaml
  example/provider-extensions/gardener-discovery-server/rbac/clusterrole.yaml
  example/provider-extensions/gardener-discovery-server/rbac/clusterrolebinding.yaml
  example/provider-extensions/gardener-discovery-server/rbac/role.yaml
  example/provider-extensions/gardener-discovery-server/rbac/rolebinding.yaml
  example/provider-extensions/gardener-discovery-server/rbac/serviceaccount.yaml
  example/provider-extensions/gardener-discovery-server/server/server.yaml
  example/provider-extensions/gardener-discovery-server/server/serviceaccount.yaml
  example/provider-extensions/seed/configure-discovery-server.sh
  example/provider-extensions/seed/configure-seed.sh
  hack/gardener-down.sh
  hack/gardener-extensions-down.sh
  hack/gardener-extensions-up.sh
  hack/tools.mk
  hack/tools/oidcmeta/main.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/etcd-druid to v0.23.2 (#10748)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Group etcd-druid dependency updates (#10749)
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-28] Autonomous Shoot Clusters (#10536)
  docs/README.md
  docs/proposals/28-autonomous-shoot-clusters.md
  docs/proposals/assets/28-overview.png
  logo/gardenadm-large.png
  logo/gardenadm.svg
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow viewers `pods/log` access (#10711)
  pkg/component/shoot/system/system.go
  pkg/component/shoot/system/system_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
