Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-dev-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20231027-10cc5b5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20231027-10cc5b5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Update k8s.io/kube-openapi digest to 70dd376
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ignore dependency updates from `k8s.io/kube-openapi` because it depends on `k8s.io/apiserver` (#9269)
  .github/renovate.json5
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove allow-privileged-containers flag from test definition
  .test-defs/CreateShoot.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Remove allow-privileged-containers flag from test definition (#9273)
  .test-defs/CreateShoot.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

[GEP-26] Workload Identity - Trust Based Authentication
  docs/README.md
  docs/proposals/26-workload-identity.md
Due: post-gardener-build-dev-images

Reconfigure NodeNotHealth prometheus rule
  pkg/component/monitoring/charts/bootstrap/aggregate-prometheus-rules/seed.rules.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Fix fetching CA bundle secret in DWD migration function
  cmd/gardenlet/app/app.go
  pkg/component/dependencywatchdog/access.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update pkg/component/monitoring/charts/bootstrap/aggregate-prometheus-rules/seed.rules.yaml
  pkg/component/monitoring/charts/bootstrap/aggregate-prometheus-rules/seed.rules.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Fix creation of kyverno OSC policy in provider-extensions setup (#9270)
  example/provider-extensions/registry-seed/kyverno-policies/add-registry-to-osc.yaml
  example/provider-extensions/registry-seed/kyverno-policies/kustomization.yaml
  example/provider-extensions/seed/create-seed.sh
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update image references in `example/*` directory with `renovate` (#9271)
  .github/renovate.json5
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update quay.io/coreos/etcd Docker tag to v3.5.12
  example/gardener-local/etcd/statefulset.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update alpine Docker tag to v3.19
  example/provider-extensions/ssh-reverse-tunnel/base/ssh/ssh_deployment.yaml
  example/provider-extensions/ssh-reverse-tunnel/base/sshd/sshd_deployment.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Extract hostname fetch code into function
  cmd/gardener-node-agent/app/app.go
  pkg/nodeagent/hostname.go
  pkg/nodeagent/hostname_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce `hostname-check` controller
  pkg/nodeagent/controller/hostnamecheck/add.go
  pkg/nodeagent/controller/hostnamecheck/hostnamecheck_suite_test.go
  pkg/nodeagent/controller/hostnamecheck/reconciler.go
  pkg/nodeagent/controller/hostnamecheck/reconciler_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.25.4
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/metrics-server/metrics-server Docker tag to v0.7.0
  example/gardener-local/metrics-server/metrics-server.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Add `hostname-check` controller to manager
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/healthcheck/add.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update quay.io/coreos/etcd Docker tag to v3.5.12 (#9277)
  example/gardener-local/etcd/statefulset.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Use ShootScheme and ShootCodec for apiserverProxy
  pkg/component/apiserverproxy/apiserver_proxy.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressed last few nits
  docs/extensions/worker.md
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/extensions/v1alpha1/helper/helper.go
  pkg/apis/extensions/v1alpha1/helper/helper_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update alpine Docker tag to v3.19 (#9278)
  example/provider-extensions/ssh-reverse-tunnel/base/ssh/ssh_deployment.yaml
  example/provider-extensions/ssh-reverse-tunnel/base/sshd/sshd_deployment.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Fix `make generate`
  hack/update-codegen.sh
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.25.4 (#9281)
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/metrics-server/metrics-server Docker tag to v0.7.0 (#9282)
  example/gardener-local/metrics-server/metrics-server.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Reduce resource requests of istio ingress gateway and adapt autoscaling accordingly. (#9250)
  pkg/component/istio/charts/istio/istio-ingress/templates/autoscale.yaml
  pkg/component/istio/charts/istio/istio-ingress/templates/deployment.yaml
  pkg/component/istio/test_charts/ingress_autoscaler.yaml
  pkg/component/istio/test_charts/ingress_deployment.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Fix fetching CA bundle secret in DWD migration function (#9276)
  cmd/gardenlet/app/app.go
  pkg/component/dependencywatchdog/access.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[node-agent] Introduce `hostname-check` controller (#9280)
  cmd/gardener-node-agent/app/app.go
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/healthcheck/add.go
  pkg/nodeagent/controller/hostnamecheck/add.go
  pkg/nodeagent/controller/hostnamecheck/hostnamecheck_suite_test.go
  pkg/nodeagent/controller/hostnamecheck/reconciler.go
  pkg/nodeagent/controller/hostnamecheck/reconciler_test.go
  pkg/nodeagent/hostname.go
  pkg/nodeagent/hostname_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.87] [node-agent] Introduce `hostname-check` controller (#9288)
  cmd/gardener-node-agent/app/app.go
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/healthcheck/add.go
  pkg/nodeagent/controller/hostnamecheck/add.go
  pkg/nodeagent/controller/hostnamecheck/hostnamecheck_suite_test.go
  pkg/nodeagent/controller/hostnamecheck/reconciler.go
  pkg/nodeagent/controller/hostnamecheck/reconciler_test.go
  pkg/nodeagent/hostname.go
  pkg/nodeagent/hostname_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.89] [node-agent] Introduce `hostname-check` controller (#9286)
  cmd/gardener-node-agent/app/app.go
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/healthcheck/add.go
  pkg/nodeagent/controller/hostnamecheck/add.go
  pkg/nodeagent/controller/hostnamecheck/hostnamecheck_suite_test.go
  pkg/nodeagent/controller/hostnamecheck/reconciler.go
  pkg/nodeagent/controller/hostnamecheck/reconciler_test.go
  pkg/nodeagent/hostname.go
  pkg/nodeagent/hostname_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added autoscaler options to worker groups (#9245)
  docs/api-reference/core.md
  docs/api-reference/extensions.md
  docs/extensions/worker.md
  docs/usage/shoot_autoscaling.md
  example/90-shoot.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/machines.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1alpha1/helper/helper.go
  pkg/apis/extensions/v1alpha1/helper/helper_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/openapi/openapi_generated.go
  pkg/provider-local/controller/worker/machines.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
