Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

config/jobs/gardener/gardener-apidiff.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-apidiff
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    decorate: true
    optional: true
    branches:
    - ^master$ # run on master branch
    spec:
      containers:
      - name: test
        # don't update go version here until a go-apidiff release is available with new go version support.
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
        command:
        - make
        args:
        - check-apidiff

config/jobs/gardener/gardener-check-vulnerabilities.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-check-vulnerabilities
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.(md|yaml)$"
    decorate: true
    decoration_config:
      timeout: 15m
      grace_period: 5m
    optional: true
    branches:
    - ^master$
    spec:
      containers:
      - name: test
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
        command:
        - make
        args:
        - check-vulnerabilities
periodics:
- name: ci-gardener-check-vulnerabilities
  cluster: gardener-prow-build
  interval: 24h
  extra_refs:
  - org: gardener
    repo: gardener
    base_ref: master
  decorate: true
  decoration_config:
    timeout: 15m
    grace_period: 5m
  annotations:
    description: Runs go vulnerability checker for gardener developments periodically
    testgrid-dashboards: gardener-gardener
    testgrid-days-of-results: "60"
  spec:
    containers:
    - image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

config/jobs/gardener/gardener-pull-tests.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-unit
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs unit tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      # Run all tests sequentially in one container or as separete prow jobs.
      # Test will fail when 'check-generate' (which includes a revendor) and 'test' or 'check' run in parallel on the same volume
      - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - check-generate
        - check
        - format
        - test
        - test-prometheus
        - check-docforge
        resources:
          requests:
            cpu: 8
            memory: 8000Mi
  - name: pull-gardener-integration
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs integration tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      - name: test-integration
        image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - test-integration
        resources:
          requests:
            cpu: 6
            memory: 2000Mi

[`gardener-resource-manager`] Replace custom ingress rule from `kube-apiserver`
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/networkpolicies.go
  pkg/operation/botanist/component/resourcemanager/constants/constants.go
  pkg/operation/botanist/component/resourcemanager/monitoring.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add responsibles to networking components.
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade dependency-watchdog
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Increase the sync period in integration test
  test/integration/resourcemanager/managedresource/resource_suite_test.go
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration test to catch the bug
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make integration tests fail
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Recreate immutable resources on invalid update error
  pkg/resourcemanager/controller/managedresource/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

hack/format.sh now supports custom options for goimports-reviser (#7502)
  hack/format.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Docs: use `brew --prefix` instead of hardcoded path
  docs/development/local_setup.md
Due: none

Properly configure deployment
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Reconcile needed secrets
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Define API
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/resourcemanager/controller/managedresource/reconciler.go
  test/integration/resourcemanager/managedresource/resource_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add responsibles to networking components. (#7520)
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Use `shoots/adminkubeconfig` subresource for the Shoot kubeconfig downloaded during the Shoot creation test
  test/framework/k8s_utils.go
  test/framework/shootcreationframework.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove loopback addresses from kind2 cluster
  example/gardener-local/kind/local2/values.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix typo
  pkg/operation/care/checker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove unused gardenNamespace field
  pkg/gardenlet/controller/managedseed/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove user tenants logs, adjust testmachinery and rename docker_id label to container_id
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/values.yaml
  docs/extensions/logging-and-monitoring.md
  test/testmachinery/shoots/logging/seed_logging_stack.go
  test/testmachinery/shoots/logging/shoot_logging.go
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix "similar to" usage
  docs/concepts/apiserver_admission_plugins.md
  docs/concepts/controller-manager.md
  docs/concepts/gardenlet.md
  docs/concepts/operator.md
  docs/concepts/resource-manager.md
  docs/concepts/scheduler.md
  docs/deployment/gardenlet_api_access.md
  docs/development/kubernetes-clients.md
  docs/development/logging.md
  docs/development/testing.md
  docs/extensions/controllerregistration.md
  docs/extensions/shoot-webhooks.md
  docs/monitoring/profiling.md
  docs/proposals/21-ipv6-singlestack-local.md
  docs/usage/exposureclasses.md
  docs/usage/tolerations.md
Due: none

Removed etc. from lists with e.g.
  docs/concepts/gardenlet.md
  docs/concepts/resource-manager.md
  docs/deployment/gardenlet_api_access.md
  docs/development/kubernetes-clients.md
  docs/development/secrets_management.md
  docs/development/testing.md
  docs/extensions/containerruntime.md
  docs/extensions/network.md
  docs/proposals/11-apiserver-network-proxy.md
  docs/proposals/20-ha-control-planes.md
  docs/usage/projects.md
  docs/usage/seed_bootstrapping.md
  docs/usage/shoot_credentials_rotation.md
Due: none

Docs: use `brew --prefix` instead of hardcoded path (#7524)
  docs/development/local_setup.md
Due: none

Added new test case
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance etcd deploy flow to consider existing peer secrets when setting peer secrets
  pkg/operation/botanist/component/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added a test case to test for presence of peer url secrets in etcd when shoot is hibernated
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use var for condition
  pkg/operation/botanist/component/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt tests after rebasing
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `make kind2-up` locally (#7526)
  example/gardener-local/kind/local2/values.yaml
  pkg/gardenlet/controller/managedseed/add.go
  pkg/operation/care/checker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use `shoots/adminkubeconfig` subresource for the Shoot kubeconfig downloaded during the Shoot creation test (#7495)
  test/framework/k8s_utils.go
  test/framework/shootcreationframework.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance etcd deploy flow to consider existing peer secrets when setting peer secrets (#7514)
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
