Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-dev-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20231027-10cc5b5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20231027-10cc5b5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Sets label value to prometheus-shoot
  pkg/component/observability/monitoring/charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Uses prometheus name as label value
  pkg/component/observability/monitoring/prometheus/prometheus.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Applying feedback
  pkg/component/observability/monitoring/alertmanager/vpa.go
  pkg/component/observability/monitoring/prometheus/vpa.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update europe-docker.pkg.dev/gardener-project/releases/3rd/credativ/valitail Docker tag to v2.2.14 (#9400)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update module github.com/gardener/cert-management to v0.12.1 (#9402)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/gardener/hvpa-controller/api to v0.5.1 (#9403)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency brancz/kube-rbac-proxy to v0.16.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update dependency envoyproxy/envoy to v1.29.2
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update dependency fluent/fluent-operator to v2.7.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Adapt test to cover the updated label values
  pkg/component/observability/monitoring/alertmanager/alertmanager_test.go
  pkg/component/observability/monitoring/prometheus/prometheus_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adds observability label key to vali
  pkg/component/observability/logging/vali/vali.go
  pkg/component/observability/logging/vali/vali_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply make generate
  pkg/component/observability/logging/vali/vali_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve `renovate` handling of `imagevector/images.yaml` updates
  .github/renovate.json5
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to c7f7c64 (#9389)
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency prometheus-operator/prometheus-operator to v0.71.2 (#9396)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes-sigs/metrics-server to v0.7.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/dashboard to v1.10.1
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  .github/renovate.json5
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kube-state-metrics to v2.11.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Migrate deprecated `failure-domain.beta.kubernetes.io` labels to `topology.kubernetes.io` (#9388)
  cmd/gardenlet/app/app.go
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move migration functions/code into dedicated file
  cmd/gardenlet/app/app.go
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Migrate deprecated `failure-domain.beta.kubernetes.io` labels to `topology.kubernetes.io`
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix the match expression in the alertmanager configuration
  pkg/component/observability/monitoring/alertmanager/alertmanager_test.go
  pkg/component/observability/monitoring/alertmanager/config.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-19] Ensure legacy resource cleanup for shoot Alertmanager is executed
  pkg/gardenlet/operation/botanist/monitoring.go
  pkg/gardenlet/operation/botanist/monitoring_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns to v1.29.2
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Fix the match expression in the alertmanager configuration
  pkg/component/monitoring/alertmanager/alertmanager_test.go
  pkg/component/monitoring/alertmanager/config.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency prometheus-operator/prometheus-operator to v0.72.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

[release-v1.90] Migrate deprecated `failure-domain.beta.kubernetes.io` labels to `topology.kubernetes.io` (#9413)
  cmd/gardenlet/app/app.go
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix the match expression in the alertmanager configuration (#9419)
  pkg/component/monitoring/alertmanager/alertmanager_test.go
  pkg/component/monitoring/alertmanager/config.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Scrape the image_pull_duration metric from kubelet
  pkg/component/observability/monitoring/charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Fix the match expression in the alertmanager configuration (#9387)
  pkg/component/observability/monitoring/alertmanager/alertmanager_test.go
  pkg/component/observability/monitoring/alertmanager/config.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix istio ingress gateway labels for zonal istio ingress migration.
  pkg/gardenlet/controller/seed/seed/components.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Elaborate on gardenctl non-goal
  docs/proposals/26-workload-identity.md
Due: post-gardener-build-dev-images

Update dependency brancz/kube-rbac-proxy to v0.16.0 (#9406)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
