Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Address review feedback w.r.t. default chart values and usage of consts
  charts/gardener/controlplane/values.yaml
  pkg/component/gardener/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/vpn2 to v0.26.0 (#10174)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address review feedback w.r.t. misleading error message
  pkg/apiserver/apiserver.go
  pkg/apiserver/registry/security/rest/storage_security.go
  pkg/apiserver/registry/security/workloadidentity/storage/storage.go
  pkg/apiserver/registry/security/workloadidentity/storage/tokenrequest.go
  pkg/utils/workloadidentity/jwt.go
  pkg/utils/workloadidentity/jwt_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/etcd-druid to v0.22.3
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/etcd-druid to v0.22.3
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix termination of `sshd` processes when `SSHAccess` is disabled (#10123)
  docs/usage/shoot_workers_settings.md
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/templates/scripts/disable-sshd.tpl.sh
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/templates/scripts/enable-sshd.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use the operating system's default file permissions if no permissions are given in extensions/v1alpha.File (#10152)
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  extensions/pkg/controller/operatingsystemconfig/bash_test.go
  pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update europe-docker.pkg.dev/gardener-project/releases/3rd/alpine docker tag to v3.20.2 (#10175)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update prometheus-operator images to v0.75.2 (#10183)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix permissions for cert-management to handle DNSRecords (#10184)
  pkg/component/certmanagement/certmanagement.go
  pkg/component/certmanagement/certmanagement_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Split SeedConditionFailing alert to reduce alert noise (#10187)
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/seed.yaml
  pkg/component/observability/monitoring/prometheus/garden/testdata/seed.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address review feedback
  pkg/provider-local/machine-provider/local/driver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/apiserver-proxy to v0.17.0 (#10186)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Allow admission controller to read credentials bindings
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/rbac.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

local setup: Drop registry caches for `eu.gcr.io` and `ghcr.io`
  example/gardener-local/registry-prow/kustomization.yaml
  example/gardener-local/registry/gcr-eu/kustomization.yaml
  example/gardener-local/registry/ghcr/kustomization.yaml
  example/gardener-local/registry/kustomization.yaml
  hack/kind-up.sh
  pkg/provider-local/webhook/controlplane/ensurer.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/etcd-druid to v0.22.3 (#10147)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use machine class namespace as fallback if machine namespace is not set (#10176)
  pkg/provider-local/machine-provider/local/create_machine.go
  pkg/provider-local/machine-provider/local/delete_machine.go
  pkg/provider-local/machine-provider/local/driver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.99.2
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Notes added by 'git notes add'
  b8/1a75f6927b5797b5e4e9884d3c9dfa49a88c54
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  50/bf1422f6cda18ab03938515c87118af1369029
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  cd/9f0b29f971411fb36ae4b7e36a89d8c61d9e6c
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Development Cycle v1.99.3-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

chore(deps): update dependency gardener/etcd-druid to v0.22.3 (#10097)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix `ReconcileContainerdRegistries` race condition
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `ReconcileContainerdRegistries` race condition (#10188)
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix doc
  docs/README.md
  docs/api-reference/README.md
Due: none

Preserving kubectl.kubernetes.io/restartedAt annotation on nessesary resources
  pkg/controllerutils/update.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.101.0-dev (#10181)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

refactor common kustomize artifacts for operator and base
  example/provider-local/garden/base/kustomization.yaml
  example/provider-local/garden/local/.gitignore
  example/provider-local/garden/local/controllerdeployment.yaml
  example/provider-local/garden/local/controllerregistration.yaml
  example/provider-local/garden/local/kustomization.yaml
  example/provider-local/garden/skaffold-operator/kustomization.yaml
  hack/mcm-provider-local-overwrite.sh
  skaffold-operator-garden.yaml
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

rerun make generate
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/operations/v1alpha1/generated.pb.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/settings/v1alpha1/generated.pb.go
  pkg/apis/settings/v1alpha1/generated.proto
  pkg/operator/controller/extension/virtualcluster/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

improve unit tests
  pkg/operator/controller/extension/virtualcluster/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update docs/concepts/node-agent.md
  docs/concepts/node-agent.md
Due: none

Adapt TM tests to remove checks for `containerd-initializer`
  test/testmachinery/shoots/operations/containerruntime.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update docs and slight corrections
  docs/concepts/operator.md
  pkg/operator/controller/add.go
  pkg/operator/controller/extension/virtualcluster/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

local setup: Drop registry caches for `eu.gcr.io` and `ghcr.io` (#10185)
  example/gardener-local/registry-prow/kustomization.yaml
  example/gardener-local/registry/gcr-eu/kustomization.yaml
  example/gardener-local/registry/ghcr/kustomization.yaml
  example/gardener-local/registry/kustomization.yaml
  hack/kind-up.sh
  pkg/provider-local/webhook/controlplane/ensurer.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove empty lines from alert descriptions
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/auditlog.yaml
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/etcd.yaml
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/shoot.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix SeedNodeNotHealthy alert description
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/seed.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix doc link
  docs/concepts/operator.md
Due: none

Improve wait until healthy tests for MR
  pkg/utils/managedresources/managedresources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove computeSecretNames func
  pkg/controllermanager/controller/project/stale/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
