Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Add go:embedded files to skaffold dependencies (#9778)
  hack/check-skaffold-deps-for-binary.sh
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix plutono dashboard `ConfigMap` update (#9802)
  pkg/component/observability/plutono/plutono.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/component/observability/plutono/plutono.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix plutono dashboard `ConfigMap` update
  pkg/component/observability/plutono/plutono.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.94] Fix plutono dashboard `ConfigMap` update (#9809)
  pkg/component/observability/plutono/plutono.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.18.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.95] Fix plutono dashboard `ConfigMap` update (#9810)
  pkg/component/observability/plutono/plutono.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/prometheus/node-exporter docker tag to v1.8.1
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.18.0 (#9811)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Since go-1.22 math/rand/v2 should be used
  pkg/controller/service/reconciler.go
  pkg/utils/random.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/cortexproject/cortex docker tag to v1.17.1
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add DiscoveryServer to Garden API
  charts/gardener/operator/templates/customresouredefintion.yaml
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  example/operator/20-garden.yaml
  pkg/apis/operator/v1alpha1/types.go
  pkg/apis/operator/v1alpha1/validation/validation.go
  pkg/apis/operator/v1alpha1/validation/validation_test.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add gardener-discovery-server to imagevector
  imagevector/images.go
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review
  docs/concepts/operator.md
  docs/usage/shoot_serviceaccounts.md
  pkg/component/gardener/discoveryserver/deployment.go
  pkg/component/gardener/discoveryserver/discoveryserver.go
  pkg/component/gardener/discoveryserver/ingress.go
  pkg/component/gardener/discoveryserver/poddisruptionbudget.go
  pkg/component/gardener/discoveryserver/rbac.go
  pkg/component/gardener/discoveryserver/secrets.go
  pkg/component/gardener/discoveryserver/service.go
  pkg/component/gardener/discoveryserver/servicemonitor.go
  pkg/component/gardener/discoveryserver/vpa.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address some of PR review comments
  docs/usage/shoot_serviceaccounts.md
  pkg/apis/operator/v1alpha1/validation/validation_test.go
  pkg/component/gardener/discoveryserver/discoveryserver.go
  pkg/component/gardener/discoveryserver/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mention discovery server in prio classes
  docs/development/priority-classes.md
Due: none

Fix linter warnings
  pkg/component/gardener/discoveryserver/deployment.go
  pkg/component/gardener/discoveryserver/discoveryserver.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add documentation
  docs/concepts/operator.md
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

ServiceMonitor and BBX scrape config
  pkg/component/gardener/discoveryserver/deployment.go
  pkg/component/gardener/discoveryserver/discoveryserver.go
  pkg/component/gardener/discoveryserver/discoveryserver_test.go
  pkg/component/gardener/discoveryserver/ingress.go
  pkg/component/gardener/discoveryserver/poddisruptionbudget.go
  pkg/component/gardener/discoveryserver/secrets.go
  pkg/component/gardener/discoveryserver/service.go
  pkg/component/gardener/discoveryserver/servicemonitor.go
  pkg/component/gardener/discoveryserver/vpa.go
  pkg/component/observability/monitoring/blackboxexporter/garden/config.go
  pkg/component/observability/monitoring/blackboxexporter/garden/config_test.go
  pkg/component/observability/monitoring/blackboxexporter/garden/scrapeconfig.go
  pkg/component/observability/monitoring/blackboxexporter/garden/scrapeconfig_test.go
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/garden.yaml
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename http port to https
  pkg/component/gardener/discoveryserver/deployment.go
  pkg/component/gardener/discoveryserver/discoveryserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce Gardener Discovery Server component
  example/operator/20-garden.yaml
  pkg/component/gardener/discoveryserver/deployment.go
  pkg/component/gardener/discoveryserver/discoveryserver.go
  pkg/component/gardener/discoveryserver/discoveryserver_suite_test.go
  pkg/component/gardener/discoveryserver/discoveryserver_test.go
  pkg/component/gardener/discoveryserver/ingress.go
  pkg/component/gardener/discoveryserver/poddisruptionbudget.go
  pkg/component/gardener/discoveryserver/rbac.go
  pkg/component/gardener/discoveryserver/secrets.go
  pkg/component/gardener/discoveryserver/service.go
  pkg/component/gardener/discoveryserver/vpa.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add enablement documentation
  docs/usage/shoot_serviceaccounts.md
Due: none

Fix build
  pkg/component/gardener/discoveryserver/discoveryserver_test.go
  pkg/component/gardener/discoveryserver/servicemonitor.go
  pkg/component/observability/monitoring/blackboxexporter/garden/scrapeconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Unexport some constants
  pkg/component/gardener/discoveryserver/discoveryserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.2
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/prometheus/node-exporter docker tag to v1.8.1 (#9812)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Bootstrap `core.gardener.cloud/v1`
  hack/update-codegen.sh
  hack/update-protobuf.sh
  pkg/apis/core/install/install.go
  pkg/apis/core/v1/doc.go
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1/register.go
  pkg/apis/core/v1/v1_suite_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/apiserver/apis.go
  pkg/client/core/clientset/versioned/clientset.go
  pkg/client/core/clientset/versioned/fake/clientset_generated.go
  pkg/client/core/clientset/versioned/fake/register.go
  pkg/client/core/clientset/versioned/mock/mocks.go
  pkg/client/core/clientset/versioned/scheme/register.go
  pkg/client/core/clientset/versioned/typed/core/v1/core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1/doc.go
  pkg/client/core/clientset/versioned/typed/core/v1/fake/doc.go
  pkg/client/core/clientset/versioned/typed/core/v1/fake/fake_core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1/generated_expansion.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `core.gardener.cloud/v1` to gardener-apiserver
  charts/gardener/controlplane/charts/application/templates/apiservice-v1-core-gardener-cloud.yaml
  pkg/apiserver/registry/core/rest/storage_core.go
  pkg/component/gardener/apiserver/apiserver.go
  pkg/component/gardener/apiserver/apiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `ControllerDeployment` to `core.gardener.cloud/v1`
  example/25-controllerdeployment.yaml
  hack/api-reference/core-config.json
  hack/update-codegen.sh
  hack/update-protobuf.sh
  pkg/apis/core/types_controllerdeployment.go
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1/register.go
  pkg/apis/core/v1/types_controllerdeployment.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/controllerdeployment/strategy.go
  pkg/apiserver/registry/core/rest/storage_core.go
  pkg/client/core/clientset/versioned/typed/core/v1/controllerdeployment.go
  pkg/client/core/clientset/versioned/typed/core/v1/core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1/fake/fake_controllerdeployment.go
  pkg/client/core/clientset/versioned/typed/core/v1/fake/fake_core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1/generated_expansion.go
  pkg/client/core/informers/externalversions/core/interface.go
  pkg/client/core/informers/externalversions/core/v1/controllerdeployment.go
  pkg/client/core/informers/externalversions/core/v1/interface.go
  pkg/client/core/informers/externalversions/generic.go
  pkg/client/core/listers/core/v1/controllerdeployment.go
  pkg/client/core/listers/core/v1/expansion_generated.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add API reference docs for `core.gardener.cloud/v1`
  docs/api-reference/core-v1.md
  pkg/apis/core/v1/doc.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extract type for legacy `HelmControllerDeployment`
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_controllerdeployment.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/add.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add conversion logic for `ControllerDeployment`
  .golangci.yaml.in
  pkg/apis/core/conversion_roundtrip_controllerdeployment_test.go
  pkg/apis/core/v1/conversion_controllerdeployment.go
  pkg/apis/core/v1/conversion_controllerdeployment_test.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/conversions.go
  pkg/apis/core/v1beta1/conversions_test.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation for new `ControllerDeployment` fields
  pkg/apis/core/validation/controllerdeployment.go
  pkg/apis/core/validation/controllerdeployment_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Store `ControllerDeployments` in `v1` in etcd
  cmd/gardener-apiserver/app/gardener_apiserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `ControllerInstallation` controller to `core.gardener.cloud/v1.ControllerDeployment`
  cmd/gardenlet/app/app.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/add.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/add_test.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_suite_test.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
