Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Address PR review feedback
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter_test.go
  pkg/component/observability/monitoring/prometheus/shoot/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `kube-proxy`
  pkg/component/kubernetes/proxy/logging.go
  pkg/component/kubernetes/proxy/mock/mocks.go
  pkg/component/kubernetes/proxy/monitoring.go
  pkg/component/kubernetes/proxy/monitoring_test.go
  pkg/component/kubernetes/proxy/proxy.go
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/kubernetes/proxy/resources.go
  pkg/gardenlet/operation/botanist/monitoring.go
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Promote feature gate CoreDNSQueryRewriting to beta and enable by default
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce `shoot_dashboard_url` label (#9818)
  pkg/component/observability/monitoring/prometheus/component.go
  pkg/component/observability/monitoring/prometheus/prometheus.go
  pkg/component/observability/monitoring/prometheus/prometheus_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Promote feature gate CoreDNSQueryRewriting to beta and enable by default (#9820)
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update alpine docker tag to v3.20
  example/provider-extensions/ssh-reverse-tunnel/base/ssh/ssh_deployment.yaml
  example/provider-extensions/ssh-reverse-tunnel/base/sshd/sshd_deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

update CA image for k8s 1.29
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

address review feedback
  pkg/utils/secrets/certificate.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  pkg/utils/secrets/manager/manager.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

restore old comment
  pkg/utils/secrets/manager/manager.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update imagevector/images.yaml
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Promote feature gate MutableShootSpecNetworkingNodes to beta and enable it by default
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/gardener-extension-networking-cilium to v1.35.0
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

address review comments
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig_test.go
  pkg/gardenlet/operation/botanist/worker.go
  pkg/gardenlet/operation/botanist/worker_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update alpine docker tag to v3.20 (#9821)
  example/provider-extensions/ssh-reverse-tunnel/base/ssh/ssh_deployment.yaml
  example/provider-extensions/ssh-reverse-tunnel/base/sshd/sshd_deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency incu6us/goimports-reviser to v3.6.5
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address second feedback round
  pkg/utils/secrets/certificate.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  pkg/utils/secrets/manager/manager.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt test to new feature gate default value
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename Prometheus to cache Prometheus
  docs/monitoring/README.md
Due: none

Improve cache Prometheus documentation
  docs/monitoring/README.md
Due: none

Unify usage of capitalization
  docs/monitoring/README.md
Due: none

Improve aggregate Prometheus documentation
  docs/monitoring/README.md
Due: none

Revisit monitoring image
  docs/monitoring/images/monitoring.png
Due: none

Improve seed Prometheus documentation
  docs/monitoring/README.md
Due: none

chore(deps): update dependency incu6us/goimports-reviser to v3.6.5 (#9826)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add RenewAfterValidityPercentage option to docu
  docs/development/secrets_management.md
Due: none

Fix cluster overview dashboard
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/cluster-overview-dashboard.json
  pkg/component/observability/plutono/dashboards/shoot/owners/workerless/cluster-overview-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add release notes for dashboard and terminal-controller-manager
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix cluster overview dashboard (#9827)
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/cluster-overview-dashboard.json
  pkg/component/observability/plutono/dashboards/shoot/owners/workerless/cluster-overview-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

PR feedback: add release notes for all github-releases
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[provider-local] Increase workers for `Extension` controllers
  pkg/provider-local/controller/extension/seed/add.go
  pkg/provider-local/controller/extension/shoot/add.go
  pkg/provider-local/controller/extension/shootafterworker/actuator.go
  pkg/provider-local/controller/extension/shootafterworker/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Redirect non-vpn traffic on port 8132 of istio ingress gateway to https port.
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/vpn-envoy-filter.yaml
  pkg/component/networking/istio/test_charts/ingress_vpn_envoy_filter.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

PR feedback: add release note for docker releases
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update CA image for k8s `1.29` (#9822)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Promote feature gate `MutableShootSpecNetworkingNodes` to beta and enable it by default (#9824)
  docs/deployment/feature_gates.md
  pkg/apis/core/validation/shoot_test.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review part 1
  docs/proposals/26-workload-identity.md
  example/70-workloadidentity-provider.yaml
  pkg/apis/security/types_workloadidentity.go
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/types_workloadidentity.go
  pkg/apis/security/v1alpha1/zz_generated.conversion.go
  pkg/apis/security/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/security/validation/workloadidentity.go
  pkg/apis/security/validation/workloadidentity_test.go
  pkg/apis/security/zz_generated.deepcopy.go
  pkg/apiserver/registry/security/rest/storage_security.go
  pkg/apiserver/registry/security/workloadidentity/strategy_test.go
  pkg/apiserver/registry/security/workloadidentity/workloadidentity_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review part 2
  docs/api-reference/security.md
  pkg/apis/security/types_workloadidentity.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/types_workloadidentity.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/security/workloadidentity/storage/tableconvertor.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Secrets manager: Custom early renewal of certificates. (#9819)
  docs/development/secrets_management.md
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  pkg/utils/secrets/manager/manager.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/gardener-extension-networking-cilium to v1.35.0 (#9825)
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

[renovate] Add release notes for docker and github-releases (#9828)
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
