Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

chore(deps): update registry.k8s.io/kube-state-metrics/kube-state-metrics docker tag to v2.11.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Remove resourcemanager secret reconciler
  cmd/gardenlet/app/migration.go
  pkg/resourcemanager/controller/add.go
  pkg/resourcemanager/controller/secret/add.go
  pkg/resourcemanager/controller/secret/add_test.go
  pkg/resourcemanager/controller/secret/reconciler.go
  pkg/resourcemanager/controller/secret/reconciler_test.go
  pkg/resourcemanager/controller/secret/secret_suite_test.go
  test/integration/resourcemanager/secret/secret_suite_test.go
  test/integration/resourcemanager/secret/secret_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressing ialidzhikov's feedback
  charts/gardener/resource-manager/charts/runtime/templates/configmap.yaml
  docs/concepts/resource-manager.md
  example/resource-manager/10-componentconfig.yaml
  pkg/resourcemanager/apis/config/types.go
  pkg/resourcemanager/apis/config/v1alpha1/defaults.go
  pkg/resourcemanager/apis/config/v1alpha1/defaults_test.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/resourcemanager/apis/config/validation/validation.go
  pkg/resourcemanager/apis/config/validation/validation_test.go
  pkg/resourcemanager/apis/config/zz_generated.deepcopy.go
  pkg/resourcemanager/predicate/has_finalizer.go
  pkg/resourcemanager/predicate/has_finalizer_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove skaffold dependencies
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus/client_golang to v1.19.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module gomodules.xyz/jsonpatch/v2 to v3
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop the secret controller values from values.yaml
  charts/gardener/resource-manager/values.yaml
  pkg/resourcemanager/apis/config/types.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/kube-state-metrics/kube-state-metrics docker tag to v2.12.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Remove resource-manager's secret reconciler (#9490)
  charts/gardener/resource-manager/charts/runtime/templates/configmap.yaml
  charts/gardener/resource-manager/values.yaml
  cmd/gardenlet/app/migration.go
  docs/concepts/resource-manager.md
  example/resource-manager/10-componentconfig.yaml
  pkg/resourcemanager/apis/config/types.go
  pkg/resourcemanager/apis/config/v1alpha1/defaults.go
  pkg/resourcemanager/apis/config/v1alpha1/defaults_test.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/resourcemanager/apis/config/validation/validation.go
  pkg/resourcemanager/apis/config/validation/validation_test.go
  pkg/resourcemanager/apis/config/zz_generated.deepcopy.go
  pkg/resourcemanager/controller/add.go
  pkg/resourcemanager/controller/secret/add.go
  pkg/resourcemanager/controller/secret/add_test.go
  pkg/resourcemanager/controller/secret/reconciler.go
  pkg/resourcemanager/controller/secret/reconciler_test.go
  pkg/resourcemanager/controller/secret/secret_suite_test.go
  pkg/resourcemanager/predicate/has_finalizer.go
  pkg/resourcemanager/predicate/has_finalizer_test.go
  skaffold-operator.yaml
  skaffold.yaml
  test/integration/resourcemanager/secret/secret_suite_test.go
  test/integration/resourcemanager/secret/secret_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add scanning hints for apiserver-proxy envoy image. (#9505)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

chore(deps): update golang
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update golang (#9519)
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency go to v1.22.2
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency go to v1.22.2 (#9518)
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix undeleted provider-local backup directory (#9182)
  docs/operations/control_plane_migration.md
  example/provider-extensions/gardenlet/values.yaml.tmpl
  pkg/component/garden/backupentry/backupentry.go
  pkg/component/garden/backupentry/backupentry_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/backupentry.go
  pkg/gardenlet/operation/botanist/backupentry_test.go
  pkg/provider-local/controller/backupentry/actuator.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop completed TODO
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release responsible schedule for v1.94 until v1.102 (#9509)
  docs/development/process.md
Due: post-gardener-build-dev-images

Introduce ShootManagedIssuer feature gate
  docs/deployment/feature_gates.md
  pkg/features/features.go
  pkg/gardenlet/features/features.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Set ShootManagedIssuer feature gate guards
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/advertisedaddresses_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable ShootManagedIssuer is local setup
  example/gardener-local/gardenlet/values.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Mention the FG in system config section
  docs/operations/configuration.md
Due: post-gardener-build-dev-images

Allow importing pkg/features
  extensions/.import-restrictions
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Require serviceaccount issuer secret if ShootManagedIssuer feature gate is enabled
  pkg/utils/gardener/garden.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold deps
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Remove dep to ShootManagedIssuer feature gate from GCM
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/controller/shoot/care/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/utils/gardener/garden.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mention ShootManagedIssuer fg in gardenlet config
  example/20-componentconfig-gardenlet.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle `v1.93.0-dev` (#9506)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Describe `NamespacedCloudProfileValidator` in doc
  docs/concepts/apiserver_admission_plugins.md
Due: post-gardener-build-dev-images

Fixed broken links - 2024.04
  docs/development/dependencies.md
  docs/development/new-kubernetes-version.md
  docs/extensions/provider-local.md
Due: post-gardener-build-dev-images

Update docs/concepts/apiserver_admission_plugins.md
  docs/concepts/apiserver_admission_plugins.md
Due: post-gardener-build-dev-images

chore(deps): update quay.io/prometheus-operator/prometheus-config-reloader docker tag to v0.73.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/prometheus-operator/prometheus-operator docker tag to v0.73.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Drop completed TODO (#9501)
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.73.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt TLSConfig type
  pkg/component/observability/monitoring/prometheus/seed/podmonitors.go
  pkg/component/observability/monitoring/prometheus/seed/podmonitors_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-26] Workload Identity - Trust Based Authentication (#9260)
  docs/README.md
  docs/proposals/26-workload-identity.md
Due: post-gardener-build-dev-images

Add `NamespacedCloudProfileValidator` to admission doc (#9520)
  docs/concepts/apiserver_admission_plugins.md
Due: post-gardener-build-dev-images

support proxy protocol on load balancers
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/proxy-protocol-envoyfilter.yaml
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_8132.yaml
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_8443.yaml
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_9443.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

make generate
  example/seed-crds/10-crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_alertmanagers.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_servicemonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_thanosrulers.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_alertmanagers.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_podmonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusagents.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheuses.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_scrapeconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_servicemonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_thanosrulers.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Don't depoy vali specific ClusterOutputs when vali is disabled
  pkg/component/observability/logging/fluentoperator/custom_resources.go
  pkg/component/observability/logging/fluentoperator/fluent_bit.go
  pkg/component/observability/logging/fluentoperator/fluent_bit_test.go
  pkg/component/shared/fluent_bit.go
  pkg/component/shared/fluent_operator_custom_resources.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
