Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Notes added by 'git notes add'
  06/a384ca1e7f608b5092cf1bc7d46b5296fb2521
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Development Cycle v1.97.3-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Release v1.96.6
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Prepare next Development Cycle v1.96.7-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Fix cluster name in extension setup (#10023)
  docs/deployment/getting_started_locally_with_extensions.md
Due: none

[GEP-28] Add Optional Bastion Section To `CloudProfile` (#9935)
  docs/proposals/27-cloudprofile-bastion-section.md
Due: none

Check if seed kubeconfig has expired in configure-seed.sh
  example/provider-extensions/seed/configure-seed.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.4 (#9943)" (#10021)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Destroy shoot access for DWD if Shoot is workerless (#10003)
  cmd/gardenlet/app/app.go
  cmd/gardenlet/app/migration.go
  pkg/component/nodemanagement/dependencywatchdog/access.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/botanist.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

extensions lib: Add ObjectSelector arg to the shoot webhook
  extensions/pkg/webhook/shoot/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mark shoot.spec.kubernetes.kubelet.systemReserved as deprecated
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

recommend not combining NewWorkerPoolHash and systemReserved configuration
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add object selector to provider extension controlplane webhooks (#9981)
  docs/extensions/controlplane-webhooks.md
  extensions/pkg/webhook/controlplane/controlplane.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/component/kubernetes/scheduler/scheduler.go
  pkg/component/kubernetes/scheduler/scheduler_test.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/gardenlet/controller/backupentry/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/provider-local/webhook/controlplane/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mention ignored fields in docs, ignore managedFields
  docs/concepts/admission-controller.md
  pkg/admissioncontroller/webhook/admission/resourcesize/handler.go
  pkg/admissioncontroller/webhook/admission/resourcesize/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prometheus alerts for when `etcd-druid`'s snapshot compaction jobs fail above a certain rate (#9739)
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/aggregate/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/aggregate/scrapeconfigs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

extensions lib: Add ObjectSelector arg to the shoot webhook (#10026)
  extensions/pkg/webhook/shoot/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

cloudprovider webhook: Enforce object selector unconditionally
  extensions/pkg/webhook/cloudprovider/cloudprovider.go
  test/integration/extensions/webhook/cloudprovider/cloudprovider_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename buildSelector funcs to buildNamespaceSelector
  extensions/pkg/webhook/controlplane/controlplane.go
  extensions/pkg/webhook/network/network.go
  extensions/pkg/webhook/shoot/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve docs (review comment)
  docs/concepts/admission-controller.md
Due: none

kube-apiserver: Increase HPA's max replicas count from 3 to 6 in `VPAAndHPA` autoscaling mode (#9971)
  docs/development/autoscaling-specifics-for-components.md
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update fix based on feedback
  example/provider-extensions/seed/configure-seed.sh
  hack/gardener-extensions-down.sh
  hack/gardener-extensions-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extend expiration time to next 5 minutes instead of 10 seconds
  hack/gardener-extensions-down.sh
  hack/gardener-extensions-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove obsolete release branch configs
  branch.cfg
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Publish helm charts to `europe-docker.pkg.dev/gardener-project`
  branch.cfg
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address review feedback from Tim, support ACME or CA default issuer
  charts/gardener/operator/templates/customresouredefintion.yaml
  docs/api-reference/operator.md
  docs/concepts/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  example/operator/20-garden.yaml
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/validation/validation.go
  pkg/apis/operator/v1alpha1/validation/validation_test.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/component/certmanagement/certmanagement.go
  pkg/component/certmanagement/certmanagement_test.go
  pkg/component/certmanagement/issuers.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  test/e2e/operator/garden/common.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency prometheus/prometheus to v2.53.0 (#10001)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ignore `status` subresources and `metadata.managedFields` for resource size limit admission (#10011)
  docs/concepts/admission-controller.md
  pkg/admissioncontroller/webhook/admission/resourcesize/handler.go
  pkg/admissioncontroller/webhook/admission/resourcesize/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mark `shoot.spec.kubernetes.kubelet.systemReserved` as deprecated (#9985)
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

cloudprovider webhook: Enforce object selector unconditionally (#10027)
  extensions/pkg/webhook/cloudprovider/cloudprovider.go
  extensions/pkg/webhook/controlplane/controlplane.go
  extensions/pkg/webhook/network/network.go
  extensions/pkg/webhook/shoot/shoot.go
  test/integration/extensions/webhook/cloudprovider/cloudprovider_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update operator.md to provide more information on the alertmanager
  docs/concepts/operator.md
Due: none

chore(deps): update dependency protocolbuffers/protobuf to v27.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.99.0-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Fix typo in `resource-manager` helm chart
  branch.cfg
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove the last level of helm registry path
  branch.cfg
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency protocolbuffers/protobuf to v27.2 (#10028)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency envoyproxy/envoy to v1.30.3
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

addressed latest feedback
  docs/concepts/operator.md
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation for shoot networking status
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extend `Infrastructure.Status` and `Shoot.Status` with a networking section.
  docs/api-reference/core.md
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_infrastructures.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1alpha1/types_infrastructure.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_infrastructures.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt gardener extension library to consider value from the shoot networking status in addition to the shoot specification.
  extensions/pkg/controller/shoot.go
  extensions/pkg/controller/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
