Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Call WithShootServiceAccountIssuerHostname in WithGardenFrom func
  pkg/gardenlet/operation/operation.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address cosmetic suggestions
  docs/operations/configuration.md
  pkg/apis/core/validation/shoot_test.go
  pkg/gardenlet/operation/botanist/advertisedaddresses_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove unnecessary conversion
  pkg/gardenlet/operation/garden/types.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix two linter findings
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/gardenlet/operation/garden/types.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extract advertised addresses names as constants
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/gardenlet/operation/botanist/advertisedaddresses.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate when reading hostname from secret
  pkg/gardenlet/operation/garden/types.go
  pkg/utils/gardener/garden.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply review suggestion
  pkg/gardenlet/operation/botanist/kubeapiserver.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/gardenlet/operation/botanist/advertisedaddresses.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve JWKS URI check & add test
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address feedback
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move ServiceAccountIssuerHostname to Shoot type
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/botanist/advertisedaddresses_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/gardenlet/operation/garden/types.go
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
  pkg/gardenlet/operation/types.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

adapt unit tests
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

upgrade mcm to 0.52.0 in go.mod (#9310)
  example/seed-crds/10-crd-machine.sapcloud.io_machineclasses.yaml
  example/seed-crds/10-crd-machine.sapcloud.io_machines.yaml
  go.mod
  go.sum
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machineclasses.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machines.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt docs
  docs/usage/openidconnect-presets.md
  example/90-shoot.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Adapt validation
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  pkg/component/kubernetes/apiserverexposure/ingress.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add comment about network policy requirements to runtime API server
  pkg/component/shared/istio.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.91.0-dev (#9302)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Remove node seed label description
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Bump alpine to 3.19.1
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

[GEP-24] Configure KAPI managed issuer & JWKS URL (#9196)
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/api-reference/core.md
  docs/operations/configuration.md
  example/10-secret-shoot-service-account-issuer.yaml
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig_test.go
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/botanist/advertisedaddresses.go
  pkg/gardenlet/operation/botanist/advertisedaddresses_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/operation_test.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
  pkg/gardenlet/operation/types.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/utils/gardener/garden.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add support for migration of istio ingress namespaces.
  pkg/gardenlet/controller/seed/seed/components.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

NodeNotHealthy prometheus alert (#9311)
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Bump alpine to 3.19.1 (#9312)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Bump alpine to 3.19.1 (#9315)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Bump alpine to 3.19.1 (#9316)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.72.0 (#9305)
  example/seed-crds/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_probes.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_servicemonitors.yaml
  go.mod
  go.sum
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_podmonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_probes.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusagents.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheuses.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_scrapeconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_servicemonitors.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.72.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run make generate
  example/seed-crds/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_probes.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_servicemonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_podmonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_probes.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusagents.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheuses.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_scrapeconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_servicemonitors.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Add support for highly available seed cluster, i.e. multiple availability zones.
  pkg/component/kubernetes/apiserverexposure/ingress.go
  pkg/component/kubernetes/apiserverexposure/ingress_test.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Specify container capacity in a few places
  pkg/component/shoot/system/system.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Call slices.Sort instead of sort.Strings
  pkg/component/shoot/system/system.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.90] Update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.72.0 (#9318)
  example/seed-crds/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_probes.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_servicemonitors.yaml
  go.mod
  go.sum
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_podmonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_probes.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusagents.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheuses.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_scrapeconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_servicemonitors.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
