Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

fix(deps): update golang.org/x/exp digest to fd00a4e
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Promote `CoreDNSQueryRewriting` feature gate to GA
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove obsolete feature gate related fields, functions and adapt unit tests
  docs/usage/dns-search-path-optimization.md
  example/20-componentconfig-gardenlet.yaml
  example/gardener-local/gardenlet/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/gardenlet/operation/botanist/coredns.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update nginx docker tag to v1.27.0 (#9880)
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Promote `MutableShootSpecNetworkingNodes` feature gate to GA
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove obsolete feature gate related validation and adapt unit tests/documentation
  docs/api-reference/core.md
  example/gardener-local/controlplane/values.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use long variable names
  pkg/apiserver/registry/security/workloadidentity/storage/tokenrequest.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make (min|max)WorkloadIdentityTokenExpiration configurable
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/values.yaml
  pkg/apiserver/apiserver.go
  pkg/apiserver/registry/security/rest/storage_security.go
  pkg/apiserver/registry/security/workloadidentity/storage/storage.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove cleanuop code after making `Secret`s of `ManagedResource`s immutable
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/shoot_resources.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop migration code in `skaffold.yaml` for `core.gardener.cloud/v1` API
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Remove cleanup of old `kube-apiserver` `Ingress` resource
  pkg/component/kubernetes/apiserverexposure/ingress.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove cleanup code of resources of legacy `cloud-config-downloader`
  pkg/gardenlet/operation/botanist/worker.go
  pkg/gardenlet/operation/botanist/worker_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove cleanup of old `vali` `VerticalPodAutoscaler`s
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove migration code for e2e upgrade tests after `provider-local` VPN fix
  test/e2e/gardener/common.go
  test/e2e/gardener/upgrade/upgrade.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove Istio zone migration code
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove PVC migration for `longterm` Prometheus
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove deprecated fields from `OperatingSystemConfig`
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/operatingsystemconfig_test.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase removal period of `<name>.ca-cluster` `Secret`
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/gardenlet/operation/botanist/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove PVC migration for `garden` Prometheus
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Remove Istio zone migration code"
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase removal period of Istio zone migration code
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make workload identity issuer configurable
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/values.yaml
  example/gardener-local/controlplane/values.yaml
  pkg/apiserver/apiserver.go
  pkg/apiserver/registry/security/rest/storage_security.go
  pkg/apiserver/registry/security/workloadidentity/storage/storage.go
  pkg/apiserver/registry/security/workloadidentity/storage/tokenrequest.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to fd00a4e (#9888)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/spf13/viper to v1.19.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/spf13/viper to v1.19.0 (#9892)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Remove resource limits for the observability components (#9785)"
  pkg/component/observability/monitoring/blackboxexporter/blackboxexporter.go
  pkg/component/observability/monitoring/blackboxexporter/blackboxexporter_test.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter_test.go
  pkg/component/observability/monitoring/prometheusoperator/deployment.go
  pkg/component/observability/monitoring/prometheusoperator/prometheus_operator_test.go
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/terminal-controller-manager to v0.33.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/terminal-controller-manager to v0.33.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/terminal-controller-manager to v0.33.0 (#9896)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Promote `MutableShootSpecNetworkingNodes` feature gate to GA (#9890)
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  example/gardener-local/controlplane/values.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Promote `CoreDNSQueryRewriting` feature gate to GA (#9889)
  docs/deployment/feature_gates.md
  docs/usage/dns-search-path-optimization.md
  example/20-componentconfig-gardenlet.yaml
  example/gardener-local/gardenlet/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/features/features.go
  pkg/gardenlet/operation/botanist/coredns.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/terminal-controller-manager to v0.33.0 (#9897)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix-scrapeconfigs
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`gardenlet`'s pod GC considers pods with reason `NodeAffinity`
  docs/concepts/gardenlet.md
  pkg/gardenlet/controller/shoot/care/garbage_collection.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/concepts/gardenlet.md
Due: none

fix(deps): update module github.com/prometheus/common to v0.54.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

additional primary DNS provider extensions
  extensions/README.md
Due: none

additional primary DNS provider extensions (#9899)
  extensions/README.md
Due: none

Fix: Use garden cluster API reader when deleting the bootstrap token
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move `gardenlet` Helm chart tests to `./charts/gardener/gardenlet`
  Makefile
  charts/gardener/gardenlet/.helmignore
  charts/gardener/gardenlet/test/chart.go
  charts/gardener/gardenlet/test/chart_test.go
  charts/gardener/gardenlet/test/test.go
  charts/gardener/gardenlet/test/test_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
