Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

config/jobs/gardener/gardener-apidiff.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-apidiff
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    decorate: true
    optional: true
    branches:
    - ^master$ # run on master branch
    spec:
      containers:
      - name: test
        # don't update go version here until a go-apidiff release is available with new go version support.
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
        command:
        - make
        args:
        - check-apidiff

config/jobs/gardener/gardener-check-vulnerabilities.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-check-vulnerabilities
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.(md|yaml)$"
    decorate: true
    decoration_config:
      timeout: 15m
      grace_period: 5m
    optional: true
    branches:
    - ^master$
    spec:
      containers:
      - name: test
        image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
        command:
        - make
        args:
        - check-vulnerabilities
periodics:
- name: ci-gardener-check-vulnerabilities
  cluster: gardener-prow-build
  interval: 24h
  extra_refs:
  - org: gardener
    repo: gardener
    base_ref: master
  decorate: true
  decoration_config:
    timeout: 15m
    grace_period: 5m
  annotations:
    description: Runs go vulnerability checker for gardener developments periodically
    testgrid-dashboards: gardener-gardener
    testgrid-days-of-results: "60"
  spec:
    containers:
    - image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

config/jobs/gardener/gardener-pull-tests.yaml:

presubmits:
  gardener/gardener:
  - name: pull-gardener-unit
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs unit tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      # Run all tests sequentially in one container or as separete prow jobs.
      # Test will fail when 'check-generate' (which includes a revendor) and 'test' or 'check' run in parallel on the same volume
      - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - check-generate
        - check
        - format
        - test
        - test-prometheus
        - check-docforge
        resources:
          requests:
            cpu: 8
            memory: 8000Mi
  - name: pull-gardener-integration
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    decorate: true
    annotations:
      description: Runs integration tests for gardener developments in pull requests
    max_concurrency: 5
    spec:
      containers:
      - name: test-integration
        image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
        command:
        - make
        args:
        - test-integration
        resources:
          requests:
            cpu: 6
            memory: 2000Mi

Enhance etcd deploy flow to consider existing peer secrets when setting peer secrets
  pkg/operation/botanist/component/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use var for condition
  pkg/operation/botanist/component/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added a test case to test for presence of peer url secrets in etcd when shoot is hibernated
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fixed not to exit script for kubectl errors until it reaches the timeout
  hack/usage/wait-for.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt test
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressed review feeback - Renamed function `export_logs` as `export_artifacts`
  hack/ci-common.sh
  hack/ci-e2e-kind-ha-multi-zone.sh
  hack/ci-e2e-kind-ha-single-zone.sh
  hack/ci-e2e-kind-migration.sh
  hack/ci-e2e-kind-operator.sh
  hack/ci-e2e-kind-upgrade.sh
  hack/ci-e2e-kind.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Support TLS SNI configurations for `kube-apiserver` (#7518)
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt tests
  pkg/operation/botanist/component/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Document that 127.0.0.2 has to be added to the loopback interface
  docs/deployment/getting_started_locally.md
  docs/development/getting_started_locally.md
Due: none

Removes backupentry migration reconciler
  charts/gardener/gardenlet/templates/_helpers.tpl
  charts/gardener/gardenlet/values.yaml
  docs/concepts/gardenlet.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/backupentry/add.go
  pkg/gardenlet/controller/backupentry/migration/add.go
  pkg/gardenlet/controller/backupentry/migration/reconciler.go
  pkg/gardenlet/controller/managedseed/charttest/charttest.go
  test/integration/gardenlet/backupentry/migration/migration_suite_test.go
  test/integration/gardenlet/backupentry/migration/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapts backupentry controller folder
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/backupentry/add.go
  pkg/gardenlet/controller/backupentry/add_test.go
  pkg/gardenlet/controller/backupentry/backupentry/add.go
  pkg/gardenlet/controller/backupentry/backupentry_suite_test.go
  pkg/gardenlet/controller/backupentry/reconciler.go
  pkg/gardenlet/controller/backupentry/reconciler_test.go
  test/integration/gardenlet/backupentry/backupentry/backupentry_suite_test.go
  test/integration/gardenlet/backupentry/backupentry/backupentry_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapts backupentry controller documentation
  docs/concepts/gardenlet.md
Due: none

Removes shoot migration reconciler
  charts/gardener/gardenlet/templates/_helpers.tpl
  charts/gardener/gardenlet/values.yaml
  docs/concepts/gardenlet.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/charttest/charttest.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/migration/add.go
  pkg/gardenlet/controller/shoot/migration/reconciler.go
  test/integration/gardenlet/shoot/migration/migration_suite_test.go
  test/integration/gardenlet/shoot/migration/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapts charttest unit tests
  pkg/gardenlet/controller/managedseed/charttest/gardenlet_chart_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Removed request-timeout
  hack/usage/wait-for.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove user tenants logs, adjust testmachinery and rename docker_id label to container_id (#7523)
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/values.yaml
  docs/extensions/logging-and-monitoring.md
  test/testmachinery/shoots/logging/seed_logging_stack.go
  test/testmachinery/shoots/logging/shoot_logging.go
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

webhook remediator documentation
  docs/extensions/webhook-remediator.md
Due: none

Update docs/usage/shoot_status.md
  docs/usage/shoot_status.md
Due: none

integrated link
  docs/extensions/webhook-remediator.md
Due: none

2 #
  docs/extensions/webhook-remediator.md
Due: none

Proofread files (#7483)
  docs/proposals/01-extensibility.md
  docs/proposals/02-backupinfra.md
  docs/proposals/03-networking-extensibility.md
  docs/proposals/04-new-core-gardener-cloud-apis.md
  docs/proposals/05-versioning-policy.md
  docs/proposals/06-etcd-druid.md
  docs/proposals/07-shoot-control-plane-migration.md
  docs/proposals/08-shoot-apiserver-via-sni.md
  docs/proposals/09-test-framework.md
  docs/proposals/10-shoot-additional-container-runtimes.md
  docs/proposals/11-apiserver-network-proxy.md
  docs/proposals/12-oidc-webhook-authenticator.md
  docs/proposals/13-automated-seed-management.md
  docs/proposals/assets/02-backupinfra-migration.svg
  docs/proposals/assets/02-backupinfra-provisioning-sequence-diagram.svg
  docs/proposals/assets/02-backupinfra-provisioning-with-deletion-job.svg
Due: none

Improved the above sentence
  docs/usage/shoot_status.md
Due: none

Add response rewrite to dns-search-path-optimization. (#7478)
  docs/usage/dns-search-path-optimization.md
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_test.go
  plugin/pkg/shoot/dnsrewriting/apis/shootdnsrewriting/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deflake `E2E Operator` test (#7482)
  hack/test-e2e-local.sh
  test/e2e/gardener/shoot/internal/rotation/certificate_authorities.go
  test/e2e/gardener/shoot/internal/rotation/etcd_encryption_key.go
  test/e2e/gardener/shoot/internal/rotation/service_account_key.go
  test/e2e/operator/garden/create_delete.go
  test/e2e/operator/garden/create_rotate_delete.go
  test/e2e/operator/garden/internal/rotation/certificate_authorities.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Removing lines from link
  docs/usage/shoot_status.md
Due: none

Improved existing doc
  docs/extensions/webhook-remediator.md
  docs/usage/shoot_status.md
Due: none

Validate `PodSecurity` kube-apiserver admission plugin config (#7472)
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/utils/validation/admissionplugins/admissionplugins.go
  pkg/utils/validation/admissionplugins/admissionplugins_test.go
  pkg/utils/version/version.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update manifest.yaml (#7489)
  .docforge/manifest.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Support kubeconfigs for admission plugin configurations for `kube-apiserver` (#7498)
  pkg/operation/botanist/component/kubeapiserver/configmaps.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

added even more informations
  docs/usage/shoot_status.md
Due: none

hack/format.sh now supports custom options for goimports-reviser (#7502)
  hack/format.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider all MR in `shoot` namespace in `seed` for health check except one having class seed (#7462)
  docs/extensions/healthcheck-library.md
  docs/extensions/shoot-health-status-conditions.md
  pkg/operation/care/health.go
  test/integration/gardenlet/shoot/care/care_suite_test.go
  test/integration/gardenlet/shoot/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
