Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Extract function to list the KSM resources for the shoot target
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extract function to list the KSM resources for the shoot
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix nitpick format
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Simplify too many if-statements for type shoot
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-26] Cloudprovider secret can contain workload identity data (#10239)
  cmd/gardenlet/app/app.go
  docs/deployment/content/gardenlet_api_access_graph.png
  docs/deployment/gardenlet_api_access.md
  example/gardener-local/controlplane/values.yaml
  example/provider-local/garden/base/credentialsbinding.yaml
  example/provider-local/garden/base/kustomization.yaml
  example/provider-local/garden/local/kustomization.yaml
  example/provider-local/garden/skaffold-dual/kustomization.yaml
  example/provider-local/garden/skaffold-ipv6/kustomization.yaml
  example/provider-local/garden/skaffold-operator/kustomization.yaml
  example/provider-local/garden/skaffold/kustomization.yaml
  pkg/admissioncontroller/webhook/auth/seed/authorizer.go
  pkg/admissioncontroller/webhook/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_credentialsbinding.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
  pkg/admissioncontroller/webhook/auth/seed/graph/vertices.go
  pkg/apis/security/v1alpha1/constants/constants.go
  pkg/controllermanager/controller/credentialsbinding/reconciler.go
  pkg/controllermanager/controller/credentialsbinding/reconciler_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): exclude valitail from renovate updates
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): :ambulance: pin valitail version to 2.2.15 due to glibc dependency
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Pin valitail version to v2.2.15 (#10278)
  .github/renovate.json5
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency credativ/vali to v2.2.17
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update europe-docker.pkg.dev/gardener-project/releases/3rd/credativ/valitail docker tag to v2.2.17
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.20.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): :ambulance: pin valitail version to 2.2.15 due to glibc dependency
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.20.0 (#10281)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Drop deprecated `.spec.pools[].userData` from `extensions.gardener.cloud/v1alpha1.Worker` API"
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/worker.go
  pkg/apis/extensions/validation/worker_test.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase removal deadline to v1.104
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/worker/worker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.100] Pin valitail version to v2.2.15 (#10283)
  .github/renovate.json5
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.101] Pin valitail version to v2.2.15 (#10282)
  .github/renovate.json5
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.99] Pin valitail version to v2.2.15 (#10284)
  .github/renovate.json5
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: exclude valitail updates in renovate
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve the SeedConditionFailing alert when nodes are rolled (#10270)
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/seed.yaml
  pkg/component/observability/monitoring/prometheus/garden/testdata/seed.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Clean up stale unit test. Update detail in Shoot purposes docs (#10276)
  docs/usage/shoot_purposes.md
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve the SeedConditionFailing alert when nodes are rolled out
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/seed.yaml
  pkg/component/observability/monitoring/prometheus/garden/testdata/seed.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Remove one sample too much from the test series
  pkg/component/observability/monitoring/prometheus/garden/testdata/seed.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Deploy admission controller of extensions into virtual and runtime-cluster
  pkg/apis/operator/v1alpha1/types_extension.go
  pkg/operator/controller/extension/add.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  test/integration/operator/extension/extension_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move `extension-virtualcluster` controller to `extension` controller
  example/operator/10-componentconfig.yaml
  pkg/operator/apis/config/types.go
  pkg/operator/apis/config/v1alpha1/types.go
  pkg/operator/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/operator/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/apis/config/zz_generated.deepcopy.go
  pkg/operator/controller/add.go
  pkg/operator/controller/extension/add.go
  pkg/operator/controller/extension/add_test.go
  pkg/operator/controller/extension/extension_suite_test.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  pkg/operator/controller/extension/virtualcluster.go
  skaffold-operator.yaml
  test/integration/operator/extension/extension_suite_test.go
  test/integration/operator/extension/extension_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add admission webhook for provider-local
  charts/gardener/admission-local/charts/application/Chart.yaml
  charts/gardener/admission-local/charts/application/templates/_helpers.tpl
  charts/gardener/admission-local/charts/application/templates/rbac.yaml
  charts/gardener/admission-local/charts/application/templates/serviceaccount.yaml
  charts/gardener/admission-local/charts/application/values.yaml
  charts/gardener/admission-local/charts/runtime/Chart.yaml
  charts/gardener/admission-local/charts/runtime/templates/_helpers.tpl
  charts/gardener/admission-local/charts/runtime/templates/deplyoment.yaml
  charts/gardener/admission-local/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener/admission-local/charts/runtime/templates/rbac.yaml
  charts/gardener/admission-local/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
  charts/gardener/admission-local/charts/runtime/templates/serviceaccount.yaml
  charts/gardener/admission-local/charts/runtime/templates/vpa.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  cmd/gardener-extension-admission-local/app/app.go
  cmd/gardener-extension-admission-local/main.go
  docs/api-reference/provider-local.md
  example/provider-local/garden/operator/extension.yaml
  hack/check-skaffold-deps.sh
  pkg/operator/controller/extension/add.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/provider-local/admission/cmd/options.go
  pkg/provider-local/admission/mutator/mutator_suite_test.go
  pkg/provider-local/admission/mutator/shoot.go
  pkg/provider-local/admission/mutator/shoot_test.go
  pkg/provider-local/admission/mutator/webhook.go
  pkg/provider-local/apis/local/types_controlplane.go
  pkg/provider-local/apis/local/v1alpha1/types_controlplane.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.conversion.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.deepcopy.go
  pkg/provider-local/apis/local/zz_generated.deepcopy.go
  pkg/utils/managedresources/managedresources.go
  skaffold-operator.yaml
  test/e2e/operator/garden/common.go
  test/e2e/operator/garden/create_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename ExpirationTimestamp and generate CreateToken func
  docs/api-reference/security.md
  pkg/apis/security/types_tokenrequest.go
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/types_tokenrequest.go
  pkg/apis/security/v1alpha1/types_workloadidentity.go
  pkg/apis/security/v1alpha1/zz_generated.conversion.go
  pkg/apis/security/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/security/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/security/workloadidentity/storage/tokenrequest.go
  pkg/client/security/clientset/versioned/typed/security/v1alpha1/fake/fake_workloadidentity.go
  pkg/client/security/clientset/versioned/typed/security/v1alpha1/workloadidentity.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.101] Improve the SeedConditionFailing alert when nodes are rolled (#10288)
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/seed.yaml
  pkg/component/observability/monitoring/prometheus/garden/testdata/seed.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Revert "Drop deprecated .spec.pools[].userData from `extensions.gardener.cloud/v1alpha1.Worker` API" (#10285)
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/worker.go
  pkg/apis/extensions/validation/worker_test.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

operatingsystemconfig: oscHashV2 merge kubeReserved and systemReserved
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.101] Revert "Drop deprecated .spec.pools[].userData from `extensions.gardener.cloud/v1alpha1.Worker` API" (#10289)
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/worker.go
  pkg/apis/extensions/validation/worker_test.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Calculate http2 timeouts depending on nodeMonitorGracePeriod.
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add containerd conf for garden.local.gardener.cloud for shoot machine pod
  hack/push-helm.sh
  pkg/provider-local/webhook/controlplane/ensurer.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
