Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Adapt kube-proxy
  pkg/component/kubernetes/proxy/mock/mocks.go
  pkg/component/kubernetes/proxy/proxy.go
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/kubernetes/proxy/resources.go
  pkg/gardenlet/operation/botanist/kubeproxy.go
  pkg/gardenlet/operation/botanist/kubeproxy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt nodelocaldns
  pkg/component/networking/nodelocaldns/mock/doc.go
  pkg/component/networking/nodelocaldns/mock/mocks.go
  pkg/component/networking/nodelocaldns/nodelocaldns.go
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/gardenlet/operation/botanist/nodelocaldns.go
  pkg/gardenlet/operation/botanist/nodelocaldns_test.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt kube-apiserver
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/kubernetes/apiserver/mock/mocks.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt coredns
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/networking/coredns/mock/mocks.go
  pkg/gardenlet/operation/botanist/coredns.go
  pkg/gardenlet/operation/botanist/coredns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt kube-apiserver service
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extract networking status from infrastructure to shoot status
  extensions/pkg/controller/shoot.go
  pkg/component/extensions/infrastructure/infrastructure.go
  pkg/component/extensions/infrastructure/infrastructure_test.go
  pkg/component/extensions/infrastructure/mock/mocks.go
  pkg/gardenlet/operation/botanist/infrastructure.go
  pkg/gardenlet/operation/botanist/infrastructure_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt kube-controller-manager
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/component/kubernetes/controllermanager/mock/mocks.go
  pkg/component/shared/kubecontrollermanager.go
  pkg/gardenlet/operation/botanist/kubecontrollermanager.go
  pkg/gardenlet/operation/botanist/kubecontrollermanager_test.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt gardenlet internal networking structs to allow multiple ranges per type
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_migrate.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/infrastructure.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/shoot_test.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt vpnseedserver
  pkg/component/networking/vpn/seedserver/mock/mocks.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnseedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt network crd deployment
  pkg/component/extensions/network/mock/doc.go
  pkg/component/extensions/network/mock/mocks.go
  pkg/component/extensions/network/network.go
  pkg/component/extensions/network/network_test.go
  pkg/component/extensions/operatingsystemconfig/mock/mocks.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
  pkg/component/shoot/system/system.go
  pkg/component/shoot/system/system_test.go
  pkg/gardenlet/operation/botanist/migration_test.go
  pkg/gardenlet/operation/botanist/network.go
  pkg/gardenlet/operation/botanist/network_test.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig_test.go
  pkg/gardenlet/operation/botanist/shootsystem.go
  pkg/gardenlet/operation/botanist/shootsystem_test.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt network policy controller
  pkg/controller/networkpolicy/reconciler.go
  pkg/gardenlet/controller/networkpolicy/add.go
  pkg/operator/controller/add.go
  test/integration/gardenlet/networkpolicy/networkpolicy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt gardenlet network policy controller predicate
  pkg/gardenlet/controller/networkpolicy/add.go
  pkg/gardenlet/controller/networkpolicy/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt additional botanist tests
  pkg/gardenlet/operation/botanist/plutono_test.go
  pkg/gardenlet/operation/botanist/vpnshoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt provider-local to write Infrastructure.Status.Networking
  pkg/provider-local/controller/infrastructure/actuator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adjust seed/shoot network disjointness checks.
  pkg/scheduler/controller/shoot/reconciler.go
  pkg/utils/validation/cidr/disjoint.go
  pkg/utils/validation/cidr/disjoint_test.go
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt cluster autoscaler.
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/mock/mocks.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
  pkg/gardenlet/operation/botanist/clusterautoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt hibernation check of endpoints
  pkg/gardenlet/operation/botanist/waiter.go
  pkg/gardenlet/operation/botanist/waiter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.4
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

use a CA issuer for garden e2e test
  test/e2e/operator/garden/common.go
  test/e2e/operator/garden/create_delete.go
  test/e2e/operator/garden/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Scrape vpa-admission-controller
  pkg/component/autoscaling/vpa/admissioncontroller.go
  pkg/component/autoscaling/vpa/general.go
  pkg/component/autoscaling/vpa/recommender.go
  pkg/component/autoscaling/vpa/updater.go
  pkg/component/autoscaling/vpa/vpa.go
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix regex for service discovery of vpn-seedserver.
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency envoyproxy/envoy to v1.30.3 (#10031)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Adjust the remote local setup configuration
  docs/deployment/content/remote-local-setup.yaml
Due: none

make format
  test/e2e/operator/garden/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Don't deploy Reversed VPN Envoy Proxy dashboard in HA case.
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/vpn-seed-server/envoy-proxy/envoy-proxy-dashboard.json
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus/common to v0.55.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments.
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/observability/plutono/plutono.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/logging to v0.55.7 (#9993)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.75.0
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.4 (#10032)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.27.4 (#10039)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix regex for service discovery of vpn-seedserver. (#10035)
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/vpn-seed-server/envoy-proxy/envoy-proxy-dashboard.json
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adding basics section
  docs/usage/basics/_index.md
  docs/usage/basics/basic-configuration.md
  docs/usage/basics/creating-shoot.md
  docs/usage/basics/projects.md
  docs/usage/basics/service-account-manager.md
  docs/usage/basics/shoot_access.md
  docs/usage/basics/shoot_info_configmap.md
  docs/usage/basics/supported_k8s_versions.md
Due: none

Adding dns section
  docs/usage/dns/custom-dns-config.md
  docs/usage/dns/dns-search-path-optimization.md
  docs/usage/dns/node-local-dns.md
Due: none

Adding shoot_settings section
  docs/operations/default_seccomp_profile_seed.md
  docs/usage/basics/_index.md
  docs/usage/shoot_settings/_index.md
  docs/usage/shoot_settings/default_seccomp_profile.md
  docs/usage/shoot_settings/dns-autoscaling.md
  docs/usage/shoot_settings/etcd_encryption_config.md
  docs/usage/shoot_settings/node-local-dns.md
  docs/usage/shoot_settings/pod-security.md
  docs/usage/shoot_settings/shoot_autoscaling.md
  docs/usage/shoot_settings/shoot_hibernate.md
  docs/usage/shoot_settings/shoot_high_availability.md
  docs/usage/shoot_settings/shoot_maintenance.md
  docs/usage/shoot_settings/shoot_networking.md
  docs/usage/shoot_settings/shoot_purposes.md
  docs/usage/shoot_settings/shoot_scheduling_profiles.md
  docs/usage/shoot_settings/shoot_serviceaccounts.md
  docs/usage/shoot_settings/shoot_supported_architectures.md
  docs/usage/shoot_settings/shoot_workerless.md
  docs/usage/shoot_settings/shoot_workers_settings.md
  docs/usage/shoot_supported_architectures.md
Due: none

Adding operating_through_annotations section
  docs/usage/operating_through_annotations/_index.md
  docs/usage/operating_through_annotations/shoot_credentials_rotation.md
  docs/usage/operating_through_annotations/shoot_operations.md
Due: none

Adding nessesary_considerations section
  docs/usage/dns/_index.md
  docs/usage/nessesary_considerations/_index.md
  docs/usage/nessesary_considerations/csi_components.md
  docs/usage/nessesary_considerations/exposureclasses.md
  docs/usage/nessesary_considerations/node-readiness.md
  docs/usage/nessesary_considerations/shoot_auditpolicy.md
  docs/usage/nessesary_considerations/shoot_cleanup.md
  docs/usage/nessesary_considerations/shoot_kubernetes_service_host_injection.md
  docs/usage/nessesary_considerations/tolerations.md
Due: none

Adding containerd section
  docs/usage/containerd/_index.md
  docs/usage/containerd/containerd-registry-configuration.md
  docs/usage/containerd/custom-containerd-config.md
Due: none

Modifying remaining files
  docs/development/ipv6.md
  docs/operations/reversed-vpn-tunnel.md
  docs/operations/trusted-tls-for-control-planes.md
  docs/operations/trusted-tls-for-garden-runtime.md
  docs/usage/control-plane-endpoints-and-ports.md
  docs/usage/logging.md
  docs/usage/openidconnect-presets.md
  docs/usage/shoot_high_availability_best_practices.md
  docs/usage/shoot_status.md
Due: none
