Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.18
      command:
      - make
      args:
      - check-apidiff

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Add configuration to disable forwarding DNS queries for external domains by NodeLocalDNS. (#6942)
  docs/api-reference/core.md
  docs/usage/custom-dns-config.md
  docs/usage/node-local-dns.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/nodelocaldns/nodelocaldns.go
  pkg/operation/botanist/component/nodelocaldns/nodelocaldns_test.go
  pkg/operation/botanist/nodelocaldns.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix link to custom coredns configmap
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressed PR review comment
  Makefile
  example/gardener-local/kind-ha-multi-zone/cluster-local.yaml
  example/gardener-local/kind-ha-single-zone/cluster-local.yaml
  hack/ci-e2e-kind-ha-multi-zone.sh
  hack/ci-e2e-kind-ha-single-zone.sh
  skaffold.yaml
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix link to custom coredns configmap (#6970)
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Bump networking-calico extension version for local setup
  example/provider-local/garden/base/patch-controller-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Remove operation annotation in the apiserver
  pkg/gardenlet/controller/backupbucket/reconciler.go
  pkg/registry/core/backupbucket/strategy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add E2e HA tests (#6910)
  Makefile
  example/gardener-local/gardenlet/values-kind-ha-multi-zone.yaml
  example/gardener-local/gardenlet/values-kind-ha-single-zone.yaml
  example/gardener-local/kind-ha-multi-zone/.gitignore
  example/gardener-local/kind-ha-multi-zone/cluster-local.yaml
  example/gardener-local/kind-ha-multi-zone/cluster-skaffold.yaml
  example/gardener-local/kind-ha-single-zone/.gitignore
  example/gardener-local/kind-ha-single-zone/cluster-local.yaml
  example/gardener-local/kind-ha-single-zone/cluster-skaffold.yaml
  example/provider-local/seed-kind-ha-multi-zone/base/.gitignore
  example/provider-local/seed-kind-ha-multi-zone/base/kustomization.yaml
  example/provider-local/seed-kind-ha-multi-zone/local/kustomization.yaml
  example/provider-local/seed-kind-ha-multi-zone/local/seed.yaml
  example/provider-local/seed-kind-ha-multi-zone/skaffold/kustomization.yaml
  example/provider-local/seed-kind-ha-single-zone/base/.gitignore
  example/provider-local/seed-kind-ha-single-zone/base/kustomization.yaml
  example/provider-local/seed-kind-ha-single-zone/local/kustomization.yaml
  example/provider-local/seed-kind-ha-single-zone/local/seed.yaml
  example/provider-local/seed-kind-ha-single-zone/skaffold/kustomization.yaml
  hack/ci-e2e-kind-ha-multi-zone.sh
  hack/ci-e2e-kind-ha-single-zone.sh
  hack/test-e2e-local.sh
  pkg/provider-local/webhook/controlplane/add.go
  pkg/provider-local/webhook/controlplane/ensurer.go
  skaffold.yaml
  test/e2e/shoot/upgrade_non-ha_to_node.go
  test/e2e/shoot/upgrade_non-ha_to_zone.go
  test/utils/shoots/update/highavailability/upgrade.go
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Bump networking-calico extension version for local setup (#6971)
  example/provider-local/garden/base/patch-controller-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Removes owner checks from extension reconcilatiations
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Upgrade etcd-druid (#6955)"
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Revert "Upgrade etcd-druid (#6955)" (#6974)
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Deflake integration tests
  pkg/gardenlet/controller/backupbucket/reconciler.go
  test/integration/gardenlet/backupbucket/backupbucket_suite_test.go
  test/integration/gardenlet/backupbucket/backupbucket_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

prevent containerd-monitoring script from killing containerd-shims (#6696)
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/templates/scripts/health-monitor.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Removes unused owner check code
  extensions/pkg/controller/cluster.go
  extensions/pkg/controller/common/checkerwatchdog.go
  extensions/pkg/controller/common/checkerwatchdog_test.go
  extensions/pkg/controller/common/checkerwatchdogfactory.go
  extensions/pkg/controller/common/checkerwatchdogfactory_test.go
  extensions/pkg/controller/common/mock/doc.go
  extensions/pkg/controller/common/mock/mocks.go
  extensions/pkg/controller/common/ownerchecker.go
  extensions/pkg/controller/common/ownerchecker_test.go
  extensions/pkg/controller/common/ownercheckerfactory.go
  extensions/pkg/controller/common/ownercheckerfactory_test.go
  extensions/pkg/controller/common/watchdogmanager.go
  extensions/pkg/controller/common/watchdogmanager_test.go
  pkg/extensions/owner.go
  pkg/extensions/owner_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[gardenlet] Switch `BackupBucket` controller to controller-runtime (#6837)
  cmd/gardenlet/app/app.go
  docs/concepts/gardenlet.md
  pkg/api/indexer/core.go
  pkg/api/indexer/core_test.go
  pkg/apis/core/field_constants.go
  pkg/apis/core/v1beta1/conversions.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/controllerutils/eventhandler.go
  pkg/controllerutils/eventhandler_test.go
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/miscellaneous_test.go
  pkg/controllerutils/predicate/predicate.go
  pkg/controllerutils/predicate/predicate_test.go
  pkg/controllerutils/seedfilter.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/backupbucket/add.go
  pkg/gardenlet/controller/backupbucket/add_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_controller.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupbucket/backupbucket_suite_test.go
  pkg/gardenlet/controller/backupbucket/reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry.go
  pkg/gardenlet/controller/backupentry/backup_entry_controller.go
  pkg/gardenlet/controller/backupentry/backup_entry_migration_controller.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/factory.go
  pkg/registry/core/backupbucket/strategy.go
  pkg/registry/core/backupentry/storage/storage.go
  pkg/registry/core/backupentry/strategy.go
  pkg/registry/core/backupentry/strategy_test.go
  skaffold.yaml
  test/integration/gardenlet/backupbucket/backupbucket_suite_test.go
  test/integration/gardenlet/backupbucket/backupbucket_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix gardenlet metrics scraping
  charts/gardener/gardenlet/templates/deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix gardenlet metrics scraping (#6979)
  charts/gardener/gardenlet/templates/deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix gardenlet metrics scraping (#6981)
  charts/gardener/gardenlet/templates/deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix gardenlet metrics scraping
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Use prow-friendly label commands in `cherry-pick-pull.sh`
  hack/cherry-pick-pull.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix gardenlet metrics scraping (#6984)
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix gardenlet metrics scraping (#6985)
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Format istiod.go
  pkg/operation/botanist/component/istio/istiod.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Removes setting owner checks on etcd resources
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/mock/mocks.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use prow-friendly label commands in `cherry-pick-pull.sh` (#6986)
  hack/cherry-pick-pull.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add new document about high availability conventions
  docs/README.md
  docs/development/high-availability.md
Due: none

Adapt shoot controller to properly label/annotate `kube-system` namespace
  docs/development/high-availability.md
  pkg/operation/botanist/component/namespaces/namespaces.go
  pkg/operation/botanist/component/namespaces/namespaces_test.go
  pkg/operation/botanist/namespaces.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable new webhook in `resourcemanager` component
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Shoot controller considers currently in-use zones when annotating seed namespace
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `gardenlet` to match seed component conventions
  charts/gardener/gardenlet/templates/_helpers.tpl
  charts/gardener/gardenlet/templates/deployment.yaml
  charts/gardener/gardenlet/templates/poddisruptionbudget.yaml
  charts/gardener/gardenlet/values.yaml
  docs/api-reference/seedmanagement.md
  example/55-managedseed-gardenlet.yaml
  example/gardener-local/gardenlet/values-kind-ha-multi-zone.yaml
  example/gardener-local/gardenlet/values-kind-ha-single-zone.yaml
  example/gardener-local/gardenlet/values.yaml
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/charttest/charttest.go
  pkg/gardenlet/controller/managedseed/charttest/gardenlet_chart_test.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add boilerplate for integration test
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_suite_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mutate replicas
  docs/concepts/resource-manager.md
  pkg/resourcemanager/webhook/highavailabilityconfig/handler.go
  pkg/utils/kubernetes/highavailability.go
  pkg/utils/kubernetes/highavailability_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable `podtopologyspreadconstraints` webhook for shoot
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  test/integration/resourcemanager/podtopologyspreadconstraints/podtopologyspreadconstraints_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt shoot controller to properly label/annotate seed namespace
  docs/development/high-availability.md
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop manual TSC configuration for `kube-apiserver`
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Specify zones for local kind clusters
  example/gardener-local/controlplane/values.yaml
  example/gardener-local/gardenlet/values.yaml
  example/gardener-local/kind/cluster-local.yaml
  example/gardener-local/kind/cluster-skaffold.yaml
  example/gardener-local/kind2/cluster-local.yaml
  example/gardener-local/kind2/cluster-skaffold.yaml
  example/provider-local/seed-kind/local/seed.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Mutate node affinity
  docs/concepts/resource-manager.md
  pkg/resourcemanager/webhook/highavailabilityconfig/handler.go
  pkg/utils/kubernetes/highavailability.go
  pkg/utils/kubernetes/highavailability_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
