Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.18
      command:
      - make
      args:
      - check-apidiff

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Add documentation for migration reconciler
  docs/concepts/gardenlet.md
Due: none

[Nit] Streamline `clock` defaulting
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/bastion/add.go
  pkg/controllermanager/controller/event/add.go
  pkg/controllermanager/controller/project/activity/add.go
  pkg/controllermanager/controller/project/add.go
  pkg/controllermanager/controller/project/stale/add.go
  pkg/controllermanager/controller/seed/add.go
  pkg/controllermanager/controller/seed/backupbucketscheck/add.go
  pkg/controllermanager/controller/seed/extensionscheck/add.go
  pkg/controllermanager/controller/seed/lifecycle/add.go
  pkg/controllermanager/controller/shoot/add.go
  pkg/controllermanager/controller/shoot/hibernation/add.go
  pkg/controllermanager/controller/shoot/quota/add.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/backupbucket/add.go
  pkg/gardenlet/controller/backupentry/add.go
  pkg/gardenlet/controller/backupentry/backupentry/add.go
  pkg/gardenlet/controller/backupentry/migration/add.go
  pkg/gardenlet/controller/bastion/add.go
  pkg/gardenlet/controller/seed/add.go
  pkg/gardenlet/controller/seed/lease/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make `IsBeingMigratedPredicate` in `BackupEntry` migration package reuseable
  pkg/controllerutils/predicate/predicate.go
  pkg/controllerutils/predicate/predicate_test.go
  pkg/gardenlet/controller/backupentry/migration/add.go
  pkg/gardenlet/controller/backupentry/migration/add_test.go
  pkg/gardenlet/controller/backupentry/migration/migration_suite_test.go
  pkg/gardenlet/controller/backupentry/migration/reconciler.go
  pkg/utils/gardener/migration.go
  pkg/utils/gardener/migration_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration test for migration reconciler
  pkg/controllerutils/seedfilter.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_migration_control.go
  test/integration/gardenlet/shoot/migration/migration_suite_test.go
  test/integration/gardenlet/shoot/migration/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix fetching zones from the PV spec (#7066)
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix fetching zones from the PV spec
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/concepts/gardenlet.md
  pkg/controllerutils/predicate/predicate.go
  pkg/controllerutils/predicate/predicate_test.go
  pkg/gardenlet/controller/shoot/migration/reconciler.go
  pkg/utils/gardener/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Switch migration reconciler to native controller-runtime
  pkg/controllerutils/seedfilter.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/migration/add.go
  pkg/gardenlet/controller/shoot/migration/reconciler.go
  pkg/gardenlet/controller/shoot/shoot.go
  skaffold.yaml
  test/integration/gardenlet/shoot/migration/migration_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix fetching zones from the PV spec (#7068)
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix TopologySpreadConstraints for existing clusters
  pkg/utils/kubernetes/highavailability.go
  pkg/utils/kubernetes/highavailability_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove custom rate limiter
  pkg/gardenlet/controller/shoot/migration/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix TopologySpreadConstraints for existing clusters (#7070)
  pkg/utils/kubernetes/highavailability.go
  pkg/utils/kubernetes/highavailability_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix TopologySpreadConstraints for existing clusters (#7071)
  pkg/utils/kubernetes/highavailability.go
  pkg/utils/kubernetes/highavailability_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.60.1
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.60.2-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove misleading ExpectWithOffset in e2e test
  test/utils/shoots/update/highavailability/upgrade.go
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Upgrade fluent-bit-plugin-installer
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade loki-curator
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade telegraf
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade event-logger
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Remove misleading ExpectWithOffset in e2e test (#7072)
  test/utils/shoots/update/highavailability/upgrade.go
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[gardenlet] Switch `Shoot` migration controller to controller-runtime (#7062)
  docs/concepts/gardenlet.md
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/bastion/add.go
  pkg/controllermanager/controller/event/add.go
  pkg/controllermanager/controller/project/activity/add.go
  pkg/controllermanager/controller/project/add.go
  pkg/controllermanager/controller/project/stale/add.go
  pkg/controllermanager/controller/seed/add.go
  pkg/controllermanager/controller/seed/backupbucketscheck/add.go
  pkg/controllermanager/controller/seed/lifecycle/add.go
  pkg/controllermanager/controller/shoot/add.go
  pkg/controllermanager/controller/shoot/hibernation/add.go
  pkg/controllermanager/controller/shoot/quota/add.go
  pkg/controllerutils/predicate/predicate.go
  pkg/controllerutils/predicate/predicate_test.go
  pkg/controllerutils/seedfilter.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/backupbucket/add.go
  pkg/gardenlet/controller/backupentry/backupentry/add.go
  pkg/gardenlet/controller/backupentry/migration/add.go
  pkg/gardenlet/controller/backupentry/migration/add_test.go
  pkg/gardenlet/controller/backupentry/migration/migration_suite_test.go
  pkg/gardenlet/controller/backupentry/migration/reconciler.go
  pkg/gardenlet/controller/bastion/add.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/add.go
  pkg/gardenlet/controller/seed/lease/add.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/migration/add.go
  pkg/gardenlet/controller/shoot/migration/reconciler.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/utils/gardener/migration.go
  pkg/utils/gardener/migration_test.go
  skaffold.yaml
  test/integration/gardenlet/shoot/migration/migration_suite_test.go
  test/integration/gardenlet/shoot/migration/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Upgrade alpine-iptables
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade apiserver-proxy-sidecar
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade apiserver-proxy-pod-webhook
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade alpine-iptables (#7077)
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Upgrade fluent-bit-plugin-installer (#7073)
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Deflake Bastion integration test
  test/integration/controllermanager/bastion/bastion_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Refine high availability documentation
  docs/development/high-availability.md
Due: none

Add missing e2e domain names to be added to /etc/hosts for local setup.
  docs/deployment/content/remote-local-setup.yaml
  docs/deployment/getting_started_locally.md
Due: none

Switch main Shoot controller to native controller-runtime
  cmd/gardenlet/app/app.go
  pkg/controllerutils/predicate/predicate.go
  pkg/controllerutils/predicate/predicate_test.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/backupentry/backupentry/add.go
  pkg/gardenlet/controller/backupentry/backupentry/add_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot/add.go
  pkg/gardenlet/controller/shoot/shoot/add_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_migrate.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile_test.go
  pkg/gardenlet/controller/shoot/shoot/shoot_suite_test.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add documentation for shoot controller
  docs/concepts/controller-manager.md
  docs/concepts/gardenlet.md
  docs/concepts/operator.md
Due: none

Move `Get*SeedNames` functions to `utils/gardener` package
  pkg/gardenlet/controller/backupentry/migration/add.go
  pkg/gardenlet/controller/backupentry/migration/reconciler.go
  pkg/gardenlet/controller/shoot/migration/add.go
  pkg/gardenlet/controller/shoot/migration/reconciler.go
  pkg/utils/gardener/backupentry.go
  pkg/utils/gardener/backupentry_test.go
  pkg/utils/gardener/migration.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Reorder method order based on sophisticated criteria
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Simplify shoot reconciliation logic
  pkg/controllerutils/predicate/predicate.go
  pkg/gardenlet/controller/backupentry/backupentry/reconciler.go
  pkg/gardenlet/controller/backupentry/backupentry/reconciler_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_migrate.go
  pkg/utils/gardener/migration.go
  pkg/utils/gardener/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move reconciliation due tracker to dedicated file
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/tracker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix flaky BackupBucket Controller test
  test/integration/extensions/controller/backupbucket/actuator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add missing e2e domain names to be added to /etc/hosts for local setup. (#7081)
  docs/deployment/content/remote-local-setup.yaml
  docs/deployment/getting_started_locally.md
Due: none

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
