Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

ignore lint errors
  extensions/pkg/webhook/remote_addr.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Skip unnecessarily call to retrieve the WorkloadIdentity
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix test
  pkg/component/etcd/etcd/waiter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move dns check to separate function
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/controllermanager/controller/exposureclass/reconciler.go
  pkg/utils/errors/errors_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/ext-authz-server to v0.10.0 (#10321)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix typo
  pkg/gardenlet/apis/config/v1alpha1/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement CredentialsBindingReferenceCleaner controller
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/component/gardener/controllermanager/configmaps.go
  pkg/component/gardener/controllermanager/controller_manager_test.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/credentialsbinding/referencecleaner/add.go
  pkg/controllermanager/controller/credentialsbinding/referencecleaner/reconciler.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Restructure credentials binding conroller directories
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/credentialsbinding/add.go
  pkg/controllermanager/controller/credentialsbinding/credentialsbinding/add.go
  pkg/controllermanager/controller/credentialsbinding/credentialsbinding/credentialsbinding_suite_test.go
  pkg/controllermanager/controller/credentialsbinding/credentialsbinding/reconciler.go
  pkg/controllermanager/controller/credentialsbinding/credentialsbinding/reconciler_test.go
  skaffold-operator.yaml
  skaffold.yaml
  test/integration/controllermanager/credentialsbinding/credentialsbinding/credentialsbinding_suite_test.go
  test/integration/controllermanager/credentialsbinding/credentialsbinding/credentialsbinding_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance documentation with info for CredentialsBinding
  docs/concepts/controller-manager.md
Due: none

Add unit tests
  pkg/controllermanager/controller/credentialsbinding/referencecleaner/reconciler_test.go
  pkg/controllermanager/controller/credentialsbinding/referencecleaner/referencecleaner_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration tests
  test/integration/controllermanager/credentialsbinding/referencecleaner/referencecleaner_suite_test.go
  test/integration/controllermanager/credentialsbinding/referencecleaner/referencecleaner_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add documentation for CredentialsBinding and CredentialsBindingReferenceCleaner controllers
  docs/concepts/controller-manager.md
Due: none

Rework `.spec.kubernetes.kubelet.systemReserved` deprecation in `Shoot` API (#10290)
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  docs/usage/shoot_high_availability_best_practices.md
  docs/usage/shoot_updates.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kubernetes/kubernetes to v1.31.0 (#10320)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add flatcar support for update-local-ca-certificates.sh
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/templates/scripts/update-local-ca-certificates.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update unit tests for update-local-ca-certificates.sh
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[extensions] Add option to disable all webhooks
  extensions/pkg/webhook/cmd/options.go
  extensions/pkg/webhook/cmd/options_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix/Add CABundle handling for flatcar (#10303)
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/templates/scripts/update-local-ca-certificates.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Get the most recent version of resource before removing finalizer
  test/integration/controllermanager/credentialsbinding/referencecleaner/referencecleaner_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.101] Fix/Add CABundle handling for flatcar (#10328)
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/templates/scripts/update-local-ca-certificates.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.100] Fix/Add CABundle handling for flatcar (#10329)
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/templates/scripts/update-local-ca-certificates.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.76.0
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update prometheus-operator images to v0.76.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

`garden{er-operator,let}` deploy their own VPA
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/utils/gardener/vpa.go
  pkg/utils/gardener/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt integration tests
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/garden/garden/garden_suite_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deprecate `.spec.deployment.vpa` field in `ManagedSeed` and `Gardenlet` APIs
  docs/api-reference/seedmanagement.md
  example/55-gardenlet.yaml
  example/55-managedseed-gardenlet.yaml
  example/operator/30-gardenlet.yaml
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_gardenlet_test.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop VPA from `gardenlet` Helm chart
  charts/gardener/gardenlet/templates/configmap-selfupgrade-config.yaml
  charts/gardener/gardenlet/templates/vpa.yaml
  charts/gardener/gardenlet/test/chart_test.go
  charts/gardener/gardenlet/test/test.go
  charts/gardener/gardenlet/values.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  charts/gardener/gardenlet/test/chart_test.go
  pkg/controller/gardenletdeployer/actuator_test.go
  pkg/controller/gardenletdeployer/valueshelper_test.go
  pkg/utils/gardener/vpa.go
  pkg/utils/gardener/vpa_test.go
  test/integration/gardenlet/gardenlet/gardenlet_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
  test/integration/operator/gardenlet/gardenlet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.99] Fix/Add CABundle handling for flatcar (#10330)
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/templates/scripts/update-local-ca-certificates.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Migrate VPA metrics to CustomResourceState metrics and upgrade `kube-state-metrics` to `v2.13.0` (#9941)
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/observability/monitoring/kubestatemetrics/customresourcestate.go
  pkg/component/observability/monitoring/kubestatemetrics/customresourcestate_test.go
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics_test.go
  pkg/component/observability/monitoring/kubestatemetrics/resources.go
  pkg/component/observability/monitoring/kubestatemetrics/testdata/custom-resource-state.expectation.yaml
  pkg/component/observability/monitoring/prometheus/shoot/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/shoot/scrapeconfigs_test.go
  pkg/component/observability/plutono/dashboards/common/vpa/vpa-dashboard.json
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/kubestatemetrics.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus/client_golang to v1.20.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
