Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Notes added by 'git notes add'
  ec/4f782c99813450662dc3bdcb7fa50698d687e3
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  28/24f2469fd54cf9efca10d580a812dca35abad7
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  a6/8e11ff6d03f80f0aaff4f4c225255c1fe93ceb
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  8d/81563f60891bdfb0947b05e6216ffd1635cfe3
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  d4/a81d8d36980282c5c5d47cd24134f797aeae53
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  46/16d562144f1d7a09546eccea0732d6f68732bf
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  b4/042f7fcf05978d2d81920e5d54c4044156c3a9
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  f1/c5fc5d855dde57188a73aacd924d69449fccd9
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  d8/67170734616369ac6ba73285a5f8748290b405
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  1d/c6f3f0a66d4372015afd4caa55b09bdad63e3f
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  10/b0bc72bfdc8d097226fddf6427320fb655fbfe
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  a4/9bda925ec42a0f378a802c69247f63d1bd4db1
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  a5/91107f123739c368c9049f6b26ba3ab3f3b6bc
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  72/6d9cf849807ae7e8b9f2c0362f8ee6570a1951
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  49/bf6e323b4f9a5b00849e940f02f4ff0dba8c6d
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  fe/3829668b89988e510a986469a5beca58f5c49d
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  d5/55d17423eb5f0a16e31d1c2b06ae7d17623848
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  3a/a7fa4f93732bb45e280d0ecb788bce040cadc8
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Development Cycle v1.102.1-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Release v1.99.4
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

fix(deps): update module github.com/prometheus/client_golang to v1.20.2
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove temporary test secret
  example/provider-local/garden/base/credentialsbinding.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to 9b4947d
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove temporary test secret (#10348)
  example/provider-local/garden/base/credentialsbinding.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update k8s.io/utils digest to f90d014 (#10370)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to 9b4947d (#10379)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency golangci/golangci-lint to v1.60.3 (#10382)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce golang-test image for Go 1.23 and remove the Go 1.21 version
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency googlecontainertools/skaffold to v2.13.2 (#10377)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Trim admission chart
  charts/gardener/admission-local/charts/application/Chart.yaml
  charts/gardener/admission-local/charts/application/templates/rbac.yaml
  charts/gardener/admission-local/charts/application/templates/serviceaccount.yaml
  charts/gardener/admission-local/charts/application/values.yaml
  charts/gardener/admission-local/charts/runtime/Chart.yaml
  charts/gardener/admission-local/charts/runtime/templates/deplyoment.yaml
  charts/gardener/admission-local/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener/admission-local/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
  charts/gardener/admission-local/charts/runtime/templates/vpa.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove disable admission annotation
  hack/operator-seed-down.sh
  pkg/operator/controller/extension/add.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  test/e2e/operator/garden/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Pass `PriorityClassName`
  pkg/operator/controller/extension/runtimecluster.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address minor changes
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  pkg/provider-local/admission/mutator/mutator_suite_test.go
  pkg/provider-local/admission/mutator/shoot.go
  pkg/provider-local/apis/local/types_controlplane.go
  test/integration/operator/extension/extension_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revise condition handling
  pkg/apis/operator/v1alpha1/types_extension.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  test/integration/operator/extension/extension_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Pre-factor injection of Kubeconfig
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler_export_test.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler_test.go
  pkg/utils/gardener/garden.go
  pkg/utils/gardener/garden_test.go
  pkg/utils/gardener/secret_test.go
  pkg/utils/gardener/secrets.go
  pkg/utils/gardener/secrets_test.go
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adjust handling to `ControllerInstallation`
  charts/gardener/admission-local/charts/application/templates/rbac.yaml
  charts/gardener/admission-local/charts/application/values.yaml
  charts/gardener/admission-local/charts/runtime/templates/deplyoment.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  cmd/gardener-extension-admission-local/app/app.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance integration test
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  test/integration/operator/extension/extension_suite_test.go
  test/integration/operator/extension/extension_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce golang-test image for Go 1.23 and remove the Go 1.21 version (#10388)
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/containerd/containerd to v1.7.21
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/containerd/containerd to v1.7.21 (#10391)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
