Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Apply review comments for docs
  docs/operations/control_plane_migration.md
Due: none

Revert change to backupentry reconciler
  pkg/gardenlet/controller/backupentry/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply review comments for var renaming
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow control plane migration across seeds w/ different provider types
  docs/operations/control_plane_migration.md
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/controllermanager/controller/controllerregistration/seed/reconciler_test.go
  pkg/gardenlet/controller/backupentry/reconciler.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency golangci/golangci-lint to v1.60.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make CredentialsBinding.CredentialsRef immutable
  docs/api-reference/security.md
  pkg/apis/security/types_credentialsbinding.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/types_credentialsbinding.go
  pkg/apis/security/validation/credentialsbinding.go
  pkg/apis/security/validation/credentialsbinding_test.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency golangci/golangci-lint to v1.60.2 (#10361)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make shoot.spec.credentialsBindingName mutable
  docs/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix operator-seed-down
  hack/operator-seed-down.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add admission webhook for provider-local
  charts/gardener/admission-local/charts/application/Chart.yaml
  charts/gardener/admission-local/charts/application/templates/_helpers.tpl
  charts/gardener/admission-local/charts/application/templates/rbac.yaml
  charts/gardener/admission-local/charts/application/templates/serviceaccount.yaml
  charts/gardener/admission-local/charts/application/values.yaml
  charts/gardener/admission-local/charts/runtime/Chart.yaml
  charts/gardener/admission-local/charts/runtime/templates/_helpers.tpl
  charts/gardener/admission-local/charts/runtime/templates/deplyoment.yaml
  charts/gardener/admission-local/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener/admission-local/charts/runtime/templates/rbac.yaml
  charts/gardener/admission-local/charts/runtime/templates/secret-kubeconfig.yaml
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
  charts/gardener/admission-local/charts/runtime/templates/serviceaccount.yaml
  charts/gardener/admission-local/charts/runtime/templates/vpa.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  cmd/gardener-extension-admission-local/app/app.go
  cmd/gardener-extension-admission-local/main.go
  docs/api-reference/provider-local.md
  example/provider-local/garden/operator/extension.yaml
  hack/check-skaffold-deps.sh
  pkg/operator/controller/extension/add.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/provider-local/admission/cmd/options.go
  pkg/provider-local/admission/mutator/mutator_suite_test.go
  pkg/provider-local/admission/mutator/shoot.go
  pkg/provider-local/admission/mutator/shoot_test.go
  pkg/provider-local/admission/mutator/webhook.go
  pkg/provider-local/apis/local/types_controlplane.go
  pkg/provider-local/apis/local/v1alpha1/types_controlplane.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.conversion.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.deepcopy.go
  pkg/provider-local/apis/local/zz_generated.deepcopy.go
  pkg/utils/managedresources/managedresources.go
  skaffold-operator.yaml
  test/e2e/operator/garden/common.go
  test/e2e/operator/garden/create_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deploy admission controller of extensions into virtual and runtime-cluster
  pkg/apis/operator/v1alpha1/types_extension.go
  pkg/operator/controller/extension/add.go
  pkg/operator/controller/extension/reconciler.go
  pkg/operator/controller/extension/reconciler_test.go
  pkg/operator/controller/extension/runtimecluster.go
  pkg/operator/controller/extension/virtualcluster.go
  test/integration/operator/extension/extension_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow quota scope to reference WorkloadIdentity (#10346)
  docs/api-reference/core.md
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_quota.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_quota.go
  pkg/apis/core/validation/quota.go
  pkg/apis/core/validation/quota_test.go
  pkg/apiserver/openapi/openapi_generated.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Only allow migration to CredentialsBinding when the referenced Secret is preserved
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update CA image for k8s v1.25 and v1.26
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add GitHub Actions Workflow and Configuration Updates for ORA Showroom
  .github/workflows/ci-cd.yml
  .github/workflows/delete-garden-resources.yml
  config/config-workflows.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Only allow changing of CredentialsBindingName if user is able to read both credentials
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix vpn-seed-server VPA's targerRef when HA is enabled
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/autoscaler to v1.25.4
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/autoscaler to v1.26.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Renew workload identity tokens in all seeds
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/security/v1alpha1/constants/constants.go
  pkg/apiserver/registry/core/seed/strategy.go
  pkg/apiserver/registry/core/seed/strategy_test.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/utils/gardener/secretsrotation/gardenaccess.go
  pkg/utils/gardener/secretsrotation/gardenaccess_test.go
  pkg/utils/gardener/tokenrequest/secrets.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move workload identity flag to its inject func
  pkg/component/gardener/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent reconciliation errors in hibernated shoots while migrating KSM
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update CA image for k8s v1.25 and v1.26 (#10362)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update k8s.io/utils digest to f90d014
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix cloudprovider secret deployment to not renew WorkloadIdentity token on shoot reconciliation
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow control plane migration across seeds w/ different provider types (#10323)
  docs/operations/control_plane_migration.md
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/controllermanager/controller/controllerregistration/seed/reconciler_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module k8s.io/autoscaler/vertical-pod-autoscaler to v1.2.1 (#10360)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent reconciliation errors in hibernated shoots while migrating KSM (#10363)
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix vpn-seed-server VPA's targerRef when HA is enabled (#10366)
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix vpn-seed-server VPA's targerRef when HA is enabled (#10372)
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix registry hosts probing when OSC `criConfig.containerd.registries.hosts.caCerts` spec field is specified
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix vpn-seed-server VPA's targerRef when HA is enabled (#10374)
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.103.0-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Fix vpn-seed-server VPA's targerRef when HA is enabled (#10373)
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency googlecontainertools/skaffold to v2.13.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix gosec tests
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
