Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
      command:
      - make
      args:
      - check-apidiff

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Address PR review feedback
  pkg/component/shared/gardenerapiserver.go
  pkg/component/shared/resourcemanager.go
  pkg/gardenlet/controller/managedseed/valueshelper.go
  pkg/operator/controller/garden/garden/components.go
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider Gardener control plane related `ManagedResource`s in `garden-care` controller
  pkg/component/gardeneradmissioncontroller/gardener_admission_controller.go
  pkg/component/gardenerapiserver/gardener_apiserver.go
  pkg/component/gardenercontrollermanager/gardener_controller_manager.go
  pkg/component/gardenerscheduler/gardener_scheduler.go
  pkg/operator/controller/garden/care/health.go
  pkg/operator/controller/garden/care/health_test.go
  skaffold.yaml
  test/integration/operator/garden/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Build Gardener control plane images in `skaffold-operator.yaml`
  hack/check-skaffold-deps.sh
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow shoot to be deleted even if ignored (#8432)
  plugin/pkg/global/deletionconfirmation/admission.go
  plugin/pkg/global/deletionconfirmation/admission_test.go
  test/framework/gardener_utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Show default values of locked feature gates
  hack/compare-k8s-admission-plugins.sh
  hack/compare-k8s-feature-gates.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Correct more `Default` fields
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update Makefile to check Plutono dashboards
  Makefile
  hack/check-plutono-dashboards.sh
  pkg/component/plutono/dashboards/garden/garden/garden-availability-dashboard.json
  pkg/component/plutono/dashboards/shoot/owners/etcd-backup-dashboard.json
  pkg/component/plutono/dashboards/shoot/owners/etcd-dashboard.json
  pkg/component/plutono/dashboards/shoot/owners/kubernetes-pods-dashboard.json
  pkg/component/plutono/dashboards/shoot/owners/workerless/cluster-overview-dashboard.json
  pkg/component/plutono/dashboards/shoot/owners/workerless/kubernetes-control-plane-status-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update check-plutono-dashboards.sh
  hack/check-plutono-dashboards.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add in check and update plutono unit tests
  Makefile
  pkg/component/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix unit tests
  pkg/component/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop deprecated `.spec.virtualCluster.dns.domain` field from `Garden` API
  charts/gardener/operator/templates/customresouredefintion.yaml
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/operator/v1alpha1/types.go
  pkg/apis/operator/v1alpha1/validation/validation.go
  pkg/apis/operator/v1alpha1/validation/validation_test.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove deprecated `AnalyzerPlugin`
  hack/tools/gomegacheck/plugin/golangci_lint.go
  hack/tools/logcheck/plugin/golangci_lint.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update go-apidiff
  hack/tools.mk
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold
  hack/tools.mk
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `Bastion` deletion when `SSHAccess` is disabled (#8421)
  plugin/pkg/bastion/validator/admission.go
  plugin/pkg/bastion/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt pc docs
  docs/development/priority-classes.md
Due: none

Add GME in requiredMonitoringDeployments
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operator/controller/garden/care/health.go
  pkg/operator/controller/garden/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review
  docs/concepts/operator.md
  imagevector/images.yaml
  pkg/component/gardenermetricsexporter/deployment.go
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter.go
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter_suite_test.go
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter_test.go
  pkg/component/gardenermetricsexporter/service.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update deploy components
  pkg/component/gardenermetricsexporter/deployment.go
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter.go
  pkg/component/gardenermetricsexporter/rbac.go
  pkg/component/gardenermetricsexporter/secrets.go
  pkg/component/gardenermetricsexporter/service.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add GME image
  imagevector/images.go
  imagevector/images.yaml
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Integrate GME in operator flow
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt e2e and integration test
  test/e2e/operator/garden/create_delete.go
  test/integration/operator/garden/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add basic template for GME
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter.go
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter_suite_test.go
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add unit test
  pkg/component/gardenermetricsexporter/gardener_metrics_exporter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.77.3
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.77.4-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.76.4
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add logging to index
  docs/README.md
Due: none

Adjust links to new health structure
  docs/development/component-checklist.md
Due: none

Fix GEP numbers to not use octal format
  docs/proposals/19-migrating-observability-stack-to-operators.md
  docs/proposals/20-ha-control-planes.md
  docs/proposals/23-autoscaling-kube-apiserver-via-independent-hpa-and-vpa.md
Due: none

[operator] Add start-up check for Gardener version verification (#8413)
  cmd/gardener-operator/app/app.go
  cmd/gardener-operator/app/bootstrappers/bootstrappers_suite_test.go
  cmd/gardener-operator/app/bootstrappers/verify_version.go
  cmd/gardener-operator/app/bootstrappers/verify_version_test.go
  docs/deployment/version_skew_policy.md
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.79.0
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.79.1-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update imagevector/images.yaml
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Drop deprecated `.spec.virtualCluster.dns.domain` field from `Garden` API (#8434)
  charts/gardener/operator/templates/customresouredefintion.yaml
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/operator/v1alpha1/types.go
  pkg/apis/operator/v1alpha1/validation/validation.go
  pkg/apis/operator/v1alpha1/validation/validation_test.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Docs enhancement (#8436)
  docs/README.md
  docs/development/component-checklist.md
Due: none

Add missing links to reconcilers in `gardenlet` documentation
  docs/concepts/gardenlet.md
Due: none

Add missing links to reconcilers in `gardener-controller-manager` documentation
  docs/concepts/controller-manager.md
Due: none

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
