Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: eu.gcr.io/gardener-project/ci-infra/release-handler:v20231219-49e31fd
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

fix(deps): update module github.com/containerd/containerd to v1.7.19
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module golang.org/x/crypto to v0.25.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/ingress-nginx/controller-chroot docker tag to v1.10.2
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix(deps): update module golang.org/x/crypto to v0.25.0 (#10082)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/containerd/containerd to v1.7.19 (#10070)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to 46b0784
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module golang.org/x/tools to v0.23.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/ingress-nginx/controller-chroot docker tag to v1.10.2 (#10084)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Federate apiserver_total_request metric to the Prometheus longterm instance
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/ingress-nginx/controller-chroot docker tag to v1.11.0
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update scrapeconfigs_test.go
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to 46b0784 (#10086)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use ingress-nginx v1.9.6 for 1.25.x shoots
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Use forkedyaml and add test to guarantee deterministic yaml serialization
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler_export_test.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/yaml_consistency_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run make format
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/yaml_consistency_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address shafeeqes's feedback
  hack/gardener-extensions-down.sh
  hack/gardener-extensions-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Don't exit if a non-certificate was used
  hack/gardener-extensions-down.sh
  hack/gardener-extensions-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt to linter suggestion
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/yaml_consistency_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Initial application of code suggestions
  docs/usage/projects.md
  docs/usage/service-account-manager.md
  docs/usage/shoot_auditpolicy.md
  docs/usage/shoot_autoscaling.md
  docs/usage/shoot_high_availability.md
  docs/usage/shoot_high_availability_best_practices.md
  docs/usage/shoot_networking.md
  docs/usage/shoot_purposes.md
  docs/usage/shoot_scheduling_profiles.md
  docs/usage/shoot_versions.md
Due: none

Apply suggestions from n-boshnakov
  docs/usage/shoot_maintenance.md
  docs/usage/shoot_workerless.md
  docs/usage/shoot_workers_settings.md
Due: none

Rework and merge CoreDNS and Node Local DNS dashboards (#10034)
  charts/gardener/provider-local/templates/coredns/configmap.yaml
  hack/export-dashboard.sh
  imagevector/images.yaml
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/coredns-dashboard.json
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/dns-dashboard.json
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_test.go
  pkg/component/shared/plutono.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/plutono.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

node-agent: Drop `fileExists` func in favor of `r.FS.Exists`
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/etcd-druid to v0.22.1
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency googlecontainertools/skaffold to v2.13.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Operator use secret files for dashboard
  pkg/component/gardener/dashboard/dashboard_test.go
  pkg/component/gardener/dashboard/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

node-agent: Drop `fileExists` func in favor of `r.FS.Exists` (#10096)
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider error from "WorkerDelegate" for errorCodes
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update Conformance tests status for k8s v1.30
  README.md
Due: none

chore(deps): update registry.k8s.io/ingress-nginx/controller-chroot docker tag to v1.11.0 (#10089)
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency googlecontainertools/skaffold to v2.13.0 (#10099)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/gardener/etcd-druid to v0.22.1 (#10098)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider error from `WorkerDelegate` for ErrorCodes (#10101)
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/prometheus/prometheus docker tag to v2.53.1
  imagevector/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update Conformance tests status for k8s v1.30 (#10102)
  README.md
Due: none

Prepare next Dev Cycle v1.100.0-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Add garden_seed_info to longterm prometheus (#10016)
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
