Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Fix dashboard count in test
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `ProviderConfig` field to `NamespacedCloudProfile`s and adapt validation to allow specification of custom machine images.
  example/35-namespacedcloudprofile.yaml
  pkg/apis/core/types_namespacedcloudprofile.go
  pkg/apis/core/v1beta1/types_namespacedcloudprofile.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/namespacedcloudprofile.go
  pkg/apis/core/validation/namespacedcloudprofile_test.go
  pkg/apis/core/validation/utils.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
  test/integration/controllermanager/namespacedcloudprofile/namespacedcloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add custom verb for authorizing modifications of providerConfig.
  docs/concepts/apiserver-admission-plugins.md
  plugin/pkg/global/customverbauthorizer/admission.go
  plugin/pkg/global/customverbauthorizer/admission_test.go
  test/integration/controllermanager/project/project/project_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt resource reference manager to check usage of removed custom machine images or versions.
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deploy extension-admission-local in local kind setup.
  Dockerfile
  Makefile
  charts/gardener/admission-local/charts/application/templates/rbac.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  extensions/pkg/util/cloudprofile.go
  extensions/pkg/util/cloudprofile_test.go
  pkg/provider-local/admission/mutator/namespacedcloudprofile.go
  pkg/provider-local/admission/mutator/namespacedcloudprofile_test.go
  pkg/provider-local/admission/validator/webhook.go
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `NamespacedCloudProfile` validation and mutation to provider-local.
  example/35-namespacedcloudprofile.yaml
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_namespacedcloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/namespacedcloudprofile/strategy.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
  pkg/provider-local/admission/cmd/options.go
  pkg/provider-local/admission/mutator/namespacedcloudprofile.go
  pkg/provider-local/admission/mutator/namespacedcloudprofile_test.go
  pkg/provider-local/admission/mutator/webhook.go
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
  pkg/provider-local/admission/validator/namespacedcloudprofile_test.go
  pkg/provider-local/admission/validator/validator_suite_test.go
  pkg/provider-local/admission/validator/webhook.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Create usage documentation and improve documentation of custom verbs.
  docs/README.md
  docs/concepts/apiserver-admission-plugins.md
  docs/concepts/apiserver.md
  docs/usage/project/namespaced-cloud-profiles.md
Due: none

Make admission-local debuggable from skaffold.
  charts/gardener/admission-local/charts/runtime/templates/deployment.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Change patch merge strategy from strategic to merge to get rid of error when updating an existing providerConfig in the NamespacedCloudProfile spec. Also added test case for this.
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_namespacedcloudprofile.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/namespacedcloudprofile/strategy.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Restrict machine image modifications in CloudProfile for images also defined in NamespacedCloudProfile.
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Refactor `ImagesContext`.
  extensions/pkg/util/cloudprofile.go
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
  pkg/provider-local/admission/validator/webhook.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Unexport function
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  docs/usage/project/namespaced-cloud-profiles.md
  example/35-namespacedcloudprofile.yaml
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_namespacedcloudprofile.go
  pkg/apis/core/v1beta1/types_namespacedcloudprofile.go
  pkg/provider-local/admission/cmd/options.go
  pkg/provider-local/admission/mutator/namespacedcloudprofile.go
  pkg/provider-local/admission/mutator/namespacedcloudprofile_test.go
  pkg/provider-local/admission/mutator/webhook.go
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
  pkg/provider-local/admission/validator/validator_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback about documentation.
  docs/concepts/apiserver-admission-plugins.md
  docs/usage/project/namespaced-cloud-profiles.md
Due: none

`ManagedSeed` defaults Ingress kind to `nginx` when `seedSpec` is not specified (#10655)
  docs/operations/managed_seed.md
  example/provider-local/managedseeds/managedseed.yaml
  pkg/apis/seedmanagement/v1alpha1/defaults_gardenlet_test.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseed.go
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.78.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix TSC for StatefulSets (#10750)
  pkg/resourcemanager/webhook/highavailabilityconfig/handler.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency envoyproxy/envoy to v1.32.1 (#10755)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add check for using plain http on helm push only if registry is glgc (#10743)
  hack/push-helm.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix Prometheus rule `shoot-kube-proxy` (kube-proxy.rules) (#10757)
  pkg/component/kubernetes/proxy/proxy.go
  pkg/component/kubernetes/proxy/proxy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next dev cycle v1.108.0-dev (#10754)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Add test for index out of range error in access restriction handling
  pkg/apiserver/registry/core/shoot/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix index out of range error
  pkg/apiserver/registry/core/shoot/strategy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent reconciling `BackupEntries` between migration and restoration
  pkg/gardenlet/controller/backupentry/add.go
  pkg/gardenlet/controller/backupentry/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Group etcd-druid and prometheus updates
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Manual approval for valitail instead of disabling it
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate` when Go API packages have been changed
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  pkg/component/autoscaling/hvpa/crd.go
  pkg/component/autoscaling/vpa/crd.go
  pkg/component/autoscaling/vpa/crd_test.go
  pkg/component/autoscaling/vpa/vpa.go
  pkg/component/certmanagement/crd.go
  pkg/component/crddeployer/crd.go
  pkg/component/crddeployer/crd_test.go
  pkg/component/etcd/etcd/crd.go
  pkg/component/etcd/etcd/crd_test.go
  pkg/component/extensions/crds/crds.go
  pkg/component/extensions/crds/crds_test.go
  pkg/component/networking/istio/crds.go
  pkg/component/nodemanagement/machinecontrollermanager/crd.go
  pkg/component/nodemanagement/machinecontrollermanager/crd_test.go
  pkg/component/observability/logging/fluentoperator/crds.go
  pkg/component/observability/monitoring/prometheusoperator/crd.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
  pkg/utils/kubernetes/crd.go
  skaffold-operator.yaml
  skaffold.yaml
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/resourcemanager/crddeletionprotection/crddeletionprotection_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add constants api to importas linter
  .golangci.yaml.in
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Pin valitail version to v2.2.15
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Several `renovate` tuning measurements (#10762)
  .github/renovate.json5
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adding --exclude-dirs flag to sast.sh
  hack/sast.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix network validation for Shoot control plane migration case.
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase the readiness probe timeout for the gardener-metrics-exporter (#10738)
  pkg/component/observability/monitoring/gardenermetricsexporter/deployment.go
  pkg/component/observability/monitoring/gardenermetricsexporter/gardener_metrics_exporter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase the readiness probe timeout for the gardener-metrics-exporter
  pkg/component/observability/monitoring/gardenermetricsexporter/deployment.go
  pkg/component/observability/monitoring/gardenermetricsexporter/gardener_metrics_exporter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "chore(deps): update dependency kyverno/kyverno to v1.13.0 (#10746)"
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
