Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-dev-images: unless all of: ^VERSION$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Bump alpine to 3.19.1 (#9317)
  imagevector/images.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/crypto to v0.21.0 (#9306)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.16.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.90] NodeNotHealthy prometheus alert (#9314)
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.16.0 (#9307)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module google.golang.org/protobuf to v1.33.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider errors from configValidator for ErrorCodes (#9266)
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/infrastructure/reconciler.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider errors from configValidator for ErrorCodes
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/infrastructure/reconciler.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update Update golang
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update Update golang (#9322)
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider errors from configValidator for ErrorCodes (#9321)
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/infrastructure/reconciler.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module google.golang.org/protobuf to v1.33.0 (#9320)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-dev-images, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Destroy DNSRecords separately
  pkg/gardenlet/controller/shoot/shoot/cleaner.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_force_delete.go
  test/e2e/gardener/shoot/create_and_force_delete.go
  test/framework/gardener_utils.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop deprecated `allowPrivilegedContainers` field from the Shoot API (#9274)
  docs/api-reference/core.md
  docs/usage/openidconnect-presets.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot_test.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Sort skaffold dependencies
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Destroy DNSRecords separately (#9297)
  pkg/gardenlet/controller/shoot/shoot/cleaner.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_force_delete.go
  test/e2e/gardener/shoot/create_and_force_delete.go
  test/framework/gardener_utils.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use destination seed in documentation
  docs/operations/control_plane_migration.md
Due: post-gardener-build-dev-images

Improve CPM documented bash code
  docs/operations/control_plane_migration.md
Due: post-gardener-build-dev-images

Add waiting for source backup entry deletion step
  pkg/component/garden/backupentry/backupentry.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix undeleted local backup dir
  pkg/provider-local/controller/backupentry/actuator.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run make generate
  example/provider-local/garden/base/controller-registration.yaml
  pkg/provider-local/controller/backupentry/actuator.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressing ScheererJ's feedback
  pkg/provider-local/controller/backupentry/actuator.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Addressing plkokanov's feedback
  pkg/component/garden/backupentry/backupentry.go
  pkg/component/garden/backupentry/backupentry_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run make generate
  example/provider-local/garden/base/controller-registration.yaml
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-unit, pull-gardener-integration

Add comment about proper backup configuration for provider-extension setup
  example/provider-extensions/gardenlet/values.yaml.tmpl
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Destroy DNSRecords separately (#9324)
  pkg/gardenlet/controller/shoot/shoot/cleaner.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_force_delete.go
  test/e2e/gardener/shoot/create_and_force_delete.go
  test/framework/gardener_utils.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Promote `ShootForceDeletion` feature gate to beta
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.90.0
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Notes added by 'git notes add'
  aa/5567f5cb25fc325c14f6b444eabbf5243c8c20
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  ac/f1c59bc9fc1516608ad7201cab7ce49e807809
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  4e/b86e4e17b20ed6b83fead0691d02c6c1eecf13
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  49/adb9eae090f7db23b132c626fe18a63949f931
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  c2/d8945276414d4dac3c042cb0cde95f1c41fcfb
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  bf/2dd5e0c72bf954f13d5c3e2677c34d6f954a0d
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  07/052b52a2d2eabb1a5991f1a4f3c92555abbb55
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  db/31dd73a6583464590734933c42676d2ea89ca2
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  39/700af2851092fedb4f2a70c30d5b5cd3107e2f
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  d8/45b5748e5a88a0ea3c323f2a42577628a7314c
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  ce/b8906549ddce46a18e2ec2c9583f483d55998a
Due: pull-gardener-apidiff, post-gardener-build-dev-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
