Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20230214-ec65ab4-1.18
      command:
      - make
      args:
      - check-apidiff

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Remove docker ppc target as it is equal to the docker-images target
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Refactor kind up/down targets to have one recipe with instructions for all different configurations
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Split long make rules in separate ones
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Simplified gardener-{up,dev,debug,down} and gardenlet-* rules as well
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Change environment variable so that it does not clash with one used by skaffold
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update the etcd-druid CRDs to v0.17.0
  pkg/component/etcd/crds/templates/crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  pkg/component/etcd/crds/templates/crd-druid.gardener.cloud_etcds.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

update tunnel-probe-apiserver-proxy for HA mode
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

update title and panel decimals
  charts/seed-bootstrap/dashboards/seed-deployments-replicas.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix: Grafana dashboard of VPN (#7865)
  charts/seed-monitoring/charts/plutono/dashboards/owners/worker/vpn-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update the regex
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

address review
  docs/api-reference/core.md
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow the kubelet configuration to define swap behaviour for k8s >= 1.22 (#7913)
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
  pkg/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `NetworkPolicy` for scraping machine-controller-manager (#7950)
  charts/gardener/provider-local/internal/machine-controller-manager/seed/templates/service.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Enhance health check for MRs to respect the secret data checksum
  extensions/pkg/controller/healthcheck/general/managed_resource.go
  pkg/gardenlet/controller/controllerinstallation/care/reconciler.go
  pkg/gardenlet/controller/controllerinstallation/care/reconciler_test.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  pkg/utils/kubernetes/health/managedresource.go
  pkg/utils/kubernetes/health/managedresource_test.go
  pkg/utils/managedresources/managedresources.go
  pkg/utils/managedresources/managedresources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix error message
  pkg/utils/kubernetes/health/managedresource.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix unit tests
  pkg/component/apiserverproxy/apiserver_proxy_test.go
  pkg/component/clusterautoscaler/bootstrap_test.go
  pkg/component/clusteridentity/clusteridentity_test.go
  pkg/component/coredns/coredns_test.go
  pkg/component/dependencywatchdog/bootstrap_test.go
  pkg/component/etcd/bootstrap_test.go
  pkg/component/gardensystem/gardensystem_test.go
  pkg/component/hvpa/hvpa_test.go
  pkg/component/istio/istio_test.go
  pkg/component/kubeproxy/kube_proxy_test.go
  pkg/component/kubernetesdashboard/kubernetes_dashboard_test.go
  pkg/component/kubestatemetrics/kube_state_metrics_test.go
  pkg/component/logging/fluentoperator/custom_resources_test.go
  pkg/component/logging/fluentoperator/fluent_operator_test.go
  pkg/component/machinecontrollermanager/bootstrap_test.go
  pkg/component/namespaces/namespaces_test.go
  pkg/component/nginxingress/nginxingress_test.go
  pkg/component/nginxingressshoot/nginxingress_test.go
  pkg/component/nodelocaldns/nodelocaldns_test.go
  pkg/component/nodeproblemdetector/node_problem_detector_test.go
  pkg/component/seedsystem/seedsystem_test.go
  pkg/component/shootsystem/shootsystem_test.go
  pkg/component/vpa/vpa_test.go
  pkg/component/vpnshoot/vpnshoot_test.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/worker_test.go
  pkg/utils/managedresources/managedresources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix another unit test
  pkg/component/shared/resourcemanager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix Seed logging test
  test/testmachinery/shoots/logging/seed_logging_stack.go
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Mention container name for vali
  test/framework/dump.go
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider seed provider type for required extensions
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/controllermanager/controller/controllerregistration/seed/reconciler_test.go
  test/integration/controllermanager/controllerregistration/controllerregistration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move system resources deployment to top
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename ComputeRequiredExtensions function
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/operation/botanist/botanist.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Wait for extensions in seed flow
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile_test.go
  pkg/operation/botanist/botanist.go
  pkg/utils/gardener/seed.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop migration code for `istio` `ManagedResource` split
  pkg/component/istio/charts/istio/istio-istiod/templates/autoscale.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/clusterrole.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/clusterrolebinding.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/configmap.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/deployment.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/destinationrule.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/namespace.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/peerauthentication.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/poddisruptionbudget.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/role.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/rolebinding.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/service.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/serviceaccount.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/sidecar.yaml
  pkg/component/istio/charts/istio/istio-istiod/templates/validatingwebhookconfiguration.yaml
  pkg/component/istio/charts/istio/istio-istiod/values.yaml
  pkg/component/istio/istio_test.go
  pkg/component/istio/istiod.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add status in the Shoot in the cluster resource for test
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove superfluous workaround
  pkg/controllermanager/controller/seed/extensionscheck/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adjust doc
  docs/concepts/controller-manager.md
Due: none

Use field selector for `RequiredExtensionsReady`
  pkg/operation/botanist/botanist.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile_test.go
  pkg/operation/botanist/botanist.go
  pkg/utils/gardener/seed.go
  pkg/utils/gardener/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update the github.com/gardener/etcd-druid dependency to v0.17.0
  example/seed-crds/10-crd-druid.gardener.cloud_etcds.yaml
  go.mod
  go.sum
  skaffold-operator.yaml
  skaffold.yaml
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/types_common.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/types_etcd.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/types_etcdcopybackupstask.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/etcd-druid/api/validation/etcd.go
  vendor/github.com/gardener/etcd-druid/pkg/common/constants.go
  vendor/github.com/gardener/etcd-druid/pkg/utils/image.go
  vendor/github.com/gardener/etcd-druid/pkg/utils/k8sversion.go
  vendor/github.com/gardener/etcd-druid/pkg/utils/miscellaneous.go
  vendor/github.com/gardener/etcd-druid/pkg/utils/names.go
  vendor/github.com/gardener/etcd-druid/pkg/utils/statefulset.go
  vendor/github.com/gardener/etcd-druid/pkg/utils/store.go
  vendor/modules.txt
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix integration tests
  test/integration/gardenlet/controllerinstallation/care/care_test.go
  test/integration/operator/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop Kubernetes version support timeline docs
  docs/usage/supported_k8s_versions.md
Due: none

Fix skaffold check
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address PR review
  test/framework/dump.go
  test/testmachinery/shoots/logging/seed_logging_stack.go
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix Seed logging test (#7957)
  test/framework/dump.go
  test/testmachinery/shoots/logging/seed_logging_stack.go
  test/testmachinery/shoots/logging/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Support inclusion of CA in server cert chain
  pkg/utils/secrets/certificate.go
  pkg/utils/secrets/certificate_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Include CA in `kube-apiserver`'s server cert chain
  pkg/component/kubeapiserver/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fixed vpn dashboard location after workerless shoot monitoring change
  charts/seed-monitoring/charts/plutono/dashboards/owners/worker/vpn-seed-server/envoy-proxy-dashboard.json
  charts/seed-monitoring/charts/plutono/dashboards/owners/worker/vpn-seed-server/vpn-seed-server-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Upgrade fluent-bit-plugin-installer
  charts/images.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
