Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/

Update ghcr.io/renovatebot/renovate Docker tag to v37.349.2
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.349.1
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.349.2 (#1653)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.349.1 (#1654)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.349.2
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.349.2 (#1655)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release oauth2-proxy to v7.5.4
  config/prow/cluster/oauth2-proxy/helm/generate-oauth2-proxy-deployments.sh
  config/prow/cluster/oauth2-proxy/oauth2-proxy-deployment.yaml
Due: post-ci-infra-deploy-prow

Update golang Docker tag to v1.22.3
  Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image

Update Helm release oauth2-proxy to v7.5.4 (#1656)
  config/prow/cluster/oauth2-proxy/helm/generate-oauth2-proxy-deployments.sh
  config/prow/cluster/oauth2-proxy/oauth2-proxy-deployment.yaml
Due: post-ci-infra-deploy-prow

Update golang Docker tag to v1.22.3 (#1657)
  Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image

Update module golang.org/x/tools to v0.21.0 (#1646)
  go.mod
  go.sum
Due: post-ci-infra-build-images

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-build-images.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.349.3
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#1658)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-build-images.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.349.3 (#1659)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate (#1660)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.351.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.351.0 (#1661)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.351.0
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.351.0 (#1662)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.351.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.351.1 (#1663)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#1664)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/druid-e2e-kind-nondistroless-etcd.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  config/jobs/landscaper/landscaper-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#1665)
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/druid-e2e-kind-nondistroless-etcd.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  config/jobs/landscaper/landscaper-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.351.1
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.351.1 (#1666)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update dependency golangci/golangci-lint to v1.58.1
  hack/tools.mk
Due: post-ci-infra-build-images

Update auto-update: renovate (#1668)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.352.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.352.0 (#1669)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.352.0
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.352.0 (#1670)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.353.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.353.0 (#1671)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.353.0
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.353.0 (#1672)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow
