Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220620-9d0f217
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-validate-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - test
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
      - kubernetes-test-infra
  ...

post-ci-infra-update-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - /etc/github-token/token
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.24.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220427-c2db0f69b7
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Deflake cherrypicker tests (#366)
  go.mod
  prow/external-plugins/cherrypicker/README.md
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-ci-infra-build-images

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#481)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#479)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Adapt gardener/gardener HA jobs
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Adapt gardener/gardener HA jobs (#480)
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#482)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Allow collaborators to trigger things
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add `only-org-members` flag to cherrypicker
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-ci-infra-build-images

Allow collaborators to trigger things (#484)
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add `only-org-members` flag to cherrypicker (#485)
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-ci-infra-build-images

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#483)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#486)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Increase cpu limit of kube-rbac-proxy-main in kube-state-metrics deployment
  config/prow/cluster/monitoring/base-prow/kubeStateMetrics-deployment.yaml
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra (#488)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Increase cpu limit of kube-rbac-proxy-main in kube-state-metrics deployment (#487)
  config/prow/cluster/monitoring/base-prow/kubeStateMetrics-deployment.yaml
Due: post-ci-infra-deploy-prow

Build `gardener-operator` images
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Add new e2e tests for gardener-operator
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Add v1.60 release milestone check to prow
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add v1.60 release milestone check to prow (#490)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#491)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

introduced prow job to run KIND unit tests for DWD
  config/jobs/dependency-watchdog/dependency-watchdog-kind-unit-tests.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#492)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-58.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-59.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

addressed review comments
  config/jobs/dependency-watchdog/dependency-watchdog-kind-unit-tests.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

addressed review comments
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#494)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Deactivate Release Milestone Check for gardener v1.60
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Deactivate Release Milestone Check for gardener v1.60 (#495)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-60.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#496)
  config/jobs/gardener/releases/gardener-gardener-release-v1-60.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#498)
  config/jobs/gardener/releases/gardener-gardener-release-v1-57.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  pull-ci-infra-validate-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-update-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
