Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(.github|clusters|config|deploy|images)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Update athens config increase goGetWorkers
  deploy/athens/base/athens.yaml
Due: post-ci-infra-build-images

Update renovate.yaml increase disk size
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/peribolos/cronjob.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Use VPA to control resource requests of `renovate`
  deploy/renovate/kustomization.yaml
  deploy/renovate/vpa.yaml
Due: post-ci-infra-build-images

Forked prow jobs for release branches
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-37.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

add dual role checker in teams
  prow/cmd/peribolos-checkconfig/README.md
  prow/cmd/peribolos-checkconfig/main.go
  prow/cmd/peribolos-checkconfig/main_test.go
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

ginkgo framework instead of pure go test
  prow/cmd/peribolos-checkconfig/main_test.go
  prow/cmd/peribolos-checkconfig/peribolos_checkconfig_suite_test.go
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

change switch to if statement
  prow/cmd/peribolos-checkconfig/main_test.go
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Update ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator Docker tag to v0.154.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

extracted recursive function
  prow/cmd/peribolos-checkconfig/main.go
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Disable athens goproxy in renovate
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update renovate.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-143.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

check error messages for correctness, prevent test pass on wrong error
  prow/cmd/peribolos-checkconfig/main_test.go
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Update sigs.k8s.io/prow digest to c1e6d50
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Update gateway-helm Docker tag to v1.8.2
  deploy/envoy-gateway/envoy-gateway.yaml
Due: post-ci-infra-build-images

Update golang Docker tag to v1.26.5
  Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-prow-go-tests

Update renovate
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update traefik Docker tag to v3.7.6
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update dependency fluxcd/flux2 to v2.9.1
  clusters/base/flux-system/gotk-components.yaml
Due: post-ci-infra-build-images

Update dependency prometheus/prometheus to v3.13.0
  deploy/monitoring/build/prometheus-performance.yaml
Due: post-ci-infra-build-images

Update Helm release kube-prometheus-stack to v87.10.1
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images
