Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241031-9fa9ca6
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-copy-images-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241107-b5d8153
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-krte-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241107-b5d8153
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20241015-f5fd905349
      command:
      - configurator
      args:
      - --yaml=config/testgrids/config.yaml
      - --default=config/testgrids/default.yaml
      - --prow-config=config/prow/config.yaml
  ...

post-ci-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20241015-f5fd905349
      command:
      - configurator
      args:
      - --gcp-service-account=/etc/gcp-service-account/service-account.json
      - --yaml=config/testgrids/config.yaml
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.31.2
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20241017-573cf9adb
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
  ...

post-ci-infra-copy-images:
  decorate: true
  spec:
    containers:
    - name: copy-images
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/copy-images:v20240723-0585b06
      command:
      - ./config/images/copy-images.sh
      args:
      - ./config/images/images.yaml
      volumeMounts:
      - name: docker-config
  ...

chore(deps): update renovate (#3093)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3091)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release renovate to 39.135.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 39.135.x (#3094)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3095)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.135.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.135.2 (#3092)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.135.3
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.135.3 (#3096)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.136.0
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.136.0 (#3097)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.136.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.136.1 (#3098)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.136.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.136.2 (#3099)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.137.2
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.137.2 (#3100)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.138.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.138.0 (#3102)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release renovate to 39.138.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 39.138.x (#3103)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.138.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.138.1 (#3104)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.138.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.138.2 (#3105)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.140.1
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.140.1 (#3106)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-26.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-111.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3107)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-26.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-111.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-26.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-111.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3108)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-26.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-111.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3109)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-26.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-111.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3110)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-26.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-111.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release kube-prometheus-stack to 68.4.x
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Remove failing tests from `etcd-druid` hotfix branches
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-19.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-20.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-21.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-22.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.140.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
