Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220620-9d0f217
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-validate-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - test
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
      - kubernetes-test-infra
  ...

post-ci-infra-update-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - /etc/github-token/token
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.24.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221109-fc7608f5ec
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-ci-infra-copy-images:
  decorate: true
  spec:
    containers:
    - name: copy-images
      image: eu.gcr.io/gardener-project/ci-infra/copy-images:v20230810-bdb0169
      command:
      - ./config/images/copy-images.sh
      args:
      - ./config/images/images.yaml
      volumeMounts:
      - name: docker-config
  ...

Bumping Prow and Prow - ci-infra (#978)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#979)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ingress-nginx to `v1.94` and enable annotation validations
  config/prow/cluster/ingress-nginx/helm/values.yaml
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Address PR review feedback
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Stop building `gardener/gardener` dev-images in prow
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Stop building `gardener/gardener` dev-images in prow (#981)
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Update ingress-nginx to `v1.94` and enable annotation validations (#980)
  config/prow/cluster/ingress-nginx/helm/values.yaml
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Decrease volume size of `ghproxy`
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/ghproxy_pvc.yaml
Due: post-ci-infra-deploy-prow

Decrease volume size of `ghproxy` (#983)
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/ghproxy_pvc.yaml
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#984)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#985)
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#986)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#987)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#988)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#989)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add a note that no new tags should be added for fluent/fluent-bit
  config/images/images.yaml
Due: post-ci-infra-copy-images

Copy alpine:3.18.4
  config/images/images.yaml
Due: post-ci-infra-copy-images

Copy alpine:3.18.4 (#990)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#992)
  config/jobs/gardener/releases/gardener-gardener-release-v1-80.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update PR reference in release notes of the cherry-pick PR after it was created
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Due: post-ci-infra-build-images

Bumping Prow and Prow - ci-infra (#991)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#994)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#995)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#996)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#997)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#998)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-81.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-82.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-83.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  pull-ci-infra-validate-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-update-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/
