Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241031-9fa9ca6
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-copy-images-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241107-b5d8153
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-krte-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241107-b5d8153
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20241015-f5fd905349
      command:
      - configurator
      args:
      - --yaml=config/testgrids/config.yaml
      - --default=config/testgrids/default.yaml
      - --prow-config=config/prow/config.yaml
  ...

post-ci-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20241015-f5fd905349
      command:
      - configurator
      args:
      - --gcp-service-account=/etc/gcp-service-account/service-account.json
      - --yaml=config/testgrids/config.yaml
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.31.2
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20250819-3d885f42c
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
  ...

pull-ci-infra-prow-go-tests:
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250820-30ed390-1.24
      command:
      - make
      args:
      - verify
      resources:
        limits:
          memory: 4Gi
        requests:
          cpu: 4
          memory: 2Gi

ci: Use Go 1.26 for dns- and cert projects
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-dns-service/extension-shoot-dns-service-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-integration-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib docker tag to v0.145.0 (#5327)
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.17.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.17.1 (#5416)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release renovate to 46.17.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 46.17.x (#5417)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

ci: Use Go 1.26 for dns- and cert projects (#5411)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-dns-service/extension-shoot-dns-service-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-integration-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/auditlog-forwarder/auditlog-forwarder-unit-tests.yaml
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-unit-tests.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/diki/diki-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-dns-service/extension-shoot-dns-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-integration-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-auditing/gardener-extension-auditing-unit-tests.yaml
  config/jobs/gardener-extension-image-rewriter/gardener-extension-image-rewriter-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-unit-tests.yaml
  config/jobs/gardener-landscape-kit/releases/gardener-gardener-landscape-kit-release-v0-1.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-135.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-136.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-unit-tests.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5419)
  config/jobs/auditlog-forwarder/auditlog-forwarder-unit-tests.yaml
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-unit-tests.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/diki/diki-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-dns-service/extension-shoot-dns-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-integration-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-auditing/gardener-extension-auditing-unit-tests.yaml
  config/jobs/gardener-extension-image-rewriter/gardener-extension-image-rewriter-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-unit-tests.yaml
  config/jobs/gardener-landscape-kit/releases/gardener-gardener-landscape-kit-release-v0-1.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-135.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-136.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-unit-tests.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.19.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.19.2 (#5420)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/releases/gardener-gardener-landscape-kit-release-v0-1.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-135.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-136.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5421)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/releases/gardener-gardener-landscape-kit-release-v0-1.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-135.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-136.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.20.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.20.0 (#5422)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.20.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.20.1 (#5423)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.21.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.21.0 (#5424)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5425)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.22.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.22.0 (#5426)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release kube-prometheus-stack to 82.1.x
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5430)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

chore(deps): update dependency golangci/golangci-lint to v2.10.1
  hack/tools.mk
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

chore(deps): update rclone/rclone docker tag to v1.73.1
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release kube-prometheus-stack to 82.1.x (#5429)
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

chore(deps): update dependency golangci/golangci-lint to v2.10.1 (#5428)
  hack/tools.mk
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

chore(deps): update rclone/rclone docker tag to v1.73.1 (#5432)
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Disable cache for unit tests
  config/jobs/gardener/gardener-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Remove binary building and time command
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Use gobuildcache for gardenadm tests as well
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5433)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Higher memory limits for external-dns-management and cert-management unit tests to avoid OOMKilled of prow test pod
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Configure prow & renovate for diki-operator
  config/jobs/common/renovate-presubmits.yaml
  config/jobs/diki-operator/diki-operator-unit-tests.yaml
  config/prow/plugins.yaml
  config/testgrids/config.yaml
  deploy/renovate/renovate.yaml
  prow/cmd/milestone-activator/activator_test.go
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Higher memory limits for external-dns-management and cert-management unit tests to avoid OOMKilled of prow test pod (#5435)
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(clusters|config|deploy)\/
  pull-ci-infra-verify-image-build: unless all of: ^(clusters|config|deploy)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
