Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220620-9d0f217
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-copy-images-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20231102-710ef09
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-krte-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20231102-710ef09
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20240409-13cd3acf7e
      command:
      - /ko-app/configurator
      args:
      - --yaml=config/testgrids/config.yaml
      - --default=config/testgrids/default.yaml
      - --prow-config=config/prow/config.yaml
  ...

post-ci-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/configurator:v20240409-13cd3acf7e
      command:
      - /ko-app/configurator
      args:
      - --gcp-service-account=/etc/gcp-service-account/service-account.json
      - --yaml=config/testgrids/config.yaml
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.24.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20240515-dd5d0eeaa
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-ci-infra-copy-images:
  decorate: true
  spec:
    containers:
    - name: copy-images
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/copy-images:v20240129-fbf85e1
      command:
      - ./config/images/copy-images.sh
      args:
      - ./config/images/images.yaml
      volumeMounts:
      - name: docker-config
  ...

Bumping Prow and Prow - ci-infra
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-97.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-98.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-99.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.434.3
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#2073)
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-97.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-98.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-99.yaml
  config/prow/cluster/gcsweb_deployment.yaml
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.434.3 (#2074)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.438.2
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.438.2 (#2075)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/druid-e2e-kind-nondistroless-etcd.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-97.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-98.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-99.yaml
  config/jobs/landscaper/landscaper-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#2076)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/druid-e2e-kind-nondistroless-etcd.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-97.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-98.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-99.yaml
  config/jobs/landscaper/landscaper-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Use the prow registry mirror for docker.io in e2e tests
  config/prow/cluster/base/dind-docker-config_configmap.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.438.3
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.438.3 (#2078)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.438.3
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.438.3 (#2079)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Use the prow registry mirror for docker.io in e2e tests (#2077)
  config/prow/cluster/base/dind-docker-config_configmap.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.438.4
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.438.4 (#2080)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.438.5
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.438.5 (#2081)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update alpine Docker tag to v3.20.2
  Dockerfile
  config/images/images.yaml
  images/copy-images/Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-copy-images

Update Helm release renovate to v37.438.5
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.438.5 (#2083)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update auto-update: renovate to v37.440.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.440.0 (#2084)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update alpine Docker tag to v3.20.2 (#2082)
  Dockerfile
  config/images/images.yaml
  images/copy-images/Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-copy-images

Bumping Prow and Prow - ci-infra (#2085)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.1 (#2086)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-build-images.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#2087)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-build-images.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.440.1
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.440.1 (#2088)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.2
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.2 (#2089)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.3
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.3 (#2090)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.4
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.440.4 (#2091)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.440.4
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.440.4 (#2092)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/
