Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-build-golang-test-image, post-ci-infra-build-golang-test-image, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: ghcr.io/gardener/ci-infra/image-builder:latest
      command:
      - /image-builder
      args:
      - --log-level=info
      - --docker-config-secret=k8s-playground-docker-config
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.21.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220117-34b34180b1
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Bumping Prow and Prow - ci-infra (#191)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/release/gardener-build-dev-images-release.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-build-golang-test-image, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Drop obsolete kind installation in gardener-e2e-kind
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Add e2e tests for shoot-oidc-service pull requests (#188)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Drop obsolete kind installation in gardener-e2e-kind (#192)
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Fix deployer permissions
  config/prow/cluster/bootstrap-trusted/trusted_serviceaccounts.yaml
  config/prow/deploy.sh
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra (#193)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#195)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Fix deployer permissions (#194)
  config/prow/cluster/bootstrap-trusted/trusted_serviceaccounts.yaml
  config/prow/deploy.sh
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra (#196)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#197)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#198)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Revert "Bumping Prow and Prow - ci-infra (#198)"
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Revert "Bumping Prow and Prow - ci-infra (#198)" (#199)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#200)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#201)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Add periodic job for oidc service
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Add periodic job for oidc service (#202)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#203)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#204)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Update README
  README.md
Due: none

Increase CPU limit of blackbox-exporter
  config/prow/cluster/monitoring/base-prow/blackboxExporter-deployment.yaml
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra (#205)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#206)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Update to golang-1.17.9
  Makefile
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/release/gardener-integration-tests-release.yaml
  config/jobs/gardener/release/gardener-unit-tests-release.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-prow-checkconfig

Update to golang-1.17.9 (#208)
  Makefile
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/release/gardener-integration-tests-release.yaml
  config/jobs/gardener/release/gardener-unit-tests-release.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-prow-checkconfig

Do not inject-effective-version in ci-infra build jobs
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-prow-checkconfig

Do not inject-effective-version in ci-infra build jobs (#210)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-prow-checkconfig

Path conditions:
  post-build-golang-test-image: any of: dockerfile
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
