Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(.github|clusters|config|deploy|images)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

chore(deps): update dependency fluxcd/flux2 to v2.8.1
  clusters/base/flux-system/gotk-components.yaml
Due: post-ci-infra-build-images

chore(deps): update dependency fluxcd/flux2 to v2.8.1 (#5550)
  clusters/base/flux-system/gotk-components.yaml
Due: post-ci-infra-build-images

chore(deps): update dependency prometheus/prometheus to v3.10.0 (#5528)
  deploy/monitoring/build/prometheus-performance.yaml
Due: post-ci-infra-build-images

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.43.3
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.43.3 (#5551)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Build `krte` image with a Github workflow (#5549)
  .github/workflows/krte-build-test.yaml
  .github/workflows/krte-build.yaml
  .github/workflows/krte-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  images/krte/Dockerfile
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5552)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  .github/workflows/krte-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-release-handler.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Add `latest-<version>` tag to `krte` image
  .github/workflows/krte-build.yaml
Due: post-ci-infra-build-images

Add `latest-<version>` tag to `krte` image (#5555)
  .github/workflows/krte-build.yaml
Due: post-ci-infra-build-images

chore(deps): update ghcr.io/fluent/fluent-operator/fluent-operator docker tag to v3.7.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

fix(deps): update sigs.k8s.io/prow digest to 937f24a
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5556)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

chore(deps): update renovate
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate (#5560)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5561)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-35.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener-landscape-kit/releases/gardener-gardener-landscape-kit-release-v0-1.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-135.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-136.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-137.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5562)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-35.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener-landscape-kit/releases/gardener-gardener-landscape-kit-release-v0-1.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-135.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-136.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-137.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Use builtkit based image build test for `ci-infra` images instead of Github workflows
  .github/workflows/prow-images-build-test.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Use builtkit based image build test for `ci-infra` images instead of Github workflows (#5563)
  .github/workflows/prow-images-build-test.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5564)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.47.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

fix(deps): update sigs.k8s.io/prow digest to 937f24a (#5558)
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v43.47.0 (#5566)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Set permissions in `krte` Github Workflows
  .github/workflows/krte-build-test.yaml
  .github/workflows/krte-build.yaml
  .github/workflows/krte-images.yaml
Due: post-ci-infra-build-images

Set permissions in `krte` Github Workflows (#5567)
  .github/workflows/krte-build-test.yaml
  .github/workflows/krte-build.yaml
  .github/workflows/krte-images.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5568)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

chore(deps): update ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib docker tag to v0.147.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update dependency google/go-containerregistry to v0.21.2
  images/copy-images/Dockerfile
Due: post-ci-infra-build-copy-images-image

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

chore(deps): update renovate (#5571)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig
