Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220620-9d0f217
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-validate-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - test
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
      - kubernetes-test-infra
  ...

post-ci-infra-update-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - /etc/github-token/token
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.21.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220427-c2db0f69b7
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Bumping Prow and Prow - ci-infra (#350)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Switch gardener jobs to go1.19
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/release/gardener-unit-tests-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#352)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Cleanup old gardener release branch jobs
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Cleanup `skip_branches` of `*-gardener-e2e-kind-migration-release`
  config/jobs/gardener/release/gardener-e2e-kind-migration-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#354)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Cleanup old gardener release branch jobs (#353)
  config/jobs/gardener/release/gardener-e2e-kind-migration-release.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Ask contributors to report flakes in test reports
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Ask contributors to report flakes in test reports (#355)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Switch gardener jobs to go1.19 (#351)
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/release/gardener-unit-tests-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#356)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-migration-release.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#357)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-migration-release.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#358)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Enforce push access for gardener-prow github app in branchprotector
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/config.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Enforce push access for gardener-prow github app in branchprotector (#359)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/config.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#360)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#361)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Adapt gardener release branch jobs to change of golang in release v1.54
  config/jobs/gardener/release/gardener-integration-tests-release-previous-golang.yaml
  config/jobs/gardener/release/gardener-unit-tests-release-previous-golang.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#362)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Adapt gardener release branch jobs to change of golang in release v1.54 (#363)
  config/jobs/gardener/release/gardener-integration-tests-release-previous-golang.yaml
  config/jobs/gardener/release/gardener-unit-tests-release-previous-golang.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Promote *-gardener-e2e-kind-migration to required
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/release/gardener-e2e-kind-migration-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#364)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Promote *-gardener-e2e-kind-migration to required (#365)
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/release/gardener-e2e-kind-migration-release.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Increase CPU limits of kube-state-metrics
  config/prow/cluster/monitoring/base-prow/kubeStateMetrics-deployment.yaml
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra (#367)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Increase CPU limits of kube-state-metrics (#368)
  config/prow/cluster/monitoring/base-prow/kubeStateMetrics-deployment.yaml
Due: post-ci-infra-deploy-prow

Bumping Prow and Prow - ci-infra (#369)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update nginx to v1.3.0
  config/prow/cluster/ingress-nginx/helm/generate-ingress-nginx-deployments.sh
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  pull-ci-infra-validate-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-update-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
