Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/

Update ghcr.io/renovatebot/renovate Docker tag to v37.328.0 (#1593)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.328.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.328.1 (#1594)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#1595)
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.329.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.329.1 (#1596)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.330.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.330.0 (#1597)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.330.0
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.330.0 (#1598)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release athens-proxy to v0.9.5
  config/prow/cluster/athens/athens_deployment.yaml
  config/prow/cluster/athens/helm/generate-athens-deployments.sh
Due: post-ci-infra-deploy-prow

Update module sigs.k8s.io/prow to v0.0.0-20240430162647-4359601d003f
  go.mod
Due: post-ci-infra-build-images

Update auto-update: renovate to v37.330.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.330.1 (#1603)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-91.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.331.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#1600)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-91.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.331.0 (#1604)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.332.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.332.0 (#1605)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/druid-e2e-kind-nondistroless-etcd.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-91.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  config/jobs/landscaper/landscaper-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#1606)
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/druid-e2e-kind-nondistroless-etcd.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-91.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  config/jobs/landscaper/landscaper-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.332.0
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.332.0 (#1607)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update ghcr.io/renovatebot/renovate Docker tag to v37.333.0
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.333.0 (#1608)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v37.333.0
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release renovate to v37.333.0 (#1609)
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
  config/prow/cluster/renovate/renovate_deployment.yaml
Due: post-ci-infra-deploy-prow

Update Helm release oauth2-proxy to v7.5.3
  config/prow/cluster/oauth2-proxy/helm/generate-oauth2-proxy-deployments.sh
  config/prow/cluster/oauth2-proxy/oauth2-proxy-deployment.yaml
Due: post-ci-infra-deploy-prow

Remote `test-prometheus` rule from `gardener/gardener` unit tests
  config/jobs/gardener/gardener-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-91.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.333.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update auto-update: renovate to v37.333.1 (#1612)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
  config/prow/cluster/renovate/helm/generate-renovate-deployments.sh
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#1611)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-91.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-92.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-93.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-94.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.334.1
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v37.334.1 (#1613)
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/gardener/gardener-check-renovate-config.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release oauth2-proxy to v7.5.3 (#1599)
  config/prow/cluster/oauth2-proxy/helm/generate-oauth2-proxy-deployments.sh
  config/prow/cluster/oauth2-proxy/oauth2-proxy-deployment.yaml
Due: post-ci-infra-deploy-prow

Remote `test-prometheus` rule from `gardener/gardener` unit tests (#1610)
  config/jobs/gardener/gardener-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release athens-proxy to v0.9.5 (#1601)
  config/prow/cluster/athens/athens_deployment.yaml
  config/prow/cluster/athens/helm/generate-athens-deployments.sh
Due: post-ci-infra-deploy-prow
