Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-build-golang-test-image, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Path conditions:
  post-build-golang-test-image: any of: dockerfile
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)

Bumping Prow and Prow - ci-infra (#170)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#172)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images and Prow - ci-infra (#173)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#174)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images and Prow - ci-infra (#175)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Restrict approve and lgtm to OWNERS for the whole org
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Restrict approve and lgtm to OWNERS for the whole org (#178)
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Disable parallel builds / don't build ci-infra images on config changes (#167)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#176)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#179)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Build gardener/gardener dev images
  config/jobs/gardener/build-gardener-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
  prow/cmd/image-builder/main.go
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#183)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Increase memory limits for gardener integration tests
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/release/gardener-integration-tests-release.yaml
Due: pull-ci-infra-prow-checkconfig

Increase memory limits for gardener integration tests (#184)
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/release/gardener-integration-tests-release.yaml
Due: pull-ci-infra-prow-checkconfig

remove duplicated autobump config for eu.gcr.io/gardener-project/ci-infra/
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: none

Update nginx-ingress to v1.1.3
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

remove duplicated autobump config for eu.gcr.io/gardener-project/ci-infra/ (#185)
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: none

Update nginx-ingress to v1.1.3 (#187)
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Add e2e tests for shoot-oidc-service pull requests
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Nits, add gardener-build-dev-images-release
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/release/gardener-build-dev-images-release.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
Due: pull-ci-infra-prow-checkconfig

Drop overengineered antiaffinity for build pods
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/release/gardener-build-dev-images-release.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
Due: pull-ci-infra-prow-checkconfig

Remove concourse-ci/publish from branch protection
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#186)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Build gardener/gardener dev images (#181)
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/release/gardener-build-dev-images-release.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
  config/prow/config.yaml
  prow/cmd/image-builder/main.go
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/release/gardener-build-dev-images-release.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#189)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/release/gardener-build-dev-images-release.yaml
  config/jobs/gardener/release/gardener-test-builds-release.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

add option to inject EFFECTIVE_VERSION build arg
  prow/cmd/image-builder/buildcontroller.go
  prow/cmd/image-builder/buildcontroller_test.go
  prow/cmd/image-builder/main.go
Due: none

add option to inject EFFECTIVE_VERSION build arg (#190)
  prow/cmd/image-builder/buildcontroller.go
  prow/cmd/image-builder/buildcontroller_test.go
  prow/cmd/image-builder/main.go
Due: none
