Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(.github|clusters|config|deploy|images)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

Switch to Go 1.27 base image for glk
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-e2e-kind.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.101.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.101.1 (#7272)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.101.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v46.307.0
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update ghcr.io/renovatebot/renovate Docker tag to v44.101.2 (#7274)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v46.307.0 (#7275)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update renovate
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update renovate (#7276)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/peribolos/cronjob.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#7277)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/peribolos/cronjob.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#7278)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v46.307.2
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update Helm release renovate to v46.307.2 (#7279)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update renovate (#7280)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update renovate (#7281)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release renovate to v46.311.3
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update Helm release renovate to v46.311.3 (#7282)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update ghcr.io/fluent/fluent-operator/fluent-operator Docker tag to v3.10.1
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/fluent/fluent-operator/fluent-operator Docker tag to v3.10.1 (#7283)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update redis Docker tag to v8.10.2
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update redis Docker tag to v8.10.2 (#7284)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/fluent/fluent-operator/fluent-bit Docker tag to v5.1.2
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/fluent/fluent-operator/fluent-bit Docker tag to v5.1.2 (#7285)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update module github.com/gardener/gardener-landscape-kit to v0.5.0 (#7240)
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Update alpine Docker tag to v3.24.2 (#7264)
  Dockerfile
  config/images/images.yaml
  images/copy-images/Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, pull-ci-infra-prow-go-tests, post-ci-infra-copy-images

Update module github.com/onsi/ginkgo/v2 to v2.33.0
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#7287)
  deploy/prow/cherrypicker_deployment.yaml
Due: post-ci-infra-build-images

Update ghcr.io/renovatebot/renovate Docker tag to v44.106.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.106.0 (#7288)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/org/org-periodics.yaml
  config/jobs/org/org-postsubmits.yaml
  config/jobs/org/org-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#7286)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/org/org-periodics.yaml
  config/jobs/org/org-postsubmits.yaml
  config/jobs/org/org-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#7289)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/peribolos/cronjob.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests
