Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241031-9fa9ca6
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-copy-images-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241107-b5d8153
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-krte-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241107-b5d8153
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-check-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20241015-f5fd905349
      command:
      - configurator
      args:
      - --yaml=config/testgrids/config.yaml
      - --default=config/testgrids/default.yaml
      - --prow-config=config/prow/config.yaml
  ...

post-ci-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20241015-f5fd905349
      command:
      - configurator
      args:
      - --gcp-service-account=/etc/gcp-service-account/service-account.json
      - --yaml=config/testgrids/config.yaml
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.31.2
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20260220-ea4b6a3dc
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
  ...

pull-ci-infra-prow-go-tests:
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260223-b4e5c83-1.26
      command:
      - make
      args:
      - verify
      resources:
        limits:
          memory: 4Gi
        requests:
          cpu: 4
          memory: 2Gi

Update ghcr.io/credativ/valitail Docker tag to v2.2.36
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/credativ/vali Docker tag to v2.2.36 (#6931)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/credativ/valitail Docker tag to v2.2.36 (#6932)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/renovatebot/renovate Docker tag to v44.29.5
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.29.5 (#6933)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.30.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.30.0 (#6934)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-38.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#6935)
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-38.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update module golang.org/x/tools to v0.49.0 (#6927)
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Update golang Docker tag to v1.26.6 (#6928)
  Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-prow-go-tests

Update module github.com/sirupsen/logrus to v1.10.0 (#6926)
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/org/org-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#6936)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-branch-cleaner.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-release-handler.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/org/org-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.30.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.30.1 (#6937)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#6938)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Update envoyproxy/gateway Docker tag to v1.9.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update envoyproxy/gateway Docker tag to v1.9.0 (#6941)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/peribolos/cronjob.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#6940)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/peribolos/cronjob.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests

Update ghcr.io/renovatebot/renovate Docker tag to v44.30.4
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.30.4 (#6943)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#6945)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Update ghcr.io/renovatebot/renovate Docker tag to v44.32.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.32.1 (#6944)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.32.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.32.2 (#6948)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator Docker tag to v0.158.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/open-telemetry/opentelemetry-operator/target-allocator Docker tag to v0.158.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator Docker tag to v0.158.0 (#6949)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/open-telemetry/opentelemetry-operator/target-allocator Docker tag to v0.158.0 (#6950)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/fluent/fluent-operator/fluent-operator Docker tag to v3.10.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/fluent/fluent-operator/fluent-operator Docker tag to v3.10.0 (#6951)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(.github|clusters|config|deploy|images)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
