Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(clusters|config|deploy)\/
  pull-ci-infra-verify-image-build: unless all of: ^(clusters|config|deploy)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5142)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5143)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5144)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5145)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.74.4
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.74.4 (#5146)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.74.5
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.74.5 (#5147)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

shoot-networking-filter extension job should use go 1.25
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

fix(deps): update module github.com/onsi/gomega to v1.39.0
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

shoot-networking-filter extension job should use go 1.25 (#5148)
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.74.7
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.74.7 (#5151)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/auditlog-forwarder/auditlog-forwarder-unit-tests.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-unit-tests.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/diki/diki-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-33.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-34.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-dns-service/extension-shoot-dns-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-integration-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-auditing/gardener-extension-auditing-unit-tests.yaml
  config/jobs/gardener-extension-image-rewriter/gardener-extension-image-rewriter-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-132.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-133.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-unit-tests.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5150)
  config/jobs/auditlog-forwarder/auditlog-forwarder-unit-tests.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-unit-tests.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/diki/diki-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-33.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-34.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-dns-service/extension-shoot-dns-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/external-dns-management/external-dns-management-integration-tests.yaml
  config/jobs/external-dns-management/external-dns-management-unit-tests.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-auditing/gardener-extension-auditing-unit-tests.yaml
  config/jobs/gardener-extension-image-rewriter/gardener-extension-image-rewriter-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener-landscape-kit/gardener-landscape-kit-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-132.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-133.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-unit-tests.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

chore(deps): update renovate
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate (#5152)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-33.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-34.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-132.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-133.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra (#5153)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-33.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-34.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-operator.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-multi-node.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-132.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-133.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-134.yaml
  config/jobs/pvc-autoscaler/pvc-autoscaler-e2e-kind.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.75.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.75.1 (#5154)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Add VictoriaMetrics operator image (#5140)
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib docker tag to v0.143.1
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.76.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v42.76.0 (#5155)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release prometheus-blackbox-exporter to 11.7.x
  deploy/monitoring/trusted/blackbox-exporter-helmchart.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 45.69.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 45.69.x (#5157)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

fix(deps): update sigs.k8s.io/prow digest to e821f0d
  go.mod
  go.sum
Due: post-ci-infra-build-images, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5158)
  config/mkpj.sh
  config/prow/config.yaml
  deploy/prow/crier_deployment.yaml
  deploy/prow/deck_deployment.yaml
  deploy/prow/ghproxy_deployment.yaml
  deploy/prow/hook_deployment.yaml
  deploy/prow/horologium_deployment.yaml
  deploy/prow/needs-rebase_deployment.yaml
  deploy/prow/prow_controller_manager_deployment.yaml
  deploy/prow/sinker_deployment.yaml
  deploy/prow/statusreconciler_deployment.yaml
  deploy/prow/tide_deployment.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, pull-ci-infra-verify-image-build

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#5160)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Bumping Prow jobs - prow and Prow jobs - test-infra and Prow jobs - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator docker tag to v0.142.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update ghcr.io/open-telemetry/opentelemetry-operator/target-allocator docker tag to v0.142.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib docker tag to v0.143.1 (#4873)
  config/images/images.yaml
Due: post-ci-infra-copy-images
