Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

chore(deps): update helm release renovate to 39.98.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 39.98.x (#2996)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update alpine docker tag to v3.21.2 (#2991)
  Dockerfile
  config/images/images.yaml
  images/copy-images/Dockerfile
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-copy-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#2997)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/copy-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  deploy/prow/gcsweb_deployment.yaml
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.100.1
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#2998)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  deploy/prow/gcsweb_deployment.yaml
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.100.1 (#3000)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Drop `post-ci-infra-deploy-prow` prow job
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Add tobschli to reviewers and approvers
  OWNERS_ALIASES
Due: post-ci-infra-build-images

Sort reviewers and approvers alphabetically
  OWNERS_ALIASES
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3003)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Drop `post-ci-infra-deploy-prow` prow job (#3001)
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.100.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.100.2 (#3004)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3005)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.101.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.101.0 (#3006)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.102.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.102.0 (#3008)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3007)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Deploy monitoring stack via flux
  clusters/prow-build/kustomization.yaml
  clusters/prow-build/monitoring-build-kustomization.yaml
  clusters/prow-trusted/kustomization.yaml
  clusters/prow-trusted/monitoring-trusted-kustomization.yaml
  deploy/monitoring/base/alertmanager-vpa.yaml
  deploy/monitoring/base/grafana-vpa.yaml
  deploy/monitoring/base/kube-prometheus-stack.yaml
  deploy/monitoring/base/kustomization.yaml
  deploy/monitoring/base/namespace.yaml
  deploy/monitoring/base/prometheus-community-helmrepo.yaml
  deploy/monitoring/base/prometheus-vpa.yaml
  deploy/monitoring/base/prow-rules.yaml
  deploy/monitoring/build/kustomization.yaml
  deploy/monitoring/build/patch-kube-prometheus-stack.yaml
  deploy/monitoring/build/prometheus-performance.yaml
  deploy/monitoring/build/prow-rules.yaml
  deploy/monitoring/trusted/blackbox-exporter-helmchart.yaml
  deploy/monitoring/trusted/dashboards/deck.json
  deploy/monitoring/trusted/dashboards/ghproxy.json
  deploy/monitoring/trusted/dashboards/hook.json
  deploy/monitoring/trusted/dashboards/prow.json
  deploy/monitoring/trusted/dashboards/prowcontrollermanager.json
  deploy/monitoring/trusted/dashboards/sinker.json
  deploy/monitoring/trusted/dashboards/slo.json
  deploy/monitoring/trusted/dashboards/tide.json
  deploy/monitoring/trusted/deck-probe.yaml
  deploy/monitoring/trusted/kustomization.yaml
  deploy/monitoring/trusted/monitoring-build-probe.yaml
  deploy/monitoring/trusted/monitoring-trusted-probe.yaml
  deploy/monitoring/trusted/patch-kube-prometheus-stack.yaml
  deploy/monitoring/trusted/prow-rules.yaml
  deploy/monitoring/trusted/prow-servicemonitors.yaml
Due: post-ci-infra-build-images

Simplify config folder structure
  config/prow/plugins.yaml
  config/prow/webserver-static-files/gardener-favicon.png
  config/prow/webserver-static-files/gardener-large.png
  config/prow/webserver-static-files/gardener.svg
Due: pull-ci-infra-prow-checkconfig

chore(deps): update rclone/rclone docker tag to v1.69.0
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.106.0
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3011)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  deploy/prow/gcsweb_deployment.yaml
  hack/check-testgrid-config.sh
  images/krte/variants.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate to v39.106.0 (#3013)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update rclone/rclone docker tag to v1.69.0 (#3010)
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3014)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-job-images.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-23.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-24.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-25.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-build-images.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-branch-cleaner.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/gardener-release-handler.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-108.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-109.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-110.yaml
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig
