Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, pull-ci-infra-prow-go-tests, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-ci-infra-prow-go-tests: unless all of: ^(.github|clusters|config|deploy|images)\/
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Update persesdev/perses-operator Docker tag to v0.5.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update persesdev/perses-operator Docker tag to v0.5.0 (#6857)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Bumping Prow components - prow and Prow components - test-infra and Prow components - ci-infra (#6856)
  deploy/prow/cherrypicker_deployment.yaml
  deploy/prow/cla_assistant_deployment.yaml
Due: post-ci-infra-build-images

Update moby/buildkit Docker tag to v0.32.2
  config/jobs/auditlog-forwarder/auditlog-forwarder-test-builds.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/etcd-druid/etcd-druid-test-builds.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-33.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-34.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-35.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-36.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-37.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-test-builds.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-146.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-147.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-148.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib Docker tag to v0.158.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib Docker tag to v0.158.0 (#6859)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Increase cert-management unit test job memory to 8Gi
  config/jobs/cert-management/cert-management-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Increase cert-management unit test job memory to 8Gi (#6860)
  config/jobs/cert-management/cert-management-unit-tests.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.11.8
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release kube-prometheus-stack to v88.1.5
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Update moby/buildkit Docker tag to v0.32.2 (#6847)
  config/jobs/auditlog-forwarder/auditlog-forwarder-test-builds.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/etcd-druid/etcd-druid-test-builds.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-33.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-34.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-35.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-36.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-37.yaml
  config/jobs/garden-shoot-trust-configurator/garden-shoot-trust-configurator-test-builds.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-test-builds.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-146.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-147.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-148.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.11.8 (#6861)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update Helm release kube-prometheus-stack to v88.1.5 (#6862)
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Update ghcr.io/renovatebot/renovate Docker tag to v44.12.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.12.0 (#6863)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.13.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.13.1 (#6864)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.13.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.13.2 (#6865)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update enix/x509-certificate-exporter Docker tag to v4.2.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update enix/x509-certificate-exporter Docker tag to v4.2.0 (#6866)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Update dependency google/go-containerregistry to v0.21.9
  images/copy-images/Dockerfile
Due: post-ci-infra-build-copy-images-image

Update ghcr.io/renovatebot/renovate Docker tag to v44.13.3
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.13.3 (#6868)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.14.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.14.1 (#6869)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.14.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.14.2 (#6870)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.14.3
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update ghcr.io/renovatebot/renovate Docker tag to v44.14.3 (#6871)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Update dependency google/go-containerregistry to v0.21.9 (#6867)
  images/copy-images/Dockerfile
Due: post-ci-infra-build-copy-images-image

add gardener-extension-envoy-gateway repo
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Update Helm release kube-prometheus-stack to v88.1.6
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Update Helm release kube-prometheus-stack to v88.1.6 (#6874)
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images
