Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220620-9d0f217
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-validate-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - test
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
      - kubernetes-test-infra
  ...

post-ci-infra-update-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - /etc/github-token/token
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.24.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221109-fc7608f5ec
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Grant push access to `ci` team and use merge method squash for `gardener/gardener-extension-registry-cache` (#555)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Allow concourse to create release commit for the registry-cache extension
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Allow concourse to create release commit for the registry-cache extension (#556)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#557)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#558)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#559)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Introduce `milestone-activator` app
  config/prow/config.yaml
  prow/cmd/milestone-activator/README.md
  prow/cmd/milestone-activator/activator.go
  prow/cmd/milestone-activator/activator_test.go
  prow/cmd/milestone-activator/main.go
  prow/cmd/milestone-activator/milestone_activator_suite_test.go
Due: post-ci-infra-build-images, pull-ci-infra-prow-checkconfig

Create build configuration for milestone-activator
  Dockerfile
  Makefile
  config/jobs/ci-infra/build-ci-infra-images.yaml
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Add prow job for milestone-activator on `gardener/gardener`
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Harmonize shared packages and job-forker
  prow/cmd/job-forker/forking.go
  prow/cmd/job-forker/main.go
  prow/pkg/githubinteractor/github.go
  prow/pkg/githubinteractor/github_test.go
Due: post-ci-infra-build-images

Bumping Prow and Prow - ci-infra (#560)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#562)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-60.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-61.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#563)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-60.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-61.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update milestone configuration
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Update milestone configuration (#564)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#565)
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-60.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#567)
  config/jobs/gardener/releases/gardener-gardener-release-v1-60.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#566)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#568)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#569)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Remove periodic single and multi-zone upgrade test jobs
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Create Go 1.20 test image
  images/golang-test/variants.yaml
Due: post-ci-infra-build-images

Remove periodic single and multi-zone upgrade test jobs (#570)
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Create Go 1.20 test image (#571)
  images/golang-test/variants.yaml
Due: post-ci-infra-build-images

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-61.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#572)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-build-dev-images.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-test-builds.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-build-dev-images.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-test-builds.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-61.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Use strings for build variant names
  images/golang-test/variants.yaml
Due: post-ci-infra-build-images

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  pull-ci-infra-validate-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-update-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
