Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-ci-infra-build-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220620-9d0f217
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

post-ci-infra-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: eu.gcr.io/gardener-project/ci-infra/image-builder:v20220406-5e869d4
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-ci-infra-validate-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - test
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
      - kubernetes-test-infra
  ...

post-ci-infra-update-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure:v20220523-6e12e42c76
      command:
      - /ko-app/transfigure
      args:
      - /etc/github-token/token
      - config/prow/config.yaml
      - config/jobs
      - config/prow/gardener-testgrid.yaml
      - gardener
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.21.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220427-c2db0f69b7
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Use golang v1.18 for apidiff test
  config/jobs/gardener/gardener-apidiff.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Use golang v1.18 for apidiff test (#410)
  config/jobs/gardener/gardener-apidiff.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#411)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

added simple Git/GitHub interactor
  prow/pkg/githubinteractor/github.go
Due: post-ci-infra-build-images

added fakes to make githubinteractor testable
  prow/pkg/fakes/fakegitclient/fakegitclient.go
  prow/pkg/fakes/fakegithubclient/fakegithubclient.go
Due: post-ci-infra-build-images

added tests for githubinteractor
  prow/pkg/githubinteractor/githubinteractor_suite_test.go
Due: post-ci-infra-build-images

added job-forker
  prow/cmd/job-forker/forking.go
  prow/cmd/job-forker/main.go
Due: post-ci-infra-build-images

added job-forker tests
  prow/cmd/job-forker/job_forker_suite_test.go
Due: post-ci-infra-build-images

added image build-config and README for job-forker
  Dockerfile
  prow/cmd/job-forker/README.md
Due: post-ci-infra-build-images, post-ci-infra-build-golang-test-image

Add new prow job for HA e2e tests ci-e2e-kind-ha-single-zone, ci-e2e-kind-ha-multi-zone
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-single-ha-single-zone.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#413)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Enable prow for gardener/gardener-extension-registry-cache repository
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/config.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Enable prow for gardener/gardener-extension-registry-cache repository (#414)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/config.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Fix label-sync job
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Fix label-sync job (#415)
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Add prow jobs for gardener-extension-registry-cache repo
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/testgrids/config.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Change image locations
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#416)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#418)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add v1.57 release milestone check to prow
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#420)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add v1.57 release milestone check to prow (#419)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Fix release milestone check for gardener/gardener
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Fix release milestone check for gardener/gardener (#421)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add prow jobs for gardener-extension-registry-cache repo (#417)
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-test-builds.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/testgrids/config.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Change registry-cache build targets
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#422)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Change registry-cache build targets (#423)
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-build-images.yaml
Due: pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#424)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Deactivate Release Milestone Check for gardener v1.57
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Deactivate Release Milestone Check for gardener v1.57 (#425)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#426)
  config/jobs/ci-infra/ci-infra-automate-testgrid.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
  hack/check-testgrid-config.sh
Due: post-ci-infra-build-images, pull-ci-infra-validate-testgrid-config, post-ci-infra-update-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check)-config\.sh
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  pull-ci-infra-validate-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-update-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/prow\/gardener-testgrid.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
