Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-build-golang-test-image, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-build-golang-test-image:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: ghcr.io/gardener/ci-infra/image-builder:latest
      command:
      - /image-builder
      args:
      - --log-level=info
      - --docker-config-secret=k8s-playground-docker-config
  ...

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.21.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220117-34b34180b1
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Rework image-builder
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/gardener/build-gardener-images.yaml
  prow/cmd/image-builder/buildcontroller.go
  prow/cmd/image-builder/buildcontroller_test.go
  prow/cmd/image-builder/main.go
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#156)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update nginx to v1.1.2 (#154)
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Enable tests and checks for shoot-oidc-service repository
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Activate label sync for shoot-oidc-extension
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-prow-checkconfig

Update description of periodic job
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
Due: pull-ci-infra-prow-checkconfig

Enable tests and checks for shoot-oidc-service repository (#157)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#158)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#159)
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/release/gardener-e2e-kind-release.yaml
Due: pull-ci-infra-prow-checkconfig

Add api diff job
  config/jobs/gardener/gardener-apidiff.yaml
Due: pull-ci-infra-prow-checkconfig

Allow g/g maintainers to delete outdated release branches
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Allow g/g maintainers to delete outdated release branches (#160)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add api diff job (#113)
  config/jobs/gardener/gardener-apidiff.yaml
Due: pull-ci-infra-prow-checkconfig

Change build prowjobs and enter initial image tags
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Catching up prow-work cluster with reality too
  config/clusters/shoot-workload.yaml
Due: none

Use builder to create new controller
  go.mod
  prow/cmd/image-builder/buildcontroller.go
Due: none

Minor nit
  config/jobs/gardener/gardener-apidiff.yaml
Due: pull-ci-infra-prow-checkconfig

Minor nit (#162)
  config/jobs/gardener/gardener-apidiff.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#161)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

some nits
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  prow/cmd/image-builder/buildcontroller.go
  prow/cmd/image-builder/main.go
Due: pull-ci-infra-prow-checkconfig

Remove ci-infra build github workflow
  .github/workflows/build-ci-infra-images.yaml
Due: none

Remove ci-infra build github workflow (#163)
  .github/workflows/build-ci-infra-images.yaml
Due: none

Update golang-test images
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/release/gardener-integration-tests-release.yaml
  config/jobs/gardener/release/gardener-unit-tests-release.yaml
Due: pull-ci-infra-prow-checkconfig

Update golang-test images (#164)
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/release/gardener-integration-tests-release.yaml
  config/jobs/gardener/release/gardener-unit-tests-release.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#166)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/mkpj.sh
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images and Prow - ci-infra (#165)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Disable parallel builds / don't build ci-infra images on config changes
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - ci-infra (#168)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
  config/prow/cluster/cla_assistant_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images and Prow - ci-infra (#169)
  config/jobs/ci-infra/build-ci-infra-images.yaml
  config/jobs/ci-infra/build-golang-test-image.yaml
  config/jobs/gardener/build-gardener-images.yaml
Due: pull-ci-infra-prow-checkconfig

Path conditions:
  post-build-golang-test-image: any of: dockerfile
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
