Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-build-images, post-ci-infra-build-golang-test-image, post-ci-infra-build-copy-images-image, post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig, post-ci-infra-copy-images, pull-ci-infra-check-renovate-config

Path conditions:
  post-ci-infra-build-images: unless all of: ^config\/|^hack\/(bootstrap|check|check-testgrid)-config\.sh|^images\/
  post-ci-infra-build-golang-test-image: any of: ^Dockerfile|^Makefile|^config\/jobs\/ci-infra\/build-golang-test-image\.yaml
  post-ci-infra-build-copy-images-image: any of: ^images\/copy-images\/
  post-ci-infra-build-krte-image: any of: ^images\/krte\/
  pull-ci-infra-check-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-upload-testgrid-config: any of: ^(config\/jobs\/.*.yaml)|(config\/testgrids\/.*.yaml)$
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-ci-infra-copy-images: any of: ^config\/images\/
  pull-ci-infra-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3590)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Add `gardener-extension-shoot-cert-service` repo to prow configs (#3585)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/common/renovate-presubmits.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/prow/config.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
  config/testgrids/config.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.0 (#3591)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3592)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release renovate to 39.244.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3593)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release renovate to 39.244.x (#3594)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3595)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update dependency golangci/golangci-lint to v2
  hack/tools.mk
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3596)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.1
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.1 (#3597)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.2
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.2 (#3598)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update envoyproxy/envoy-distroless docker tag to v1.34.0
  config/images/images.yaml
Due: post-ci-infra-copy-images

chore(deps): update envoyproxy/envoy-distroless docker tag to v1.34.0 (#3599)
  config/images/images.yaml
Due: post-ci-infra-copy-images

Forked prow jobs for release branches
  config/jobs/gardener/releases/gardener-gardener-release-v1-117.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Forked prow jobs for release branches (#3600)
  config/jobs/gardener/releases/gardener-gardener-release-v1-117.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release kube-prometheus-stack to 70.5.x
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-117.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.3
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3602)
  config/jobs/cert-management/cert-management-integration-tests.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-check-vulnerabilities.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-api-unit-tests.yaml
  config/jobs/etcd-druid/etcd-druid-integration-tests.yaml
  config/jobs/etcd-druid/etcd-druid-unit-tests.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-integration-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
  config/jobs/gardener/gardener-apidiff.yaml
  config/jobs/gardener/gardener-integration-tests.yaml
  config/jobs/gardener/gardener-unit-tests.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-117.yaml
  images/krte/variants.yaml
Due: post-ci-infra-build-krte-image, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.244.3 (#3603)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update renovate (#3604)
  config/jobs/common/renovate-presubmits.yaml
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images, pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release kube-prometheus-stack to 70.5.x (#3601)
  deploy/monitoring/base/kube-prometheus-stack.yaml
Due: post-ci-infra-build-images

Bumping Prow and Prow - test-infra and Prow - ci-infra
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-117.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

Bumping Prow and Prow - test-infra and Prow - ci-infra (#3605)
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/dependency-watchdog/dependency-watchdog-e2e-kind.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/jobs/etcd-druid/etcd-druid-e2e-kind.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-27.yaml
  config/jobs/etcd-druid/releases/gardener-etcd-druid-hotfix-v0-29.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-e2e-kind.yaml
  config/jobs/gardener/gardener-e2e-kind-gardenadm.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-ipv6.yaml
  config/jobs/gardener/gardener-e2e-kind-migration-ha-single-zone.yaml
  config/jobs/gardener/gardener-e2e-kind-migration.yaml
  config/jobs/gardener/gardener-e2e-kind-operator-seed.yaml
  config/jobs/gardener/gardener-e2e-kind-operator.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-114.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-115.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-116.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-117.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.246.0
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update ghcr.io/renovatebot/renovate docker tag to v39.246.0 (#3606)
  config/jobs/common/renovate-presubmits.yaml
Due: pull-ci-infra-check-testgrid-config, post-ci-infra-upload-testgrid-config, pull-ci-infra-prow-checkconfig

chore(deps): update helm release renovate to 39.246.x
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

chore(deps): update helm release renovate to 39.246.x (#3607)
  deploy/renovate/renovate.yaml
Due: post-ci-infra-build-images

[cert-management] Drop removed `check` step from `required_status_check`
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

[gardener-extension-shoot-cert-service] Add concourse jobs to `required_status_check`
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

[cert-management] Drop removed `check` step from `required_status_check` (#3608)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig
