Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

config/jobs/ci-infra/ci-infra-postsubmits.yaml:

postsubmits:
  gardener/ci-infra:
  - name: post-ci-infra-deploy-prow
    cluster: gardener-prow-trusted
    run_if_changed: 'config/prow/(cluster/|deploy.sh)'
    decorate: true
    branches:
    - ^master$
    max_concurrency: 1
#    reporter_config:
#      slack:
#        channel: "prow-alerts"
#        job_states_to_report:
#        - success
#        - failure
#        - aborted
#        - error
#        report_template: 'Deploying prow: {{.Status.State}}. Commit: <{{.Spec.Refs.BaseLink}}|{{printf "%.7s" .Spec.Refs.BaseSHA}}> | <{{.Status.URL}}|Spyglass> | <https://testgrid.k8s.io/sig-testing-prow#deploy-prow|Testgrid> | <https://prow.k8s.io/?job={{.Spec.Job}}|Deck>'
    spec:
      serviceAccountName: deployer
      containers:
      - image: bitnami/kubectl:1.21.7
        command:
        - config/prow/deploy.sh
        env:
        - name: KUBECONFIG
          value: "/etc/kubeconfig/config"
        volumeMounts:
        - mountPath: /etc/kubeconfig
          name: kubeconfig
          readOnly: true
      volumes:
      - name: kubeconfig
        secret:
          defaultMode: 420
          secretName: kubeconfig

config/jobs/ci-infra/ci-infra-presubmits.yaml:

presubmits:
  gardener/ci-infra:
  - name: pull-ci-infra-prow-checkconfig
    cluster: gardener-prow-build
    run_if_changed: '^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)'
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20211126-48cb2fc883
        command:
        - /checkconfig
        args:
        - --config-path=config/prow/config.yaml
        - --job-config-path=config/jobs
        - --plugin-config=config/prow/plugins.yaml
        - --strict
        - --warnings=mismatched-tide-lenient
        - --warnings=tide-strict-branch
        - --warnings=needs-ok-to-test
        - --warnings=validate-owners
        - --warnings=missing-trigger
        - --warnings=validate-urls
        - --warnings=unknown-fields
        - --warnings=duplicate-job-refs

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#14)
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#15)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#16)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#17)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#18)
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow (#19)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add gardener-e2e-kind presubmit and periodic
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Add gardener-e2e-kind presubmit and periodic (#20)
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow (#21)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#22)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Activate label sync for g/g
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-prow-checkconfig

Activate label sync for g/g (#23)
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow (#24)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add command help to report template
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add command help to report template (#25)
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow (#27)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add prometheus-operator CRDs
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/README.md
  config/prow/cluster/monitoring/prometheus-operator-crds/kustomization.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagerconfigs.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_alertmanagers.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_podmonitors.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_probes.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheuses.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_prometheusrules.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_servicemonitors.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/monitoring.coreos.com_thanosrulers.yaml
  config/prow/cluster/monitoring/prometheus-operator-crds/update-crds.sh
  config/prow/deploy.sh
Due: post-ci-infra-deploy-prow

Activate pushgateway in prow config
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Upgrade prometheus operator
  config/prow/cluster/monitoring/alertmanager/slack-messages.tmpl
  config/prow/cluster/monitoring/prometheus_operator_deployment.yaml
Due: post-ci-infra-deploy-prow

Add alertmanager config
  README.md
  config/prow/cluster/monitoring/alertmanager/config.yaml
  config/prow/cluster/monitoring/alertmanager/slack-messages.tmpl
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/prow_alertmanager.yaml
Due: post-ci-infra-deploy-prow

Reorganize and clean files a bit
  config/prow/cluster/monitoring/additional-scrape-configs_secret.yaml
  config/prow/cluster/monitoring/alertmanager_rbac.yaml
  config/prow/cluster/monitoring/alertmanager_service.yaml
  config/prow/cluster/monitoring/blackbox-exporter_configmap.yaml
  config/prow/cluster/monitoring/blackbox-exporter_deployment.yaml
  config/prow/cluster/monitoring/blackbox-exporter_service.yaml
  config/prow/cluster/monitoring/blackbox_prober.yaml
  config/prow/cluster/monitoring/grafana_configmaps.yaml
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/grafana_expose.yaml
  config/prow/cluster/monitoring/grafana_rbac.yaml
  config/prow/cluster/monitoring/grafana_service.yaml
  config/prow/cluster/monitoring/kube-state-metrics_deployment.yaml
  config/prow/cluster/monitoring/kube-state-metrics_rbac.yaml
  config/prow/cluster/monitoring/kube-state-metrics_service.yaml
  config/prow/cluster/monitoring/kube-state-metrics_servicemonitor.yaml
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/monitoring-prow-k8s-io_managedcertificate.yaml
  config/prow/cluster/monitoring/monitoring_ingress.yaml
  config/prow/cluster/monitoring/prometheus/additional-scrape-targets.yaml
  config/prow/cluster/monitoring/prometheus_operator_deployment.yaml
  config/prow/cluster/monitoring/prometheus_operator_rbac.yaml
  config/prow/cluster/monitoring/prometheus_rbac.yaml
  config/prow/cluster/monitoring/prometheus_service.yaml
  config/prow/cluster/monitoring/prow-monitoring_namespace.yaml
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_podmonitors.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
  config/prow/cluster/monitoring/prow_servicemonitors.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_configmap.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_deployment.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_service.yaml
  config/prow/cluster/monitoring/pushgateway_deployment.yaml
  config/prow/cluster/monitoring/pushgateway_service.yaml
Due: post-ci-infra-deploy-prow

Add relevant stuff from k8s.io/test-infra/config/prow/cluster/monitoring
  config/prow/cluster/monitoring/additional-scrape-configs_secret.yaml
  config/prow/cluster/monitoring/alertmanager_expose.yaml
  config/prow/cluster/monitoring/alertmanager_rbac.yaml
  config/prow/cluster/monitoring/blackbox_prober.yaml
  config/prow/cluster/monitoring/grafana_configmaps.yaml
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/grafana_expose.yaml
  config/prow/cluster/monitoring/grafana_rbac.yaml
  config/prow/cluster/monitoring/kube-state-metrics_deployment.yaml
  config/prow/cluster/monitoring/kube-state-metrics_rbac.yaml
  config/prow/cluster/monitoring/kube-state-metrics_service.yaml
  config/prow/cluster/monitoring/kube-state-metrics_servicemonitors.yaml
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/monitoring-prow-k8s-io_managedcertificate.yaml
  config/prow/cluster/monitoring/prometheus_expose.yaml
  config/prow/cluster/monitoring/prometheus_operator_deployment.yaml
  config/prow/cluster/monitoring/prometheus_operator_rbac.yaml
  config/prow/cluster/monitoring/prometheus_rbac.yaml
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_monitoring_namespace.yaml
  config/prow/cluster/monitoring/prow_podmonitors.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
  config/prow/cluster/monitoring/prow_servicemonitors.yaml
  config/prow/cluster/monitoring/pushgateway_deployment.yaml
Due: post-ci-infra-deploy-prow

Upgrade nginx proxies
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_configmap.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_deployment.yaml
Due: post-ci-infra-deploy-prow

Add dashboards based on k8s.io/test-infra
  config/prow/cluster/monitoring/grafana/dashboard-sources.yaml
  config/prow/cluster/monitoring/grafana/dashboards/boskos-http.json
  config/prow/cluster/monitoring/grafana/dashboards/boskos.json
  config/prow/cluster/monitoring/grafana/dashboards/deck.json
  config/prow/cluster/monitoring/grafana/dashboards/ghproxy.json
  config/prow/cluster/monitoring/grafana/dashboards/hook.json
  config/prow/cluster/monitoring/grafana/dashboards/plank.json
  config/prow/cluster/monitoring/grafana/dashboards/prow.json
  config/prow/cluster/monitoring/grafana/dashboards/sinker.json
  config/prow/cluster/monitoring/grafana/dashboards/slo.json
  config/prow/cluster/monitoring/grafana/dashboards/tide.json
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/kustomization.yaml
Due: post-ci-infra-deploy-prow

Upgrade blackbox-exporter
  config/prow/cluster/monitoring/blackbox-exporter_configmap.yaml
  config/prow/cluster/monitoring/blackbox-exporter_deployment.yaml
Due: post-ci-infra-deploy-prow

Upgrade kube-state-metrics
  config/prow/cluster/monitoring/kube-state-metrics_deployment.yaml
Due: post-ci-infra-deploy-prow

Make dashboards editable
  config/prow/cluster/monitoring/grafana/dashboards/boskos-http.json
  config/prow/cluster/monitoring/grafana/dashboards/boskos.json
  config/prow/cluster/monitoring/grafana/dashboards/deck.json
  config/prow/cluster/monitoring/grafana/dashboards/ghproxy.json
  config/prow/cluster/monitoring/grafana/dashboards/hook.json
  config/prow/cluster/monitoring/grafana/dashboards/plank.json
  config/prow/cluster/monitoring/grafana/dashboards/prow.json
  config/prow/cluster/monitoring/grafana/dashboards/sinker.json
  config/prow/cluster/monitoring/grafana/dashboards/slo.json
  config/prow/cluster/monitoring/grafana/dashboards/tide.json
Due: post-ci-infra-deploy-prow

Upgrade and configure grafana
  README.md
  config/prow/cluster/monitoring/grafana/dashboard-sources.yaml
  config/prow/cluster/monitoring/grafana/datasources.yaml
  config/prow/cluster/monitoring/grafana/grafana.ini
  config/prow/cluster/monitoring/grafana/nginx.conf
  config/prow/cluster/monitoring/grafana_configmaps.yaml
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/kustomization.yaml
Due: post-ci-infra-deploy-prow

Upgrade pushgateway
  config/prow/cluster/monitoring/pushgateway_deployment.yaml
Due: post-ci-infra-deploy-prow
