Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

post-ci-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: bitnami/kubectl:1.21.7
      command:
      - config/prow/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/kubeconfig/config
      volumeMounts:
      - mountPath: /etc/kubeconfig
        name: kubeconfig
  ...

pull-ci-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20211126-48cb2fc883
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

Add prometheus rules based on k8s.io/test-infra
  config/prow/cluster/monitoring/prow_prometheusrule.yaml
Due: post-ci-infra-deploy-prow

Upgrade alertmanager
  config/prow/cluster/monitoring/prow_alertmanager.yaml
Due: post-ci-infra-deploy-prow

Drop grafana nginx sidecar proxy
  config/prow/cluster/monitoring/grafana/grafana.ini
  config/prow/cluster/monitoring/grafana/nginx.conf
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/grafana_service.yaml
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/monitoring_ingress.yaml
Due: post-ci-infra-deploy-prow

Drop pushgateway
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/monitoring_ingress.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_configmap.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_deployment.yaml
  config/prow/cluster/monitoring/pushgateway-proxy_service.yaml
  config/prow/cluster/monitoring/pushgateway_deployment.yaml
  config/prow/cluster/monitoring/pushgateway_service.yaml
  config/prow/config.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Upgrade prometheus
  config/prow/cluster/monitoring/prow_prometheus.yaml
Due: post-ci-infra-deploy-prow

Drop unused boskos dashboards
  config/prow/cluster/monitoring/grafana/dashboards/boskos-http.json
  config/prow/cluster/monitoring/grafana/dashboards/boskos.json
  config/prow/cluster/monitoring/kustomization.yaml
Due: post-ci-infra-deploy-prow

Cleanup alerts for gardener prow
  config/prow/cluster/monitoring/alertmanager/slack-messages.tmpl
  config/prow/cluster/monitoring/prow_prometheusrule.yaml
Due: post-ci-infra-deploy-prow

Add heartbeat jobs ci-infra-prow-checkconfig-*
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/ci-infra/echo-test.yaml
  config/prow/cluster/monitoring/prow_prometheusrule.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Activate prometheus rules
  config/prow/cluster/monitoring/kustomization.yaml
  config/prow/cluster/monitoring/prometheus/additional-scrape-targets.yaml
Due: post-ci-infra-deploy-prow

Add some README notes about monitoring
  README.md
  config/prow/cluster/monitoring/grafana/grafana.ini
Due: post-ci-infra-deploy-prow

Tune no-webhook-calls alert to be less noisy
  config/prow/cluster/monitoring/prow_prometheusrule.yaml
Due: post-ci-infra-deploy-prow

Only notify timebertt for firing alerts
  config/prow/cluster/monitoring/alertmanager/config.yaml
Due: post-ci-infra-deploy-prow

Fix deployer RBAC permissions for monitoring components
  config/prow/cluster/trusted_serviceaccounts.yaml
Due: post-ci-infra-deploy-prow

Fix deployer RBAC permissions for monitoring components (#30)
  config/prow/cluster/trusted_serviceaccounts.yaml
Due: post-ci-infra-deploy-prow

Bumping Prow
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#31)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#32)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#33)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#34)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add oliver-goetz as reviewer and approver
  OWNERS_ALIASES
Due: none

Add oliver-goetz as reviewer and approver (#35)
  OWNERS_ALIASES
Due: none

Bumping Prow (#36)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Extend .gitignore
  .gitignore
Due: none

Extend .gitignore (#38)
  .gitignore
Due: none

Configure and deploy ingress-nginx
  config/clusters/shoot-workload.yaml
  config/clusters/shoot.yaml
  config/prow/cluster/ingress-nginx/00_ingress-nginx-namespace.yaml
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
  config/prow/deploy.sh
  config/scripts/generate-ingress-nginx-deployments.sh
Due: post-ci-infra-deploy-prow

Extend permissions of SA test-pods/deployer
  config/prow/cluster/trusted_serviceaccounts.yaml
Due: post-ci-infra-deploy-prow

Run adminmissionwebhook job on controlplane nodes too
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
  config/scripts/generate-ingress-nginx-deployments.sh
Due: post-ci-infra-deploy-prow

Bumping Prow (#39)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#41)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Change resource requests / change script location
  config/prow/cluster/ingress-nginx/helm/README.md
  config/prow/cluster/ingress-nginx/helm/generate-ingress-nginx-deployments.sh
  config/prow/cluster/ingress-nginx/helm/values.yaml
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
  config/scripts/generate-ingress-nginx-deployments.sh
Due: post-ci-infra-deploy-prow

Add resource limit to ingress-nginx-controller
  config/prow/cluster/ingress-nginx/helm/values.yaml
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
Due: post-ci-infra-deploy-prow

Deploy ingress-nginx controller (#40)
  config/clusters/shoot-workload.yaml
  config/clusters/shoot.yaml
  config/prow/cluster/ingress-nginx/00_ingress-nginx-namespace.yaml
  config/prow/cluster/ingress-nginx/helm/README.md
  config/prow/cluster/ingress-nginx/helm/generate-ingress-nginx-deployments.sh
  config/prow/cluster/ingress-nginx/helm/values.yaml
  config/prow/cluster/ingress-nginx/ingress-nginx-deployment.yaml
  config/prow/cluster/trusted_serviceaccounts.yaml
  config/prow/deploy.sh
Due: post-ci-infra-deploy-prow

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Path conditions:
  post-ci-infra-deploy-prow: any of: config/prow/(cluster/|deploy.sh)
  pull-ci-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
