Repository gardener/ci-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

config/jobs/ci-infra/ci-infra-postsubmits.yaml:

postsubmits:
  gardener/ci-infra:
  - name: post-ci-infra-deploy-prow
    cluster: gardener-prow-trusted
    run_if_changed: 'config/prow/(cluster/|deploy.sh)'
    decorate: true
    branches:
    - ^master$
    max_concurrency: 1
#    reporter_config:
#      slack:
#        channel: "prow-alerts"
#        job_states_to_report:
#        - success
#        - failure
#        - aborted
#        - error
#        report_template: 'Deploying prow: {{.Status.State}}. Commit: <{{.Spec.Refs.BaseLink}}|{{printf "%.7s" .Spec.Refs.BaseSHA}}> | <{{.Status.URL}}|Spyglass> | <https://testgrid.k8s.io/sig-testing-prow#deploy-prow|Testgrid> | <https://prow.k8s.io/?job={{.Spec.Job}}|Deck>'
    spec:
      serviceAccountName: deployer
      containers:
      - image: bitnami/kubectl:1.21.7
        command:
        - config/prow/deploy.sh
        env:
        - name: KUBECONFIG
          value: "/etc/kubeconfig/config"
        volumeMounts:
        - mountPath: /etc/kubeconfig
          name: kubeconfig
          readOnly: true
      volumes:
      - name: kubeconfig
        secret:
          defaultMode: 420
          secretName: kubeconfig

config/jobs/ci-infra/ci-infra-presubmits.yaml:

presubmits:
  gardener/ci-infra:
  - name: pull-ci-infra-prow-checkconfig
    cluster: gardener-prow-build
    run_if_changed: '^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)'
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20211126-48cb2fc883
        command:
        - /checkconfig
        args:
        - --config-path=config/prow/config.yaml
        - --job-config-path=config/jobs
        - --plugin-config=config/prow/plugins.yaml
        - --strict
        - --warnings=mismatched-tide-lenient
        - --warnings=tide-strict-branch
        - --warnings=needs-ok-to-test
        - --warnings=validate-owners
        - --warnings=missing-trigger
        - --warnings=validate-urls
        - --warnings=unknown-fields
        - --warnings=duplicate-job-refs

fix indents
  README.md
Due: none

Remove CODEOWNERS
  CODEOWNERS
Due: none

Fix Deck OAuth (#2)
  CODEOWNERS
  README.md
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/prow/cluster/deck_deployment.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add label sync job
  README.md
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/cluster/label_sync_cronjob.yaml
  config/prow/plugins.yaml
  hack/check-config.sh
  hack/label-sync.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add autobump job
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: pull-ci-infra-prow-checkconfig

Remove tide config for skip-review
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add helper for generating prowjob
  .gitignore
  config/mkpj.sh
  hack/check-config.sh
Due: none

Add scripts as extra files
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Add autobump job
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add essential periodic jobs (#4)
  .gitignore
  README.md
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/mkpj.sh
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  config/prow/cluster/label_sync_cronjob.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Bumping Prow (#5)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update README.md
  README.md
Due: none

Add slack integration
  README.md
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Remove unsused config, adapt to gardener project
  config/prow/config.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add slack integration (#6)
  README.md
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Fix link in slack deploy message
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
Due: pull-ci-infra-prow-checkconfig

Fix link in slack deploy message (#7)
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
Due: pull-ci-infra-prow-checkconfig

Enable slackevents plugin
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Enable slackevents plugin (#8)
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add some nice job descriptions
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/ci-infra/echo-test.yaml
Due: pull-ci-infra-prow-checkconfig

Repo milestone config only for ci-infra
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add branchprotector and config
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Enforce protections for admins as well
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Drop context_options
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Document manual workaround
  config/prow/config.yaml
Due: pull-ci-infra-prow-checkconfig

Add branchprotector and config (#9)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-postsubmits.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/jobs/ci-infra/echo-test.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add config required for triggering jobs on g/g
  config/prow/labels.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Add gardener e2e test job
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Add gardener e2e test (postsubmit) (#10)
  config/jobs/gardener/gardener-e2e-kind.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
Due: pull-ci-infra-prow-checkconfig

Update ProwJob CRD
  config/prow/cluster/prowjob_customresourcedefinition.yaml
Due: post-ci-infra-deploy-prow

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images (#12)
  config/jobs/gardener/gardener-e2e-kind.yaml
Due: pull-ci-infra-prow-checkconfig

Add kind labels to autobump PRs
  config/jobs/ci-infra/ci-infra-periodics.yaml
Due: pull-ci-infra-prow-checkconfig

Bumping Prow (#13)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/ci-infra/ci-infra-presubmits.yaml
  config/mkpj.sh
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  hack/bootstrap-config.sh
  hack/check-config.sh
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig

Update ProwJob CRD to fix periodics with slack channel overwrite (#11)
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/prow/cluster/prowjob_customresourcedefinition.yaml
Due: post-ci-infra-deploy-prow, pull-ci-infra-prow-checkconfig
