Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

docs: add ops guide for overlapping cidr ranges
  docs/README.md
  docs/operations/images/double-nat.png
  docs/operations/overlapping-network-ranges.md
Due: none

Update dependency kyverno/kyverno to v1.15.0
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update .github/workflows/build.yaml
  .github/workflows/build.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Vali & Valitail changes based on OpenTelemetryCollector featuregate
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/observability/logging/vali/vali.go
  pkg/component/observability/logging/vali/vali_suite_test.go
  pkg/component/observability/logging/vali/vali_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Skaffold updates
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/client_golang to v1.23.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

export testresults as inlined ocm-resource (#12639)
  .github/workflows/build.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Enhance worker machine image defaulting with capabilities support
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement capabilities filtering for machine images in shoot maintenance controller
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent `gardener-node-agent` entering crash-loop on breaking changes to config (#12589)
  cmd/gardener-node-agent/app/app.go
  cmd/gardener-node-agent/app/options.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/nodeinit.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/nodeinit_test.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/templates/scripts/init.tpl.sh
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/component_test.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenadm/botanist/operatingsystemconfig_test.go
  pkg/nodeagent/apis/config/v1alpha1/helper/utils.go
  pkg/nodeagent/apis/config/v1alpha1/types.go
  pkg/nodeagent/bootstrap/bootstrap_test.go
  pkg/nodeagent/certificate.go
  pkg/nodeagent/certificate_test.go
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/certificate/reconciler.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler_test.go
  skaffold-gardenadm.yaml
  skaffold-seed.yaml
  skaffold.yaml
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Maintain feature gate ValidatingAdmissionPolicy as removed with Kubernetes v1.32
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

move capability filter logic to helper package and cleanup nits
  pkg/controllermanager/controller/shoot/maintenance/helper/helper.go
  pkg/controllermanager/controller/shoot/maintenance/helper/helper_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
  plugin/pkg/shoot/validator/admission.go
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Include scrape config to the collector
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Maintain feature gate ValidatingAdmissionPolicy as removed with Kubernetes v1.32 (#12643)
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Maintain feature gate ValidatingAdmissionPolicy as removed with Kubernetes v1.32 (#12645)
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/client_golang to v1.23.0 (#12642)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Maintain feature gate ValidatingAdmissionPolicy as removed with Kubernetes v1.32 (#12643) (#12651)
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Maintain feature gate ValidatingAdmissionPolicy as removed with Kubernetes v1.32 (#12646)
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Added test case for kubernetes.clusterAutoscaler.verbosity
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update validation for maxEvictRetries
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix seed registration for `ManagedSeed`s
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_managedseed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  docs/operations/overlapping-network-ranges.md
Due: none

Refine defaults and validation for worker with ManualInPlaceUpdate strategy
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename flag for more clarity
  .test-defs/ShootMachineImageUpdateTest.yaml
  test/testmachinery/system/shoot_machine_image_update/machine_image_update_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
  test/integration/controllermanager/managedseedset/managedseedset_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow setting machine image version during shoot creation
  .test-defs/CreateShoot.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Adjust validations for inPlace values of worker and add these fields to 90-shoot.yaml
  example/90-shoot.yaml
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix docs
  docs/deployment/getting_started_locally_with_gardenadm.md
Due: none

Add `gardener` user to control plane machines
  pkg/component/extensions/operatingsystemconfig/controlplanebootstrap.go
  pkg/component/extensions/operatingsystemconfig/controlplanebootstrap_test.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/gardenadm.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/gardenadm_test.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

MaxSurge and MaxUnavailable can be nil
  pkg/component/extensions/worker/worker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix cluster overview `cluster-autoscaler` bug
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/cluster-overview-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Plutono dashboard schema update
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/cluster-overview-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Don't default maxSurge and maxUnavailable for ManualInPlaceUpdate workers
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation that MaxSurge and MaxUnavilable should not be set for ManualInPlaceUpdate
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: add ops guide for overlapping cidr ranges (#12637)
  docs/README.md
  docs/operations/images/double-nat.png
  docs/operations/overlapping-network-ranges.md
Due: none

Update istio to v1.25.4
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
