Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250619-d095ff6-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Update istio to v1.25.4 (#12655)
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.3.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adjust validations for inPlace values of worker and add these fields to 90-shoot.yaml
  example/90-shoot.yaml
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.3.1 (#12656)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

explicitly configure ocm-component-name
  .ocm/base-component.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address review comments from acumino
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
  pkg/apis/extensions/v1alpha1/helper/worker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extend `ControlPlane` extension contract for `gardenadm bootstrap`
  docs/extensions/resources/controlplane.md
Due: none

Adapt generic actuator to `gardenadm bootstrap` scenario
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  pkg/provider-local/controller/controlplane/valuesprovider.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`gardenadm bootstrap`: Deploy `ControlPlane` resource
  pkg/gardenadm/botanist/extensions.go
  pkg/gardenadm/botanist/extensions_test.go
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  test/e2e/gardenadm/mediumtouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add prefix to user name for kubeconfig requests (#12597)
  docs/usage/shoot/shoot_access.md
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig_test.go
  test/e2e/gardener/shoot/create_authenticate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency kyverno/kyverno to v1.15.0 (#12640)
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix seed registration for `ManagedSeed`s (#12652)
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_managedseed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix seed registration for `ManagedSeed`s
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_managedseed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix seed registration for `ManagedSeed`s (#12662)
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_managedseed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Support multiple internal domain secrets
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_seed.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1beta1/helper/seed.go
  pkg/apis/core/v1beta1/types_seed.go
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/controller/shoot/care/reconciler.go
  pkg/gardenlet/controller/shoot/care/types.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/types.go
  pkg/utils/gardener/garden.go
  pkg/utils/gardener/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix wrong sandbox_image path in containerd.toml v3
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/open-telemetry/opentelemetry-operator to v0.131.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate MachineImage name
  pkg/apis/core/validation/utils.go
  pkg/apis/core/validation/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extract fn validateUnprefixedQualifiedName
  pkg/apis/core/validation/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate names and values of capabilities
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix value in error message
  pkg/apis/core/validation/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate container runtime types
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate machineType name
  pkg/apis/core/validation/utils.go
  pkg/apis/core/validation/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate volumeType name
  pkg/apis/core/validation/utils.go
  pkg/apis/core/validation/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate volumeType class
  pkg/apis/core/validation/utils.go
  pkg/apis/core/validation/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prevent Shoot migration from one Seed to another if the internal DNS domain would change
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Seed authorizer tests
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add controller to default the internal domain secret if not set
  pkg/controllermanager/controller/seed/add.go
  pkg/controllermanager/controller/seed/dns/add.go
  pkg/controllermanager/controller/seed/dns/dns_suite_test.go
  pkg/controllermanager/controller/seed/dns/reconciler.go
  pkg/controllermanager/controller/seed/dns/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration tests
  test/integration/controllermanager/seed/dns/dns_suite_test.go
  test/integration/controllermanager/seed/dns/dns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement ReadInternalDomainSecret function
  pkg/utils/gardener/garden.go
  pkg/utils/gardener/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add static validation
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Document the restriction to preserve the internal domain during shoot cp migration
  docs/operations/control_plane_migration.md
Due: none

Mention internal dns configs in seed examples
  dev-setup/gardenlet/base/gardenlet.yaml
  example/50-seed.yaml
  example/gardener-local/gardenlet/values.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix linter findings
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/gardenlet/controller/shoot/care/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/operation.go
  pkg/utils/gardener/garden.go
  pkg/utils/gardener/garden_test.go
  plugin/pkg/shoot/validator/admission.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance documentation
  docs/deployment/deploy_gardenlet_manually.md
  docs/deployment/deploy_gardenlet_via_operator.md
  docs/deployment/setup_gardener.md
Due: none

Fix test
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Satisfy typo linter
  pkg/apis/core/validation/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow non-canonical IPv6 addresses in `DNSRecord` validation.
  pkg/apis/extensions/validation/dnsrecord.go
  pkg/apis/extensions/validation/dnsrecord_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-28] `gardenadm bootstrap`: Add gardener user to control plane machines (#12653)
  docs/deployment/getting_started_locally_with_gardenadm.md
  pkg/component/extensions/operatingsystemconfig/controlplanebootstrap.go
  pkg/component/extensions/operatingsystemconfig/controlplanebootstrap_test.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/gardenadm.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/gardenadm_test.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
