Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Align customverbauthorizer subject handling with RBAC subject types
  plugin/pkg/global/customverbauthorizer/admission.go
  plugin/pkg/global/customverbauthorizer/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/ingress-default-backend to v0.27.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Updated Credential Rotation documentation
  docs/usage/shoot-operations/shoot_credentials_rotation.md
Due: none

Deploy `ControlPlane` extension after `kube-apiserver` in the shoot deletion flow
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

review feedback: split complex boolean condition
  plugin/pkg/global/customverbauthorizer/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

review feedback: rename humanMembership struct to membership
  plugin/pkg/global/customverbauthorizer/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/ingress-default-backend to v0.27.0 (#15064)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/ingress-default-backend to v0.27.0 (#15063)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.34.3 (#15056)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.35.1 (#15057)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.34.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.35.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add logcheck to the go.work and refine go.work handling - remove GOWORK overrides - run `go work sync`
  Makefile
  go.mod
  go.sum
  go.work
  hack/check-imports.sh
  hack/check-skaffold-deps-for-binary.sh
  hack/generate-parallel.sh
  hack/generate.sh
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[make generate]
  dev-setup/skaffold-cloud-provider-local.yaml
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  dev-setup/skaffold-seed.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review comment: Copy binaries instead of linking
  hack/tools.mk
  hack/tools/image/Dockerfile
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add separate go tools module
  Makefile
  go.mod
  go.sum
  go.work
  hack/tools.go
  hack/tools.mk
  hack/tools/image/Dockerfile
  hack/tools/mod/doc.go
  hack/tools/mod/go.mod
  hack/tools/mod/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove vgopath
  hack/tools.mk
  hack/vgopath-setup.sh
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Cleanup skaffold inclusions (now with GOWORK), make tool versions readonly
  dev-setup/skaffold-cloud-provider-local.yaml
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  dev-setup/skaffold-seed.yaml
  hack/check-skaffold-deps-for-binary.sh
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review comments: Go module path resolution, move module
  Makefile
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  dev-setup/skaffold-seed.yaml
  go.work
  hack/check-imports.sh
  hack/check-skaffold-deps-for-binary.sh
  hack/generate-parallel.sh
  hack/generate.sh
  hack/tools.mk
  pkg/internal/tools/doc.go
  pkg/internal/tools/go.mod
  pkg/internal/tools/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.146.0-dev (#15060)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Update dependency gardener/autoscaler to v1.35.1 (#15068)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.34.3 (#15069)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deprecate extensions/pkg/terraformer library
  extensions/pkg/terraformer/chart.go
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/doc.go
  extensions/pkg/terraformer/raw_state.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use `go tool` instead of `tools.go` (#14861)
  Makefile
  go.mod
  go.sum
  go.work
  hack/check-imports.sh
  hack/check-skaffold-deps-for-binary.sh
  hack/generate-parallel.sh
  hack/generate.sh
  hack/tools.go
  hack/tools.mk
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
  hack/vgopath-setup.sh
  pkg/apis/go.mod
  pkg/apis/go.sum
  pkg/internal/tools/doc.go
  pkg/internal/tools/go.mod
  pkg/internal/tools/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.34.3 (#15067)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/autoscaler to v1.35.1 (#15070)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Align `customverbauthorizer` subject handling with RBAC subject types (#15062)
  plugin/pkg/global/customverbauthorizer/admission.go
  plugin/pkg/global/customverbauthorizer/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
