Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250219-8541a5a-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Address `ST1006` findings
  pkg/nodeagent/dbus/dbus.go
  pkg/provider-local/machine-provider/local/driver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1004` findings
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/controllermanager/controller/managedseedset/replica.go
  pkg/utils/managedresources/registry.go
  pkg/utils/version/version.go
  test/e2e/gardener/shoot/internal/rotation/certificate_authorities.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1009` findings
  pkg/resourcemanager/controller/node/criticalcomponents/helper/daemon_controller.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1007` findings
  pkg/resourcemanager/controller/managedresource/merger.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `ST1023` findings
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/utils/kubernetes/deployment_test.go
  plugin/pkg/shoot/quotavalidator/admission_test.go
  plugin/pkg/shoot/resourcereservation/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `ST1005` findings
  extensions/pkg/util/shoot.go
  pkg/client/kubernetes/test/options_matchers.go
  pkg/controllermanager/controller/exposureclass/reconciler.go
  pkg/controllermanager/controller/exposureclass/reconciler_test.go
  pkg/controllermanager/controller/quota/reconciler.go
  pkg/controllermanager/controller/quota/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/resourcemanager/controller/managedresource/merger.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

edit expect according to make check
  pkg/gardenlet/controller/shoot/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add comment to CheckNodesScaling
  pkg/gardenlet/controller/shoot/care/health.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor create-rotate-delete e2e test
  test/e2e/gardener/shoot/create_rotate_delete.go
  test/e2e/gardener/shoot/internal/rotation/certificate_authorities.go
  test/e2e/gardener/shoot/internal/rotation/shoot_access.go
  test/e2e/gardener/shoot/internal/rotation/ssh_keypair.go
  test/e2e/operator/garden/create_rotate_delete.go
  test/utils/rotation/etcd_encryption_key.go
  test/utils/rotation/service_account_key.go
  test/utils/rotation/verifier.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

do not expose shoot object in "without workers rollout" context
  test/e2e/gardener/shoot/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address PR feedback
  test/e2e/gardener/shoot/create_rotate_delete.go
  test/e2e/gardener/shoot/internal/rotation/shoot_access.go
  test/e2e/operation.go
  test/e2e/operator/garden/create_rotate_delete.go
  test/utils/rotation/etcd_encryption_key.go
  test/utils/rotation/service_account_key.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

remove unused functions
  test/e2e/gardener/shoot/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

test: add test for DeployVPNShoot
  pkg/component/networking/vpn/shoot/mock/doc.go
  pkg/component/networking/vpn/shoot/mock/mocks.go
  pkg/gardenlet/operation/botanist/vpnshoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Cleanup migration logic for e2e upgrade tests
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Filter {Managed}Seeds in gardenlet on manager.Manager level
  cmd/gardener-controller-manager/app/app.go
  cmd/gardenlet/app/app.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/managedseed/add.go
  pkg/gardenlet/controller/managedseed/add_test.go
  test/integration/gardenlet/managedseed/managedseed_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

No longer generate empy `Secret` for `reconcile` OSC
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Add conformance test badges for Kubernetes v1.32
  README.md
Due: none

Address PR review feedback
  pkg/apis/operator/v1alpha1/helper/extension_test.go
  pkg/operator/controller/extension/care/care_suite_test.go
  pkg/operator/controller/extension/care/reconciler.go
  pkg/operator/mapper/mapper_suite_test.go
  pkg/utils/kubernetes/health/checker/checker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Update spreadsheet range (PR review)
  README.md
Due: none

Incluster deployment no longer uses `AsArgs` interface
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/component/observability/monitoring/x509certificateexporter/args.go
  pkg/component/observability/monitoring/x509certificateexporter/args_test.go
  pkg/component/observability/monitoring/x509certificateexporter/incluster_certificate_collection.go
  pkg/component/observability/monitoring/x509certificateexporter/utils.go
  pkg/component/observability/monitoring/x509certificateexporter/x509certificateexporter.go
  pkg/component/shared/x509certificateexporter.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module sigs.k8s.io/controller-tools to v0.17.3
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/node-exporter Docker tag to v1.9.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/node-exporter Docker tag to v1.9.1 (#11784)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update golang
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update golang (#11785)
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add capabilities support to CloudProfile API types
  example/30-cloudprofile.yaml
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_cloudprofile_test.go
  pkg/apis/core/v1beta1/types_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt CloudProfile architecture defaulting.
  pkg/apis/core/v1beta1/defaults_cloudprofile.go
  pkg/apis/core/v1beta1/defaults_cloudprofile_test.go
  pkg/apis/core/v1beta1/defaults_namespacedcloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add CloudProfileCapabilities feature gate to enable capabilities usage in CloudProfile.
  docs/deployment/feature_gates.md
  example/gardener-local/controlplane/values.yaml
  pkg/apiserver/features/features.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/zz_generated.defaults.go
  pkg/apis/core/validation/utils.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update usages of core.MachineImage architectures field
  pkg/apis/core/validation/cloudprofile.go
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update usages of v1beta1.MachineImages architecture field
  extensions/pkg/bastion/machine.go
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/types_cloudprofile.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  plugin/pkg/shoot/validator/admission.go
  test/framework/worker_utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate that the architecture values set do not conflict.
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt CloudProfile architecture validation logic.
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/namespacedcloudprofile.go
  pkg/apis/core/validation/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update usages of core.MachineType architecture field
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/validation/cloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Sync architecture fields on updates to the used one
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/helper/cloudprofile_test.go
  pkg/apiserver/registry/core/cloudprofile/strategy.go
  pkg/apiserver/registry/core/cloudprofile/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt validation of capabilities in NamespacedCloudProfiles
  pkg/apis/core/validation/namespacedcloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix defaulting of NamespacedCloudProfile machine type architectures.
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments and linter findings.
  example/30-cloudprofile.yaml
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_test.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_cloudprofile_test.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
