Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20251028-261fa7c-1.25
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

chore(pkg/grm/webhook): use `metav1.SetMetaDataLabel` to add `mutated` label to `vpainplaceupdates` webhoook
  pkg/resourcemanager/webhook/vpainplaceupdates/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(docs/concepts/grm): update `in-place` Pod resource updates webhook section with `mutated` label
  docs/concepts/resource-manager.md
Due: none

feat(grm/webhook/vpainplaceupdates/test): verify `mutated` label is added on successful webhook invocation
  test/integration/resourcemanager/vpainplaceupdates/vpainplaceupdates_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(cmd/internal/migration): rename the returned list of VPAs `var` to `vpaList`
  cmd/internal/migration/empty_vpa_patch.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(cmd/internal/migration): move `gardenlet` and `gardener-operator` migration to dedicated `internal` package
  cmd/gardener-operator/app/app.go
  cmd/gardener-operator/app/migration.go
  cmd/gardenlet/app/migration.go
  cmd/internal/migration/empty_vpa_patch.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Publish an additional tag for the `pkg/apis` submodule
  .github/workflows/release.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Make `EncodeGardenletConfigurationToBytes` function more generic
  pkg/apis/seedmanagement/encoding/encoding.go
  pkg/apis/seedmanagement/encoding/encoding_test.go
  pkg/apis/seedmanagement/v1alpha1/conversions.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make `./pkg/apis` its own Go submodule
  go.mod
  pkg/apis/.import-restrictions
  pkg/apis/go.mod
  pkg/apis/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move `pkg/utils/timewindow` to `pkg/apis/utils/timewindow`
  pkg/apis/utils/timewindow/schedule.go
  pkg/apis/utils/timewindow/schedule_test.go
  pkg/apis/utils/timewindow/timewindow.go
  pkg/apis/utils/timewindow/timewindow_suite_test.go
  pkg/apis/utils/timewindow/timewindow_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update and fix generation scripts
  .golangci.yaml.in
  Makefile
  hack/check-apidiff.sh
  hack/check-skaffold-deps-for-binary.sh
  hack/generate-parallel.sh
  hack/generate.sh
  hack/tools.mk
  hack/update-codegen.sh
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Replace imported test matchers from `pkg/utils` with copy
  pkg/apis/core/conversion_roundtrip_controllerdeployment_test.go
  pkg/apis/core/deep_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(cmd): import reorder by `make generate`
  cmd/gardener-operator/app/migration.go
  cmd/gardenlet/app/migration.go
  cmd/internal/migration/empty_vpa_patch.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Configure goapidiff to run in both modules
  Makefile
  go.mod
  go.sum
  hack/check-apidiff.sh
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `omitempty` to `resourceLimit.size`
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

rename function to be more precise
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/mock/mocks.go
  extensions/pkg/controller/controlplane/genericactuator/noopvaluesprovider.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

only write controlplane state in generic actuator
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/noopvaluesprovider.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

extend controlplane
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_backupentries.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_bastions.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_controlplanes.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_extensions.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_infrastructures.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_networks.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/mock/mocks.go
  extensions/pkg/controller/controlplane/genericactuator/noopvaluesprovider.go
  pkg/apis/extensions/v1alpha1/types_defaults.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_backupbuckets.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_backupentries.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_bastions.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_containerruntimes.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_controlplanes.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_dnsrecords.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_extensions.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_infrastructures.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_networks.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

implement GetControllersStatus for provider-local
  pkg/apis/extensions/v1alpha1/types_defaults.go
  pkg/provider-local/controller/controlplane/add.go
  pkg/provider-local/controller/controlplane/valuesprovider.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(skaffold): update `skaffold` dependencies with `cmd/internal`
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Improve docu
  docs/usage/shoot/shoot_maintenance.md
Due: none

Address further review feedback (formatting)
  hack/tools.mk
  hack/update-codegen.sh
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Sort list of exported packages
  hack/check-apidiff.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Revert "Make `EncodeGardenletConfigurationToBytes` function more generic"
  pkg/apis/seedmanagement/encoding/encoding.go
  pkg/apis/seedmanagement/v1alpha1/conversions.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

run make generate
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_backupentries.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_bastions.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_controlplanes.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_extensions.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_infrastructures.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_networks.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_backupbuckets.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_backupentries.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_bastions.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_containerruntimes.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_controlplanes.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_dnsrecords.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_extensions.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_infrastructures.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_networks.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable `VPAInPlaceUpdates` feature gate for local `gardenlet` and `gardener-operator` setups (#13508)
  dev-setup/gardenlet/base/gardenlet.yaml
  example/gardener-local/gardenlet/values.yaml
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add extension labels for seeds (#13509)
  pkg/utils/gardener/controllerregistration.go
  pkg/utils/gardener/seed.go
  pkg/utils/gardener/seed_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  plugin/pkg/global/extensionlabels/admission.go
  plugin/pkg/global/extensionlabels/admission_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(cmd/internal/migration): move VPA related migrations to `vpa.go`
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus to v3.8.0
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(cmd/internal/migration): add a migration to apply VPA update Recreate
  cmd/gardener-operator/app/migration.go
  cmd/gardenlet/app/migration.go
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deflake `controllermanager/cloudprofile` integration test (#13559)
  test/integration/controllermanager/cloudprofile/cloudprofile_suite_test.go
  test/integration/controllermanager/cloudprofile/cloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up the `ShootCredentialsBinding` feature gate (#13576)
  docs/deployment/feature_gates.md
  pkg/apiserver/features/features.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `omitempty` to `resourceLimit.size` (#13577)
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deploy control plane chart through managed resource.
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  pkg/utils/managedresources/managedresources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update opentelemetry-operator to v0.140.0
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
