Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

"Translate" HA upgrade verification check function
  test/e2e/gardener/shoot/internal/highavailability/highavailability.go
  test/utils/shoots/update/highavailability/upgrade.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Harmonize test file names
  test/e2e/gardener/shoot/create_delete_failed.go
  test/e2e/gardener/shoot/create_delete_hibernated.go
  test/e2e/gardener/shoot/create_delete_unprivileged.go
  test/e2e/gardener/shoot/create_force-delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  Makefile
  test/e2e/gardener/common.go
  test/e2e/gardener/shoot/gardenerupgrade/create_hibernate_upgrade_wakeup_delete.go
  test/e2e/gardener/shoot/gardenerupgrade/create_upgrade_delete.go
  test/e2e/gardener/shoot/gardenerupgrade/create_upgrade_update-to-ha_delete.go
  test/e2e/gardener/shoot/gardenerupgrade/upgrade.go
  test/e2e/gardener/shoot/internal/highavailability/highavailability.go
  test/e2e/gardener/shoot/internal/shoot.go
  test/e2e/gardener/shoot/update-to-ha.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Refactor Gardener upgrade (create/delete w/o downtime) e2e tests
  test/e2e/gardener/shoot/gardenerupgrade/create_upgrade_delete.go
  test/e2e/gardener/upgrade/upgrade.go
  test/utils/shoots/update/highavailability/upgrade.go
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Common utils for zero-downtime validator job
  test/e2e/gardener/shoot/create_update_delete.go
  test/e2e/gardener/shoot/gardenerupgrade/create_upgrade_delete.go
  test/e2e/gardener/shoot/internal/zerodowntimevalidator/validator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add missing `g.` to `Expect`s in `ControllerInstallation` integration test
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

go mod tidy
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update docs/extensions/controllerregistration.md
  docs/extensions/controllerregistration.md
Due: none

Add `OCIRepository.PullSecretRef` for deploying helm charts from private repos
  charts/gardener/operator/templates/crd-extensions.yaml
  docs/api-reference/core-v1.md
  docs/api-reference/core.md
  docs/extensions/controllerregistration.md
  example/operator/10-crd-operator.gardener.cloud_extensions.yaml
  pkg/apis/core/types_controllerdeployment.go
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1/types_controllerdeployment.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_controllerdeployment.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/add.go
  pkg/gardenlet/controller/gardenlet/add.go
  pkg/operator/controller/extension/extension/add.go
  pkg/operator/controller/gardenlet/add.go
  pkg/utils/oci/helmregistry.go
  pkg/utils/oci/helmregistry_test.go
  pkg/utils/oci/keychain.go
  pkg/utils/oci/keychain_test.go
  pkg/utils/oci/oci_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address review feedback
  pkg/utils/oci/helmregistry.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

augment examples
  example/25-controllerdeployment.yaml
  example/55-gardenlet.yaml
  example/operator/15-extension.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Copy pull secret for extension deployment to virtual garden
  pkg/operator/controller/extension/extension/add.go
  pkg/operator/controller/extension/extension/add_test.go
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration.go
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix code after rebase
  pkg/operator/controller/extension/extension/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  docs/deployment/setup_gardener.md
  docs/extensions/controllerregistration.md
  pkg/operator/controller/extension/extension/add.go
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration.go
  pkg/utils/oci/helmregistry.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address review feedback: use seed namespaces for usage in gardenlet controllers
  charts/gardener/operator/templates/crd-extensions.yaml
  docs/api-reference/core-v1.md
  example/operator/10-crd-operator.gardener.cloud_extensions.yaml
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1/types_controllerdeployment.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
  pkg/gardenlet/controller/gardenlet/reconciler.go
  pkg/utils/oci/fake/fake_registry.go
  pkg/utils/oci/helmregistry.go
  pkg/utils/oci/keychain.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor create-rotate-delete garden to ordered containers
  test/e2e/operator/garden/common.go
  test/e2e/operator/garden/create_rotate_delete.go
  test/e2e/operator/garden/internal/garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable VPA capped recommendation alerts for the runtime cluster
  pkg/component/observability/monitoring/prometheus/garden/prometheusrules.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable VPA capped recommendation alerts for the seed
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/seed.yaml
  pkg/component/observability/monitoring/prometheus/garden/testdata/seed.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Enable VPA capped recommendation alerts for the shoot
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/shoot.yaml
  pkg/component/observability/monitoring/prometheus/garden/testdata/shoot.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add missing `g.` to `Expect`s in `ControllerInstallation` integration test (#11617)
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update machine-controller-manager to v0.57.0
  example/seed-crds/10-crd-machine.sapcloud.io_machinedeployments.yaml
  example/seed-crds/10-crd-machine.sapcloud.io_machines.yaml
  example/seed-crds/10-crd-machine.sapcloud.io_machinesets.yaml
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machinedeployments.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machines.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machinesets.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix after rebase
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration_test.go
  pkg/operator/controller/gardenlet/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add missing `g.` to `Expect`s in `ControllerInstallation` integration test (#11619)
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

adapt disjointedness tests
  pkg/utils/validation/cidr/disjoint.go
  pkg/utils/validation/cidr/disjoint_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat: Allow CIDR overlap for non-HA VPN shoots
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/templates/envoy.yaml.tpl
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnshoot.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/scheduler/controller/shoot/reconciler.go
  pkg/utils/validation/cidr/disjoint.go
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: make v4 range names more explicit to match vpn2 change.
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnshoot.go
  pkg/gardenlet/operation/shoot/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-extension-networking-cilium to v1.40.1
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Release v1.114.0
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Notes added by 'git notes add'
  10/6e549e622d59255c5ebc95e30239ede8042edc
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  60/4a4ac51c9bae3b8b05f34635d12943e2457150
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  54/7f9a9d18b209b887b9f2347268cb9260f118cf
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  3e/c2d775f07b3394ae45711352f73d2a2ae69518
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  60/3652939f4c9204578c1c37da13b8bab59a9322
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  0f/728f88f1fe3fe623437bfc545f0c221ee62387
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  b4/04463d7d0d23527abda80b1bf6dcc6ea173015
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  ee/c3389065894dd87ee4fe56ef86bd8c66d2f995
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  a7/037096c8510162f48c159d021d06c1e450e6d6
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  ce/2c2a9a075f8689398eba83d7fb07ba474590fd
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  f9/2ccada28fda2358f8da4326ba453c673a491b7
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
