Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Update module golang.org/x/text to v0.35.0 (#14292)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `pods` permissions to perses-operator rbac
  pkg/component/observability/monitoring/persesoperator/perses_operator_test.go
  pkg/component/observability/monitoring/persesoperator/rbac.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add responsible to todo comments
  pkg/component/observability/monitoring/persesoperator/crd.go
  pkg/component/observability/monitoring/persesoperator/crd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.138] Add worker name to `node-local-dns` label selector (#14294)
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/crypto to v0.49.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/crypto to v0.49.0 (#14302)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.137] Add worker name to `node-local-dns` label selector (#14295)
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update helm to v3.20.1
  go.mod
  go.sum
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Avoid unintended MCD replicas modification by worker-controller (#14299)
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Avoid unintended MCD replicas modification by worker-controller (#14189) (#14298)
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use a static prefix in `{Admin,Viewer}KubeconfigRequest`
  docs/usage/shoot/shoot_access.md
  pkg/apiserver/registry/core/shoot/storage/admin_kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/admin_kubeconfig_test.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig_test.go
  pkg/apiserver/registry/core/shoot/storage/viewer_kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/viewer_kubeconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Take care of validating updates
  pkg/api/operator/v1alpha1/validation/garden.go
  pkg/api/seedmanagement/validation/managedseedset.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Drop ChartApplier from provider-local Worker actuator
  pkg/provider-local/controller/worker/actuator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use Patch instead of Update to label Machines
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend the `deployMachineDeployments` unit tests
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Parallelise deployment of `MachineDeployments`
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Expose `MaxConcurrentMachineTasks` so that it can be reused by extensions
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move `markAllMachinesForcefulDeletion` out of for loop
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use a static prefix in `{Admin,Viewer}KubeconfigRequest` (#14252)
  docs/usage/shoot/shoot_access.md
  pkg/apiserver/registry/core/shoot/storage/admin_kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/admin_kubeconfig_test.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig_test.go
  pkg/apiserver/registry/core/shoot/storage/viewer_kubeconfig.go
  pkg/apiserver/registry/core/shoot/storage/viewer_kubeconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prepare shoot authorizer for `Bastion` controller enablement
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/utils/graph/eventhandler_bastion.go
  pkg/utils/graph/graph.go
  pkg/utils/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable `Bastion` controller in gardenlet for self-hosted shoots
  cmd/gardenlet/app/app.go
  pkg/gardenlet/controller/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix duplicate skaffold artifacts directory
  hack/ci-common.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update perses-operator to v0.3.2 (minor) (#14264)
  charts/gardener/gardenlet/templates/clusterrole-gardenlet.yaml
  charts/gardener/gardenlet/test/test.go
  example/seed-crds/10-crd-perses.dev_perses.yaml
  example/seed-crds/10-crd-perses.dev_persesdashboards.yaml
  example/seed-crds/10-crd-perses.dev_persesglobaldatasources.yaml
  example/seed-crds/doc.go
  go.mod
  go.sum
  hack/generate-crds.sh
  imagevector/containers.yaml
  pkg/client/kubernetes/types.go
  pkg/component/observability/monitoring/persesoperator/crd.go
  pkg/component/observability/monitoring/persesoperator/crd_test.go
  pkg/component/observability/monitoring/persesoperator/deployment.go
  pkg/component/observability/monitoring/persesoperator/perses_operator_test.go
  pkg/component/observability/monitoring/persesoperator/rbac.go
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_perses.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_persesdashboards.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_persesdatasources.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_persesglobaldatasources.yaml
  pkg/component/observability/monitoring/persesoperator/templates/doc.go
  pkg/operator/client/scheme.go
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add gardenerDiscoveryServer section to garden.yaml.tmpl
  dev-setup/garden/overlays/remote/garden.yaml.tmpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency perses/perses to v0.53.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add gardenerDiscoveryServer section to garden.yaml.tmpl (#14306)
  dev-setup/garden/overlays/remote/garden.yaml.tmpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove the deprecated seed.spec.dns.provider.secretRef field and code related to migration
  cmd/gardenlet/app/options.go
  docs/api-reference/core.md
  pkg/api/config/gardenlet/v1alpha1/validation/validation_test.go
  pkg/api/core/validation/seed.go
  pkg/api/core/validation/seed_test.go
  pkg/api/seedmanagement/validation/gardenlet_test.go
  pkg/api/seedmanagement/validation/managedseed_test.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/types_seed_test.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/seed/storage/storage.go
  pkg/apiserver/registry/core/seed/strategy.go
  pkg/apiserver/registry/core/seed/strategy_test.go
  pkg/apiserver/registry/seedmanagement/gardenlet/storage/storage.go
  pkg/apiserver/registry/seedmanagement/gardenlet/strategy.go
  pkg/apiserver/registry/seedmanagement/managedseed/storage/storage.go
  pkg/apiserver/registry/seedmanagement/managedseed/strategy.go
  pkg/apiserver/registry/seedmanagement/managedseed/strategy_test.go
  pkg/apiserver/registry/seedmanagement/utils/utils.go
  pkg/apiserver/registry/seedmanagement/utils/utils_suite_test.go
  pkg/apiserver/registry/seedmanagement/utils/utils_test.go
  plugin/pkg/managedseed/validator/admission_test.go
  test/integration/controllermanager/managedseedset/managedseedset_test.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
  test/integration/operator/gardenlet/gardenlet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update skaffold manifests
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Document .spec.dns.providers[].secretName deprecation for k8s v1.35
  docs/usage/shoot/shoot_kubernetes_versions.md
Due: none

Forbid shoots with k8s >= 1.35 to set spec.dns.providers[].secretName
  pkg/api/core/validation/shoot.go
  pkg/api/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: Update post upgrade task for envoyproxy/envoy updates
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Add `distroless-` prefix
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Speed up restoration of `Machine`s and `MachineSet`s (#14219)
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-28] `gardenadm connect`: Enable `Bastion` controller in `gardenlet` (#14269)
  cmd/gardenlet/app/app.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/gardenlet/controller/add.go
  pkg/utils/graph/eventhandler_bastion.go
  pkg/utils/graph/graph.go
  pkg/utils/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.83.9
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus to v3.10.0 (#14158)
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency GoogleContainerTools/skaffold to v2.18.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Return warnings to client when the secretName field is set
  example/90-shoot.yaml
  pkg/api/core/shoot/warnings.go
  pkg/api/core/shoot/warnings_test.go
  pkg/api/seedmanagement/managedseedset/warnings.go
  pkg/api/seedmanagement/managedseedset/warnings_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Unset the secertName field in shoot maintenance when upgrading to 1.35
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Introduce autoscaling with `HPA` + `VPA` for `istio-ingressgateway`
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/autoscale-hpa.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/autoscale-vpa.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/deployment.yaml
  pkg/component/networking/istio/ingress_gateway.go
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/ingress_autoscaler.yaml
  pkg/component/networking/istio/test_charts/ingress_autoscaler_tls_termination_hpa.yaml
  pkg/component/networking/istio/test_charts/ingress_autoscaler_vpa.yaml
  pkg/component/networking/istio/test_charts/ingress_deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
