Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20251215-f6cb9e1-1.25
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

[gardenlet] Read `InternalSecret` when referenced
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/apis/core/validation/shoot_test.go
  pkg/controllermanager/controller/project/stale/reconciler.go
  pkg/utils/graph/eventhandler_credentialsbinding.go
  plugin/pkg/global/resourcereferencemanager/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add encryption provider field to Shoot API
  pkg/apis/core/types.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  charts/gardener/operator/templates/crd-gardens.yaml
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deafult to aescbc
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add Shoot validation
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add helper funcs
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Sync Shoot status field in PrepareForUpdate
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add validation for Garden
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add helper func for Garden
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add encryption type field to Garden spec
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass encryption provider for apiserver config
  pkg/component/apiserver/types.go
  pkg/component/shared/apiserver.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add encryption provider field to secret manager config
  pkg/component/apiserver/encryptionconfiguration.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/utils/secrets/etcd_encryption_key.go
  pkg/utils/secrets/etcd_encryption_key_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  docs/api-reference/core.md
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass encryption to use to Garden reconciliation
  pkg/component/shared/gardenerapiserver.go
  pkg/component/shared/gardenerapiserver_test.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Default to already set provider for Garden encryption
  pkg/operator/webhook/defaulting/garden/handler.go
  pkg/operator/webhook/defaulting/garden/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt docu
  docs/usage/security/etcd_encryption_config.md
  example/90-shoot.yaml
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix linter errors
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/operator/webhook/defaulting/garden/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix typos
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/operator/webhook/defaulting/garden/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add review suggestions
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  docs/api-reference/operator.md
  docs/usage/security/etcd_encryption_config.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/component/apiserver/encryptionconfiguration.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/utils/secrets/etcd_encryption_key.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add review suggestions
  docs/usage/security/etcd_encryption_config.md
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module gonum.org/v1/gonum to v0.17.0 (#13773)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to 716be56 (#13777)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  pkg/apis/core/v1beta1/generated.pb.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use `PrefixedName` for webhook name
  extensions/pkg/webhook/registration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update opentelemetry-operator to v0.142.0
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/operations/v1alpha1/generated.pb.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/settings/v1alpha1/generated.pb.go
  pkg/apis/settings/v1alpha1/generated.proto
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/admissioncontroller/webhook/admission/auditpolicy/add.go
  pkg/operator/webhook/validation/auditpolicy/add.go
  pkg/operator/webhook/validation/auditpolicy/add_test.go
  pkg/webhook/configvalidator/auditpolicy.go
  pkg/webhook/configvalidator/auditpolicy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update skaffold
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add tests
  pkg/operator/webhook/validation/auditpolicy/add_test.go
  pkg/operator/webhook/validation/auditpolicy/auditpolicy_suite_test.go
  pkg/webhook/configvalidator/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Integrate the webhook
  pkg/operator/webhook/add.go
  pkg/operator/webhook/validation/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add Garden resource validation to configvalidator handler
  pkg/webhook/configvalidator/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Validate virtual garden kubeapiserver audit policy also
  pkg/operator/webhook/validation/auditpolicy/add.go
  pkg/operator/webhook/validation/auditpolicy/add_test.go
  pkg/webhook/configvalidator/handler.go
  pkg/webhook/configvalidator/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add auditpolicy validation webhook for garden
  pkg/operator/webhook/validation/auditpolicy/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/operator/webhook/validation/auditpolicy/add.go
  pkg/operator/webhook/validation/auditpolicy/add_test.go
  pkg/operator/webhook/validation/auditpolicy/auditpolicy_suite_test.go
  pkg/webhook/configvalidator/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Run `make generate`
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/operations/v1alpha1/generated.pb.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/settings/v1alpha1/generated.pb.go
  pkg/apis/settings/v1alpha1/generated.proto
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_targetallocators.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Allow specifying short machine image versions in cloud profile.
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/kiwigrid/k8s-sidecar Docker tag to v2.3.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prevent multiple `gardenlet` deployments to the same cluster with different `Seed` configs (#13768)
  pkg/controller/gardenletdeployer/actuator.go
  pkg/controller/gardenletdeployer/actuator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make NamespacedCloudProfile status entries order stable (#13772)
  go.mod
  go.sum
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
  pkg/utils/miscellaneous.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
