Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Notes added by 'git notes add'
  1a/2da3d436a6e6f107de8dadc8c08101e98af5f4
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.112.0
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Prepare next Development Cycle v1.112.1-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

fix(deps): update etcd-druid to v0.27.0
  example/seed-crds/10-crd-druid.gardener.cloud_etcds.yaml
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/etcd/etcd/crds/templates/crd-druid.gardener.cloud_etcds.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module golang.org/x/crypto to v0.33.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module golang.org/x/crypto to v0.33.0 (#11334)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kyverno/kyverno to v1.13.4
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update etcd-druid to v0.27.0
  example/seed-crds/10-crd-druid.gardener.cloud_etcds.yaml
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/etcd/etcd/crds/templates/crd-druid.gardener.cloud_etcds.yaml
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/etcd/etcd/waiter.go
  pkg/component/etcd/etcd/waiter_test.go
  pkg/gardenlet/operation/botanist/etcd.go
  pkg/gardenlet/operation/botanist/etcd_test.go
  pkg/operator/controller/garden/garden/components.go
  pkg/utils/kubernetes/health/checker/checker.go
  test/framework/gardener_utils.go
  test/integration/operator/garden/care/care_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop verification after control plane migration
  test/e2e/gardener/shoot/create_migrate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kyverno/kyverno to v1.13.4 (#11335)
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Accept `client.Reader` instead of `client.Client` in the `managedresources.WaitUntilHealthy` func
  pkg/utils/managedresources/managedresources.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Accept `client.Reader` instead of `client.Client` in the `managedresources.WaitUntilHealthy` func (#11321)
  pkg/utils/managedresources/managedresources.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Kubernetes apigroups
  pkg/utils/validation/apigroups/apigroups.go
  pkg/utils/validation/apigroups/apigroups_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop version constraints
  pkg/utils/version/version.go
  pkg/utils/version/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Kubernetes admission plugins
  pkg/utils/kubernetes/admissionplugins.go
  pkg/utils/kubernetes/admissionplugins_test.go
  pkg/utils/validation/admissionplugins/admissionplugins.go
  pkg/utils/validation/admissionplugins/admissionplugins_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove 1.25 and 1.26 from supported versions
  README.md
  cmd/gardener-controller-manager/app/bootstrappers/bootstrap.go
  cmd/gardener-controller-manager/app/bootstrappers/bootstrap_test.go
  docs/usage/shoot-operations/supported_k8s_versions.md
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt kubernetes feature gates
  pkg/apis/core/validation/shoot_test.go
  pkg/utils/validation/features/featuregates.go
  pkg/utils/validation/features/featuregates_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt kubernetes controllers
  pkg/utils/kubernetes/controllers.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Kubelet config
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/component/extensions/operatingsystemconfig/original/components/kernelconfig/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/kernelconfig/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Topology mode annotation for service
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/service.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/service.yaml
  docs/operations/topology_aware_routing.md
  pkg/component/autoscaling/vpa/admissioncontroller.go
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/gardener/admissioncontroller/admission_controller.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/service.go
  pkg/component/gardener/apiserver/apiserver_test.go
  pkg/component/gardener/apiserver/service.go
  pkg/component/gardener/dashboard/terminal/service.go
  pkg/component/gardener/dashboard/terminal/terminal.go
  pkg/component/gardener/dashboard/terminal/terminal_test.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/component/shared/resourcemanager.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/etcd.go
  pkg/gardenlet/operation/botanist/resource_manager.go
  pkg/operator/controller/garden/garden/components.go
  pkg/utils/gardener/topology_aware_routing.go
  pkg/utils/gardener/topology_aware_routing_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt migration code in gardenlet
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt KCM SA names
  pkg/component/shoot/system/system.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt container images
  imagevector/containers.yaml
  pkg/gardenlet/operation/botanist/clusterautoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `PodEvictionTimeOut` and `NodeMonitorGracePeriod` fields in KCM
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt validation for encryption config
  docs/concepts/operator.md
  docs/usage/security/etcd_encryption_config.md
  example/90-shoot.yaml
  example/operator/20-garden.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt e2e tests for static token kubeconfig
  test/e2e/gardener/shoot/create_rotate_delete.go
  test/e2e/gardener/shoot/internal/rotation/certificate_authorities.go
  test/e2e/gardener/shoot/internal/rotation/kubeconfig.go
  test/e2e/gardener/shoot/internal/rotation/shoot_access.go
  test/testmachinery/shoots/operations/operations.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `EnableStaticTokenKubeConfig` field in Shoot spec
  docs/usage/shoot-operations/shoot_credentials_rotation.md
  docs/usage/shoot/shoot_access.md
  example/90-shoot.yaml
  pkg/api/core/shoot/warnings.go
  pkg/api/core/shoot/warnings_test.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/secrets.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/operator/controller/garden/garden/components.go
  plugin/pkg/managedseed/validator/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt system component workers
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix linter errors
  pkg/apis/core/validation/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Kubescheduler tests
  pkg/component/kubernetes/scheduler/scheduler.go
  pkg/component/kubernetes/scheduler/scheduler_test.go
  pkg/component/kubernetes/scheduler/testdata/component-config-bin-packing.yaml
  pkg/component/kubernetes/scheduler/testdata/component-config.yaml
  pkg/gardenlet/operation/botanist/kubecontrollermanager_test.go
  pkg/gardenlet/operation/botanist/kubescheduler_test.go
  pkg/gardenlet/operation/botanist/machinecontrollermanager_test.go
  pkg/gardenlet/operation/botanist/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt validation for `SeccompDefault` field
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/v1beta1/generated.proto
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove etcd metrics
  pkg/component/gardener/apiserver/apiserver_test.go
  pkg/component/gardener/apiserver/servicemonitor.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/servicemonitor.go
  pkg/component/observability/plutono/dashboards/garden-shoot/apiserver-overview.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Postpone field removals to gardener v1.118
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  example/90-shoot.yaml
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt usages of dropped versions in documentation
  docs/concepts/apiserver.md
  docs/deployment/getting_started_locally.md
  docs/development/local_setup.md
  docs/usage/shoot/shoot_workerless.md
  example/30-cloudprofile.yaml
  example/provider-local/garden/cloudprofile/cloudprofile.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
