Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260227-085711a-1.26
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

feat: remove the Vali datasource from Plutonon when RemoveVali FG is enabled
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_suite_test.go
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

gardenadm: support cilium shoots in dev-setup (#15005)
  Makefile
  dev-setup/gardenadm.sh
  dev-setup/gardenadm/resources/components/cilium/kustomization.yaml
  dev-setup/gardenadm/resources/components/cilium/patch-shoot.yaml
  dev-setup/gardenadm/resources/overlays/managed-infra-cilium/kustomization.yaml
  dev-setup/gardenadm/resources/overlays/unmanaged-infra-cilium/kustomization.yaml
  dev-setup/skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: add link to related PR, not just a number
  pkg/operator/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add nginx-ingress migration documentation
  docs/README.md
  docs/operations/nginx_ingress.md
Due: none

gardenadm: Disable the `vpa-in-place-updates` webhook via GRM values, and not via the `VPAInPlaceUpdates` feature gate
  cmd/gardenadm/app/app.go
  pkg/gardenadm/botanist/resource_manager.go
  pkg/gardenlet/operation/botanist/resource_manager.go
  pkg/gardenlet/operation/botanist/resource_manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Promote `VPAInPlaceUpdates` to GA and enable it unconditionally
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up the usages of the `VPAInPlaceUpdates` feature gate
  cmd/gardener-operator/app/migration.go
  cmd/gardenlet/app/migration.go
  cmd/internal/migration/vpa.go
  pkg/apis/resources/v1alpha1/types.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/autoscale-vpa.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/values.yaml
  pkg/component/networking/istio/ingress_gateway.go
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/ingress_autoscaler_vpa_recreate.yaml
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/resource_manager.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

docs: Adapt docs related to the `VPAInPlaceUpdates` feature gate
  docs/concepts/resource-manager.md
  docs/operations/enabling-in-place-resource-updates.md
  docs/usage/autoscaling/in-place-resource-updates.md
Due: none

docs: Add clarification notes on what happens for Kubernetes 1.32 clusters
  docs/usage/autoscaling/in-place-resource-updates.md
  docs/usage/shoot-operations/supported_k8s_versions.md
Due: none

remove weird context
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback: thread suppression into GetWarnings, fix map key
  pkg/api/core/shoot/warnings.go
  pkg/api/core/shoot/warnings_test.go
  pkg/api/seedmanagement/managedseedset/warnings.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Add Kubernetes 1.36 to the list of supported Kubernetes versions
  docs/usage/shoot-operations/supported_k8s_versions.md
  supported-kubernetes-versions.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: Correct status message for nodes during scale-up (#14817)
  pkg/gardenlet/controller/shoot/care/health.go
  pkg/gardenlet/controller/shoot/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: enable vpn-shoot watchdog
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review suggestions
  charts/gardener/operator/files/crd-gardens.yaml
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/api/operator/v1alpha1/helper/garden_test.go
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/component/gardener/dashboard/dashboard.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add logcheck tool to build process and define versioning mechanism to bundle in `golang-test` image and don't rebuild if not necessary in ci.
  .github/workflows/golang-test-build-test.yaml
  .github/workflows/golang-test-build.yaml
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Force rebuild of `golang-ci` if `logcheck` is rebuilt
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Shorten explanatory comments
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add helper for enabled check, similar to VPA
  pkg/api/core/v1beta1/helper/seed.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add pvc-autoscaler CR for Shoot Prometheus
  pkg/component/observability/monitoring/prometheus/component.go
  pkg/component/observability/monitoring/prometheus/prometheus_test.go
  pkg/component/observability/monitoring/prometheus/pvcautoscaler.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/monitoring.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add pvc-autoscaler CR for Shoot Vali
  pkg/component/observability/logging/vali/vali.go
  pkg/component/observability/logging/vali/vali_test.go
  pkg/component/shared/vali.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/logging.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add pvc-autoscaler CR for Shoot VictoriaLogs
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
  pkg/component/shared/victorialogs.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/logging.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix Prometheus Health Check issue
  pkg/component/autoscaling/pvcautoscaler/pvcautoscaler.go
  pkg/component/autoscaling/pvcautoscaler/pvcautoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Handle worker pool renames in `node-local-dns` (#15053)
  pkg/component/networking/nodelocaldns/mock/mocks.go
  pkg/component/networking/nodelocaldns/nodelocaldns.go
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
  pkg/gardenlet/operation/botanist/nodelocaldns.go
  pkg/gardenlet/operation/botanist/nodelocaldns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback
  imagevector/containers.yaml
  pkg/component/etcd/bootstrap/backuprestore/etcd_backup_restore.go
  pkg/component/etcd/bootstrap/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply suggestion from @ialidzhikov
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply suggestion from @ialidzhikov
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix Authenticationconfig validation not including advertised SA issuer (#14977)
  pkg/admissioncontroller/webhook/admission/auditpolicy/add.go
  pkg/admissioncontroller/webhook/admission/authenticationconfig/add.go
  pkg/admissioncontroller/webhook/admission/authenticationconfig/add_test.go
  pkg/admissioncontroller/webhook/admission/authorizationconfig/add.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  pkg/webhook/configvalidator/handler.go
  pkg/webhook/configvalidator/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add logcheck tool to build process and define versioning mechanism to bundle in `golang-test` image and don't rebuild if not necessary in ci (#15101)
  .github/workflows/golang-test-build-test.yaml
  .github/workflows/golang-test-build.yaml
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/containerd/containerd/v2 to v2.2.5 [SECURITY]
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deploy `ControlPlane` extension after `kube-apiserver` in the shoot deletion flow (#15066)
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

provider-local: run machine pods with AppArmor/seccomp unconfined (#15082)
  pkg/provider-local/machine-provider/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: adjust the unit tests after @ialidzhikov applied suggestions
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

operator: Make domain handling for dashboard consistent with discovery-server (#15015)
  charts/gardener/operator/files/crd-gardens.yaml
  dev-setup/garden/base/garden.yaml
  docs/api-reference/operator.md
  docs/concepts/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  example/operator/20-garden.yaml
  pkg/api/operator/v1alpha1/helper/garden.go
  pkg/api/operator/v1alpha1/helper/garden_test.go
  pkg/api/operator/v1alpha1/validation/garden.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/component/gardener/dashboard/configmap.go
  pkg/component/gardener/dashboard/dashboard.go
  pkg/component/gardener/dashboard/dashboard_test.go
  pkg/component/gardener/dashboard/ingress.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  test/e2e/operator/garden/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/containerd/containerd/v2 to v2.2.5 [SECURITY] (#15104)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run make tidy
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass `seedName` to `allowIfGardenletIsNotYetBootstrapped`
  pkg/admissioncontroller/webhook/admission/seedrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/seedrestriction/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt SeedSettingPersistentVolumeClaimAutoscalerEnabled to default to false
  pkg/api/core/v1beta1/helper/seed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

docs: add operator guide for CloudProfile capabilities (GEP-33)
  docs/operations/cloudprofile_capabilities.md
Due: none

Update module github.com/prometheus/common to v0.69.0 (#15071)
  go.mod
  go.sum
  pkg/internal/tools/go.mod
  pkg/internal/tools/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
