Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Add unit tests
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/components_suite_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce `ControlPlane` field in `Shoot` worker API
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Streamline usages of `.status.technicalID`
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/shoot/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/client/kubernetes/clientmap/garden_clientmap_test.go
  pkg/client/kubernetes/clientmap/shoot_clientmap_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve client map and drop legacy secret handling
  pkg/client/kubernetes/clientmap/alias.go
  pkg/client/kubernetes/clientmap/garden_clientmap.go
  pkg/client/kubernetes/clientmap/garden_clientmap_test.go
  pkg/client/kubernetes/clientmap/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/shoot_clientmap_test.go
  pkg/operator/controller/virtual/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce helper functions
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Minor refactoring after rebase
  pkg/component/etcd/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[resource-manager] Set sync period to `1h` for all deployments
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/shared/resourcemanager.go
  pkg/component/shared/resourcemanager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

remove code smells in test cases
  pkg/apis/core/helper/common_test.go
  pkg/apis/core/helper/seed_test.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/helper/condition_builder_test.go
  pkg/apis/core/v1beta1/helper/condition_test.go
  pkg/apis/core/v1beta1/helper/seed_test.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/namespacedcloudprofile_test.go
  pkg/apis/core/validation/shoot_test.go
  plugin/pkg/shoot/tolerationrestriction/admission_test.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce Kubernetes Release Responsible Plan
  docs/development/new-kubernetes-version.md
Due: none

Address PR review feedback
  docs/development/process.md
Due: none

Address PR review feedback
  docs/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/client/kubernetes/clientmap/shoot_clientmap.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update gardener-discovery-server to v0.5.0 (#11387)
  example/provider-extensions/gardener-discovery-server/server/server.yaml
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Increase bit size of rsa key in unit test (#11389)
  pkg/utils/secrets/rsa_private_key_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

extensions/pkg/controller/heartbeat: Use CreateOrUpdate like node-agent lease controller
  extensions/pkg/controller/heartbeat/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

scale kube-apiserver back up after deployKubeAPIServerWithNodeAgentAuthorizer step to avoid breaking dependent steps
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module sigs.k8s.io/controller-runtime to v0.19.6
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make `ManagedResource`s only healthy when they exist
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move global options to `pkg/gardenadm/cmd` and add log options
  cmd/gardenadm/app/options.go
  pkg/gardenadm/cmd/cmd_suite_test.go
  pkg/gardenadm/cmd/options.go
  pkg/gardenadm/cmd/options_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Initialize logger and pass global options
  cmd/gardenadm/app/app.go
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  pkg/gardenadm/cmd/bootstrap/bootstrap_test.go
  pkg/gardenadm/cmd/connect/connect.go
  pkg/gardenadm/cmd/connect/connect_test.go
  pkg/gardenadm/cmd/discover/discover.go
  pkg/gardenadm/cmd/discover/discover_test.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/init/init_test.go
  pkg/gardenadm/cmd/join/join.go
  pkg/gardenadm/cmd/join/join_test.go
  pkg/gardenadm/cmd/token/create/create.go
  pkg/gardenadm/cmd/token/create/create_test.go
  pkg/gardenadm/cmd/token/delete/delete.go
  pkg/gardenadm/cmd/token/delete/delete_test.go
  pkg/gardenadm/cmd/token/generate/generate.go
  pkg/gardenadm/cmd/token/generate/generate_test.go
  pkg/gardenadm/cmd/token/list/list.go
  pkg/gardenadm/cmd/token/list/list_test.go
  pkg/gardenadm/cmd/token/token.go
  pkg/gardenadm/cmd/token/token_test.go
  pkg/gardenadm/cmd/version/version.go
  pkg/gardenadm/cmd/version/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/gardenadm/cmd/cmd_suite_test.go
  pkg/gardenadm/cmd/options_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/gardener-extension-networking-calico to v1.46.2 (#11148)
  example/provider-local/garden/base/kustomization.yaml
  example/provider-local/shoot-ipv6.yaml
  test/e2e/gardener/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix availability of Gardener `APIService`s
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address review comments
  pkg/gardenlet/controller/shoot/care/reconciler.go
  test/integration/gardenlet/shoot/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix test setup
  test/integration/gardenlet/shoot/care/care_suite_test.go
  test/integration/gardenlet/shoot/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

expose shootStatusTechnicalID index field in API
  pkg/apis/core/v1beta1/conversions.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix import order
  pkg/gardenlet/controller/shoot/care/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update alpine docker tag to v3.21.3
  example/provider-extensions/ssh-reverse-tunnel/base/ssh/ssh_deployment.yaml
  example/provider-extensions/ssh-reverse-tunnel/base/sshd/sshd_deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add dual-stack support to `Garden` resource and gardener-operator (#11251)
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  example/operator/20-garden.yaml
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/validation/validation.go
  pkg/apis/operator/v1alpha1/validation/validation_test.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/controller/add.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/operator/webhook/validation/handler_test.go
  test/e2e/operator/garden/common.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
  test/integration/gardenlet/networkpolicy/networkpolicy_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/controllerregistrar/controllerregistrar_test.go
  test/integration/operator/extension/extension/extension_test.go
  test/integration/operator/garden/care/care_test.go
  test/integration/operator/garden/garden/garden_test.go
  test/integration/operator/garden/reference/reference_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update kindest/node docker tag to v1.31.6
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kubernetes-sigs/kind to v0.27.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

remove code smells in test cases (#11395)
  pkg/apis/core/helper/common_test.go
  pkg/apis/core/helper/seed_test.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/helper/condition_builder_test.go
  pkg/apis/core/v1beta1/helper/condition_test.go
  pkg/apis/core/v1beta1/helper/seed_test.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/namespacedcloudprofile_test.go
  pkg/apis/core/validation/shoot_test.go
  plugin/pkg/shoot/tolerationrestriction/admission_test.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module sigs.k8s.io/controller-runtime to v0.19.6 (#11398)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add CloudProfileCapabilities FeatureGate
  docs/deployment/feature_gates.md
  pkg/apiserver/features/features.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add Capabilities to CloudProfile API
  docs/api-reference/core.md
  pkg/apis/core/types.go
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1beta1/types.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apiserver/openapi/api_violations.report
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Capabilities validation in CloudProfile
  go.mod
  pkg/apis/core/v1beta1/defaults_cloudprofile.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/namespacedcloudprofile.go
  pkg/apis/core/validation/utils.go
  pkg/apis/core/validation/utils_test.go
  pkg/features/features.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
