Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260227-085711a-1.26
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Clean up the removed `InPlaceOrRecreate` feature gate
  pkg/api/core/validation/seed_test.go
  pkg/api/core/validation/shoot_test.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
  pkg/utils/validation/features/vpa.go
  pkg/utils/validation/features/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `InPlace` as a supported VPA feature gate
  pkg/utils/validation/features/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: by default start, not restart helathcheck service
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes-sigs/kind to v0.32.0 (#14967)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: disable the otel-col helathcheck by default
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.47.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add advertised address service account issuer to disallowed issuers
  pkg/admissioncontroller/webhook/admission/authenticationconfig/add.go
  pkg/admissioncontroller/webhook/admission/authenticationconfig/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Combine in-place and rolling worker pool update tests to reduce number of test Shoots (#14915)
  pkg/utils/gardener/secretsrotation/etcd.go
  test/e2e/gardener/shoot/create_rotate_delete.go
  test/e2e/gardener/shoot/create_update-in-place_delete.go
  test/e2e/gardener/shoot/create_update_delete.go
  test/e2e/gardener/shoot/internal/rotation/ssh_keypair.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: rm not needed todo comment
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/templates/opentelemetry-collector-config.yaml.tpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Allow runtime blackbox exporter access to private networks (#14962)
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update hack/usage/wait-for.sh
  hack/usage/wait-for.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: prevent unbound variable error on empty array expansion in `wait-for.sh` (#14973)
  hack/usage/wait-for.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency envoyproxy/envoy to v1.38.1
  dev-setup/gind/docker-compose.yaml
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency envoyproxy/envoy to v1.38.1 (#14978)
  dev-setup/gind/docker-compose.yaml
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update istio to v1.29.4
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update istio to v1.29.4 (#14980)
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v29.5.3+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Adjust template for remote garden in dev setup
  dev-setup/garden/overlays/remote/garden.yaml.tmpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: Validate and use new strategy field
  pkg/api/operator/v1alpha1/validation/garden.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
  pkg/component/gardener/scheduler/configmaps.go
  pkg/component/gardener/scheduler/scheduler_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Run `make generate`
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: Introduce new strategy field on garden and scheduler
  charts/gardener/operator/files/crd-gardens.yaml
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/component/gardener/scheduler/scheduler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

refactor: Rename candidateDeterminationStrategy to strategy to match Go field (PR review)
  charts/gardener/operator/files/crd-gardens.yaml
  dev-setup/garden/overlays/remote/garden.yaml.tmpl
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/api/operator/v1alpha1/validation/garden.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

refactor: Replace ptr.To() with new() (PR review)
  pkg/api/operator/v1alpha1/validation/garden_test.go
  test/e2e/gardener/shoot/create_encr_provider_change_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency-watchdog to v1.8.0 (#14965)
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Add strategy field to example garden template (PR review)
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Drop third defaulting logic for strategy field (PR review)
  pkg/component/gardener/scheduler/configmaps.go
  pkg/component/gardener/scheduler/scheduler.go
  pkg/component/gardener/scheduler/scheduler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Drop superfluous validation (PR review)
  pkg/api/operator/v1alpha1/validation/garden.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

remove `ShootState` secret format type migration
  cmd/gardenlet/app/app.go
  cmd/gardenlet/app/migration.go
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Disable reconcilers when `concurrentSyncs` is `0`
  pkg/controllermanager/controller/bastion/add.go
  pkg/controllermanager/controller/certificatesigningrequest/add.go
  pkg/controllermanager/controller/cloudprofile/add.go
  pkg/controllermanager/controller/controllerdeployment/add.go
  pkg/controllermanager/controller/controllerregistration/controllerinstallation/seed/add.go
  pkg/controllermanager/controller/controllerregistration/controllerinstallation/shoot/add.go
  pkg/controllermanager/controller/credentialsbinding/add.go
  pkg/controllermanager/controller/event/add.go
  pkg/controllermanager/controller/exposureclass/add.go
  pkg/controllermanager/controller/gardenletlifecycle/add.go
  pkg/controllermanager/controller/managedseedset/add.go
  pkg/controllermanager/controller/namespacedcloudprofile/add.go
  pkg/controllermanager/controller/project/activity/add.go
  pkg/controllermanager/controller/project/project/add.go
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/stale/add.go
  pkg/controllermanager/controller/quota/add.go
  pkg/controllermanager/controller/secretbinding/add.go
  pkg/controllermanager/controller/seed/backupbucketscheck/add.go
  pkg/controllermanager/controller/seed/extensionscheck/add.go
  pkg/controllermanager/controller/shoot/conditions/add.go
  pkg/controllermanager/controller/shoot/hibernation/add.go
  pkg/controllermanager/controller/shoot/maintenance/add.go
  pkg/controllermanager/controller/shoot/migration/add.go
  pkg/controllermanager/controller/shoot/quota/add.go
  pkg/controllermanager/controller/shoot/retry/add.go
  pkg/controllermanager/controller/shoot/statuslabel/add.go
  pkg/controllermanager/controller/shootstate/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Run `make generate`
  charts/gardener/operator/files/crd-gardens.yaml
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update vpa-components to v1.7.0 (#14936)
  docs/usage/autoscaling/shoot_pod_autoscaling_best_practices.md
  example/seed-crds/10-crd-autoscaling.k8s.io_verticalpodautoscalercheckpoints.yaml
  example/seed-crds/10-crd-autoscaling.k8s.io_verticalpodautoscalers.yaml
  example/seed-crds/doc.go
  go.mod
  imagevector/containers.yaml
  pkg/api/core/validation/seed_test.go
  pkg/api/core/validation/shoot_test.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
  pkg/component/autoscaling/vpa/crd.go
  pkg/component/autoscaling/vpa/templates/doc.go
  pkg/component/autoscaling/vpa/third_party/README.md
  pkg/component/autoscaling/vpa/third_party/crd-autoscaling.k8s.io_verticalpodautoscalercheckpoints.yaml
  pkg/component/autoscaling/vpa/third_party/crd-autoscaling.k8s.io_verticalpodautoscalers.yaml
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/utils/kubernetes/health/vpa.go
  pkg/utils/validation/features/vpa.go
  pkg/utils/validation/features/vpa_test.go
  test/integration/gardenlet/vpaevictionrequirements/vpaevictionrequirements_suite_test.go
  test/integration/operator/garden/garden/garden_suite_test.go
  test/integration/resourcemanager/vpainplaceupdates/vpainplaceupdates_suite_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.47.2 (#14976)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/alertmanager Docker tag to v0.32.2
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/alertmanager Docker tag to v0.32.2 (#14983)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/cortexproject/cortex Docker tag to v1.21.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix gardenlet panic for shoots without external cluster domain (#14521)
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v29.5.3+incompatible (#14975)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/common to v0.68.1 (#14970)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/cortexproject/cortex Docker tag to v1.21.1 (#14984)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency mikefarah/yq to v4.53.3
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
