Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Add `omitempty` to `resourceLimit.size` (#13581)
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(pkg/grm/webhook/in-place): attach `mutated` label to updated VPA resources
  pkg/resourcemanager/webhook/vpainplaceupdates/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(cmd/internal/migration): patch only VPA resources with `Auto` and `Recreate` modes
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move `{extensions,resources}/v1alpha1/helper` to `pkg/apis`
  pkg/api/extensions/v1alpha1/helper/dnsrecord.go
  pkg/api/extensions/v1alpha1/helper/dnsrecord_test.go
  pkg/api/extensions/v1alpha1/helper/extension.go
  pkg/api/extensions/v1alpha1/helper/extension_test.go
  pkg/api/extensions/v1alpha1/helper/filecodec.go
  pkg/api/extensions/v1alpha1/helper/filecodec_test.go
  pkg/api/extensions/v1alpha1/helper/helper_suite_test.go
  pkg/api/extensions/v1alpha1/helper/network.go
  pkg/api/extensions/v1alpha1/helper/network_test.go
  pkg/api/extensions/v1alpha1/helper/operatingsystemconfig.go
  pkg/api/extensions/v1alpha1/helper/operatingsystemconfig_test.go
  pkg/api/extensions/v1alpha1/helper/worker.go
  pkg/api/extensions/v1alpha1/helper/worker_test.go
  pkg/api/resources/v1alpha1/helper/helper_suite_test.go
  pkg/api/resources/v1alpha1/helper/managedresource.go
  pkg/api/resources/v1alpha1/helper/managedresource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update imports
  extensions/pkg/controller/operatingsystemconfig/bash.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  pkg/api/extensions/validation/network.go
  pkg/component/extensions/extension/extension.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component.go
  pkg/component/extensions/operatingsystemconfig/utils/filecontentinlinecodec.go
  pkg/controllerutils/predicate/predicate.go
  pkg/gardenadm/botanist/dnsrecord.go
  pkg/gardenlet/controller/controllerinstallation/required/add.go
  pkg/gardenlet/controller/seed/seed/nginxingress.go
  pkg/gardenlet/operation/botanist/dns.go
  pkg/gardenlet/operation/botanist/nginxingress.go
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/provider-local/controller/ingress/reconciler.go
  pkg/provider-local/controller/worker/machines.go
  pkg/resourcemanager/controller/health/utils/controller.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `omitempty` to `resourceLimit.size` (#13582)
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(cmd/internal/migration): run `MigrateVPAUpdateModeToRecreate` in parallel
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move istio specific lua script to istio component
  pkg/component/networking/istio/logging.go
  pkg/component/networking/istio/logging_test.go
  pkg/component/networking/istio/lua/add_kubernetes_namespace_name_to_record.lua
  pkg/component/observability/logging/fluentbit/fluentbit.go
  pkg/component/observability/logging/fluentbit/lua/add_kubernetes_namespace_name_to_record.lua
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update go
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/ShootMachineImageUpdateTest.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update go (#13583)
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/ShootMachineImageUpdateTest.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v29.1.2+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review comments
  pkg/controllermanager/controller/project/project/add.go
  pkg/controllermanager/controller/project/project/add_test.go
  pkg/resourcemanager/predicate/class_filter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v29.1.2+incompatible (#13584)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Refactor test with ordered `It`s
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add reporter to all gardenadm commands
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  pkg/gardenadm/cmd/connect/connect.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/join/join.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add CommandLintProgressReporter for cmd line tools that use flow
  go.mod
  pkg/gardenadm/cmd/init/init.go
  pkg/utils/flow/graph.go
  pkg/utils/flow/progress_reporter.go
  pkg/utils/flow/progress_reporter_commandline.go
  pkg/utils/flow/progress_reporter_commandline_test.go
  pkg/utils/flow/signals_darwin.go
  pkg/utils/flow/signals_linux.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from marc1404
  docs/development/validation-guidelines.md
  docs/extensions/validation-guidelines-for-extensions.md
Due: none

Update dependency kyverno/kyverno to v1.16.1
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(cmd/internal/migration): run `MigrateVPAEmptyPatch` in parallel
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Introduce `--use-bootstrap-etcd` flag for `gardenadm init` (#13542)
  docs/cli-reference/gardenadm/gardenadm_init.md
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/init/options.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(cmd/internal/migration/vpa): use constant number of workers to process the resources
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(cmd/internal/migration/vpa): use `labelSelector`(s) to filter `vpa` resources
  cmd/internal/migration/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kyverno/kyverno to v1.16.1 (#13586)
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from vpnachev
  docs/extensions/validation-guidelines-for-extensions.md
Due: none

chore: Add separate example manifest for provider-local `ManagedSeedSet`
  example/provider-local/managedseeds/managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Update name of `ManagedSeedSet` example
  example/57-managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Move example manifest to dedicated `ManagedSeedSet` folder for provider-local (PR review)
  example/provider-local/managedseedset/managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: Add `cloudProfile.kind` and `kubernetes.version` to `shootTemplate` (PR review)
  example/provider-local/managedseedset/managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Use non-deprecated `.spec.dns.ingress.domain` for `Seed` templates (PR review)
  example/57-managedseedset.yaml
  example/provider-local/managedseedset/managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Change dashboard byte units from IEC to SI
  pkg/component/observability/plutono/dashboards/common/shoot-control-plane-resource-usage-by-owner-container.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Use appropriate DNS domain examples (PR review)
  example/57-managedseedset.yaml
  example/provider-local/managedseedset/managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Add disclaimer to `ManagedSeedSet` example manifest for `provider-local` (PR review)
  example/provider-local/managedseedset/managedseedset.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Initialise empty dashboard
  pkg/component/observability/plutono/dashboards/shoot/owners/control-plane-costs-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove usages of `controller-runtime`'s deprecated `reconcile.Result{Requeue: true}` (#13052)
  extensions/pkg/controller/extension/reconciler.go
  pkg/controller/tokenrequestor/reconciler.go
  pkg/controller/tokenrequestor/reconciler_test.go
  pkg/controllermanager/controller/project/project/add.go
  pkg/controllermanager/controller/project/project/add_test.go
  pkg/controllermanager/controller/project/project/reconciler.go
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/reconciler/reconcile.go
  pkg/controllerutils/reconciler/reconcile_test.go
  pkg/gardenlet/controller/shoot/shoot/helper/infos_test.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler_test.go
  pkg/operator/controller/garden/garden/reconciler.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/resourcemanager/controller/garbagecollector/reconciler.go
  pkg/resourcemanager/controller/managedresource/add.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  pkg/resourcemanager/predicate/class_filter.go
  pkg/resourcemanager/predicate/class_filter_test.go
  test/integration/resourcemanager/managedresource/resource_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus to v3.8.0 (#13580)
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update remote local setup with hosts for end-to-end tests and IPv6 support (#13436)
  docs/deployment/content/remote-local-setup.yaml
  example/provider-local/managedseeds/managedseed-ipv6.yaml
  example/provider-local/managedseeds/shoot-managedseed-ipv6.yaml
  example/provider-local/managedseeds/shoot-managedseed.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update alpine Docker tag to v3.23.0
  example/provider-extensions/ssh-reverse-tunnel/base/ssh/ssh_deployment.yaml
  example/provider-extensions/ssh-reverse-tunnel/base/sshd/sshd_deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.7.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix kube-apiserver metrics from being scraped multiple times when IstioTLSTermination is active
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/servicemonitor.go
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add arg to recommender Deployment
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/component/autoscaling/vpa/recommender.go
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
