Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Adapt istiod VPA
  pkg/component/networking/istio/charts/istio/istio-istiod/templates/autoscale.yaml
  pkg/component/networking/istio/test_charts/istiod_autoscale.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/tools to v0.42.0 (#14001)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Split the `ShootDNS` admission plugin into mutating and validating admission plugin (#13910)
  docs/concepts/apiserver-admission-plugins.md
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[`gardenadm join`] Ensure no active `Shoot` reconciliation (#14004)
  pkg/gardenadm/cmd/join/join.go
  pkg/gardenadm/cmd/join/join_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.137.0-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Prepare next Dev Cycle v1.137.0-dev (#14012)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Unconditionally enable `discovery.k8s.io/v1` for workerless shoots
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-32] Introduce API changes for version classification lifecycles (#12543)
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  docs/usage/shoot-operations/shoot_versions.md
  example/30-cloudprofile.yaml
  example/gardener-local/controlplane/values.yaml
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/helper/cloudprofile_test.go
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/cloudprofile.go
  pkg/apis/core/v1beta1/helper/cloudprofile_test.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/utils.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/features/features.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/client/core/clientset/versioned/typed/core/v1beta1/cloudprofile.go
  pkg/features/features.go
  pkg/utils/gardener/cloudprofile.go
  plugin/pkg/global/resourcereferencemanager/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to 2842357 (#14002)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kubernetes to v1.35.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v0.8.25
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v1.34.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v1.35.2
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.9.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update kubernetes packages to v0.34.4
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable `discovery.k8s.io/v1` API for workerless api-servers by default with `>=1.33`
  pkg/component/kubernetes/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update kubernetes packages to v0.34.4 (#14022)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update k8s.io/utils digest to b8788ab
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/tools
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update go version
  hack/tools/logcheck/go.mod
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update k8s.io/utils digest to b8788ab (#14014)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adopt PR feedback
  docs/README.md
  docs/extensions/resources/selfhostedshootexposure.md
  pkg/apis/extensions/v1alpha1/types_selfhostedshootexposure.go
  pkg/apis/extensions/validation/selfhostedshootexposure.go
  pkg/apis/extensions/validation/selfhostedshootexposure_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

ci: Build `golang-test` images for Go 1.26
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Change SecretRef to CredentialsRef
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_selfhostedshootexposures.yaml
  pkg/apis/extensions/v1alpha1/types_selfhostedshootexposure.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/selfhostedshootexposure_test.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_selfhostedshootexposures.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add support function to generate OSC name
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v1.34.3 (#14018)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v1.35.2 (#14019)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Unconditionally enable `discovery.k8s.io/v1` for workerless shoots (#14013)
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kubernetes to v1.35.1 (#14015)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.9.0 (#14021)
  hack/tools.mk
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency securego/gosec to v2.23.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

extensions/webhook: return http.StatusForbidden if validation/mutation fails
  extensions/pkg/webhook/handler.go
  extensions/pkg/webhook/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt to incompatible changes
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apis/core/validation/project_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/resourcemanager/controller/node/criticalcomponents/helper/daemon_controller.go
  pkg/resourcemanager/controller/node/criticalcomponents/reconciler.go
  pkg/resourcemanager/webhook/extensionvalidation/add.go
  pkg/resourcemanager/webhook/extensionvalidation/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Solve `OpenTelemetry-Operator` dependency issue
  cmd/gardenlet/app/migration.go
  go.mod
  go.sum
  hack/generate-crds.sh
  pkg/client/kubernetes/types.go
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_targetallocators.yaml
  pkg/operator/client/scheme.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
  third_party/open-telemetry/opentelemetry-operator/README.md
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/allocation_strategy.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/groupversion_info.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/ingress_type.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/instrumentation_types.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/mode.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/opampbridge_capabilities.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/opampbridge_types.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/opentelemetrycollector_types.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/propagators.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/samplers.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/targetallocator_types.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/upgrade_strategy.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1alpha1/zz_generated.deepcopy.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/common.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/config.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/groupversion_info.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/ingress.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/mode.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/networkpolicy.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/opentelemetrycollector_types.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/targetallocator_types.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/upgrade_strategy.go
  third_party/open-telemetry/opentelemetry-operator/apis/v1beta1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `ReconciliationTimeout` panel
  pkg/component/observability/plutono/dashboards/common/controller-details.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Refactor: Remove obsolete `rest.Config` constructor
  extensions/pkg/util/clientset.go
  extensions/pkg/util/shoot_clients.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
