Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Implement review feedback
  pkg/apis/core/v1beta1/defaults_seed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[make format]
  pkg/gardenadm/cmd/init/init.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update pvc-autoscaler to v0.3.1
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove unused cloudprofile helper
  pkg/api/core/v1beta1/helper/cloudprofile.go
  pkg/api/core/v1beta1/helper/cloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prevent empty patches in nscp controller
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add nil guards in validations
  plugin/pkg/namespacedcloudprofile/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency protocolbuffers/protobuf to v36.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.33.0
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Observability: add vitals, availability, resource usage, and request rate per response code panels to apiserver dashboard (#15372)
  pkg/component/observability/plutono/dashboards/garden-shoot/apiserver-overview.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency protocolbuffers/protobuf to v36.2 (#15758)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move default cluster output to fluent bit custom resources
  pkg/component/observability/logging/fluentbit/fluentbit.go
  pkg/component/shared/fluent_custom_resources.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Rename custom resource
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove redundant valiEnabled variable
  pkg/component/observability/logging/fluentbit/fluentbit.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove unused isValiEnabled bool flag
  pkg/component/shared/fluent_bit.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix test
  pkg/component/observability/logging/fluentbit/fluentbit_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix tests and made cosmetic changes to victorialogs and collector
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Encrypt communication between OpenTelemetry collector and VictoriaLogs
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/shared/victorialogs.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/logging.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Refactor and clarify TLS
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
  pkg/component/observability/opentelemetry/collector/collector.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix ServiceMonitor of VictoriaLogs
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add separate ports for http and https traffic
  pkg/component/observability/logging/victorialogs/constants/constants.go
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Do not fail shoot maintenance on conflict during dry-run update
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove gardenlet Deployment rollout workaround from DR e2e test
  pkg/controllerutils/predicate/predicate.go
  pkg/controllerutils/predicate/predicate_test.go
  pkg/gardenlet/controller/shoot/state/add.go
  pkg/gardenlet/controller/shoot/state/add_test.go
  test/e2e/gardenadm/unmanagedinfra/restore.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Rename journald cluster output
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Document the new additional alert_relabel_configs feature
  docs/monitoring/alerting.md
Due: none

Address review feedback: fix linter errors and add regression test
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase retry timeout to 2 Minutes
  pkg/gardenadm/cmd/init/init.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.33.0 (#15759)
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix golangci-lint plugin builds failing to load on macOS 16+ due to DWARF segment mismatch
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update opentelemetry-operator to v0.159.0
  charts/gardener/operator/files/crd-gardens.yaml
  docs/api-reference/core.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  imagevector/containers.yaml
  pkg/apis/go.mod
  pkg/apis/go.sum
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_targetallocators.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Always set `GOTOOLCHAIN` version in `SHELL` command as default for sub-shells
  Makefile
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix Renovate detection of `GOTOOLCHAIN` version in `Makefile`
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `GOTOOLCHAIN` version to version identification string of built tools to support switch of Go version
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deploy only one control plane machine in `gardenadm bootstrap` (#15754)
  pkg/gardenlet/operation/botanist/export_test.go
  pkg/gardenlet/operation/botanist/worker.go
  pkg/gardenlet/operation/botanist/worker_test.go
  test/e2e/gardenadm/managedinfra/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: dashboard changes required for VictoriaLogs rollout
  pkg/component/observability/plutono/dashboards/common/victorialogs-dashboard.json
  pkg/component/observability/plutono/dashboards/garden/kubernetes-pods-dashboard.json
  pkg/component/observability/plutono/dashboards/seed/extensions-dashboard.json
  pkg/component/observability/plutono/dashboards/seed/pod-logs.json
  pkg/component/observability/plutono/dashboards/seed/systemd-logs.json
  pkg/component/observability/plutono/dashboards/shoot/owners/controlplane-logs-dashboard.json
  pkg/component/observability/plutono/dashboards/shoot/owners/kubernetes-pods-dashboard.json
  pkg/component/observability/plutono/dashboards/shoot/owners/worker/cluster-overview-dashboard.json
  pkg/component/observability/plutono/dashboards/shoot/owners/workerless/cluster-overview-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add defaulting of `SeedConfig` to `GardenletConfiguration` (#15646)
  charts/gardener/gardenlet/test/test.go
  pkg/apis/config/gardenlet/v1alpha1/defaults.go
  pkg/apis/config/gardenlet/v1alpha1/defaults_test.go
  pkg/apis/config/gardenlet/v1alpha1/zz_generated.defaults.go
  pkg/apis/core/v1beta1/defaults_seed.go
  pkg/apis/core/v1beta1/zz_generated.defaults.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix default cluster output depending on vali enabled flag (#15562)
  pkg/component/observability/logging/fluentbit/fluentbit.go
  pkg/component/observability/logging/fluentbit/fluentbit_test.go
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs_test.go
  pkg/component/shared/fluent_bit.go
  pkg/component/shared/fluent_custom_resources.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.85.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply `WithVerbsForSubresources` to `WorkloadIdentity` authorizer entries
  pkg/admissioncontroller/webhook/auth/seed/authorizer.go
  pkg/admissioncontroller/webhook/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend webhook authorizer with `WithVerbsForSubresources`
  pkg/admissioncontroller/webhook/auth/authorizer.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `Seed` UPDATE spec check to seed-restriction
  pkg/admissioncontroller/webhook/admission/seedrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/seedrestriction/handler_test.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
