Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

fix(plutono/dashboards): add missing `vpa_update_*` prefix to `namespace` variable query in `VPA Updater`
  pkg/component/observability/plutono/dashboards/common/vpa/vpa-updater.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

gardener-operator: Run renew Seed Secrets tasks sequentially (#13739)
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Let controllers define their class compatibility
  pkg/provider-local/controller/backupbucket/add.go
  pkg/provider-local/controller/backupentry/add.go
  pkg/provider-local/controller/backupoptions/options.go
  pkg/provider-local/controller/bastion/add.go
  pkg/provider-local/controller/controlplane/add.go
  pkg/provider-local/controller/dnsrecord/add.go
  pkg/provider-local/controller/extension/seed/add.go
  pkg/provider-local/controller/extension/shoot/add.go
  pkg/provider-local/controller/healthcheck/add.go
  pkg/provider-local/controller/infrastructure/add.go
  pkg/provider-local/controller/operatingsystemconfig/add.go
  pkg/provider-local/controller/worker/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Improve class for provider local
  charts/gardener/provider-local/templates/deployment.yaml
  cmd/gardener-extension-provider-local/app/app.go
  pkg/provider-local/controller/extension/seed/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove unused options
  pkg/provider-local/controller/backupbucket/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Allow Project members to set ownerReference with `kind: Shoot` and `blockOwnerDeletion: true` for Secrets/ConfigMaps
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
  pkg/component/garden/system/virtual/virtual.go
  pkg/component/garden/system/virtual/virtual_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/alpine-conntrack to v3.23.2
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus to v3.9.1
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/alpine-conntrack to v3.23.2 (#13744)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency GoogleContainerTools/skaffold to v2.17.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix `--extension-classes` flag
  extensions/pkg/controller/cmd/reconciler_options.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency GoogleContainerTools/skaffold to v2.17.1 (#13745)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.42.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.8.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Upgrade golang.org/x/tools
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/apiserver-proxy to v0.20.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(observability/plutono/test): increase the number of expected dashboards
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(botanist/vpa): remove static Operation selector when checking ManagedSeed presence
  pkg/gardenlet/operation/botanist/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Refactor node local dns tests (#13694)
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix namespace handling for `SecretsManagerForGarden` (#13713)
  extensions/pkg/util/secret/manager/manager.go
  extensions/pkg/util/secret/manager/manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Expose HealthChecker as dependency in seed care
  pkg/gardenlet/controller/seed/care/health.go
  pkg/gardenlet/controller/seed/care/health_test.go
  pkg/gardenlet/controller/seed/care/reconciler.go
  pkg/gardenlet/controller/seed/care/reconciler_test.go
  pkg/gardenlet/controller/seed/care/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add Prometheus health checking to HealthChecker
  pkg/utils/kubernetes/health/checker/checker.go
  pkg/utils/kubernetes/health/checker/checker_test.go
  pkg/utils/kubernetes/health/monitoring.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Augment current seed and garden care tests to assert condition types
  pkg/gardenlet/controller/seed/care/health_test.go
  pkg/operator/controller/garden/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add utility to query for Prometheus health checks
  pkg/utils/kubernetes/health/monitoring.go
  pkg/utils/kubernetes/health/monitoring_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add options pattern for HealthChecker
  pkg/gardenlet/controller/seed/care/health.go
  pkg/gardenlet/controller/shoot/care/health.go
  pkg/operator/controller/extension/care/health.go
  pkg/operator/controller/garden/care/health.go
  pkg/utils/kubernetes/health/checker/checker.go
  pkg/utils/kubernetes/health/checker/checker_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend garden care for Prometheus health checking
  charts/gardener/operator/templates/clusterrole.yaml
  charts/gardener/operator/templates/deployment.yaml
  example/operator/10-crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  example/operator/10-crd-monitoring.coreos.com_alertmanagers.yaml
  example/operator/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/operator/10-crd-monitoring.coreos.com_probes.yaml
  example/operator/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/operator/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/operator/10-crd-monitoring.coreos.com_prometheusrules.yaml
  example/operator/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/operator/10-crd-monitoring.coreos.com_servicemonitors.yaml
  example/operator/10-crd-monitoring.coreos.com_thanosrulers.yaml
  example/operator/doc.go
  pkg/operator/controller/garden/care/health.go
  pkg/operator/controller/garden/care/health_test.go
  test/integration/operator/garden/care/care_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Introduce "health-check-by" label for Prometheus resources
  pkg/component/observability/monitoring/prometheus/component.go
  pkg/component/observability/monitoring/prometheus/prometheus.go
  pkg/component/observability/monitoring/prometheus/prometheus_test.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/monitoring.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Expose HealthChecker as dependency in garden care
  pkg/operator/controller/garden/care/health.go
  pkg/operator/controller/garden/care/health_test.go
  pkg/operator/controller/garden/care/reconciler.go
  pkg/operator/controller/garden/care/reconciler_test.go
  pkg/operator/controller/garden/care/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend seed care for Prometheus health checking
  charts/gardener/gardenlet/templates/clusterrole-gardenlet.yaml
  charts/gardener/gardenlet/templates/deployment.yaml
  charts/gardener/gardenlet/test/chart_test.go
  charts/gardener/gardenlet/test/test.go
  pkg/gardenlet/controller/seed/care/health.go
  pkg/gardenlet/controller/seed/care/health_test.go
  test/integration/gardenlet/seed/care/care_suite_test.go
  test/utils/access/adminkubeconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Rework longterm Prometheus service to expose port 9090
  pkg/component/observability/monitoring/prometheus/aggregate/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/aggregate/servicemonitors.go
  pkg/component/observability/monitoring/prometheus/component.go
  pkg/component/observability/monitoring/prometheus/cortex.go
  pkg/component/observability/monitoring/prometheus/ingress.go
  pkg/component/observability/monitoring/prometheus/longterm/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/prometheus_test.go
  pkg/component/observability/monitoring/prometheus/seed/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/service.go
  pkg/component/observability/monitoring/prometheus/shoot/scrapeconfigs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend shoot care for Prometheus health checking
  charts/gardener/gardenlet/templates/deployment.yaml
  charts/gardener/gardenlet/test/chart_test.go
  pkg/gardenlet/controller/shoot/care/health.go
  test/integration/gardenlet/shoot/care/care_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(autoscaling/vpa/test): Add new relabling config to vpa updater service monitor
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add workload identity token expiration duration to gardenlet configuration
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/validation/validation.go
  pkg/gardenlet/apis/config/v1alpha1/validation/validation_test.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix gardenlet charts test
  charts/gardener/gardenlet/test/test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Configure wi token requestor to use gardenlet's configuration
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/add.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adjust token renewal duration to use 50% of the calculated expiration duration
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Allow updating a MachineImage version expiration date in NamespacedCloudProfiles
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/gomega to v1.39.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add health recording rules to garden Prometheus
  pkg/component/observability/monitoring/prometheus/component.go
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/healthcheck.yaml.tmpl
  pkg/component/observability/monitoring/prometheus/garden/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/garden/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/garden/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/garden/scrapeconfigs_test.go
  pkg/component/observability/monitoring/prometheus/garden/testdata/healthcheck.prometheusrule.test.yaml
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add health recording rules to cache Prometheus
  pkg/component/observability/monitoring/prometheus/cache/assets/prometheusrules/healthcheck.yaml
  pkg/component/observability/monitoring/prometheus/cache/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/cache/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/cache/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/cache/scrapeconfigs_test.go
  pkg/component/observability/monitoring/prometheus/cache/testdata/healthcheck.prometheusrule.test.yaml
  pkg/gardenlet/controller/seed/seed/components.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
