Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

chore: Add Kubernetes v1.32.0 to provider-local cloud profile
  example/provider-local/garden/cloudprofile/cloudprofile.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

feat: Allow instantiating v1.32 Kubernetes clients
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain changed feature gate defaults with v1.32
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Fix output of `compare-k8s-controllers.sh`
  hack/compare-k8s-controllers.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain added feature gates with v1.32
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Document maintenance of feature gates for new Kubernetes versions
  docs/development/new-kubernetes-version.md
Due: none

chore: Update the local Garden Kubernetes version to 1.32
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Update DaemonSet controller comments
  pkg/resourcemanager/controller/node/criticalcomponents/helper/daemon_controller.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain API groups
  pkg/utils/validation/apigroups/apigroups.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Remove Equinix Metal and vSphere from conformance table (PR review)
  README.md
Due: none

chore: Update kindest/node to v1.32.0 for the local setup
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain removed feature gates with v1.32
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor: Interpolate runc version in patch-runc.sh
  pkg/provider-local/node/patch-runc.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Invalidate service accounts of new KCM controllers
  pkg/component/shoot/system/system.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Update supported Kubernetes versions in docs
  README.md
  docs/usage/shoot-operations/supported_k8s_versions.md
Due: none

fix: Override runc in kindest/node with v1.2.4
  hack/kind-up.sh
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Revert premature kindest/node image upgrade
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Remove missing from docu comments
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Go over feature gate list again and correct diff
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat: Add version constraints for Kubernetes v1.32
  pkg/utils/version/version.go
  pkg/utils/version/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor: Cleanup patch-runc.sh script
  pkg/provider-local/node/patch-runc.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Decommission broken `compare-k8s-feature-gates.sh` script
  docs/development/new-kubernetes-version.md
  hack/compare-k8s-feature-gates.sh
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Enable `storage.k8s.io/v1/csidrivers` for workerless shoots
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: Refactor runc patch and determine OS arch dynamically
  hack/kind-up.sh
  pkg/provider-local/node/Dockerfile
  pkg/provider-local/node/patch-runc.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Update comment for maintaining feature gates
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain graduated feature gates with v1.32
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

rename capabilitySets to capabilitiesSet
  docs/api-reference/core.md
  docs/proposals/33-machine-image-capabilities.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/validation/utils.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comments: return correct error in test when checking for running pods upon hibernation
  test/framework/gardener_utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Wait for pods to be `Ready` and not only `Running`
  test/e2e/gardener/shoot/internal/inclusterclient/inclusterclient.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update pkg/component/networking/istio/charts/istio/istio-ingress/templates/vpn-envoy-filter.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/vpn-envoy-filter.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix tests for istio
  pkg/component/networking/istio/test_charts/ingress_vpn_envoy_filter.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/apiserver-proxy to v0.19.0 (#11330)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address PR review feedback (2)
  docs/development/component-checklist.md
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase timeouts
  test/e2e/gardener/shoot/internal/inclusterclient/inclusterclient.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat/controller/seed: instantiate `VPA` with `IsGardenCluster` config param
  pkg/gardenlet/controller/seed/seed/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat/vpa/test: add unit tests for `seed`/`garden` `ServiceMonitor` labels
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat/controller/garden: instantiate VPA with `IsGardenCluster` config param
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat/vpa: add `IsGardenCluster` field to `Values` configuration
  pkg/component/autoscaling/vpa/vpa.go
  pkg/component/shared/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat/vpa/test: add unit tests for `shoot` cluster `ServiceMonitor` labels
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
