Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20251028-261fa7c-1.25
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20250909-a11c20e-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Update prometheus-operator to v0.86.2
  example/seed-crds/10-crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_alertmanagers.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_probes.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusrules.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_servicemonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_thanosrulers.yaml
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_alertmanagers.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_podmonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_probes.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusagents.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheuses.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusrules.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_scrapeconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_servicemonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_thanosrulers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply review feedback
  docs/proposals/26-workload-identity.md
Due: none

[GEP-28] `gardenadm init`: Deploy/restore `Infrastructure` (#13353)
  dev-setup/gardenadm/resources/overlays/managed-infra/kustomization.yaml
  dev-setup/gardenconfig/components/credentials/secret-project-garden-with-kind-kubeconfig/.gitignore
  dev-setup/gardenconfig/components/credentials/secret-project-garden-with-kind-kubeconfig/kustomization.yaml
  dev-setup/gardenconfig/components/credentials/secret-project-garden-with-kind-kubeconfig/secretbinding.yaml
  docs/extensions/provider-local.md
  hack/kind-up.sh
  pkg/gardenadm/cmd/init/init.go
  pkg/provider-local/controller/infrastructure/actuator.go
  pkg/provider-local/local/client.go
  test/e2e/gardenadm/managedinfra/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/cortexproject/cortex Docker tag to v1.20.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up unit tests for machine image defaulting from the `ShootValidator` admission plugin
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt `ShootValidator` unit tests to no longer rely on the machine image defaulting
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix `ShootMutator` unit tests
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add nil check for the machine image when validating API version for RawExtensions
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up machine image defaulting from the `ShootValidator` admission plugin
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Duplicate machine image defaulting in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Duplicate unit tests for machine image defaulting in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update `DescribeTableSubtree` name
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up no longer needed `Context`
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update `ShootMutator` docs
  docs/concepts/apiserver-admission-plugins.md
Due: none

Prefactor: Rename constant for `GardenletReady` condition
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/types_utils.go
  pkg/controllermanager/controller/managedseedset/add_test.go
  pkg/controllermanager/controller/managedseedset/replica.go
  pkg/controllermanager/controller/managedseedset/replica_test.go
  pkg/controllermanager/controller/seed/lifecycle/reconciler.go
  pkg/controllermanager/controller/shoot/conditions/add_test.go
  pkg/gardenlet/controller/seed/lease/reconciler.go
  pkg/gardenlet/controller/seed/seed/reconciler.go
  pkg/scheduler/controller/shoot/reconciler.go
  pkg/scheduler/controller/shoot/reconciler_test.go
  pkg/utils/graph/eventhandler_seed.go
  pkg/utils/kubernetes/health/seed.go
  pkg/utils/kubernetes/health/seed_test.go
  test/framework/k8s_utils_test.go
  test/integration/controllermanager/managedseedset/managedseedset_test.go
  test/integration/controllermanager/seed/lifecycle/lifecycle_test.go
  test/integration/controllermanager/shoot/conditions/conditions_test.go
  test/integration/controllermanager/shoot/migration/migration_test.go
  test/integration/gardenlet/seed/lease/lease_test.go
  test/integration/scheduler/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prefactor: Make `Lease` controller generic
  pkg/gardenlet/controller/lease/add.go
  pkg/gardenlet/controller/lease/reconciler.go
  pkg/gardenlet/controller/lease/reconciler_test.go
  pkg/gardenlet/controller/seed/add.go
  pkg/gardenlet/controller/seed/lease/add.go
  test/integration/gardenlet/seed/lease/lease_suite_test.go
  test/integration/gardenlet/seed/lease/lease_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move `seed/lease` controller into generic package
  pkg/gardenlet/controller/lease/add.go
  pkg/gardenlet/controller/lease/lease_suite_test.go
  pkg/gardenlet/controller/lease/reconciler.go
  pkg/gardenlet/controller/lease/reconciler_test.go
  pkg/gardenlet/controller/seed/add.go
  pkg/gardenlet/controller/seed/lease/add.go
  test/integration/gardenlet/seed/lease/lease_suite_test.go
  test/integration/gardenlet/seed/lease/lease_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update `Processing` `Shoot` statuses to `Aborted`
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt `Shoot{Authorizer,Restriction}` handlers
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler_test.go
  pkg/admissioncontroller/webhook/auth/seed/authorizer.go
  pkg/admissioncontroller/webhook/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/utils/graph/eventhandler_shoot.go
  pkg/utils/graph/graph_test.go
  plugin/pkg/global/customverbauthorizer/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `Lease` controller for self-hosted `Shoot`s to `gardenlet`
  docs/concepts/gardenlet.md
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/lease/reconciler.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/lease/add.go
  skaffold-gardenadm.yaml
  skaffold-seed.yaml
  skaffold.yaml
  test/integration/gardenlet/shoot/lease/lease_suite_test.go
  test/integration/gardenlet/shoot/lease/lease_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable periodic healthz check
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable `shoot-lease` reconciler for self-hosted shoots
  cmd/gardenlet/app/app.go
  pkg/gardenlet/controller/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/gardenletlifecycle/reconciler.go
  test/integration/controllermanager/gardenletlifecycle/lifecycle_suite_test.go
  test/integration/gardenlet/seed/lease/lease_test.go
  test/integration/gardenlet/shoot/lease/lease_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GAPI] Maintain `shoot.gardener.cloud/is-self-hosted` label for better filtering
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/controllermanager/controller/gardenletlifecycle/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt `seed-lifecycle` controller in GCM
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/gardenletlifecycle/add.go
  pkg/controllermanager/controller/gardenletlifecycle/add_test.go
  pkg/controllermanager/controller/gardenletlifecycle/gardenletlifecycle_suite_test.go
  pkg/controllermanager/controller/gardenletlifecycle/reconciler.go
  pkg/controllermanager/controller/seed/add.go
  pkg/controllermanager/controller/seed/lifecycle/add.go
  skaffold-operator.yaml
  skaffold.yaml
  test/integration/controllermanager/gardenletlifecycle/lifecycle_suite_test.go
  test/integration/controllermanager/gardenletlifecycle/lifecycle_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/admissioncontroller/webhook/auth/seed/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/gardenletlifecycle/reconciler.go
  pkg/gardenlet/controller/lease/reconciler.go
  pkg/gardenlet/controller/lease/reconciler_test.go
  pkg/gardenlet/controller/seed/add.go
  pkg/gardenlet/controller/seed/lease/add.go
  test/integration/controllermanager/gardenletlifecycle/lifecycle_suite_test.go
  test/integration/controllermanager/gardenletlifecycle/lifecycle_test.go
  test/integration/gardenlet/seed/lease/lease_suite_test.go
  test/integration/gardenlet/seed/lease/lease_test.go
  test/integration/gardenlet/shoot/lease/lease_suite_test.go
  test/integration/gardenlet/shoot/lease/lease_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/component/garden/backupentry/backupentry.go
  pkg/controllermanager/controller/gardenletlifecycle/reconciler.go
  pkg/gardenlet/controller/lease/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt breaking API changes
  pkg/component/observability/monitoring/prometheus/seed/podmonitors.go
  pkg/component/observability/monitoring/prometheus/seed/podmonitors_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kyverno/kyverno to v1.16.0
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `make` target to build `gardenadm` locally
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update `gardenadm connect` docs
  docs/deployment/getting_started_locally_with_gardenadm.md
Due: none

Avoid overwriting extension state on consecutive runs
  pkg/extensions/customresources.go
  pkg/extensions/customresources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Handle provider client in local `DNSRecord` controller
  pkg/provider-local/controller/dnsrecord/actuator.go
  pkg/provider-local/controller/dnsrecord/actuator_test.go
  pkg/provider-local/controller/dnsrecord/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt `IsShootNamespace` for self-hosted shoots
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/predicate/preconditions.go
  extensions/pkg/predicate/preconditions_test.go
  extensions/pkg/predicate/predicate_suite_test.go
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/provider-local/controller/extension/shoot/actuator.go
  pkg/provider-local/controller/networkpolicy/add.go
  pkg/provider-local/controller/networkpolicy/add_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`gardenadm init`: Restore bootstrap `DNSRecord`
  pkg/gardenadm/botanist/dnsrecord.go
  pkg/gardenadm/botanist/machines.go
  pkg/gardenadm/botanist/machines_test.go
  pkg/gardenadm/botanist/ssh.go
  pkg/gardenadm/cmd/init/init.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add e2e test coverage
  test/e2e/gardenadm/managedinfra/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/fluent/fluent-operator/v3 to v3.5.0 (#13306)
  example/seed-crds/10-crd-fluentbit.fluent.io_clusterfilters.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_clusterfluentbitconfigs.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_clusterinputs.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_clusteroutputs.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_clusterparsers.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_collectors.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_filters.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_fluentbitconfigs.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_outputs.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_parsers.yaml
  go.mod
  go.sum
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_clusterfilters.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_clusterfluentbitconfigs.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_clusterinputs.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_clusteroutputs.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_clusterparsers.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_collectors.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_filters.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_fluentbitconfigs.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_outputs.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_parsers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/containerd/containerd to v2 (#13311)
  go.mod
  go.sum
  pkg/nodeagent/controller/healthcheck/add.go
  pkg/nodeagent/controller/healthcheck/containerd.go
  pkg/nodeagent/registry/containerd_extractor.go
  test/integration/nodeagent/healthcheck/healthcheck_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/containerd/containerd/v2 to v2.1.5 [SECURITY]
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Build gardenadm image
  .github/workflows/build.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
