Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Add `CustomResourceDefinition` YAML files via `make generate`
  example/seed-crds/10-crd-perses.dev_perses.yaml
  example/seed-crds/10-crd-perses.dev_persesdashboards.yaml
  example/seed-crds/10-crd-perses.dev_persesdatasources.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_perses.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_persesdashboards.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_persesdatasources.yaml
  skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add `perses-operator` dependency and `go generate`/`controller-gen` scripts
  example/seed-crds/doc.go
  go.mod
  go.sum
  hack/generate-crds.sh
  pkg/component/observability/monitoring/persesoperator/templates/doc.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `admission-local` deployment (#12107)
  charts/gardener/admission-local/charts/runtime/templates/deployment.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix `admission-local` deployment (#12108)
  charts/gardener/admission-local/charts/runtime/templates/deployment.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix `admission-local` deployment (#12106)
  charts/gardener/admission-local/charts/runtime/templates/deployment.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address comments, improve validation wording
  example/provider-local/managedseeds/shoot-managedseed.yaml
  example/provider-local/shoot-ipv6.yaml
  example/provider-local/shoot.yaml
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  test/e2e/gardener/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Re-run make generate
  pkg/apis/core/v1beta1/generated.proto
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add fields to core.md, and fix a bunch of HTML & grammar issues
  docs/api-reference/core.md
Due: none

Remove unnecessary eval
  hack/compare-k8s-feature-gates.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `admission-local` deployment (#12105)
  charts/gardener/admission-local/charts/runtime/templates/deployment.yaml
  charts/gardener/admission-local/charts/runtime/values.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address Review
  docs/deployment/feature_gates.md
  docs/usage/shoot-operations/shoot_operations.md
Due: none

Remove Graduated feature gate ShootForceDeletion
  docs/deployment/feature_gates.md
  docs/usage/shoot-operations/shoot_operations.md
  example/gardener-local/controlplane/values.yaml
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/features/features_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove graduated feature gate `ShootForceDeletion` (#12078)
  docs/deployment/feature_gates.md
  docs/usage/shoot-operations/shoot_operations.md
  example/gardener-local/controlplane/values.yaml
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/features/features_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency credativ/vali to v2.2.23
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update etcd-druid to v0.30.0
  docs/api-reference/core.md
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-28] `gardenadm bootstrap`: Deploy and wait for `Infrastructure` (#12092)
  pkg/gardenadm/botanist/botanist.go
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  pkg/utils/test/matchers/health.go
  pkg/utils/test/matchers/health_test.go
  test/e2e/gardenadm/common/client.go
  test/e2e/gardenadm/mediumtouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Use `Role/RoleBinding` to provide RBAC permissions to MCM/CA pod instead of `ClusterRole/ClusterRoleBinding` (#11923)" (#12101)
  cmd/gardenlet/app/migration.go
  pkg/component/autoscaling/clusterautoscaler/bootstrap.go
  pkg/component/autoscaling/clusterautoscaler/bootstrap_test.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/autoscaling/clusterautoscaler/mock/mocks.go
  pkg/component/networking/vpn/seedserver/mock/mocks.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/component/nodemanagement/machinecontrollermanager/mock/mocks.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
  pkg/gardenlet/operation/botanist/clusterautoscaler_test.go
  pkg/gardenlet/operation/botanist/machinecontrollermanager.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnseedserver_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Use `Role/RoleBinding` to provide RBAC permissions to MCM/CA pod instead of `ClusterRole/ClusterRoleBinding` (#11923)"
  cmd/gardenlet/app/migration.go
  pkg/component/autoscaling/clusterautoscaler/bootstrap.go
  pkg/component/autoscaling/clusterautoscaler/bootstrap_test.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/autoscaling/clusterautoscaler/mock/mocks.go
  pkg/component/networking/vpn/seedserver/mock/mocks.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/component/nodemanagement/machinecontrollermanager/mock/mocks.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
  pkg/gardenlet/operation/botanist/clusterautoscaler_test.go
  pkg/gardenlet/operation/botanist/machinecontrollermanager.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnseedserver_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update kubernetes packages to v0.32.5
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
Due: none

Revert "Use `Role/RoleBinding` to provide RBAC permissions to MCM/CA pod instead of `ClusterRole/ClusterRoleBinding` (#11923)" (#12113)
  cmd/gardenlet/app/migration.go
  pkg/component/autoscaling/clusterautoscaler/bootstrap.go
  pkg/component/autoscaling/clusterautoscaler/bootstrap_test.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/autoscaling/clusterautoscaler/mock/mocks.go
  pkg/component/networking/vpn/seedserver/mock/mocks.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/component/nodemanagement/machinecontrollermanager/mock/mocks.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
  pkg/gardenlet/operation/botanist/clusterautoscaler_test.go
  pkg/gardenlet/operation/botanist/machinecontrollermanager.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnseedserver_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deprecate CA flag `maxEmptyBulkDelete` for `maxScaleDownParallelism`, add `maxDrainParallelism`
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update etcd-druid to v0.30.0 (minor) (#12111)
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix network policy for `admission-local`
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix shoot status reconciler integration test
  test/integration/gardenlet/shoot/status/status_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix nodeagent operatingsystemconfig reconciler integration test
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove rolling update exception from docu (#12088)
  docs/usage/shoot-operations/shoot_updates.md
Due: none

Fix network policy for `admission-local` (#12116)
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add sort and comments
  hack/compare-k8s-feature-gates.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add finalizer to the secret
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Don't recalculate hash for inplace update worker pools if already present in secret
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Update etcd-druid to v0.30.0 (minor) (#12111)"
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.80.2 (#12103)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.80.2
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency credativ/plutono to v7.5.38
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kubernetes to v1.33.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Minor nit
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add usage doc for in-place update
  docs/usage/shoot-operations/shoot_credentials_rotation.md
  docs/usage/shoot-operations/shoot_updates.md
Due: none
