Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

(seed) Add health recording rules
  pkg/component/observability/monitoring/prometheus/seed/assets/prometheusrules/health.yaml
  pkg/component/observability/monitoring/prometheus/seed/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/seed/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/seed/testdata/health.prometheusrule.test.yaml
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(cache) Add health recording rules
  pkg/component/observability/monitoring/prometheus/cache/assets/prometheusrules/health.yaml
  pkg/component/observability/monitoring/prometheus/cache/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/cache/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/cache/testdata/health.prometheusrule.test.yaml
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(bugfix) Skip discovery server scrape config if not enabled
  pkg/component/observability/monitoring/blackboxexporter/garden/scrapeconfig.go
  pkg/component/observability/monitoring/blackboxexporter/garden/scrapeconfig_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(seed) Prepare to add recording rules
  pkg/component/observability/monitoring/prometheus/seed/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/seed/prometheusrules_test.go
  pkg/gardenlet/controller/seed/seed/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address code styling and format
  pkg/component/observability/monitoring/prometheus/garden/prometheusrules.go
  pkg/gardenlet/controller/seed/care/health_test.go
  pkg/operator/controller/garden/care/health_test.go
  pkg/utils/kubernetes/health/checker/checker.go
  pkg/utils/kubernetes/health/checker/checker_test.go
  pkg/utils/kubernetes/health/monitoring.go
  pkg/utils/kubernetes/health/monitoring_test.go
  test/e2e/gardener/managedseed/create_monitoring_delete.go
  test/e2e/gardener/shoot/create_monitoring_delete.go
  test/e2e/operator/garden/create_monitoring_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(garden) Generate Prometheus recording rules during reconciliation
  pkg/component/observability/monitoring/prometheus/component.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(cache) Move recording rule tests to component package
  pkg/component/observability/monitoring/prometheus/cache/prometheusrules_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(gardenlet/shoot) Extend condition to check for health issues
  pkg/gardenlet/controller/shoot/care/health.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(longterm) Add health recording rules
  pkg/component/observability/monitoring/prometheus/longterm/assets/prometheusrules/health.yaml
  pkg/component/observability/monitoring/prometheus/longterm/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/longterm/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/longterm/testdata/health.prometheusrule.test.yaml
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(gardenlet/seed) Allow network access to Prometheus instances
  charts/gardener/gardenlet/templates/deployment.yaml
  charts/gardener/gardenlet/test/chart_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(aggregate) Move recording rule tests to component package
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(managedseed) Add ginkgo node to initialise client
  test/e2e/gardener/managedseed/managedseed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(aggregate) Ignore shoot-prometheus job for health checking
  pkg/component/observability/monitoring/prometheus/aggregate/assets/prometheusrules/health.yaml
  pkg/component/observability/monitoring/prometheus/aggregate/testdata/health.prometheusrule.test.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(garden) Add health recording rules
  pkg/component/observability/monitoring/prometheus/garden/assets/prometheusrules/health.yaml.tmpl
  pkg/component/observability/monitoring/prometheus/garden/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/garden/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/garden/testdata/health.prometheusrule.test.yaml
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(gardenlet/seed) Expose HealthChecker as dependency of Health
  pkg/gardenlet/controller/seed/care/health.go
  pkg/gardenlet/controller/seed/care/health_test.go
  pkg/gardenlet/controller/seed/care/reconciler.go
  pkg/gardenlet/controller/seed/care/reconciler_test.go
  pkg/gardenlet/controller/seed/care/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(gardenlet/seed) Add expectHealthySystemComponents() test function
  pkg/gardenlet/controller/seed/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add seed scheme to shoot clients used for testing
  test/e2e/gardener/managedseed/create_monitoring_delete.go
  test/e2e/gardener/managedseed/managedseed.go
  test/utils/access/adminkubeconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(garden) Add monitoring scheme to test clients
  test/e2e/gardener/context.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(aggregate) Add health recording rules
  pkg/component/observability/monitoring/prometheus/aggregate/assets/prometheusrules/health.yaml
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
  pkg/component/observability/monitoring/prometheus/aggregate/testdata/health.prometheusrule.test.yaml
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Ensure multiple failures are always returned in the same order
  pkg/utils/kubernetes/health/checker/checker.go
  pkg/utils/kubernetes/health/checker/checker_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(operator/garden) Check condition type in tests
  pkg/operator/controller/garden/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(operator/garden) Label Prometheus managed resources with managed-by
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(shoot) Add health check end-to-end tests for Prometheus
  docs/deployment/getting_started_locally.md
  hack/test-e2e-local.sh
  test/e2e/gardener/shoot/create_monitoring_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Reconcile garden resource as part of operator-seed-up
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.39.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to e25ba8c
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.39.2 (#13451)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

📖 Gardener Upgrade Guide (#13401)
  docs/README.md
  docs/deployment/version_skew_policy.md
  docs/operations/upgrade-gardener.md
Due: none

Update dependency GoogleContainerTools/skaffold to v2.17.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

apis/core/v1beta1: add resource scope markers
  pkg/apis/core/v1beta1/types_backupbucket.go
  pkg/apis/core/v1beta1/types_backupentry.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_controllerdeployment.go
  pkg/apis/core/v1beta1/types_controllerinstallation.go
  pkg/apis/core/v1beta1/types_controllerregistration.go
  pkg/apis/core/v1beta1/types_exposureclass.go
  pkg/apis/core/v1beta1/types_internalsecret.go
  pkg/apis/core/v1beta1/types_namespacedcloudprofile.go
  pkg/apis/core/v1beta1/types_project.go
  pkg/apis/core/v1beta1/types_quota.go
  pkg/apis/core/v1beta1/types_secretbinding.go
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/types_shootstate.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

apis/core/v1: add resource scope markers
  pkg/apis/core/v1/types_controllerdeployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-metrics-exporter to v0.42.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prefer `sshd` unit and fallback to `ssh` unit
  docs/proposals/27-cloudprofile-bastion-section.md
  pkg/component/extensions/bastion/bastion.go
  pkg/component/extensions/bastion/bastion_test.go
  pkg/gardenlet/controller/bastion/reconciler.go
  test/integration/gardenlet/bastion/bastion_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Create new status field `.status.credentials.encryptionAtRest` to `Shoot` and `Garden` (#12894)
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
  pkg/apis/operator/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/storage/storage.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/operator/webhook/add.go
  pkg/operator/webhook/defaulting/garden/handler.go
  pkg/operator/webhook/defaulting/garden/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/logging to v0.69.0 (#13450)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add helper functions to get Shoot operations
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt Shoot validation for parallel operations
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
