Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250923-3496d9e-1.25
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20250909-a11c20e-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Address PR review feedback
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`*Binding`: Skip read permissions for `gardenadm` user
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(test/integration): replace `webhook` unit tests with `integration` tests
  pkg/resourcemanager/webhook/vpainplaceorrecreateupdatemode/handler_test.go
  pkg/resourcemanager/webhook/vpainplaceorrecreateupdatemode/vpainplaceorrecreateupdatemode_suite_test.go
  test/integration/resourcemanager/vpainplaceorrecreateupdatemode/vpainplaceorrecreateupdatemode_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add documentation for removal of a Kubernetes version
  docs/development/deprecate-kubernetes-version.md
Due: none

Adapt suggestions
  docs/README.md
  docs/development/drop-support-kubernetes-version.md
Due: none

Adapt review suggestions
  docs/development/deprecate-kubernetes-version.md
Due: none

Adapt review feedback
  docs/development/drop-support-kubernetes-version.md
  docs/development/remove-support-for-kubernetes-version.md
Due: none

Add reference for discussions behind decision not to adapt unit tests and documentation
  docs/development/remove-support-for-kubernetes-version.md
Due: none

Use --skip-metadata for ctr images pull in node-agent init script
  pkg/component/extensions/operatingsystemconfig/nodeinit/templates/scripts/init.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(component/resourcemanager): use upper case `VPA` prefix for `webhook` skip label
  pkg/apis/resources/v1alpha1/types.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Ensure `ShootMutator` is executed before the `ShootValidator` admission plugin
  pkg/apiserver/plugins.go
  plugin/pkg/plugins.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`*Binding`: Skip read permissions for `gardenadm` user (#13243)
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Updated usage doc for node in-place update feature (#13264)
  docs/usage/shoot-operations/shoot_updates.md
Due: none

Rename `AllPluginNames` to `AllOrderedPluginNames`
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apiserver/plugins.go
  pkg/apiserver/plugins_test.go
  plugin/pkg/plugins.go
  plugin/pkg/plugins_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(charts): include `in-place` Pod updates `webhook` to `resource manager` charts
  charts/gardener/resource-manager/charts/runtime/templates/configmap.yaml
  charts/gardener/resource-manager/values.yaml
  docs/concepts/resource-manager.md
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  docs/operations/disaster_recovery_garden.md
Due: none

chore(pkg/features): include`ialidzhikov` as a 2nd feature gate owner
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Describe how to block actors in the old runtime cluster
  docs/operations/disaster_recovery_garden.md
Due: none

Update machine-controller-manager to v0.60.2
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fetch the referenced CloudProfile / NamespacedCloudProfile
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix integration tests
  test/integration/controllermanager/controllerregistration/seed/seed_suite_test.go
  test/integration/controllermanager/credentialsbinding/credentialsbinding_suite_test.go
  test/integration/controllermanager/exposureclass/exposureclass_suite_test.go
  test/integration/controllermanager/managedseedset/managedseedset_suite_test.go
  test/integration/controllermanager/project/activity/activity_suite_test.go
  test/integration/controllermanager/project/project/project_suite_test.go
  test/integration/controllermanager/project/stale/stale_suite_test.go
  test/integration/controllermanager/secretbinding/secretbinding_suite_test.go
  test/integration/controllermanager/seed/lifecycle/lifecycle_suite_test.go
  test/integration/controllermanager/shoot/conditions/conditions_suite_test.go
  test/integration/controllermanager/shoot/hibernation/hibernation_suite_test.go
  test/integration/controllermanager/shoot/quota/quota_suite_test.go
  test/integration/controllermanager/shoot/reference/reference_suite_test.go
  test/integration/controllermanager/shoot/retry/retry_suite_test.go
  test/integration/controllermanager/shoot/statuslabel/statuslabel_suite_test.go
  test/integration/gardenlet/backupentry/backupentry_suite_test.go
  test/integration/gardenlet/bastion/bastion_suite_test.go
  test/integration/gardenlet/managedseed/managedseed_suite_test.go
  test/integration/gardenlet/shoot/care/care_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review comments
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Duplicate defaulting of the `.spec.provider.workers[].kubernetes.version` field in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Duplicate unit tests for defaulting of the `.spec.kubernetes.version` field in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up defaulting of the `.spec.kubernetes.version` field from the `ShootValidator` admission plugin
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Duplicate defaulting of the `.spec.kubernetes.version` field in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up defaulting of the `.spec.provider.workers[].kubernetes.version` field from the `ShootValidator` admission plugin
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update `ShootMutator` docs
  docs/concepts/apiserver-admission-plugins.md
Due: none

chore(botanist/resource_manager): validate if `InPlaceOrRecreate` VPA feature gates is explicitly disabled
  pkg/gardenlet/operation/botanist/resource_manager.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-extension-networking-cilium to v1.45.0
  dev-setup/extensions/networking-cilium/components/controllerregistration/kustomization.yaml
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update machine-controller-manager to v0.60.2 (#13267)
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(feature): rename feature gate to `VPAInPlaceUpdates`
  docs/concepts/resource-manager.md
  docs/deployment/feature_gates.md
  docs/usage/autoscaling/enabling-in-place-resource-updates.md
  example/gardener-local/gardenlet/values.yaml
  pkg/apis/resources/v1alpha1/types.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/shared/resourcemanager.go
  pkg/component/shared/resourcemanager_test.go
  pkg/features/features.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/features/features.go
  pkg/gardenlet/operation/botanist/resource_manager.go
  pkg/gardenlet/operation/botanist/resource_manager_test.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/features/features.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/resourcemanager/webhook/add.go
  test/integration/resourcemanager/vpainplaceorrecreateupdatemode/vpainplaceorrecreateupdatemode_suite_test.go
  test/integration/resourcemanager/vpainplaceorrecreateupdatemode/vpainplaceorrecreateupdatemode_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deploy earlier the ClusterRoleBindings granting access for Admin/ViewerKubeconfig credentials
  pkg/component/gardener/access/access.go
  pkg/component/gardener/access/access_test.go
  pkg/component/shoot/system/system.go
  pkg/component/shoot/system/system_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update docs/usage/autoscaling/enabling-in-place-resource-updates.md
  docs/usage/autoscaling/enabling-in-place-resource-updates.md
Due: none

Do not set `immutable: true` to `worker-pools-operatingsystemconfig-hashes` secret when restoring it (#13263)
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
  test/utils/shoots/migration/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Do not set `immutable: true` to all restored secrets
  pkg/gardenlet/operation/botanist/secrets.go
  test/utils/shoots/migration/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.130] Do not set `immutable: true` to `worker-pools-operatingsystemconfig-hashes` secret when restoring it (#13271)
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/secrets_test.go
  test/utils/shoots/migration/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/node-exporter Docker tag to v1.10.2
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
