Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

test: cover VictoriaLogsBackend pipeline in OpenTelemetry Collector
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

refactor: parameterize victoriaLogsBackend on NewOpenTelemetryCollector
  pkg/component/shared/opentelemetry_collector.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

refactor: make NewFluentOperatorCustomResources variadic over ClusterOutputs
  pkg/component/shared/fluent_custom_resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: deploy dynamic ClusterOutput in operator unconditionally
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: issue fluent-bit config when cluster is not promoted from garden to gardaen+seed
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: get back NewFluentOperatorCustomResources to accept a single output as an arg
  pkg/component/shared/fluent_custom_resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: remove not needed var
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: don't affect routing logic on pure vali setup on gardener cluster
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: disable seedClient fallback on garden-runtime dynamic ClusterOutput
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: fall back to tag when k8s metadata is missing on static garden OpenTelemetry Collector output
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: deploy only dynamic ClusterOutput on garden runtime to avoid log duplication
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency credativ/plutono to v7.5.49
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/kube-state-metrics/kube-state-metrics Docker tag to v2.19.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Set `registry.local.gardener.cloud` as insecure in remote local setup
  docs/deployment/content/remote-local-setup.yaml
Due: none

Update registry.k8s.io/kube-state-metrics/kube-state-metrics Docker tag to v2.19.1 (#15036)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kubernetes to v1.36.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: rename local var from gardenIsSeed to clusterResourcesExists
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: replce PathChanged with PathExists, we want systemd to make just the start, no restarts
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add admission tests
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
  plugin/pkg/namespacedcloudprofile/validator/validator_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add lifecycle logic to nscp controller
  pkg/api/core/v1beta1/helper/cloudprofile.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Integration tests
  test/integration/controllermanager/namespacedcloudprofile/namespacedcloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

WIP: Improve nscp tests
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/tools to v0.46.0 (#15031)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update protobuf monorepo to v35.1 (#15032)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update helm to v4.2.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency credativ/plutono to v7.5.49 (#15035)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable CloudProfileCapabilities feature gate for beta release
  dev-setup/garden/base/garden.yaml
  docs/deployment/feature_gates.md
  example/30-cloudprofile.yaml
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update test to validate capabilities with disabled feature gate
  pkg/api/core/validation/cloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

remote-setup: Fix field name in the Garden resource
  dev-setup/garden/overlays/remote/garden.yaml.tmpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address additional nits
  charts/gardener/gardenlet/templates/clusterrole-gardenlet.yaml
  docs/development/priority-classes.md
  pkg/component/autoscaling/pvcautoscaler/assets/doc.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt tests
  charts/gardener/gardenlet/test/test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Formatting nit
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

adapt l7 comment for generic-kubeconfig secret
  pkg/gardenlet/operation/botanist/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

exposureclass only in single-node scenario
  dev-setup/gardenconfig/overlays/operator/kustomization.yaml
  dev-setup/gardenlet/base/gardenlet.yaml
  dev-setup/gardenlet/components/exposureclasshandler/kustomization.yaml
  dev-setup/gardenlet/overlays/single-node/kustomization.yaml
  dev-setup/skaffold-seed.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove leftover `oidcConfig` example from `90-shoot.yaml`
  example/90-shoot.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

make documentation of hibernation more precise
  docs/usage/shoot/shoot_hibernate.md
  example/90-shoot.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove leftover `oidcConfig` example from `operator/20-garden.yaml`
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update docs/usage/shoot/shoot_hibernate.md
  docs/usage/shoot/shoot_hibernate.md
Due: none

Update example/90-shoot.yaml
  example/90-shoot.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/ingress-default-backend to v0.27.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
