Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Forbid setting anonymous authentication through the Shoot spec for Kubernetes >= 1.35 (#13707)
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  docs/usage/shoot/shoot_access.md
  docs/usage/shoot/shoot_kubernetes_versions.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/api/core/shoot/warnings.go
  pkg/api/core/shoot/warnings_test.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update helm to v3.20.0
  go.mod
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make MCM (cluster-autoscaler) work in provider-local setup (#13804)
  pkg/provider-local/controller/worker/machines.go
  pkg/provider-local/webhook/node/add.go
  pkg/provider-local/webhook/node/mutator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make `gardenlet` pods tolerations configurable.
  charts/gardener/gardenlet/templates/configmap-selfupgrade-config.yaml
  charts/gardener/gardenlet/templates/deployment.yaml
  charts/gardener/gardenlet/test/test.go
  charts/gardener/gardenlet/values.yaml
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `control-plane` toleration to gardenlet in SHSC case.
  pkg/controller/gardenletdeployer/actuator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  pkg/utils/graph/graph.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/seedmanagement.md
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Replace the `ahmetb/gen-crd-api-reference-docs` with `kubernetes-sigs/reference-docs`
  Makefile
  go.mod
  go.sum
  hack/api-reference/template/pkg.tpl
  hack/tools.go
  hack/tools.mk
  pkg/apis/authentication/v1alpha1/doc.go
  pkg/apis/core/v1/doc.go
  pkg/apis/core/v1beta1/doc.go
  pkg/apis/extensions/v1alpha1/doc.go
  pkg/apis/operations/v1alpha1/doc.go
  pkg/apis/operator/v1alpha1/doc.go
  pkg/apis/resources/v1alpha1/doc.go
  pkg/apis/security/v1alpha1/doc.go
  pkg/apis/seedmanagement/v1alpha1/doc.go
  pkg/apis/settings/v1alpha1/doc.go
  pkg/provider-local/apis/local/v1alpha1/doc.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/authentication.md
  docs/api-reference/core-v1.md
  docs/api-reference/core.md
  docs/api-reference/extensions.md
  docs/api-reference/operations.md
  docs/api-reference/operator.md
  docs/api-reference/provider-local.md
  docs/api-reference/resources.md
  docs/api-reference/security.md
  docs/api-reference/seedmanagement.md
  docs/api-reference/settings.md
Due: none

For check-generate also try to build tools first
  Makefile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add audit policy configmap validation for operator (#13478)
  pkg/admissioncontroller/webhook/admission/auditpolicy/add.go
  pkg/operator/webhook/add.go
  pkg/operator/webhook/validation/add.go
  pkg/operator/webhook/validation/auditpolicy/add.go
  pkg/operator/webhook/validation/auditpolicy/add_test.go
  pkg/operator/webhook/validation/auditpolicy/auditpolicy_suite_test.go
  pkg/webhook/configvalidator/auditpolicy.go
  pkg/webhook/configvalidator/auditpolicy_test.go
  pkg/webhook/configvalidator/handler.go
  pkg/webhook/configvalidator/handler_test.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enhance manifest generation (#13800)
  hack/format.sh
  hack/generate-parallel.sh
  hack/resolve-etcd-version-from-etcd-druid.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove obsolete test
  test/e2e/gardener/shoot/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix printing test setup failures
  test/e2e/ginkgo.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `project/resourcequota` controller
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/project/add.go
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/resourcequota/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix etcd key assertion
  test/e2e/gardener/shoot/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add tests
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/resourcequota/add_test.go
  pkg/controllermanager/controller/project/resourcequota/resourcequota_suite_test.go
  test/integration/controllermanager/project/resourcequota/resourcequota_suite_test.go
  test/integration/controllermanager/project/resourcequota/resourcequota_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[make generate]
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add docs
  docs/concepts/controller-manager.md
Due: none

Cleanup some `TODO`s (#13837)
  hack/ci-e2e-kind-upgrade.sh
  pkg/gardenadm/botanist/botanist.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/kiwigrid/k8s-sidecar Docker tag to v2.5.0 (#13839)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Promote `OpenTelemetryCollector` feature gate to Beta
  dev-setup/gardenlet/base/gardenlet.yaml
  docs/deployment/feature_gates.md
  example/gardener-local/gardenlet/values.yaml
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deploy in `Garden`
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  test/e2e/operator/garden/garden.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deploy in `Seed`
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Expect `PriorityClassName` and the `SecretName` for the CA Certificate as Value
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Create shared layer for `Seed` and `Garden` deployment of Collector
  pkg/component/shared/opentelemetry_collector.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass `SecretNameCA` and `PriorityClassName` for the default shoot collector
  pkg/gardenlet/operation/botanist/logging.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Register opentelemetry schemes to gardener operator
  pkg/operator/client/scheme.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run update-skaffold-deps.sh
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Include config necessary for the fluent-bit plugin migration
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Review feedback
  pkg/component/observability/opentelemetry/collector/collector_test.go
  pkg/component/shared/opentelemetry_collector.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(dashboards/vpa-updater): add new `aggregate` section displaying cumulative resource update operations stats
  pkg/component/observability/plutono/dashboards/common/vpa/vpa-updater.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback
  test/integration/operator/gardenlet/gardenlet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Improve skipIfs for rewrite resources
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove `UsesUnifiedHTTPProxyPort` constraint again, if the feature gate is disabled (#13844)
  pkg/gardenlet/operation/botanist/vpnshoot.go
  pkg/gardenlet/operation/botanist/vpnshoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt documentation
  docs/usage/shoot-operations/shoot_versions.md
Due: none

Adapt types for version classification lifecycles
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt cloudprofile helpers
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/helper/cloudprofile_test.go
  pkg/apis/core/v1beta1/helper/cloudprofile.go
  pkg/apis/core/v1beta1/helper/cloudprofile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

make generate
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/client/core/clientset/versioned/typed/core/v1beta1/cloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix(cloudprofile): helpers
  plugin/pkg/global/resourcereferencemanager/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
