Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.7.1
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Fix e2e tests: Revert "chore(deps): update kindest/node docker tag to v1.31.4 (#11030)"
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration tests
  test/integration/operator/controllerregistrar/controllerregistrar_suite_test.go
  test/integration/operator/controllerregistrar/controllerregistrar_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to b2144cd
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix e2e tests: Revert "chore(deps): update kindest/node docker tag to v1.31.4 (#11030)" (#11057)
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update kindest/node docker tag to v1.31.4
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fallback machine image version if omitted or only provided partly (#10954)
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prefactor: configure import alias for external version
  .golangci.yaml.in
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Switch to external version in extensions library
  extensions/pkg/controller/healthcheck/controller.go
  extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  extensions/pkg/util/shoot_clients.go
  extensions/pkg/webhook/handler_shootclient.go
  pkg/provider-local/controller/healthcheck/add.go
  pkg/provider-local/controller/worker/actuator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop internal version of `extensions/pkg/apis/config` API
  extensions/pkg/apis/config/doc.go
  extensions/pkg/apis/config/types.go
  extensions/pkg/apis/config/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold dependencies
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix: remove custom machine image to enable Shoot creation
  test/e2e/gardener/shoot/create_hibernate_wakeup_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

🧹 Cleanup some `TODO`s (#11047)
  cmd/gardenlet/app/migration.go
  docs/api-reference/seedmanagement.md
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/storage/kubeconfig.go
  pkg/gardenlet/operation/botanist/secrets.go
  pkg/gardenlet/operation/botanist/worker.go
  pkg/gardenlet/operation/botanist/worker_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update golang.org/x/exp digest to b2144cd (#11060)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review comment
  pkg/gardenlet/bootstrap/certificate/certificate_rotation.go
  pkg/operator/controller/controllerregistrar/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/kiwigrid/k8s-sidecar docker tag to v1.28.4
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add vpa histogram decay options (#10959)
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/autoscaling/vpa/recommender.go
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/gardenlet/operation/botanist/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs(proposal): gep-32 version classification lifecycles
  docs/proposals/32-version-classification-lifecycles.md
Due: none

docs(GEP-32): add section about NamespacedCloudProfile and implications
  docs/proposals/32-version-classification-lifecycles.md
Due: none

docs(proposals): reference GEP-32
  docs/README.md
Due: none

docs(GEP-32): grammar from review
  docs/proposals/32-version-classification-lifecycles.md
Due: none

Replace `classificationState` with `classification`
  docs/proposals/32-version-classification-lifecycles.md
Due: none

fix(deps): update module google.golang.org/protobuf to v1.36.0 (#11049)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kubernetes-sigs/kind to v0.26.0 (#11051)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop internal version of `extensions/pkg/apis/config` API (#11056)
  .golangci.yaml.in
  extensions/pkg/apis/config/doc.go
  extensions/pkg/apis/config/types.go
  extensions/pkg/apis/config/zz_generated.deepcopy.go
  extensions/pkg/controller/healthcheck/controller.go
  extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  extensions/pkg/util/shoot_clients.go
  extensions/pkg/webhook/handler_shootclient.go
  pkg/provider-local/controller/healthcheck/add.go
  pkg/provider-local/controller/worker/actuator.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add import alias for `k8s.io/component-base/config/v1alpha1`
  .golangci.yaml.in
  charts/gardener/gardenlet/test/test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use external version of `ClientConnectionConfiguration`
  cmd/gardener-admission-controller/app/app.go
  cmd/gardener-controller-manager/app/app.go
  cmd/gardener-extension-admission-local/app/app.go
  cmd/gardener-node-agent/app/app.go
  cmd/gardener-operator/app/app.go
  cmd/gardener-resource-manager/app/app.go
  cmd/gardener-scheduler/app/app.go
  cmd/gardenlet/app/app.go
  extensions/pkg/util/clientset.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientmap/builder/garden_builder.go
  pkg/client/kubernetes/clientmap/builder/garden_builder_test.go
  pkg/client/kubernetes/clientmap/builder/shoot_builder.go
  pkg/client/kubernetes/clientmap/builder/shoot_builder_test.go
  pkg/client/kubernetes/clientmap/garden_clientmap.go
  pkg/client/kubernetes/clientmap/garden_clientmap_test.go
  pkg/client/kubernetes/clientmap/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/shoot_clientmap_test.go
  pkg/client/kubernetes/options.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation.go
  pkg/operator/controller/virtual/cluster/reconciler.go
  test/e2e/gardenadm/common/client.go
  test/e2e/operator/garden/common.go
  test/framework/gardenerframework.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review suggestions
  pkg/client/kubernetes/client.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remember work-in-progress in node agent
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add integration tests
  pkg/nodeagent/dbus/fake/fake_dbus.go
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

PR feedback, adjust lock handling
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Create deepcopy to avoid changes
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address naming, error improvements from PR review
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add missing constants to external version
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move API validation and helpers
  pkg/admissioncontroller/apis/config/v1alpha1/helper/helper_suite_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/helper/helpers.go
  pkg/admissioncontroller/apis/config/v1alpha1/helper/helpers_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/validation/validation.go
  pkg/admissioncontroller/apis/config/v1alpha1/validation/validation_suite_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Drop internal API version
  hack/update-codegen.sh
  pkg/admissioncontroller/apis/config/doc.go
  pkg/admissioncontroller/apis/config/register.go
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/doc.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
