Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.7.1
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

fix(deps): update module github.com/gardener/machine-controller-manager to v0.55.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Replace `CreateOrGetAndStrategicMergePatch` with `CreateOrGetAndMergePatch` when deploying `BackupBucket`.
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation for issuerURL with fragment not allowed (#10888)
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase timeout for `Garden` in `make operator-seed-up` (#10900)
  hack/usage/wait-for.sh
  skaffold-operator-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Group machine-controller-manager updates
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate` when machine-controller-manager is updated
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

gardener-node-agent fetches machine-name from if NodeAgentAuthorizer feature gate is active only
  cmd/gardener-node-agent/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency incu6us/goimports-reviser to v3.8.2 (#10899)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use one envtest environment only
  test/integration/resourcemanager/nodeagentauthorizer/nodeagentauthorizer_suite_test.go
  test/integration/resourcemanager/nodeagentauthorizer/nodeagentauthorizer_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

ClusterAutoscaler: Add support for startupTaints and statusTaints (#10858)
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use cached client in garbage collector of `gardener-resource-manager` (#10903)
  pkg/resourcemanager/controller/garbagecollector/add.go
  pkg/resourcemanager/controller/garbagecollector/reconciler.go
  pkg/resourcemanager/controller/garbagecollector/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update MCM version to 0.55.0
  example/seed-crds/10-crd-machine.sapcloud.io_machinedeployments.yaml
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machinedeployments.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update MCM version to 0.55.0 (#10908)
  example/seed-crds/10-crd-machine.sapcloud.io_machinedeployments.yaml
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machinedeployments.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Replace `CreateOrGetAndStrategicMergePatch` with `CreateOrGetAndMergePatch` when deploying `BackupBucket`. (#10904)
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

high-availability-config webhook: Clean up HVPA mutation and usages
  charts/gardener/resource-manager/charts/application/templates/mutatingwebhookconfiguration.yaml
  docs/concepts/resource-manager.md
  docs/development/high-availability-of-components.md
  example/resource-manager/10-mutatingwebhookconfiguration.yaml
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/shared/resourcemanager_test.go
  pkg/gardenlet/operation/botanist/resource_manager_test.go
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/webhook/highavailabilityconfig/handler.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_suite_test.go
  test/integration/resourcemanager/highavailabilityconfig/highavailabilityconfig_test.go
  test/integration/resourcemanager/managedresource/resource_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove the HVPA types from the resource-manager client's scheme
  pkg/resourcemanager/client/scheme.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

managedresource controller: Clean up logic to preserve replicas/resources for objects scaled by HVPA
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/controller/managedresource/merger_test.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply comments by @ScheererJ - part 4
  docs/proposals/29-autoscaling-storage-volumes.md
Due: none

Run `make generate` when etcd-druid is upgraded
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

update notes with additional info from feedback
  docs/development/testing.md
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make dropping versions from `NamespacedCloudProfile` idempotent
  pkg/apiserver/registry/core/namespacedcloudprofile/strategy.go
  pkg/apiserver/registry/core/namespacedcloudprofile/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ensure oldNamespacedCloudProfile is filled for `DELETE` requests for `NamespacedCloudProfile`s
  plugin/pkg/namespacedcloudprofile/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `configure-admission.sh` for new extension releases with changed value names for Helm charts. (#10877)
  example/provider-extensions/garden/configure-admission.sh
  pkg/operator/controller/extension/extension/admission/admission.go
  pkg/operator/controller/extension/extension/admission/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ensure early-exits are executed even for `DELETE` requests for `Shoot`s (#10902)
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix broken early-exit for DNS uniqueness check
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add failing tests for shoot deletion when access restriction conditions do not match
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Set oldShoot=shoot also for DELETE operations
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Consider architectures in ImageContext
  extensions/pkg/util/cloudprofile.go
  extensions/pkg/util/cloudprofile_test.go
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
  plugin/pkg/namespacedcloudprofile/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.108] Ensure early-exits are executed even for `DELETE` requests for `Shoot`s (#10911)
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/autoscaler to v1.30.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update testing.md with RawExtension findings and add doc string why GardenletConfiguration fields are pointers (#10873)
  docs/development/testing.md
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[renovate] Group machine-controller-manager & etcd-druid updates (#10907)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/gomega to v1.36.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/onsi/gomega to v1.36.0 (#10915)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[release-v1.107] Automated cherry pick of #10902: Ensure early-exits are executed even for `DELETE` requests for `Shoot`s (#10912)
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make determineSeed public
  pkg/scheduler/controller/shoot/reconciler.go
  pkg/scheduler/controller/shoot/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/autoscaler to v1.30.1 (#10914)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
