Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Fix gardenlet validation tests
  pkg/gardenlet/apis/config/v1alpha1/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Test all cases during update tests
  pkg/apis/operator/v1alpha1/validation/extension_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix seed management validation unit tests
  pkg/apis/seedmanagement/validation/gardenlet_test.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Added deprecation notice
  docs/usage/shoot-operations/secretbinding-to-credentialsbinding-migration.md
Due: none

Update golang.org/x/exp digest to 87e1e73
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Test commit please ignore
  docs/usage/shoot/shoot_purposes.md
Due: none

Remove usage of `vgopath` from `generate-crds.sh`
  hack/generate-crds.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Generate CRDs with `make generate`
  example/seed-crds/10-crd-fluentbit.fluent.io_collectors.yaml
  example/seed-crds/10-crd-fluentbit.fluent.io_fluentbits.yaml
  example/seed-crds/10-crd-machine.sapcloud.io_machinedeployments.yaml
  example/seed-crds/10-crd-machine.sapcloud.io_machines.yaml
  example/seed-crds/10-crd-machine.sapcloud.io_machinesets.yaml
  example/seed-crds/10-crd-perses.dev_perses.yaml
  pkg/component/gardener/dashboard/terminal/assets/crd-dashboard.gardener.cloud_terminals.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machinedeployments.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machines.yaml
  pkg/component/nodemanagement/machinecontrollermanager/templates/crd-machine.sapcloud.io_machinesets.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_collectors.yaml
  pkg/component/observability/logging/fluentoperator/assets/crd-fluentbit.fluent.io_fluentbits.yaml
  pkg/component/observability/monitoring/persesoperator/templates/crd-perses.dev_perses.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_targetallocators.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove usage of `vgopath` from `check-imports.sh`
  hack/check-imports.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Mention migration to CredentialsBinding in K8s upgrade to 1.34 guide (#13537)
  docs/usage/shoot/shoot_kubernetes_versions.md
Due: none

Update docs/usage/shoot-operations/secretbinding-to-credentialsbinding-migration.md
  docs/usage/shoot-operations/secretbinding-to-credentialsbinding-migration.md
Due: none

Use go tools instead of tools.go
  go.mod
  hack/tools.go
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Review updates
  docs/proposals/35-observability2.0-victoria-logs.md
Due: none

Fix e2e test
  test/e2e/gardener/managedseed/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Improve todos
  pkg/component/observability/opentelemetry/collector/collector.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Resolve realpath when building the tools image
  hack/tools/image/Dockerfile
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Dispatch Istio Access logs to shoot vali
  _typos.toml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/networking/istio/logging.go
  pkg/component/networking/istio/logging_test.go
  pkg/component/observability/logging/fluentbit/fluentbit.go
  pkg/component/observability/logging/fluentbit/lua/add_kubernetes_namespace_name_to_record.lua
  pkg/component/observability/logging/fluentbit/lua/add_tag_to_record.lua
  pkg/component/observability/logging/fluentbit/lua/modify_severity.lua
  pkg/gardenlet/controller/seed/seed/components.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update pkg/component/observability/plutono/dashboards/seed/fluent-bit-dashboard.json
  pkg/component/observability/plutono/dashboards/seed/fluent-bit-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fluent-bit/dashboard: address pr review feedback, setting UTC timezone and having 1h time picker
  pkg/component/observability/plutono/dashboards/seed/fluent-bit-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add deprecation notice for `SecretBinding`s (#13543)
  docs/usage/shoot-operations/secretbinding-to-credentialsbinding-migration.md
Due: none

Remove usage of `vgopath` from `update-protobuf.sh`
  hack/update-protobuf.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-34] Enable `Collector` Passthrough Directly to `Vali` (#13446)
  docs/deployment/getting_started_locally.md
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
  pkg/component/observability/opentelemetry/collector/constants/constants.go
  pkg/gardenlet/operation/botanist/logging.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Allow disable k8s version check by setting a env variable
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add log and warning
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Replace imported test matchers from `pkg/utils` with copy
  pkg/apis/core/conversion_roundtrip_controllerdeployment_test.go
  pkg/apis/core/deep_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Configure goapidiff to run in both modules
  Makefile
  go.mod
  go.sum
  hack/check-apidiff.sh
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make `./pkg/apis` its own Go submodule
  go.mod
  pkg/apis/.import-restrictions
  pkg/apis/go.mod
  pkg/apis/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Publish an additional tag for the `pkg/apis` submodule
  .github/workflows/release.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Make `EncodeGardenletConfigurationToBytes` function more generic
  pkg/apis/seedmanagement/encoding/encoding.go
  pkg/apis/seedmanagement/encoding/encoding_test.go
  pkg/apis/seedmanagement/v1alpha1/conversions.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update and fix generation scripts
  .golangci.yaml.in
  Makefile
  hack/check-apidiff.sh
  hack/check-skaffold-deps-for-binary.sh
  hack/generate-parallel.sh
  hack/generate.sh
  hack/tools.mk
  hack/update-codegen.sh
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move `pkg/utils/timewindow` to `pkg/apis/utils/timewindow`
  pkg/apis/utils/timewindow/schedule.go
  pkg/apis/utils/timewindow/schedule_test.go
  pkg/apis/utils/timewindow/timewindow.go
  pkg/apis/utils/timewindow/timewindow_suite_test.go
  pkg/apis/utils/timewindow/timewindow_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.40.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/cluster-autoscaler to v1.34.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
