Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250619-d095ff6-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Address review comment
  docs/development/component-checklist.md
Due: none

Update prometheus to v3.4.2 (#12418)
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-28]: Support `Extension.operator.gardener.cloud` in gardenadm (#12427)
  dev-setup/extensions/provider-local/overlays/gardenadm/kustomization.yaml
  dev-setup/extensions/provider-local/overlays/gardenadm/patch-controllerdeployment-provider-local-disable-coredns.yaml
  dev-setup/extensions/provider-local/overlays/gardenadm/patch-extension-provider-local-disable-coredns.yaml
  pkg/gardenadm/resources.go
  pkg/gardenadm/resources_test.go
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration.go
  pkg/utils/gardener/operator/extension.go
  pkg/utils/gardener/operator/extension_test.go
  skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix nil pointer dereference in CheckPodCIDRsInNodes when shoot is hibernated (#12431)
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix nil pointer dereference in CheckPodCIDRsInNodes when shoot is hibernated
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extend the `/etc/hosts` file contain records for missing e2e test Shoots (#12433)
  docs/deployment/getting_started_locally.md
Due: none

fix nil pointer dereference in CheckPodCIDRsInNodes when shoot is hibernated (#12435)
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.2.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enable embeddedstructfieldcheck linter
  .golangci.yaml.in
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Upgrade golang.org/x/tools for logcheck
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Resolve unnecessary type arguments error
  pkg/admissioncontroller/webhook/admission/authorizationconfig/add.go
  pkg/apis/extensions/v1alpha1/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Resolve linter errors after rebase
  pkg/utils/ssh/options.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Correct typo
  docs/proposals/20-ha-control-planes.md
Due: none

Run `make generate`
  test/integration/resourcemanager/health/crds/10-crd-cert.gardener.cloud_certificates.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix nil pointer dereference in CheckPodCIDRsInNodes when shoot is hibernated (#12437)
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix nil pointer dereference in CheckPodCIDRsInNodes when shoot is hibernated (#12436)
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.34.0 (#12432)
  docs/proposals/20-ha-control-planes.md
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Bump k8s.io/kube-openapi to 9bd5c66d9911c53f5aedb8595fde9c229ca56703
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/kube-state-metrics/kube-state-metrics Docker tag to v2.16.0 (#12424)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Improve defaulting of `maxSurge` and `maxUnavailable` fields of in-place update worker pools
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add default garden cluster address if no address is specified in `Gardenlet` resource
  dev-setup/gardenlet/base/gardenlet.yaml
  pkg/gardenlet/controller/managedseed/reconciler.go
  pkg/gardenlet/controller/managedseed/reconciler_test.go
  pkg/operator/controller/add.go
  pkg/operator/controller/gardenlet/add.go
  pkg/operator/controller/gardenlet/reconciler.go
  test/integration/operator/gardenlet/gardenlet_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/controller/managedseed/reconciler.go
  pkg/operator/controller/gardenlet/reconciler.go
  pkg/utils/gardener/gardenlet/gardenlet.go
  pkg/utils/gardener/gardenlet/gardenlet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback v2
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/controller/managedseed/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Gardenlet updates Garden CA from garden cluster if no CA is specified in config
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
  example/gardener-local/kind/cluster/templates/_kubeadm_config_patches.tpl
  pkg/component/garden/system/virtual/virtual.go
  pkg/component/garden/system/virtual/virtual_test.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
  pkg/gardenlet/bootstrappers/garden_kubeconfig.go
  pkg/gardenlet/bootstrappers/garden_kubeconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move `GetAPIServerDomain` to gardencorev1beta1helper to make it reusable in validation functions
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/controller/gardenletdeployer/actuator.go
  pkg/controller/gardenletdeployer/actuator_test.go
  pkg/gardenlet/operation/botanist/advertisedaddresses.go
  pkg/gardenlet/operation/botanist/blackboxexporter.go
  pkg/gardenlet/operation/botanist/dnsrecord.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/operator/controller/add.go
  pkg/operator/controller/garden/garden/components.go
  pkg/utils/gardener/dns.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Verify that the primary DNS name of virtual cluster API server does not match any SNI domain pattern
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/components_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Replace external garden kube-apiserver address with internal service address when seed is garden and L7 is disabled
  cmd/gardenlet/app/app.go
  pkg/gardenlet/controller/managedseed/add.go
  pkg/gardenlet/controller/managedseed/reconciler.go
  pkg/gardenlet/controller/managedseed/reconciler_test.go
  test/integration/gardenlet/managedseed/managedseed_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback v3
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
  docs/deployment/deploy_gardenlet_via_operator.md
  pkg/component/garden/system/virtual/virtual.go
  pkg/component/garden/system/virtual/virtual_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update documentation
  docs/deployment/deploy_gardenlet_via_operator.md
  pkg/gardenlet/apis/config/v1alpha1/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce OpenTelemetry Collector component + tests for it
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_suite_test.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add collector image to the the containers imagevector
  imagevector/containers.go
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce featuregate
  docs/deployment/feature_gates.md
  pkg/features/features.go
  pkg/gardenlet/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deploy collector resource based on grm presence & featuregate
  pkg/gardenlet/operation/botanist/logging.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Include collector to botanist control plane
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/logging.go
  pkg/gardenlet/operation/botanist/logging_test.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add shared layer for component creation
  pkg/component/observability/logging/vali/constants/constants.go
  pkg/component/shared/otelcollector.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

skaffold updates
  skaffold-gardenadm.yaml
  skaffold-operator-garden.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
