Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

[release-v1.142] Add handling of HTTP/2 connection coalescing. (#14876)
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/misdirected-requests-envoy-filter.yaml
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/ingress_misdirected_requests_envoyfilter.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Compare `TrafficPolicy` in `DestinationRule` with `cmp.Equal`
  pkg/resourcemanager/controller/istioclusterconfiguration/add.go
  pkg/resourcemanager/controller/istioclusterconfiguration/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency GoogleContainerTools/skaffold to v2.21.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency open-telemetry/opentelemetry-operator to v0.151.0 (#14822)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency GoogleContainerTools/skaffold to v2.21.0 (#14879)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase SpecTimeout for "Wait for PersistentVolumes to be cleaned up"
  test/e2e/operator/garden/garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use constant for port
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/kubernetes/proxy/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-discovery-server to v0.11.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase SpecTimeout for "Wait for PersistentVolumes to be cleaned up" (#14882)
  test/e2e/operator/garden/garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address additional PR feedback
  pkg/component/extensions/selfhostedshootexposure/mock/doc.go
  pkg/component/extensions/selfhostedshootexposure/mock/mocks.go
  pkg/component/extensions/selfhostedshootexposure/selfhostedshootexposure.go
  pkg/component/extensions/selfhostedshootexposure/selfhostedshootexposure_test.go
  pkg/gardenadm/botanist/dnsrecord.go
  pkg/gardenadm/botanist/dnsrecord_test.go
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  pkg/gardenlet/operation/botanist/selfhostedshootexposure.go
  pkg/gardenlet/operation/shoot/types.go
  test/e2e/gardenadm/managedinfra/gardenadm.go
  test/e2e/gardenadm/unmanagedinfra/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix `gardener-resource-manager` crash in `VirtualServicePredicate` (#14878)
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix VirtualServicePredicate panic on proto types with unexported fields
  pkg/resourcemanager/controller/networkpolicy/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add failing test for VirtualServicePredicate panic on StringMatch
  pkg/resourcemanager/controller/networkpolicy/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Introduduce `istio-cluster-configuration` controller to apply envoy edge-proxy best-practices to `clusters` in `istio-ingressgateway` (#14690)
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  dev-setup/skaffold-seed.yaml
  docs/concepts/resource-manager.md
  pkg/apis/config/resourcemanager/v1alpha1/defaults.go
  pkg/apis/config/resourcemanager/v1alpha1/types.go
  pkg/apis/config/resourcemanager/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/resourcemanager/v1alpha1/zz_generated.defaults.go
  pkg/component/gardener/dashboard/service.go
  pkg/component/gardener/discoveryserver/service.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/kubernetes/apiserverexposure/internal_name_service.go
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/templates/envoyfilter-apiserver-proxy.yaml
  pkg/component/kubernetes/apiserverexposure/templates/envoyfilter-istio-tls-termination.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/envoy-filter.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/proxy-protocol-envoyfilter.yaml
  pkg/component/networking/istio/test_charts/ingress_envoyfilter.yaml
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_unified.yaml
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_vpn.yaml
  pkg/component/networking/istiobasicauthserver/resources.go
  pkg/component/networking/nginxingress/nginxingress.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/observability/logging/vali/vali.go
  pkg/component/observability/monitoring/alertmanager/service.go
  pkg/component/observability/monitoring/prometheus/service.go
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/plutono/plutono.go
  pkg/resourcemanager/client/scheme.go
  pkg/resourcemanager/controller/add.go
  pkg/resourcemanager/controller/istioclusterconfiguration/add.go
  pkg/resourcemanager/controller/istioclusterconfiguration/add_test.go
  pkg/resourcemanager/controller/istioclusterconfiguration/istioclusterconfiguration_suite_test.go
  pkg/resourcemanager/controller/istioclusterconfiguration/reconciler.go
  pkg/resourcemanager/controller/istioclusterconfiguration/reconciler_test.go
  pkg/utils/istio/protocol.go
  pkg/utils/istio/protocol_test.go
  test/integration/resourcemanager/istioclusterconfiguration/istioclusterconfiguration_suite_test.go
  test/integration/resourcemanager/istioclusterconfiguration/istioclusterconfiguration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-28] Node-level components of control plane nodes connect to `localhost` (#14877)
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/kubernetes/proxy/proxy.go
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/kubernetes/proxy/resources.go
  pkg/gardenlet/operation/botanist/kubeproxy.go
  pkg/gardenlet/operation/botanist/kubeproxy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add deleted node.DeepCopy() again
  pkg/gardenlet/operation/botanist/selfhostedshootexposure.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix `generate-parallel.sh` to track transitive internal dependencies
  hack/generate-parallel.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use the new "istio-role" label in all selectors (#14869)
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/deployment.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/values.yaml
  pkg/component/networking/istio/ingress_gateway.go
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/ingress_deployment.yaml
  pkg/component/shared/istio.go
  pkg/component/shared/istio_test.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/istio_config_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix `MAX_PARALLEL_WORKERS` unbound variable error in `generate-parallel.sh`
  hack/generate-parallel.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Force `MODE=sequential` in `check-generate.sh` to catch generated drift
  hack/generate.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.141] Fix `gardener-resource-manager` crash in `VirtualServicePredicate` (#14890)
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/kube-state-metrics/kube-state-metrics Docker tag to v2.19.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix `make generate` skipping CRDs when only transitive deps change (#14892)
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  hack/generate-parallel.sh
  hack/generate.sh
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.142] Fix `gardener-resource-manager` crash in `VirtualServicePredicate` (#14889)
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.143] Fix `make generate` skipping CRDs when only transitive deps change (#14894)
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  hack/generate-parallel.sh
  hack/generate.sh
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-discovery-server to v0.11.0 (#14883)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/containerd/containerd/v2 to v2.2.4
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
