Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250423-ad19ed0-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

chore: Maintain locked to default feature gates
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Update DaemonSet controller comments
  pkg/resourcemanager/controller/node/criticalcomponents/helper/daemon_controller.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat: Allow instantiating v1.33 Kubernetes clients
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain added feature gates
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Propose improvement for Adapting Gardener section in new-kubernetes-version.md
  docs/development/new-kubernetes-version.md
Due: none

chore: Update added admission plugins
  pkg/utils/validation/admissionplugins/admissionplugins.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain kube-controller-manager controllers
  hack/compute-k8s-controllers.sh
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/utils/kubernetes/controllers.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain API groups
  pkg/utils/validation/apigroups/apigroups.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Maintain removed feature gates
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Add Kubernetes v1.33.0 to provider-local cloud profile
  example/provider-local/garden/cloudprofile/cloudprofile.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Update the local Garden Kubernetes version to v1.33.0
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

remove terraformer limits
  extensions/pkg/terraformer/terraformer.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update etcd-druid to `v0.30.1` (#12176)
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/controller/seed/seed/utils.go
  pkg/gardenlet/controller/seed/seed/utils_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

testmachinery: support credentials bindings (#12190)
  .test-defs/CreateShoot.yaml
  test/framework/shoot_utils.go
  test/framework/shootcreationframework.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add new fields to medium-touch shoot only
  example/provider-local/gardenadm/base/shoot.yaml
  example/provider-local/gardenadm/medium-touch/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

First version of otel operator deployment in seed
  hack/generate-crds.sh
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/doc.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_suite_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_test.go
  pkg/component/shared/opentelemetry_operator.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

v1alpha1 version of crds
  go.mod
  go.sum
  imagevector/containers.go
  imagevector/containers.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_targetallocators.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
  pkg/component/shared/opentelemetry_operator.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

operator crds
  hack/generate-crds.sh
  imagevector/containers.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_targetallocators.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/doc.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Leverage the crddeployer
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds_test.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix formatting & renaming
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
  pkg/component/shared/opentelemetry_operator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make check
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add opentelemetry operator tests
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/export_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_suite_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rework test to be consistent with fluent & prometheus operators
  pkg/component/observability/opentelemetry/opentelemetryoperator/export_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ensure proper creation & deletion
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make generate
  docs/api-reference/core.md
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Remove wrong references to Fluent Operator
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_suite_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase timeout for garden operator integ. test
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Include docs on priority class of operator
  docs/concepts/operator.md
  docs/development/priority-classes.md
Due: none

Run make check
  imagevector/containers.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_targetallocators.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/export_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator.go
  pkg/component/shared/opentelemetry_operator.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update integration tests with new otel operator component
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase timeout for quota/seed/garden tests
  test/integration/controllermanager/quota/quota_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add forgottent `component.OpWait` to CRD deployment
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add crds to typo exclusion & update crds & add operator to go.mod
  _typos.toml
  go.mod
  go.sum
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_instrumentations.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opampbridges.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/assets/crd-opentelemetry.io_targetallocators.yaml
  pkg/component/observability/opentelemetry/opentelemetryoperator/crds_test.go
  pkg/component/observability/opentelemetry/opentelemetryoperator/opentelemetryoperator_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Move observability tests into the context of another e2e test
  test/e2e/gardener/e2e_suite_test.go
  test/e2e/gardener/shoot/create_delete_unprivileged.go
  test/e2e/gardener/shoot/observability/shoot_logs.go
  test/e2e/gardener/shoot/shoot_logs.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

go mod tidy
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use role/rolebinding to provide RBAC permissions to MCM
  cmd/gardenlet/app/migration.go
  pkg/component/networking/vpn/seedserver/mock/mocks.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap.go
  pkg/component/nodemanagement/machinecontrollermanager/bootstrap_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/component/nodemanagement/machinecontrollermanager/mock/mocks.go
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/machinecontrollermanager.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnseedserver_test.go
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
