Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Remove accidental change
  example/gardener-local/gardenlet/values.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

even more review feedback
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/nodeagent/containerd/containerdclient.go
  pkg/nodeagent/containerd/fake/containerdclient.go
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/healthcheck/add.go
  pkg/nodeagent/controller/healthcheck/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config_test.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  test/integration/nodeagent/healthcheck/healthcheck_test.go
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/metrics-server/metrics-server Docker tag to v0.8.1 (#13912)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency protocolbuffers/protobuf to v33.5
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.28.1
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency protocolbuffers/protobuf to v33.5 (#13914)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix flaky test
  test/e2e/gardener/shoot/internal/node/node.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat: Add health/readiness checks for vpn-server
  imagevector/containers.yaml
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adjust release responsible schedule (#13888)
  docs/development/process.md
Due: none

addressing review comments
  test/e2e/gardener/shoot/internal/node/node.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Ignore `NotFound` error when finalizing objects
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `IgnoreUnknownNamespaces`
  pkg/gardenlet/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
  pkg/utils/kubernetes/client/options.go
  pkg/utils/kubernetes/client/options_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `IgnoreLeftovers`
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/options.go
  pkg/utils/kubernetes/client/options_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Refactor: Pass `CleanOption` to `GoneEnsurer`
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/mock/mocks.go
  pkg/utils/kubernetes/client/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass down logger
  pkg/gardenlet/operation/botanist/cleanup.go
  pkg/gardenlet/operation/botanist/controlplane.go
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
  pkg/utils/kubernetes/client/mock/mocks.go
  pkg/utils/kubernetes/client/options.go
  pkg/utils/kubernetes/client/options_test.go
  pkg/utils/kubernetes/client/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.83.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

GNA support CNI bin_dirs with containerd 2.2 (#13826)
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/nodeagent/containerd/containerdclient.go
  pkg/nodeagent/containerd/fake/containerdclient.go
  pkg/nodeagent/controller/add.go
  pkg/nodeagent/controller/healthcheck/add.go
  pkg/nodeagent/controller/healthcheck/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config_test.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  skaffold-gardenadm.yaml
  skaffold-seed.yaml
  skaffold.yaml
  test/integration/nodeagent/healthcheck/healthcheck_test.go
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.28.1 (#13915)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `IgnoreObjectsCreatedAfter`
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/options.go
  pkg/utils/kubernetes/client/options_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add documentation
  docs/usage/advanced/shoot_cleanup.md
Due: none

Remove seed selector restriction
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make `Shoot` field `.spec.seedSelector` mutable
  docs/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt the integration test
  test/integration/controllermanager/controllerregistration/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move the validation for functionless Shoot DNS providers to the storage layer
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.135] Move the validation for functionless Shoot DNS providers to the storage layer (#13921)
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
  test/integration/controllermanager/controllerregistration/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency mikefarah/yq to v4.52.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[make generate]
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add docs
  docs/concepts/controller-manager.md
Due: none

Add `project/resourcequota` controller
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/project/add.go
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/resourcequota/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  pkg/controllermanager/controller/project/resourcequota/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add tests
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/resourcequota/add_test.go
  pkg/controllermanager/controller/project/resourcequota/resourcequota_suite_test.go
  test/integration/controllermanager/project/resourcequota/resourcequota_suite_test.go
  test/integration/controllermanager/project/resourcequota/resourcequota_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/resourcequota/reconciler.go
  test/integration/controllermanager/project/resourcequota/resourcequota_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency mikefarah/yq to v4.52.2 (#13922)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Parallelize codegen for helpers-only groups
  hack/update-codegen.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Default codegen mode to parallel
  hack/generate.sh
  hack/update-codegen.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add check for ensuring new added group is categorized
  hack/update-codegen.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback
  pkg/gardenlet/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/client.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback
  docs/api-reference/core.md
  docs/usage/shoot/shoot_kubernetes_versions.md
  docs/usage/shoot/shoot_purposes.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/utils/version/constraints.go
  pkg/utils/version/constraints_test.go
  pkg/utils/version/version.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adjust Quotas for increased resources post-Gardener update (#13850)
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/add.go
  pkg/controllermanager/controller/project/add.go
  pkg/controllermanager/controller/project/resourcequota/add.go
  pkg/controllermanager/controller/project/resourcequota/add_test.go
  pkg/controllermanager/controller/project/resourcequota/reconciler.go
  pkg/controllermanager/controller/project/resourcequota/resourcequota_suite_test.go
  skaffold-operator.yaml
  skaffold.yaml
  test/integration/controllermanager/project/resourcequota/resourcequota_suite_test.go
  test/integration/controllermanager/project/resourcequota/resourcequota_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
