Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Some additional documentation regarding the gRPC communication
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/constants/constants.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Include the `OpenTelemetryCollector` feature for the `dev-setup` pipelines
  dev-setup/gardenlet/base/gardenlet.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Swap the order of required deployments and etcd checks in shoot health check (#12899)
  pkg/operator/controller/garden/care/health_test.go
  pkg/utils/kubernetes/health/checker/checker.go
  test/integration/gardenlet/shoot/care/care_test.go
  test/integration/operator/garden/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/coredns/coredns Docker tag to v1.12.4 (#12922)
  charts/gardener/provider-local/templates/coredns/deployment.yaml
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Fixed broken links - 2025.09
  README.md
  docs/deployment/getting_started_locally_with_extensions.md
  docs/deployment/setup_gardener.md
  docs/development/local_setup.md
Due: none

Reverted changes due to feedback
  docs/deployment/getting_started_locally_with_extensions.md
Due: none

Update dependency kubernetes/kubernetes to v1.34.1 (#12921)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Skip (Admin|Viewer)Kubeconfig migration when MR secret is not found (#12923)
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update kubernetes packages to v0.33.5 (#12925)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Skip (Admin|Viewer)Kubeconfig migration when MR secret is not found
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove migration of Shoot/(Admin|Viewer)Kubeconfig CRB
  cmd/gardenlet/app/migration.go
  pkg/component/shoot/system/system.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Skip (Admin|Viewer)Kubeconfig migration when MR secret is not found (#12927)
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/tools to v0.37.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

[GEP-28] Make `SeedConfig` optional in `gardenlet`'s component configuration (#12871)
  cmd/gardenlet/app/options.go
  pkg/admissioncontroller/webhook/admission/seedrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/seedrestriction/handler_test.go
  pkg/apis/seedmanagement/v1alpha1/defaults_gardenlet_test.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
  pkg/apis/seedmanagement/v1alpha1/helper/gardenlet.go
  pkg/apis/seedmanagement/v1alpha1/helper/gardenlet_test.go
  pkg/apis/seedmanagement/validation/gardenlet.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/controller/gardenletdeployer/actuator.go
  pkg/gardenlet/apis/config/v1alpha1/validation/validation.go
  pkg/gardenlet/apis/config/v1alpha1/validation/validation_test.go
  pkg/operator/controller/gardenlet/reconciler.go
  plugin/pkg/shoot/managedseed/admission.go
  plugin/pkg/shoot/managedseed/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Skip (Admin|Viewer)Kubeconfig migration when MR secret is not found (#12928)
  cmd/gardenlet/app/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

`gardenadm token create` can create tokens for `connect`
  docs/cli-reference/gardenadm/gardenadm_token.md
  docs/cli-reference/gardenadm/gardenadm_token_create.md
  pkg/gardenadm/botanist/controlplane.go
  pkg/gardenadm/cmd/token/create/create.go
  pkg/gardenadm/cmd/token/create/create_test.go
  pkg/gardenadm/cmd/token/create/options.go
  pkg/gardenadm/cmd/token/create/options_test.go
  pkg/utils/kubernetes/bootstraptoken/bootstraptoken.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Switch gardenadm setup to `kind-single-node`
  Makefile
  hack/ci-e2e-kind-gardenadm.sh
  test/e2e/gardenadm/mediumtouch/exec.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Build `gardenlet` image + chart when running `make gardenadm-up`
  dev-setup/gardenadm/machines/machine.yaml
  dev-setup/gardenadm/resources/generate-imagevector-overwrite.sh
  dev-setup/gardenadm/resources/generated/.gitignore
  dev-setup/get-skaffold-cache-artifacts.sh
  hack/check-skaffold-deps.sh
  skaffold-gardenadm.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Enable `gardenletdeployer` to use existing bootstrap token
  pkg/controller/gardenletdeployer/actuator.go
  pkg/gardenlet/controller/gardenlet/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

`gardenlet` can start in "autonomous shoot mode"
  charts/gardener/gardenlet/templates/clusterrolebinding-apiserver-sni.yaml
  charts/gardener/gardenlet/templates/clusterrolebinding-gardenlet.yaml
  charts/gardener/gardenlet/templates/clusterrolebinding-istio.yaml
  charts/gardener/gardenlet/templates/deployment.yaml
  charts/gardener/gardenlet/templates/helpers.tpl
  charts/gardener/gardenlet/test/test.go
  cmd/gardenlet/app/app.go
  cmd/gardenlet/app/options.go
  pkg/controller/gardenletdeployer/actuator.go
  pkg/controller/gardenletdeployer/actuator_test.go
  pkg/utils/gardener/gardenlet/gardenlet.go
  pkg/utils/gardener/gardenlet/gardenlet_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

`gardenadm init` stores config dir location
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/options_manifests.go
  test/e2e/gardenadm/hightouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

[GEP-28] Implement custom verb for marking `Shoot`s as autonomous, and implement validation for `.spec.provider.workers[].controlPlane` (#12885)
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
  docs/concepts/apiserver-admission-plugins.md
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/component/garden/system/virtual/virtual.go
  pkg/component/garden/system/virtual/virtual_test.go
  pkg/component/nodemanagement/machinecontrollermanager/provider.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenlet/operation/botanist/worker.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/scheduler/controller/shoot/add.go
  plugin/pkg/global/customverbauthorizer/admission.go
  plugin/pkg/global/customverbauthorizer/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Deploy gardenlet in `gardenadm connect`
  docs/cli-reference/gardenadm/gardenadm_connect.md
  docs/cli-reference/gardenadm/gardenadm_join.md
  docs/cli-reference/gardenadm/gardenadm_token_create.md
  pkg/gardenadm/cmd/connect/connect.go
  pkg/gardenadm/cmd/connect/connect_test.go
  pkg/gardenadm/cmd/connect/options.go
  pkg/gardenadm/cmd/connect/options_test.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/join/options.go
  skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Adapt e2e test
  dev-setup/gardenadm.sh
  hack/ci-e2e-kind-gardenadm.sh
  test/e2e/gardenadm/hightouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

"Separate" medium-touch from high-touch e2e tests
  Makefile
  hack/ci-e2e-kind-gardenadm.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove node reboot feature from `gardener-node-agent`.
  pkg/nodeagent/controller/healthcheck/kubelet.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

change order of plugins
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove integration test for node reboot feature
  test/integration/nodeagent/healthcheck/healthcheck_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Address review feedback
  pkg/nodeagent/controller/healthcheck/kubelet.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Resolved comments
  docs/development/local_setup.md
Due: none

Fixed broken links - 2025.09 (#12926)
  README.md
  docs/deployment/setup_gardener.md
  docs/development/local_setup.md
Due: none

Update golang.org/x/exp digest to df92998
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency incu6us/goimports-reviser to v3.10.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

provider-local: move shoot node CIDR into kind pod CIDR (#12873)
  dev-setup/garden/base/garden.yaml
  dev-setup/garden/components/ipv6/kustomization.yaml
  dev-setup/gardenadm/machines/ippool.yaml
  dev-setup/gardenadm/machines/kustomization.yaml
  dev-setup/gardenadm/machines/machine.yaml
  dev-setup/gardenadm/resources/base/shoot.yaml
  dev-setup/gardenlet/base/gardenlet.yaml
  dev-setup/gardenlet/components/ipv6/kustomization.yaml
  example/gardener-local/calico/dual/kustomization.yaml
  example/gardener-local/calico/ipv4/kustomization.yaml
  example/gardener-local/calico/ipv4/patch-calico-default-ippool.yaml
  example/gardener-local/calico/ipv6/kustomization.yaml
  example/gardener-local/calico/ipv6/patch-calico-default-ippool.yaml
  example/gardener-local/gardenlet/values-dual.yaml
  example/gardener-local/gardenlet/values.yaml
  example/gardener-local/kind/cluster/values-dual.yaml
  example/gardener-local/kind/cluster/values-ipv6.yaml
  example/gardener-local/kind/cluster/values.yaml
  example/operator/20-garden.yaml
  example/provider-local/managedseeds/shoot-managedseed.yaml
  example/provider-local/seed-kind/local-dual/patch-seed.yaml
  example/provider-local/seed-kind/local-ipv6/patch-seed.yaml
  example/provider-local/shoot-ipv6.yaml
  example/provider-local/shoot.yaml
  pkg/provider-local/admission/validator/shoot.go
  pkg/provider-local/admission/validator/shoot_test.go
  pkg/provider-local/admission/validator/webhook.go
  test/e2e/gardener/common.go
  test/e2e/operator/garden/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

apply coredns-custom cm also for the node local dns coredns server (#12893)
  pkg/component/networking/nodelocaldns/nodelocaldns.go
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Enhance allowed characters for Projects
  pkg/utils/validation/validation.go
  pkg/utils/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Apply reviewer suggestion
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Temporarily disable monitoring for Istio Ingress Gateways
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration
