Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250815-6bbc5d1-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Update actions/setup-go action to v6 (#12890)
  .github/workflows/build.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix unit tests
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Temporarily disable monitoring for Istio Ingress Gateways
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add default DNS settings to Seed API
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1beta1/types_seed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.36.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add static validation
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove default domain logic from ReadGardenSecrets
  pkg/utils/gardener/garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement ReadGardenDefaultDomains function
  pkg/utils/gardener/garden.go
  pkg/utils/gardener/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove unused code
  pkg/gardenlet/operation/garden/types.go
  pkg/utils/gardener/garden.go
  pkg/utils/gardener/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Rename InternalDNSProviderCredentialsRefEqual to DNSProviderCredentialsRefEqual
  pkg/apis/core/v1beta1/helper/seed.go
  pkg/apis/core/v1beta1/helper/seed_test.go
  pkg/utils/graph/eventhandler_seed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Handle default dns settings in seed authorizer
  pkg/apis/core/v1beta1/helper/seed.go
  pkg/apis/core/v1beta1/helper/seed_test.go
  pkg/utils/graph/eventhandler_seed.go
  pkg/utils/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use ReadGardenDefaultDomains where ReadGardenSecrets is called
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/gardenlet/controller/shoot/care/reconciler.go
  pkg/gardenlet/controller/shoot/care/reconciler_test.go
  pkg/gardenlet/controller/shoot/care/types.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Linter findings
  pkg/gardenlet/operation/operation.go
  pkg/gardenlet/operation/types.go
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Seed validator rejects updates when default domain change and certain conditions are met
  plugin/pkg/seed/validator/admission.go
  plugin/pkg/seed/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix unit test
  plugin/pkg/managedseed/validator/admission_test.go
  plugin/pkg/seed/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance scheduler strategy to consider seed dns settings
  charts/gardener/controlplane/charts/application/templates/clusterrole-scheduler.yaml
  cmd/gardener-scheduler/app/app.go
  pkg/component/gardener/scheduler/rbac.go
  pkg/component/gardener/scheduler/scheduler_test.go
  pkg/scheduler/controller/shoot/reconciler.go
  pkg/scheduler/controller/shoot/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement ValidateDefaultDomainsChangeForSeed
  plugin/pkg/utils/miscellaneous.go
  plugin/pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance seed admission to only allow setting default dns config if all shoots are covered
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/seed/validator/admission.go
  plugin/pkg/utils/miscellaneous.go
  plugin/pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

ManagedSeed validator rejects updates when default domain change and certain conditions are met
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add examples
  dev-setup/gardenlet/base/gardenlet.yaml
  docs/deployment/deploy_gardenlet_manually.md
  docs/deployment/deploy_gardenlet_via_operator.md
  example/gardener-local/gardenlet/values.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Enhance dns admission to handle explicit seed configuration
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate that during CPM the new seed will still support the default domain
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate managed seed DNS provider using default domain
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold deps
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Automatic population of default dns configs by gardenlet
  cmd/gardenlet/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Document changes
  docs/deployment/setup_gardener.md
  docs/operations/control_plane_migration.md
Due: none

Enhance scheduler integration tests
  test/integration/scheduler/shoot/shoot_suite_test.go
  test/integration/scheduler/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add dashboard visualization
  pkg/component/observability/plutono/dashboards/common/vpa/vpa-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Reduce istio-ingressgateway CPU requests (#12881)
  pkg/component/networking/istio/ingress_gateway.go
  pkg/component/networking/istio/istio_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.4.0+incompatible (#12889)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-26] Add documentation about the structure of `WorkloadIdentity` JWT (#12879)
  docs/deployment/getting_started_locally_with_extensions.md
  docs/usage/shoot/shoot-workload-identity.md
Due: none

Update dependency crate-ci/typos to v1.36.2 (#12897)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address cosmetic nits
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold deps
  REUSE.toml
  extensions/.import-restrictions
  hack/add-license-header.sh
  hack/check-license-header.sh
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply reviewer suggestion
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

swap the order of required deployments and etcd checks
  pkg/utils/kubernetes/health/checker/checker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove migration of Shoot/(Admin|Viewer)Kubeconfig CRB
  cmd/gardenlet/app/migration.go
  pkg/component/shoot/system/system.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `distroless-` prefix to tag when updating `envoyproxy` (#12892)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/common to v0.66.1
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
