Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Unset GOCACHEPROG for go tool -n
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Unset GOCACHEPROG for go tool -n (#15533)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

pkg/gardenadm/cmd/init: Prepare funcs for reuse by `gardenadm restore`
  pkg/gardenadm/cmd/init/init.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`gardenadm restore`: Reuse and run the bootstrap control plane and init flows of `gardenadm init`
  pkg/gardenadm/cmd/restore/restore.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

pkg/gardenadm/cmd/init: Adapt `BootstrapControlPlane` to accept the etcd backup data path as func parameter instead of init option
  docs/cli-reference/gardenadm/gardenadm_init.md
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/init/options.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Unset GOCACHEPROG for go tool -n (#15532)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

pkg/gardenadm: Thread etcd backup data path only through the bootstrap flow
  pkg/gardenadm/botanist/botanist.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/flow.go
  pkg/gardenlet/operation/botanist/staticpods.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

pkg/gardenadm/cmd/restore: Orchestrate control plane bootstrap and init flow via flow.Graph
  pkg/gardenadm/cmd/restore/restore.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Reduce test runtime by skipping redundant steps per shoot context (#15450)
  test/e2e/gardener/project/namespacedcloudprofile.go
  test/e2e/gardener/shoot/create_encr_provider_change_delete.go
  test/e2e/gardener/shoot/create_hibernate_wakeup_delete.go
  test/e2e/gardener/shoot/create_update_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency mikefarah/yq to v4.53.4
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/miekg/dns to v1.1.73
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add job to VL-Stream-Fields
  pkg/component/observability/opentelemetry/collector/collector.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update etcd-druid to v0.38.1
  go.mod
  go.sum
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Unset GOCACHEPROG for go tool -n (#15531)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-38] Add testmachinery test for pvc autoscaling of logging components (#15387)
  test/testmachinery/shoots/logging/shoot_logging.go
  test/testmachinery/shoots/logging/shoot_pvc_autoscaling.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add job label to VL-Stream-Fields in unit tests
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add netstat collector to node exporter
  pkg/component/observability/monitoring/nodeexporter/nodeexporter.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt to etcd-druid v0.38.1 changes
  pkg/component/etcd/etcd/constants/constants.go
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/etcd/etcd/logging.go
  pkg/component/etcd/etcd/waiter.go
  pkg/component/etcd/etcd/waiter_test.go
  pkg/gardenlet/operation/botanist/staticpods.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable server-side TLS for gardener-dashboard backend (#15147)
  pkg/component/gardener/dashboard/config/config.go
  pkg/component/gardener/dashboard/configmap.go
  pkg/component/gardener/dashboard/dashboard.go
  pkg/component/gardener/dashboard/dashboard_test.go
  pkg/component/gardener/dashboard/deployment.go
  pkg/component/gardener/dashboard/ingress.go
  pkg/component/gardener/dashboard/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/alertmanager Docker tag to v0.34.0 (#15518)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus to v3.14.0 (#15524)
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/kube-state-metrics/kube-state-metrics Docker tag to v2.20.0 (#15526)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `events.k8s.io/events` to etcd server override
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use only ubuntu-latest as GitHub Actions runner (#15525)
  .github/workflows/build.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Also emit events for other controllers. The respective objects are managed by the user and typically also have webhooks registered, therefore it makes sense to emit events here too.
  pkg/controllermanager/controller/credentialsbinding/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove duplicated label from lua filter
  pkg/component/observability/logging/fluentbit/lua/add_time_and_systemd_attr.lua
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove comment and redundant assignment
  pkg/gardenlet/controller/seed/seed/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Revert "Disable HTTP keep-alive in `istio-ingressgateway` when the CPU utilization of their nodes exceeds 85% (#15417)"
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/bootstrap-override.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/deployment.yaml
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
  pkg/component/networking/istio/test_charts/ingress_bootstrap_override.yaml
  pkg/component/networking/istio/test_charts/ingress_deployment.yaml
  pkg/component/networking/istio/test_charts/ingress_servicemonitor.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency mikefarah/yq to v4.53.4 (#15534)
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/miekg/dns to v1.1.73 (#15535)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase minimum memory request of `coredns`
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Set the maximum replicas of `coredns` to double the amount of usable availability zones (or 5)
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/gardenlet/operation/botanist/coredns.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Revert "Disable HTTP keep-alive in `istio-ingressgateway` when the CPU utilization of their nodes exceeds 85% (#15417)" (#15539)
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/bootstrap-override.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/deployment.yaml
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
  pkg/component/networking/istio/test_charts/ingress_bootstrap_override.yaml
  pkg/component/networking/istio/test_charts/ingress_deployment.yaml
  pkg/component/networking/istio/test_charts/ingress_servicemonitor.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/coredns/coredns Docker tag to v1.14.7
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Cleanup `TODO` for `node-local-dns` deletion on invalid update
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Revert "Disable HTTP keep-alive in `istio-ingressgateway` when the CPU utilization of their nodes exceeds 85% (#15417)" (#15538)
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/bootstrap-override.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/deployment.yaml
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/istiod.go
  pkg/component/networking/istio/test_charts/ingress_bootstrap_override.yaml
  pkg/component/networking/istio/test_charts/ingress_deployment.yaml
  pkg/component/networking/istio/test_charts/ingress_servicemonitor.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `events.k8s.io/events` to etcd server override (#15536)
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
