Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.7.1
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240126-96335a6-1.20
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

garden controller: Clean up hvpa component deployment and deletion
  docs/concepts/operator.md
  docs/development/priority-classes.md
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Clean up the shared hvpa component
  pkg/component/shared/hvpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Clean up the hvpa component
  imagevector/containers.go
  imagevector/containers.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/autoscaling/hvpa/crd.go
  pkg/component/autoscaling/hvpa/crd_test.go
  pkg/component/autoscaling/hvpa/hvpa.go
  pkg/component/autoscaling/hvpa/hvpa_suite_test.go
  pkg/component/autoscaling/hvpa/hvpa_test.go
  pkg/component/autoscaling/hvpa/logging.go
  pkg/component/autoscaling/hvpa/logging_test.go
  pkg/component/autoscaling/hvpa/mock/doc.go
  pkg/component/autoscaling/hvpa/mock/mocks.go
  pkg/component/autoscaling/hvpa/templates/crd-autoscaling.k8s.io_hvpas.yaml
  pkg/component/autoscaling/hvpa/templates/doc.go
  pkg/component/observability/logging/configs.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Clean up the hvpa recording rules
  pkg/component/observability/monitoring/prometheus/cache/assets/prometheusrules/recording-rules.rules.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

docs: Document /etc/hosts entry for Plutono in local operator setup
  docs/deployment/getting_started_locally.md
Due: none

test: Refer to local operator guide
  hack/test-e2e-local.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency mikefarah/yq to v4.44.5
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency mikefarah/yq to v4.44.5 (#10871)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

address review feedback
  test/e2e/gardener/managedseed/create_rotate_delete.go
  test/e2e/gardener/seed/renew_garden_access_secrets.go
  test/e2e/gardener/seed/renew_gardenlet_kubeconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix make target `test-e2e-local-operator-seed` for local execution (#10865)
  example/gardener-local/kind/cluster/templates/_extra_port_mappings.tpl
  hack/test-e2e-local.sh
  test/e2e/dns.go
  test/e2e/gardener/managedseed/create_rotate_delete.go
  test/e2e/gardener/seed/renew_garden_access_secrets.go
  test/e2e/gardener/seed/renew_gardenlet_kubeconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/vpn2 to v0.29.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Keep old vpn2 image versions stable
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

dual stack support for vpn component (#10767)
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Dual-stack:
  pkg/apis/core/validation/shoot.go
  pkg/apis/extensions/validation/network.go
  pkg/apis/extensions/validation/network_test.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/gardenlet/operation/botanist/infrastructure.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation tests for dual-stack and
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/extensions/validation/network_test.go
  pkg/gardenlet/operation/botanist/infrastructure.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix unit tests.
  pkg/gardenlet/operation/botanist/infrastructure_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Respect order of ipfamilies.
  pkg/component/extensions/network/network.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: Document host entry for Plutono in local operator setup (#10870)
  docs/deployment/getting_started_locally.md
  hack/test-e2e-local.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update pkg/component/observability/plutono/dashboards/common/vpa/vpa-admission-controller.json
  pkg/component/observability/plutono/dashboards/common/vpa/vpa-admission-controller.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use netip.Addr when building sets of IPs to compare in CSR request approval
  pkg/resourcemanager/controller/csrapprover/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `Shoot` API
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/autoscaling/clusterautoscaler/mock/mocks.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add deployment of `cluster-autoscaler-priority-expander` `ConfigMap` when specified in `Shoot` spec
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_shoot.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add tests
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Set `gardener.virtualCluster.enabled` value for extension admission controllers
  pkg/operator/controller/extension/extension/admission/admission.go
  pkg/operator/controller/extension/extension/admission/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use either old "global" or new values in `configure-admission.sh`
  example/provider-extensions/garden/configure-admission.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency incu6us/goimports-reviser to v3.7.4
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add VPA admission-controller dashboard (#10741)
  pkg/component/observability/plutono/dashboards/common/vpa/vpa-admission-controller.json
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

managedresource reconciler: Fix empty Secret name in error message
  pkg/resourcemanager/controller/managedresource/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Allow dual-stack shoots creation. (#10803)
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/extensions/validation/network.go
  pkg/apis/extensions/validation/network_test.go
  pkg/component/extensions/network/network.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/gardenlet/operation/botanist/infrastructure.go
  pkg/gardenlet/operation/botanist/infrastructure_test.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency incu6us/goimports-reviser to v3.7.4 (#10875)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

managedresource reconciler: Fix empty Secret name in error message (#10879)
  pkg/resourcemanager/controller/managedresource/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback v2
  test/integration/resourcemanager/csrapprover/csrapprover_suite_test.go
  test/integration/resourcemanager/nodeagentauthorizer/nodeagentauthorizer_suite_test.go
  test/integration/resourcemanager/nodeagentauthorizer/nodeagentauthorizer_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module github.com/masterminds/semver/v3 to v3.3.1
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix test
  pkg/apis/core/v1beta1/helper/helper_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update docs/proposals/31-inplace-node-update.md
  docs/proposals/31-inplace-node-update.md
Due: none

Use new vpn2 release
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency kyverno/kyverno to v1.13.1
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
