Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

fix(botanist/resource_manager_test): fix test title typo
  pkg/gardenlet/operation/botanist/resource_manager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(autoscaling/vpa): make `autoscaling` VPAs use update mode `Recreate`
  pkg/component/autoscaling/vpa/admissioncontroller.go
  pkg/component/autoscaling/vpa/recommender.go
  pkg/component/autoscaling/vpa/updater.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/prometheus Docker tag to v3.7.2 (#13253)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(resourcemanager/webhook): update `PodUpdatePolicy{}` at a single place
  pkg/resourcemanager/webhook/vpainplaceorrecreateupdatemode/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

feat(resourcemanager/webhook/test): validate `Initial` and `Off` modes are not modified
  pkg/resourcemanager/webhook/vpainplaceorrecreateupdatemode/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update pkg/resourcemanager/webhook/vpainplaceorrecreateupdatemode/vpainplaceorrecreateupdatemode_suite_test.go
  pkg/resourcemanager/webhook/vpainplaceorrecreateupdatemode/vpainplaceorrecreateupdatemode_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.27.1
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/resourcemanager/apis/config/v1alpha1/types.go
  pkg/resourcemanager/apis/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency prometheus/prometheus to v3.7.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency projectcalico/calico to v3.31.0
  dev-setup/kind/calico/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt tests to `controller-runtime` changes.
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  pkg/api/extensions/accessor_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/rbac_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/secrets_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/gardener/access/access_test.go
  pkg/component/gardener/apiserver/apiserver_test.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/networking/istio/test_charts/ingress_namespace.yaml
  pkg/component/networking/istio/test_charts/ingress_servicemonitor.yaml
  pkg/component/networking/istio/test_charts/ingress_telemetry.yaml
  pkg/component/networking/istio/test_charts/istiod_servicemonitor.yaml
  pkg/component/networking/nginxingress/nginxingress_test.go
  pkg/component/nodemanagement/dependencywatchdog/access_test.go
  pkg/component/nodemanagement/dependencywatchdog/bootstrap_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/component/nodemanagement/nodeproblemdetector/node_problem_detector_test.go
  pkg/component/observability/monitoring/blackboxexporter/blackboxexporter_test.go
  pkg/component/observability/monitoring/metricsserver/metricsserver_test.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter_test.go
  pkg/component/observability/plutono/plutono_test.go
  pkg/component/seed/system/system_test.go
  pkg/controller/tokenrequestor/reconciler_test.go
  pkg/gardenadm/staticpod/translator_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeproxy_test.go
  pkg/nodeagent/bootstrappers/kubelet_bootstrap_kubeconfig_test.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler_test.go
  pkg/utils/managedresources/registry_test.go
  pkg/webhook/authorizer/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt test to new validation error messages
  plugin/pkg/managedseed/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt tests for leader election validation changes (`ErrorTypeInvalid` => `ErrorTypeRequired`)
  pkg/controllermanager/apis/config/v1alpha1/validation/validation_test.go
  pkg/gardenlet/apis/config/v1alpha1/validation/validation_test.go
  pkg/operator/apis/config/v1alpha1/validation/validation_test.go
  pkg/resourcemanager/apis/config/v1alpha1/validation/validation_test.go
  pkg/scheduler/apis/config/v1alpha1/validation/validation_test.go
  pkg/utils/validation/componentbaseconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt webhook tests to include new caching options
  pkg/component/shared/kubeapiserver_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/onsi/ginkgo/v2 to v2.27.1 (#13255)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Validate an object reference's name and namespace fields against the DNS 1123 convention.
  pkg/apis/core/validation/secretbinding.go
  pkg/apis/core/validation/secretbinding_test.go
  pkg/apis/core/validation/utils.go
  pkg/apis/core/validation/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(autoscaling/vpa/test): instrument tests with update mode `Recreate`
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency projectcalico/calico to v3.31.0 (#13257)
  dev-setup/kind/calico/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

address PR feedback
  docs/README.md
  docs/operations/disaster_recovery_garden.md
Due: none

Run `make generate` when `opentelemetry-operator` module is updated
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate` when `opentelemetry-operator` module is updated (#13259)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update opentelemetry-operator to v0.137.0
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_opentelemetrycollectors.yaml
  pkg/component/observability/opentelemetry/operator/assets/crd-opentelemetry.io_targetallocators.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase client-side rate limits for provider-specific MCM container (#13254)
  pkg/component/nodemanagement/machinecontrollermanager/provider.go
  pkg/component/nodemanagement/machinecontrollermanager/provider_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency prometheus/prometheus to v3.7.2 (#13256)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Move qps and burst settings to first args block
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove explicit port from Collector CR & scrape "monitoring" port (#13249)
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt review feedback
  docs/development/changing-the-api.md
Due: none

Move mutation of the Shoot metadata annotations from the `ShootValidator` to the `ShootMutator` admission plugin (part 2) (#13171)
  docs/concepts/apiserver-admission-plugins.md
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to a4bb9ff
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to a4bb9ff (#13261)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Do not set `immutable: true` to all restored secrets
  pkg/gardenlet/operation/botanist/secrets.go
  test/utils/shoots/migration/migration.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  docs/operations/disaster_recovery_garden.md
Due: none

Updated usage doc for node in-place update feature
  docs/usage/shoot-operations/shoot_updates.md
Due: none

Duplicate defaulting of Shoot networks in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix integration tests
  test/integration/apiserver/admissionplugins/shootvalidator/shootvalidator_suite_test.go
  test/integration/apiserver/admissionplugins/shootvalidator/shootvalidator_test.go
  test/integration/controllermanager/bastion/bastion_suite_test.go
  test/integration/controllermanager/shoot/migration/migration_suite_test.go
  test/integration/controllermanager/shootstate/shootstate_suite_test.go
  test/integration/gardenlet/shoot/state/state_suite_test.go
  test/integration/gardenlet/shoot/status/status_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Clean up defaulting of Shoot networks from the `ShootValidator` admission plugin
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fetch the Seed resource in the `ShootMutator` admission plugin
  plugin/pkg/shoot/mutator/admission.go
  plugin/pkg/shoot/mutator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update `ShootMutator` docs
  docs/concepts/apiserver-admission-plugins.md
Due: none

Addressed review comments
  docs/usage/shoot-operations/shoot_updates.md
Due: none
