Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Cleanup TODO related to OCI CA bundle secret (#15343)
  pkg/controllermanager/controller/seed/secrets/add.go
  pkg/controllermanager/controller/seed/secrets/reconciler.go
  pkg/controllermanager/controller/seed/secrets/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update inplace doc with handling of failure
  docs/usage/shoot-operations/shoot_updates.md
Due: none

Add tm test for pvc autoscaling of logging components
  test/testmachinery/shoots/logging/shoot_logging.go
  test/testmachinery/shoots/logging/shoot_pvc_autoscaling.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend MaintenanceTimeWindow validation pattern into negative timezone ranges
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  charts/gardener/operator/files/crd-gardens.yaml
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/v1beta1/generated.proto
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Switch down to v1.50.0 (#15381)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus-operator to v0.93.0
  example/operator/10-crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  example/operator/10-crd-monitoring.coreos.com_alertmanagers.yaml
  example/operator/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/operator/10-crd-monitoring.coreos.com_probes.yaml
  example/operator/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/operator/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/operator/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/operator/10-crd-monitoring.coreos.com_servicemonitors.yaml
  example/operator/10-crd-monitoring.coreos.com_thanosrulers.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_alertmanagers.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_podmonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_probes.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheusagents.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_prometheuses.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_scrapeconfigs.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_servicemonitors.yaml
  example/seed-crds/10-crd-monitoring.coreos.com_thanosrulers.yaml
  go.mod
  imagevector/containers.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_alertmanagerconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_alertmanagers.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_podmonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_probes.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheusagents.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_prometheuses.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_scrapeconfigs.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_servicemonitors.yaml
  pkg/component/observability/monitoring/prometheusoperator/templates/crd-monitoring.coreos.com_thanosrulers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix type error in scrape config
  pkg/component/observability/monitoring/prometheus/shoot/scrapeconfigs.go
  pkg/component/observability/monitoring/prometheus/shoot/scrapeconfigs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Run `make tidy` after rebase with `master`
  go.sum
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Use VictoriaLogs annotation that ignores differences between CR and actual size of the PVC to suppress warnings
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update nginx migration guide (#15383)
  docs/operations/nginx_ingress.md
Due: none

Drop unused provider-local networkpolicy webhook
  cmd/gardener-extension-provider-local/app/options.go
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  pkg/provider-local/webhook/networkpolicy/add.go
  pkg/provider-local/webhook/networkpolicy/mutator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.149.0-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Remove deprecated prometheus environment variables from `victoria_operator`
  pkg/component/observability/logging/victoria/operator/victoria_operator.go
  pkg/component/observability/logging/victoria/operator/victoria_operator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Create 'victoria-operator' renovate group
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Dev Cycle v1.149.0-dev (#15389)
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

8Gi -> 16Gi (#15363)
  docs/deployment/getting_started_locally.md
Due: none

Fix tools to be installed from the GARDENER_TOOL_DIR instead of GARDENER_HACK_DIR
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency perses/perses to v0.54.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: reduce vpn watchdog threshold to 8 (from 10) after stakeholder feedback
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Copy other required files in old version of gardener for upgrade test
  hack/ci-e2e-kind-upgrade.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

update Garden and Shoot reconciliation to allow for safe disabling of IstioTLSTermination feature gate
  pkg/component/kubernetes/apiserverexposure/sni.go
  pkg/component/kubernetes/apiserverexposure/sni_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

always enable PodKubeAPIServerLoadBalancingWebhook for GRMs of garden, seed and self-hosted shoot
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/resource_manager.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

update variable names to align with #15316
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Copy other required files in old version of gardener for upgrade test (#15397)
  hack/ci-e2e-kind-upgrade.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  pkg/gardenadm/botanist/machines.go
  pkg/gardenadm/botanist/machines_test.go
  pkg/gardenlet/operation/botanist/namespaces.go
  pkg/gardenlet/operation/botanist/namespaces_test.go
  pkg/gardenlet/operation/botanist/staticpods.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Register CustomJUnitReport in operator and gardenadm e2e suites
  test/e2e/gardenadm/e2e_suite_test.go
  test/e2e/operator/e2e_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase test timeout for inplace update test
  test/testmachinery/system/shoot_kubernetes_update/kubernetes_update_test.go
  test/testmachinery/system/shoot_machine_image_update/machine_image_update_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Support private registries for Shoot worker nodes (#15150)
  docs/deployment/image_vector.md
  docs/deployment/setup_gardener.md
  docs/extensions/registration.md
  imagevector/imagevector.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/nodeinit.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/nodeinit_test.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/templates/scripts/init.tpl.sh
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/rootcertificates/templates/scripts/update-local-ca-certificates.tpl.sh
  pkg/component/shoot/system/system.go
  pkg/component/shoot/system/system_test.go
  pkg/gardenadm/botanist/botanist.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/operatingsystemconfig.go
  pkg/gardenlet/operation/botanist/shootsystem.go
  pkg/gardenlet/operation/types.go
  pkg/provider-local/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_test.go
  pkg/utils/imagevector/imagevector_validation.go
  pkg/utils/imagevector/imagevector_validation_test.go
  pkg/utils/imagevector/types.go
  pkg/utils/oci/helmregistry.go
  pkg/utils/oci/helmregistry_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address ialidzhikov's feedback
  imagevector/containers.yaml
  pkg/component/etcd/bootstrap/backuprestore/backuprestore_suite_test.go
  pkg/component/etcd/bootstrap/backuprestore/etcd_backup_restore.go
  pkg/component/etcd/bootstrap/backuprestore/etcd_backup_restore_test.go
  pkg/component/etcd/bootstrap/etcd.go
  pkg/component/etcd/bootstrap/etcd_test.go
  pkg/gardenadm/cmd/init/options.go
  pkg/gardenlet/operation/botanist/staticpods.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

logging: adjust VL ServiceMonitor to avoid double scraping
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add zone to control-plane worker pool for provider-local
  dev-setup/gardenadm/resources/overlays/managed-infra/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address rfranzke's feedback
  pkg/component/etcd/bootstrap/backuprestore/etcd_backup_restore.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update prometheus to v3.13.2
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add tests for `VersionIsActive` and clean up
  pkg/api/core/helper/cloudprofile_test.go
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  pkg/component/observability/plutono/dashboards/garden-shoot/apiserver-overview.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

(feedback): plkokanov
  pkg/component/autoscaling/pvcautoscaler/pvcautoscaler.go
  pkg/component/autoscaling/pvcautoscaler/pvcautoscaler_test.go
  pkg/component/observability/logging/vali/vali.go
  pkg/component/observability/logging/vali/vali_test.go
  pkg/component/observability/logging/victorialogs/victorialogs.go
  pkg/component/observability/logging/victorialogs/victorialogs_test.go
  pkg/component/shared/pvcautoscaler.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add clarifying comments
  pkg/apis/config/gardenlet/v1alpha1/types.go
  pkg/component/observability/logging/victorialogs/victorialogs.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

address review comments
  pkg/component/kubernetes/apiserverexposure/sni.go
  pkg/component/kubernetes/apiserverexposure/sni_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
