Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260227-085711a-1.26
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Update module github.com/containerd/containerd/v2 to v2.2.4 [SECURITY]
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/containerd/containerd/v2 to v2.2.4 [SECURITY] (#14895)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/crypto to v0.52.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.143] Fix `gardener-resource-manager` crash in `VirtualServicePredicate` (#14888)
  pkg/resourcemanager/controller/networkpolicy/add.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module golang.org/x/crypto to v0.52.0 (#14896)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix(monitoring): update apiserver-storage-details dashboard for k8s 1.33
  pkg/component/observability/plutono/dashboard_content_test.go
  pkg/component/observability/plutono/dashboards/garden-shoot/apiserver-storage-details.json
  pkg/component/observability/plutono/export_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-30] Promote `UseUnifiedHTTPProxyPort` feature gate to GA
  docs/deployment/feature_gates.md
  pkg/component/networking/apiserverproxy/apiserver_proxy.go
  pkg/component/networking/apiserverproxy/apiserver_proxy_test.go
  pkg/component/networking/apiserverproxy/templates/envoy.yaml.tpl
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
  pkg/features/features.go
  pkg/gardenlet/operation/botanist/vpnshoot.go
  pkg/gardenlet/operation/botanist/vpnshoot_test.go
  test/e2e/gardener/shoot/create_authenticate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: add auth-token validation for valitail and otel-col systemd service
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Loop sshd-ensurer service (#14832)
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/templates/scripts/disable-sshd.tpl.sh
  pkg/component/extensions/operatingsystemconfig/original/components/sshdensurer/templates/scripts/enable-sshd.tpl.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove early exit from upgrade test script
  hack/ci-e2e-kind-upgrade.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt kubeconfig handling
  Makefile
  hack/ci-e2e-kind-upgrade.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Increase timeout for `WaitForJobToBeReady`
  test/utils/shoots/update/update.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: use -s instead of -e flag for test command
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add missing RBAC for CA
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add version constraint
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add validation for auth-token file for valitail and otel-col systemd units (#14898)
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

test(utils): build objects per DescribeTable entry so podSpec resets
  pkg/utils/kubernetes/pod_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-36] `gardenadm init`: expose control plane via SelfHostedShootExposure or DNS (#14781)
  dev-setup/gardenadm/resources/overlays/managed-infra/kustomization.yaml
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-seed.yaml
  docs/deployment/getting_started_locally_with_gardenadm.md
  hack/usage/generate-kubeconfig.sh
  pkg/api/core/v1beta1/helper/shoot.go
  pkg/api/core/v1beta1/helper/shoot_test.go
  pkg/component/extensions/selfhostedshootexposure/selfhostedshootexposure.go
  pkg/component/extensions/selfhostedshootexposure/selfhostedshootexposure_suite_test.go
  pkg/component/extensions/selfhostedshootexposure/selfhostedshootexposure_test.go
  pkg/gardenadm/botanist/dnsrecord.go
  pkg/gardenadm/botanist/dnsrecord_test.go
  pkg/gardenadm/cmd/bootstrap/bootstrap.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/selfhostedshootexposure.go
  pkg/gardenlet/operation/botanist/worker.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
  pkg/provider-local/controller/selfhostedshootexposure/actuator.go
  test/e2e/gardenadm/managedinfra/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/kube-state-metrics/kube-state-metrics Docker tag to v2.19.0 (#14893)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-30] Promote `UseUnifiedHTTPProxyPort` feature gate to GA (#14899)
  docs/deployment/feature_gates.md
  pkg/component/networking/apiserverproxy/apiserver_proxy.go
  pkg/component/networking/apiserverproxy/apiserver_proxy_test.go
  pkg/component/networking/apiserverproxy/templates/envoy.yaml.tpl
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
  pkg/features/features.go
  pkg/gardenlet/operation/botanist/vpnshoot.go
  pkg/gardenlet/operation/botanist/vpnshoot_test.go
  test/e2e/gardener/shoot/create_authenticate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add missing RBAC for CA v1.35 (#14901)
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.31.1
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review feedback
  docs/deployment/deploy_gardenlet_manually.md
  hack/usage/rebootstrap-gardenlet.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.31.1 (#14907)
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.143] Add validation for auth-token file for valitail and otel-col systemd units (#14905)
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.142] Add validation for auth-token file for valitail and otel-col systemd units (#14902)
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.141] Add validation for auth-token file for valitail and otel-col systemd units (#14903)
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/opentelemetrycollector/config_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/valitail/config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.143] Add missing RBAC for CA v1.35 (#14908)
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/gardenlet/operation/botanist/clusterautoscaler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v29.5.2+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.46.3
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
