Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Add logic to rotate encryption providers
  pkg/component/apiserver/encryptionconfiguration.go
  pkg/component/apiserver/encryptionconfiguration_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/operator/controller/garden/garden/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt documentation
  docs/usage/security/etcd_encryption_config.md
  example/90-shoot.yaml
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make encryption provider type field immutable
  pkg/api/core/validation/shoot.go
  pkg/api/core/validation/shoot_test.go
  pkg/api/operator/v1alpha1/validation/garden.go
  pkg/api/operator/v1alpha1/validation/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix integration tests
  test/integration/controllermanager/bastion/bastion_test.go
  test/integration/controllermanager/controllerregistration/controllerinstallation/seed/seed_test.go
  test/integration/controllermanager/credentialsbinding/credentialsbinding_test.go
  test/integration/controllermanager/exposureclass/exposureclass_test.go
  test/integration/controllermanager/gardenletlifecycle/lifecycle_test.go
  test/integration/controllermanager/managedseedset/managedseedset_test.go
  test/integration/controllermanager/project/activity/activity_test.go
  test/integration/controllermanager/project/project/project_test.go
  test/integration/controllermanager/project/stale/stale_test.go
  test/integration/controllermanager/secretbinding/secretbinding_test.go
  test/integration/controllermanager/shoot/conditions/conditions_test.go
  test/integration/controllermanager/shoot/hibernation/hibernation_test.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
  test/integration/controllermanager/shoot/migration/migration_test.go
  test/integration/controllermanager/shoot/quota/quota_test.go
  test/integration/controllermanager/shoot/reference/reference_test.go
  test/integration/controllermanager/shoot/retry/retry_test.go
  test/integration/controllermanager/shoot/statuslabel/statuslabel_test.go
  test/integration/controllermanager/shootstate/shootstate_test.go
  test/integration/gardenlet/backupentry/backupentry_test.go
  test/integration/gardenlet/bastion/bastion_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
  test/integration/gardenlet/shoot/care/care_test.go
  test/integration/gardenlet/shoot/lease/lease_suite_test.go
  test/integration/gardenlet/shoot/state/state_test.go
  test/integration/gardenlet/shoot/status/status_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add review feedback
  docs/usage/security/etcd_encryption_config.md
  docs/usage/shoot/shoot_maintenance.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/component/apiserver/encryptionconfiguration.go
  plugin/pkg/shoot/mutator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore(renovate): Group Perses operator updates
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove duplication and add missing fields in gardenlet componentconfig
  example/20-componentconfig-gardenlet.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove wrong fields and add missing fields in operator componentconfig
  example/operator/10-componentconfig.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add missing field in GRM componentconfig
  example/resource-manager/10-componentconfig.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Review nits
  docs/deployment/feature_gates.md
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/proxy-protocol-envoyfilter.yaml
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_unified.yaml
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Always deploy the unified HTTP proxy port on the seed side
  pkg/component/networking/istio/ingress_gateway.go
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_unified.yaml
  pkg/gardenlet/controller/seed/seed/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Remove unifiedPort config option from istio chart
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/http-proxy-envoy-filter.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/http-proxy-gateway.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/proxy-protocol-envoyfilter.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/values.yaml
  pkg/component/networking/istio/ingress_gateway.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update docker/setup-buildx-action action to v4
  .github/workflows/golang-test-build-test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(renovate): Group Perses operator updates (#14231)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prefer explicit list of verbs instead of wildcard
  pkg/component/observability/logging/victoria/operator/victoria_operator.go
  pkg/component/observability/logging/victoria/operator/victoria_operator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency x-net to v0.51.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update docker/setup-buildx-action action to v4 (#14233)
  .github/workflows/golang-test-build-test.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add new configuration to example.
  example/90-shoot.yaml
  pkg/api/core/validation/shoot.go
  pkg/api/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update provider-local `DNSRecord` docs
  docs/extensions/images/local-setup-dns-architecture.excalidraw.svg
  docs/extensions/provider-local.md
Due: none

Drop obsolete docs about `/etc/hosts` manipulation
  docs/concepts/operator.md
  docs/deployment/content/remote-local-setup.yaml
  docs/deployment/getting_started_locally.md
  docs/deployment/getting_started_locally_with_extensions.md
Due: none

Prefactor: stop using `::1` address for seed istio
  charts/gardener/provider-local/templates/networkpolicy.yaml
  dev-setup/extensions/provider-local/overlays/operator-dual/patch-dual.yaml
  dev-setup/extensions/provider-local/overlays/operator-ipv6/patch-ipv6.yaml
  docs/extensions/provider-local.md
  example/gardener-local/kind/cluster/values-dual.yaml
  example/gardener-local/kind/cluster/values-ipv6.yaml
  hack/kind-setup-loopback-devices.sh
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prefactor: rename `dev-setup/{registry,infra}`
  dev-setup/infra/.gitignore
  dev-setup/infra/docker-compose.yaml
  dev-setup/infra/registry/config.yaml
  hack/kind-down.sh
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Export logs of local infra in CI
  hack/ci-common.sh
  hack/ci-e2e-kind-gardenadm.sh
  hack/ci-e2e-kind-ha-multi-node.sh
  hack/ci-e2e-kind-ha-multi-zone.sh
  hack/ci-e2e-kind-migration-ha-multi-node.sh
  hack/ci-e2e-kind-migration.sh
  hack/ci-e2e-kind-operator.sh
  hack/ci-e2e-kind-upgrade.sh
  hack/ci-e2e-kind.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Set up local DNS server as resolver on kind nodes
  example/gardener-local/kind/cluster/templates/_extra_mounts.tpl
  example/gardener-local/kind/cluster/templates/cluster.yaml
  example/gardener-local/kind/resolv.conf
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add local DNS server with `local.gardener.cloud` zone
  dev-setup/infra/bind/db.local.gardener.cloud
  dev-setup/infra/bind/named.conf
  dev-setup/infra/docker-compose.yaml
  hack/kind-down.sh
  hack/kind-setup-loopback-devices.sh
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Set up local DNS server as resolver on dev machine
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Set up local DNS server as resolver in remote local setup
  docs/deployment/content/remote-local-setup.yaml
Due: none

Set up local DNS server as resolver in CI
  Makefile
  hack/ci-common.sh
  hack/ci-e2e-kind-gardenadm.sh
  hack/ci-e2e-kind-ha-multi-node.sh
  hack/ci-e2e-kind-ha-multi-zone.sh
  hack/ci-e2e-kind-migration-ha-multi-node.sh
  hack/ci-e2e-kind-migration.sh
  hack/ci-e2e-kind-operator.sh
  hack/ci-e2e-kind-upgrade.sh
  hack/ci-e2e-kind.sh
  hack/kind-up.sh
  hack/test-e2e-local.sh
  test/e2e/dns.go
  test/e2e/gardener/e2e_suite_test.go
  test/e2e/operator/e2e_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Drop provider-local coredns
  charts/gardener/provider-local/templates/_helpers.tpl
  charts/gardener/provider-local/templates/coredns/configmap.yaml
  charts/gardener/provider-local/templates/coredns/custom-configmap.yaml
  charts/gardener/provider-local/templates/coredns/deployment.yaml
  charts/gardener/provider-local/templates/coredns/namespace.yaml
  charts/gardener/provider-local/templates/coredns/networkpolicy.yaml
  charts/gardener/provider-local/templates/coredns/service.yaml
  charts/gardener/provider-local/values.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Stop using kind coredns in machine pods and drop `dnsconfig` webhook
  charts/gardener/provider-local/templates/deployment.yaml
  cmd/gardener-extension-provider-local/app/app.go
  cmd/gardener-extension-provider-local/app/options.go
  docs/extensions/provider-local.md
  pkg/provider-local/machine-provider/local/create_machine.go
  pkg/provider-local/webhook/dnsconfig/add.go
  pkg/provider-local/webhook/dnsconfig/mutator.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Instruct gardener-operator with correct IPv6 for virtual garden
  dev-setup/garden/components/ipv6/kustomization.yaml
  pkg/operator/controller/add.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Rewrite provider-local `DNSRecord` to RFC 2136
  charts/gardener/provider-local/templates/deployment.yaml
  charts/gardener/provider-local/templates/networkpolicy.yaml
  charts/gardener/provider-local/templates/rbac.yaml
  charts/gardener/provider-local/values.yaml
  cmd/gardener-extension-provider-local/app/app.go
  cmd/gardener-extension-provider-local/app/options.go
  docs/extensions/provider-local.md
  go.mod
  pkg/api/extensions/validation/dnsrecord.go
  pkg/api/extensions/validation/dnsrecord_test.go
  pkg/provider-local/controller/dnsrecord/actuator.go
  pkg/provider-local/controller/dnsrecord/actuator_test.go
  pkg/provider-local/controller/dnsrecord/add.go
  pkg/provider-local/controller/ingress/add.go
  pkg/provider-local/controller/ingress/options.go
  pkg/provider-local/controller/ingress/reconciler.go
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Drop some workarounds
  skaffold-operator.yaml
  test/e2e/gardener/shoot/create_migrate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add missing DNS provider to `Garden` in e2e tests
  test/e2e/operator/garden/common.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix istio IPs on kind2 and ManagedSeeds
  charts/gardener/provider-local/templates/deployment.yaml
  charts/gardener/provider-local/values.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix logs export for e2e-kind-ipv6
  hack/ci-e2e-kind.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Ensure containerd has seen registry mirror configs
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review suggestions by hown3d
  dev-setup/infra/bind/db.local.gardener.cloud
  hack/ci-common.sh
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Skip setting loopback IPs on Docker Desktop VM
  hack/kind-setup-loopback-devices.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
