Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260130-4c6650b-1.25
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

Update dependency gardener/dashboard to v1.83.3 (#13917)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.83.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

add api group in the scheme
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix lint checks
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix make generate
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

resolve review
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

add init and original osc name
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add MachineDeployment OSC validation
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

use machine instead of machine deployment
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix flaky test for MCM v0.61 (#13916)
  test/e2e/gardener/shoot/internal/node/node.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency kyverno/kyverno to v1.17.0
  example/provider-extensions/kyverno/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update terminal-controller-manager to v0.35.0
  go.mod
  go.sum
  imagevector/containers.yaml
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/operations/v1alpha1/generated.pb.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/settings/v1alpha1/generated.pb.go
  pkg/apis/settings/v1alpha1/generated.proto
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

switch `export_resource_yamls_for` call argument from `gardends` to `garden`
  hack/ci-e2e-kind-ha-multi-node.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: Run `make generate`
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/operations/v1alpha1/generated.pb.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/generated.pb.go
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/settings/v1alpha1/generated.pb.go
  pkg/apis/settings/v1alpha1/generated.proto
  pkg/component/gardener/dashboard/terminal/assets/crd-dashboard.gardener.cloud_terminals.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-34] Deploy `OTEL Collector` to `Garden` & `Seed` Clusters (#13481)
  pkg/component/observability/opentelemetry/collector/collector.go
  pkg/component/observability/opentelemetry/collector/collector_test.go
  pkg/component/shared/opentelemetry_collector.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/logging.go
  pkg/operator/client/scheme.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  skaffold-operator.yaml
  test/e2e/operator/garden/garden.go
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-30] Fix `UseUnifiedHTTPProxyPort` feature in combination with proxy protocol (#13832)
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/http-proxy-envoy-filter.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/http-proxy-gateway.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/proxy-protocol-envoyfilter.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/values.yaml
  pkg/component/networking/istio/ingress_gateway.go
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/ingress_http_proxy_envoy_filter_unified.yaml
  pkg/component/networking/istio/test_charts/ingress_http_proxy_gateway_unified.yaml
  pkg/component/networking/istio/test_charts/proxyprotocol_envoyfilter_vpn_unified.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[GEP-36] Self-Hosted Shoot Exposure extend Shoot API (#13867)
  dev-setup/gardenadm/resources/overlays/managed-infra/kustomization.yaml
  docs/api-reference/core.md
  docs/proposals/36-self-hosted-shoot-exposure.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Tolerate certain leftovers during shoot cleanup (#13918)
  docs/usage/advanced/shoot_cleanup.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/operation/botanist/cleanup.go
  pkg/gardenlet/operation/botanist/controlplane.go
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
  pkg/utils/kubernetes/client/mock/mocks.go
  pkg/utils/kubernetes/client/options.go
  pkg/utils/kubernetes/client/options_test.go
  pkg/utils/kubernetes/client/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make `Shoot` field `.spec.seedSelector` mutable (#13920)
  docs/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/dashboard to v1.83.3 (#13925)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-extension-networking-calico to v1.56.0
  dev-setup/extensions/networking-calico/components/controllerregistration/kustomization.yaml
  example/provider-local/garden/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/vpn2 to v0.46.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update quay.io/prometheus/alertmanager Docker tag to v0.31.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add encryption provider field to Shoot API
  pkg/apis/core/types.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add helper funcs
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  charts/gardener/operator/templates/crd-gardens.yaml
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add Shoot validation
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Deafult to aescbc
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add encryption type field to Garden spec
  pkg/apis/operator/v1alpha1/types_garden.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make generate
  docs/api-reference/core.md
  docs/api-reference/operator.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add helper func for Garden
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Sync Shoot status field in PrepareForUpdate
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add encryption provider field to secret manager config
  pkg/component/apiserver/encryptionconfiguration.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/utils/secrets/etcd_encryption_key.go
  pkg/utils/secrets/etcd_encryption_key_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass encryption provider for apiserver config
  pkg/component/apiserver/types.go
  pkg/component/shared/apiserver.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/types.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add validation for Garden
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Pass encryption to use to Garden reconciliation
  pkg/component/shared/gardenerapiserver.go
  pkg/component/shared/gardenerapiserver_test.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix typos
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/operator/webhook/defaulting/garden/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add review suggestions
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  docs/api-reference/operator.md
  docs/usage/security/etcd_encryption_config.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/operator/v1alpha1/types_garden.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/component/apiserver/encryptionconfiguration.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  pkg/utils/secrets/etcd_encryption_key.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Adapt docu
  docs/usage/security/etcd_encryption_config.md
  example/90-shoot.yaml
  example/operator/20-garden.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
