Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Deploy control plane components with 0 replicas
  pkg/gardenadm/botanist/controlplane.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenlet/operation/botanist/kubecontrollermanager.go
  pkg/gardenlet/operation/botanist/kubescheduler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prefactor: Make deployment of control plane components a dedicated function
  pkg/gardenadm/botanist/controlplane.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prefactor: Use `StatefulSet` to deploy bootstrap etcd
  pkg/component/etcd/bootstrap/etcd.go
  pkg/component/etcd/bootstrap/etcd_test.go
  pkg/gardenadm/botanist/controlplane.go
  pkg/gardenadm/staticpod/translator.go
  pkg/gardenadm/staticpod/translator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[provider-local] Dummy implementation to simulate control plane mutation
  pkg/provider-local/webhook/controlplane/ensurer.go
  test/e2e/gardenadm/hightouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deploy OperatingSystemConfig and activate gardener-node-agent
  cmd/gardenadm/main.go
  pkg/apis/extensions/validation/operatingsystemconfig.go
  pkg/apis/extensions/validation/operatingsystemconfig_test.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenadm/cmd/init/init.go
  test/e2e/gardenadm/hightouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Properly taint control plane nodes
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/component/etcd/bootstrap/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-metrics-exporter to v0.38.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore: Run `make generate`
  docs/api-reference/core.md
Due: none

refactor managedseed e2e test
  test/e2e/gardener/common.go
  test/e2e/gardener/context.go
  test/e2e/gardener/managedseed/create_rotate_delete.go
  test/e2e/gardener/managedseed/managedseed.go
  test/e2e/gardener/seed/renew_garden_access_secrets.go
  test/e2e/gardener/seed/renew_gardenlet_kubeconfig.go
  test/e2e/gardener/seed/seed.go
  test/e2e/gardener/shoot/shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add Capabilities tests for NamespacedCloudProfile
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.1.0+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-31] Adapt `Worker` reconciler for in-place update (#11713)
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/controller/worker/controller_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
  extensions/pkg/controller/worker/helper/helper.go
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/mapper.go
  extensions/pkg/controller/worker/mapper_test.go
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/component/extensions/worker/mock/mocks.go
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/gardenlet/operation/botanist/worker.go
  pkg/provider-local/controller/worker/add.go
  pkg/provider-local/controller/worker/machines.go
  pkg/utils/gardener/machines.go
  pkg/utils/gardener/machines_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  pkg/utils/kubernetes/health/machinedeployment.go
  pkg/utils/kubernetes/health/machinedeployment_test.go
  pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/gardener-metrics-exporter to v0.38.0 (#11905)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Switch to manage resource for controleplane components
  pkg/component/kubernetes/scheduler/scheduler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Shoot status API
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Handle hibernation case and updating credentials rotation phase
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deny updating the worker pool or credential rotation if there is an ongoing in-place update
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt shoot reconciler to update Shoot status with pending workers based on worker pool hash
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/botanist_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use gardener.cloud/operation annotation for force-in-place-update
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from rfranzke
  docs/usage/shoot-operations/shoot_operations.md
  pkg/apis/core/validation/shoot.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/botanist_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix import order in admission_test.go
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fixup! Switch to manage resource for controleplane components
  pkg/component/kubernetes/scheduler/scheduler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.1.0+incompatible (#11907)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from acumino
  docs/usage/shoot-operations/shoot_operations.md
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-31] Adapt `Shoot` reconciler for in-place update (#11843)
  docs/api-reference/core.md
  docs/usage/shoot-operations/shoot_operations.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_test.go
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/botanist_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.1.1+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fixup! fixup! Switch to manage resource for controleplane components
  pkg/component/kubernetes/scheduler/scheduler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fixup! fixup! fixup! Switch to manage resource for controleplane components
  pkg/component/kubernetes/scheduler/scheduler.go
  pkg/component/kubernetes/scheduler/scheduler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add optional constraint to Shoot to mark that there are pending manual-inplace updates
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/gardenlet/controller/shoot/care/constraints.go
  pkg/gardenlet/controller/shoot/care/constraints_test.go
  pkg/gardenlet/controller/shoot/care/health.go
  pkg/gardenlet/controller/shoot/care/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration tests
  test/integration/gardenlet/shoot/status/status_suite_test.go
  test/integration/gardenlet/shoot/status/status_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add a new controller in gardenlet to update Shoot status manual in-place pending workers
  charts/gardener/gardenlet/templates/helpers.tpl
  charts/gardener/gardenlet/test/chart_test.go
  charts/gardener/gardenlet/test/test.go
  charts/gardener/gardenlet/values.yaml
  docs/concepts/gardenlet.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/status/add.go
  pkg/gardenlet/controller/shoot/status/add_test.go
  pkg/gardenlet/controller/shoot/status/reconciler.go
  pkg/gardenlet/controller/shoot/status/status_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold dependencies
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from rfranzke
  docs/usage/shoot/shoot_status.md
Due: none

Improve unit tests
  pkg/gardenlet/controller/shoot/care/constraints_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.1.1+incompatible (#11909)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
