Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Prefactor: Rearrange and add missing unit tests
  pkg/apis/core/validation/shoot_test.go
  pkg/utils/validation/kubernetes/core/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate `containerLogMaxSize` in KubeletConfig
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update calico & cilium extensions
  dev-setup/extensions/networking-calico/components/extension/extension.yaml
  dev-setup/extensions/networking-cilium/components/extension/extension.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add optional `Count` parameter to resource limit webhook
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt components, tests and conversions to take the, now optional `size` limit
  pkg/admissioncontroller/apis/config/v1alpha1/validation/validation_test.go
  pkg/admissioncontroller/webhook/admission/resourcesize/handler_test.go
  pkg/apis/operator/v1alpha1/conversion/conversion.go
  pkg/apis/operator/v1alpha1/conversion/conversion_test.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt resourcesize handler to also handle `count` limit
  pkg/admissioncontroller/webhook/add.go
  pkg/admissioncontroller/webhook/admission/resourcesize/handler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove `namespaceSelector` from `resource-size` `ValidatingWebhookConfiguration`
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/spf13/viper to v1.21.0 (#12912)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency envoyproxy/envoy to v1.35.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add validation for `count` field
  pkg/admissioncontroller/apis/config/v1alpha1/validation/validation.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add tests for `count` limit handling
  pkg/admissioncontroller/webhook/admission/resourcesize/handler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add tests for `count` validation
  pkg/admissioncontroller/apis/config/v1alpha1/validation/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt `admission-controller` `ConfigMap` template to not add keys, when values are empty.
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/configmap-componentconfig.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add insecure registry to `admission-local` to make it debuggable
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Cleanup TODOs
  test/integration/resourcemanager/networkpolicy/networkpolicy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/gardener/cert-management to v0.18.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix imports
  pkg/utils/validation/kubernetes/core/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase timeout for waiting for logs
  test/e2e/gardener/shoot/internal/observability/vali.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  test/integration/resourcemanager/health/crds/10-crd-cert.gardener.cloud_certificates.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency envoyproxy/envoy to v1.35.3 (#12909)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix: remove providerConfig validation for local namespaced cloud profiles
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

rework worker status and create generic FindBestCapabilitySet function to be used by provider-extensions
  docs/api-reference/provider-local.md
  extensions/pkg/controller/worker/cloudprofile.go
  extensions/pkg/controller/worker/cloudprofile_test.go
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/v1beta1/helper/cloudprofile.go
  pkg/provider-local/admission/validator/cloudprofile.go
  pkg/provider-local/admission/validator/webhook.go
  pkg/provider-local/apis/local/helper/helper.go
  pkg/provider-local/apis/local/helper/helper_test.go
  pkg/provider-local/apis/local/types_cloudprofile.go
  pkg/provider-local/apis/local/types_worker.go
  pkg/provider-local/apis/local/v1alpha1/types_cloudprofile.go
  pkg/provider-local/apis/local/v1alpha1/types_worker.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.conversion.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.deepcopy.go
  pkg/provider-local/apis/local/validation/cloudprofile.go
  pkg/provider-local/apis/local/validation/cloudprofile_test.go
  pkg/provider-local/apis/local/validation/validation_suite_test.go
  pkg/provider-local/apis/local/zz_generated.deepcopy.go
  pkg/provider-local/controller/worker/machine_images.go
  pkg/provider-local/controller/worker/machines.go
  test/e2e/gardener/shoot/create_rotate_delete.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance MachineSpec to include MachineTypeCapabilities and update related functions for capability validation
  extensions/pkg/bastion/machine.go
  extensions/pkg/bastion/machine_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat: add validation for CloudProfileConfig and machine images with capabilities
  docs/api-reference/provider-local.md
  pkg/apis/core/helper/cloudprofile.go
  pkg/provider-local/admission/validator/cloudprofile.go
  pkg/provider-local/admission/validator/webhook.go
  pkg/provider-local/apis/local/types_cloudprofile.go
  pkg/provider-local/apis/local/v1alpha1/types_cloudprofile.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.conversion.go
  pkg/provider-local/apis/local/v1alpha1/zz_generated.deepcopy.go
  pkg/provider-local/apis/local/validation/cloudprofile.go
  pkg/provider-local/apis/local/validation/cloudprofile_test.go
  pkg/provider-local/apis/local/validation/validation_suite_test.go
  pkg/provider-local/apis/local/zz_generated.deepcopy.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor: remove SetCapabilities method and update capability handling in FindBestCapabilitySet
  extensions/pkg/controller/worker/cloudprofile.go
  extensions/pkg/controller/worker/cloudprofile_test.go
  pkg/provider-local/apis/local/types_cloudprofile.go
  pkg/provider-local/apis/local/v1alpha1/types_cloudprofile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

feat: Add capability based machineClass image selection for provider local
  pkg/apis/core/helper/cloudprofile.go
  pkg/provider-local/apis/local/helper/helper.go
  pkg/provider-local/apis/local/helper/helper_suite_test.go
  pkg/provider-local/apis/local/helper/helper_test.go
  pkg/provider-local/apis/local/types_worker.go
  pkg/provider-local/apis/local/v1alpha1/types_worker.go
  pkg/provider-local/controller/bastion/actuator.go
  pkg/provider-local/controller/worker/machine_images.go
  pkg/provider-local/controller/worker/machines.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor: change FDescribe to Describe for Shoot tests
  test/e2e/gardener/shoot/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

test: enable integration tests to use capabilities cloud profiles
  test/integration/controllermanager/cloudprofile/cloudprofile_test.go
  test/integration/controllermanager/namespacedcloudprofile/namespacedcloudprofile_test.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor: provider local CloudProfile validation logic
  docs/api-reference/provider-local.md
  pkg/apis/core/helper/cloudprofile.go
  pkg/provider-local/admission/decode.go
  pkg/provider-local/admission/validator/cloudprofile.go
  pkg/provider-local/admission/validator/namespacedcloudprofile.go
  pkg/provider-local/admission/validator/namespacedcloudprofile_test.go
  pkg/provider-local/admission/validator/webhook.go
  pkg/provider-local/apis/local/helper/helper.go
  pkg/provider-local/apis/local/helper/helper_test.go
  pkg/provider-local/apis/local/types_cloudprofile.go
  pkg/provider-local/apis/local/v1alpha1/types_cloudprofile.go
  pkg/provider-local/apis/local/validation/cloudprofile.go
  pkg/provider-local/apis/local/validation/cloudprofile_test.go
  pkg/provider-local/controller/worker/machine_images.go
  pkg/provider-local/controller/worker/machines.go
  skaffold-operator.yaml
  test/e2e/gardener/shoot/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor: rename MachineImageVersion CapabilitySets to Flavors in comments and functions
  docs/api-reference/core.md
  docs/api-reference/provider-local.md
  docs/proposals/33-machine-image-capabilities.md
  example/30-cloudprofile.yaml
  extensions/pkg/bastion/machine.go
  extensions/pkg/controller/worker/cloudprofile.go
  extensions/pkg/controller/worker/cloudprofile_test.go
  pkg/apis/core/helper/cloudprofile.go
  pkg/apis/core/helper/cloudprofile_test.go
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/cloudprofile.go
  pkg/apis/core/v1beta1/helper/cloudprofile_test.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/utils.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
  pkg/controllermanager/controller/shoot/maintenance/helper/helper.go
  pkg/provider-local/apis/local/helper/helper.go
  pkg/provider-local/apis/local/helper/helper_test.go
  pkg/provider-local/apis/local/v1alpha1/types_worker.go
  pkg/provider-local/apis/local/validation/cloudprofile.go
  pkg/provider-local/apis/local/validation/cloudprofile_test.go
  pkg/provider-local/controller/bastion/actuator.go
  pkg/provider-local/controller/worker/machine_images.go
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  test/integration/controllermanager/namespacedcloudprofile/namespacedcloudprofile_test.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/common to v0.66.1 (#12874)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Improve validation for `kubeletConfig` in the `Shoot` API (#12914)
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/utils/validation/kubernetes/core/validation_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Switch packages that can be migrated as-is
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/gardener/dashboard/configmap.go
  pkg/component/observability/monitoring/blackboxexporter/blackboxexporter.go
  pkg/component/observability/monitoring/kubestatemetrics/customresourcestate_test.go
  pkg/component/observability/monitoring/kubestatemetrics/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt tests
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/networking/nginxingress/nginxingress_test.go
  pkg/component/nodemanagement/nodeproblemdetector/node_problem_detector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove forked code
  third_party/gopkg.in/yaml.v2/LICENSE
  third_party/gopkg.in/yaml.v2/LICENSE.libyaml
  third_party/gopkg.in/yaml.v2/NOTICE
  third_party/gopkg.in/yaml.v2/README.md
  third_party/gopkg.in/yaml.v2/apic.go
  third_party/gopkg.in/yaml.v2/decode.go
  third_party/gopkg.in/yaml.v2/emitterc.go
  third_party/gopkg.in/yaml.v2/encode.go
  third_party/gopkg.in/yaml.v2/parserc.go
  third_party/gopkg.in/yaml.v2/readerc.go
  third_party/gopkg.in/yaml.v2/resolve.go
  third_party/gopkg.in/yaml.v2/scannerc.go
  third_party/gopkg.in/yaml.v2/sorter.go
  third_party/gopkg.in/yaml.v2/writerc.go
  third_party/gopkg.in/yaml.v2/yaml.go
  third_party/gopkg.in/yaml.v2/yamlh.go
  third_party/gopkg.in/yaml.v2/yamlprivateh.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Switch packages to `go.yaml.in/yaml/v4` with options
  pkg/utils/gardener/secrets.go
  pkg/utils/kubernetes/serialize.go
  pkg/utils/managedresources/registry.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`go mod tidy`
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold deps
  REUSE.toml
  extensions/.import-restrictions
  hack/add-license-header.sh
  hack/check-license-header.sh
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
