Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Notes added by 'git notes add'
  c5/c95b35a78a291bda3685a6fe942fdcaeb2abf4
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  aa/62e0bf3b5a2fc698940318186e05f0da685d9b
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  ae/9ea01291ea035d97ce1ba205a0642029639e5f
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  52/99bcd7be298f3e95c9710d28d87c481043edae
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Notes added by 'git notes add'
  54/17a7bbb3adab9d192abd8e8e2ac4b7fe7c9a2d
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Development Cycle v1.108.1-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

chore(deps): update dependency gardener/gardener-discovery-server to v0.3.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update europe-docker.pkg.dev/gardener-project/releases/gardener/gardener-discovery-server docker tag to v0.3.0
  example/provider-extensions/gardener-discovery-server/server/server.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Remove no longer used autoscaling modes for `{gardener,kube}-apiserver` (#10796)
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/hvpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/poddisruptionbudget.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/vpa.yaml
  charts/gardener/controlplane/values.yaml
  docs/development/autoscaling-specifics-for-components.md
  pkg/component/apiserver/types.go
  pkg/component/gardener/apiserver/apiserver.go
  pkg/component/gardener/apiserver/apiserver_test.go
  pkg/component/gardener/apiserver/deployment.go
  pkg/component/gardener/apiserver/hpa.go
  pkg/component/gardener/apiserver/hvpa.go
  pkg/component/gardener/apiserver/vpa.go
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/horizontalpodautoscaler.go
  pkg/component/kubernetes/apiserver/hvpa.go
  pkg/component/kubernetes/apiserver/verticalpodautoscaler.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/gardenlet/operation/botanist/kubeapiserver_test.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  test/e2e/gardener/shoot/create_rotate_delete.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove Botanist.DefaultDomainSecret and relavant code
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/types.go
  pkg/gardenlet/operation/operation.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix SSH-keypair rotation (#10671)
  pkg/component/extensions/operatingsystemconfig/original/components/gardeneruser/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/gardeneruser/component_test.go
  test/e2e/gardener/shoot/create_rotate_delete.go
  test/e2e/operator/garden/create_rotate_delete.go
  test/framework/gardenerframework.go
  test/utils/access/adminkubeconfig.go
  test/utils/rotation/encrypted_data.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove redundant TaskFn anonymous wrapper functions
  pkg/gardenlet/controller/shoot/shoot/reconciler_delete.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_force_delete.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_migrate.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Group gardener-discovery-server Renovate updates
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/coredns/coredns docker tag to v1.11.4
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

ClusterAutoscaler: Add support for startupTaints and statusTaints; deprecate ignoreTaints
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update registry.k8s.io/coredns/coredns docker tag to v1.11.4 (#10856)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

fix: Match against github-releases as well (PR review)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Replace deprecated sets.String with generic set.Set
  plugin/pkg/global/resourcereferencemanager/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix(deps): update module sigs.k8s.io/structured-merge-diff/v4 to v4.4.3 (#10847)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update europe-docker.pkg.dev/gardener-project/releases/gardener/gardener-discovery-server docker tag to v0.3.0 (#10850)
  example/provider-extensions/gardener-discovery-server/server/server.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Protobuf index bug fix; file generation
  docs/api-reference/core.md
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update quay.io/prometheus/prometheus docker tag to v3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency gardener/gardener-discovery-server to v0.3.0 (#10849)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

[scheduler] Prevent frequent updates for unassigned shoots (#10821)
  pkg/scheduler/controller/shoot/add.go
  pkg/scheduler/controller/shoot/add_test.go
  pkg/scheduler/controller/shoot/reconciler.go
  pkg/scheduler/controller/shoot/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update dependency prometheus/prometheus to v3
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Group helm dependency updates by renovate
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  docs/proposals/31-inplace-node-update.md
Due: none

chore: Group gardener-discovery-server Renovate updates (#10855)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Replace deprecated sets.String with generic set.Set (#10859)
  plugin/pkg/global/resourcereferencemanager/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix listenAddress for additional provider-local coredns
  example/gardener-local/kind/cluster/templates/_extra_port_mappings.tpl
  test/e2e/dns.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

use other seed name to avoid clash with /etc/hosts entry
  hack/test-e2e-local.sh
  test/e2e/gardener/managedseed/create_rotate_delete.go
  test/e2e/gardener/seed/renew_garden_access_secrets.go
  test/e2e/gardener/seed/renew_gardenlet_kubeconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Group helm dependency updates by renovate (#10863)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Group Prometheus Renovate updates in one PR
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  test/integration/resourcemanager/nodeagentauthorizer/nodeagentauthorizer_suite_test.go
  test/integration/resourcemanager/nodeagentauthorizer/nodeagentauthorizer_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove Botanist.DefaultDomainSecret and relavant code (#10852)
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/types.go
  pkg/gardenlet/operation/operation.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove `HVPA` from `etcd` component and only use `VPA` for autoscaling (#10800)
  docs/development/autoscaling-specifics-for-components.md
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_suite_test.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/etcd/etcd/waiter_test.go
  pkg/gardenlet/operation/botanist/etcd.go
  pkg/gardenlet/operation/botanist/etcd_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Group Prometheus Renovate updates in one PR (#10867)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore(deps): update prometheus to v3
  hack/tools.mk
  imagevector/containers.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

seed controller: Clean up hvpa component deployment and deletion
  docs/development/priority-classes.md
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
