Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250219-8541a5a-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Make `MapControllerInstallationToExtension` function reusable
  pkg/operator/controller/extension/required/virtual/add.go
  pkg/operator/controller/extension/required/virtual/add_test.go
  pkg/operator/mapper/extension.go
  pkg/operator/mapper/extension_test.go
  pkg/operator/mapper/mapper_suite_test.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce health checks for controller installations
  pkg/apis/operator/v1alpha1/helper/extension.go
  pkg/apis/operator/v1alpha1/helper/extension_test.go
  pkg/apis/operator/v1alpha1/types_extension.go
  pkg/operator/controller/extension/care/add.go
  pkg/operator/controller/extension/care/health.go
  pkg/operator/controller/extension/care/health_test.go
  pkg/operator/controller/extension/care/reconciler.go
  pkg/utils/kubernetes/health/checker/checker.go
  pkg/utils/kubernetes/health/checker/checker_test.go
  test/integration/operator/extension/care/care_suite_test.go
  test/integration/operator/extension/care/care_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.31.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

add two new plutono panes to Etcd compaction job dashboards with the reason for job failure
  pkg/component/observability/plutono/dashboards/shoot/owners/etcd-compaction-job-dashboard.json
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

edit etcd snapshot compaction job failure alert to include the new failureReason label
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules.go
  pkg/component/observability/monitoring/prometheus/aggregate/prometheusrules_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update golangci-lint package name
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Migrate golangci-lint config
  .golangci.yaml.in
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix typo
  pkg/controller/tokenrequestor/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ignore dot imports rule in staticcheck
  .golangci.yaml.in
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.31.0 (#11770)
  hack/tools.mk
  pkg/controller/tokenrequestor/reconciler_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

addressed review comments
  pkg/component/etcd/etcd/crd.go
  pkg/utils/kubernetes/crd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

removed unused variable
  pkg/utils/kubernetes/crd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency ironcore-dev/vgopath to v0.1.8
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update registry image to 3.0.0-rc.4
  example/gardener-local/registry/base/registry.yaml
  example/provider-extensions/registry-seed/deploy-registry.sh
  example/provider-extensions/registry-seed/registry/registry.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

docs: code review
  docs/usage/networking/shoot_networking.md
Due: none

fix: rename SeedPodNetworkV4 to SeedPodNetwork
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
  pkg/gardenlet/operation/botanist/vpnseedserver.go
  pkg/gardenlet/operation/botanist/vpnshoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt the registry configuration and disable the export of OTEL traces
  example/gardener-local/registry/base/registry.yaml
  example/gardener-local/registry/europe-docker-pkg-dev/kustomization.yaml
  example/gardener-local/registry/gcr/kustomization.yaml
  example/gardener-local/registry/k8s/kustomization.yaml
  example/gardener-local/registry/kustomization.yaml
  example/gardener-local/registry/quay/kustomization.yaml
  example/gardener-local/registry/registry-cache-config.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency ironcore-dev/vgopath to v0.1.8 (#11772)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

adapt tests and remove comments
  pkg/gardenlet/controller/shoot/care/health.go
  pkg/gardenlet/controller/shoot/care/health_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Document shoot purpose that allows shoot addons
  docs/usage/shoot/shoot_purposes.md
Due: none

chore(deps): bump vpn2 release to 0.37.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/vpn2 to v0.37.3
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Document shoot purpose that allows shoot addons (#11776)
  docs/usage/shoot/shoot_purposes.md
Due: none

Update dependency crate-ci/typos to v1.31.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add suggeted changes
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
  pkg/component/garden/system/virtual/virtual.go
  pkg/component/garden/system/virtual/virtual_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.31.1 (#11778)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Promote feature gate RemoveAPIServerProxyLegacyPort to beta (#11734)"
  docs/deployment/feature_gates.md
  example/gardener-local/gardenlet/values.yaml
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Revert "Promote feature gate RemoveAPIServerProxyLegacyPort to beta (#11734)" (#11768)
  docs/deployment/feature_gates.md
  example/gardener-local/gardenlet/values.yaml
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Display all linter issues
  .golangci.yaml.in
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1012` findings
  extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  extensions/pkg/controller/healthcheck/message_util.go
  extensions/pkg/controller/healthcheck/message_util_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1001` findings
  extensions/pkg/terraformer/terraformer.go
  pkg/apis/extensions/validation/network.go
  pkg/controllermanager/controller/controllerregistration/seed/reconciler.go
  pkg/gardenadm/resources.go
  pkg/resourcemanager/controller/node/criticalcomponents/helper/daemon_controller.go
  pkg/resourcemanager/controller/node/criticalcomponents/reconciler.go
  pkg/utils/timewindow/timewindow.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1002` findings
  extensions/pkg/terraformer/state.go
  pkg/controller/service/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address `QF1003` findings
  extensions/pkg/terraformer/terraformer.go
  pkg/apis/core/v1beta1/types_seed_test.go
  pkg/apis/core/validation/shoot.go
  pkg/component/autoscaling/vpa/general.go
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics.go
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics_test.go
  pkg/component/observability/monitoring/kubestatemetrics/resources.go
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/gardenlet/operation/botanist/etcd_test.go
  pkg/utils/secrets/certificate.go
  test/framework/k8s_utils.go
  test/integration/controllermanager/seed/reference/reference_test.go
  test/integration/controllermanager/shoot/reference/reference_test.go
  test/integration/operator/garden/reference/reference_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
