Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Fix the order of the `NamespacedCloudProfileValidator` admission plugin
  docs/concepts/apiserver-admission-plugins.md
Due: none

Fix the order of the `SeedMutator` admission plugin
  docs/concepts/apiserver-admission-plugins.md
Due: none

Fix the order of the `ShootDNSRewriting` admission plugin
  docs/concepts/apiserver-admission-plugins.md
Due: none

Fix the order of the `ShootExposureClass` admission plugin
  docs/concepts/apiserver-admission-plugins.md
Due: none

Fix the order of the `ShootManagedSeed` admission plugin
  docs/concepts/apiserver-admission-plugins.md
Due: none

Fix the order of the `ShootTolerationRestriction` admission plugin
  docs/concepts/apiserver-admission-plugins.md
Due: none

Address PR review feedback
  pkg/apis/core/validation/project_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/validation/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove deprecated `Requeue` from `ReconcileErr` function
  pkg/controllerutils/reconciler/reconcile.go
  pkg/controllerutils/reconciler/reconcile_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove deprecated `Requeue` from tokenrequestor reconciler
  pkg/controller/tokenrequestor/reconciler.go
  pkg/controller/tokenrequestor/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove deprecated `Requeue` from workloadidentity reconciler
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler.go
  pkg/gardenlet/controller/tokenrequestor/workloadidentity/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove deprecated `Requeue` from extension reconciler
  extensions/pkg/controller/extension/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove unecessary deprecated `Requeue` from `ControllerInfos` test
  pkg/gardenlet/controller/shoot/shoot/helper/infos_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Replace deprecated `Requeue` from the garden reconciler
  pkg/operator/controller/garden/garden/reconciler.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove deprecated `Requeue` from garbagecollector reconciler
  pkg/resourcemanager/controller/garbagecollector/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update module github.com/open-telemetry/opentelemetry-operator to v0.136.0
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/autoscaling): make `autoscaling` components VPAs use update mode `Recreate`
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/autoscaling/vpa/admissioncontroller.go
  pkg/component/autoscaling/vpa/recommender.go
  pkg/component/autoscaling/vpa/updater.go
  pkg/component/autoscaling/vpa/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/etcd): make `etcd` components VPAs use update mode `Recreate`
  pkg/component/etcd/etcd/bootstrap.go
  pkg/component/etcd/etcd/bootstrap_test.go
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/gardener): make `gardener` components VPAs use update mode `Recreate`
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/vpa.go
  pkg/component/gardener/apiserver/apiserver_test.go
  pkg/component/gardener/apiserver/vpa.go
  pkg/component/gardener/controllermanager/controller_manager_test.go
  pkg/component/gardener/controllermanager/vpa.go
  pkg/component/gardener/dashboard/dashboard_test.go
  pkg/component/gardener/dashboard/terminal/terminal_test.go
  pkg/component/gardener/dashboard/terminal/vpa.go
  pkg/component/gardener/dashboard/vpa.go
  pkg/component/gardener/discoveryserver/discoveryserver_test.go
  pkg/component/gardener/discoveryserver/vpa.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/gardener/scheduler/scheduler_test.go
  pkg/component/gardener/scheduler/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/kubernetes): make `kubernetes` components VPAs use update mode `Recreate`
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/verticalpodautoscaler.go
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/component/kubernetes/dashboard/dashboard.go
  pkg/component/kubernetes/dashboard/dashboard_test.go
  pkg/component/kubernetes/proxy/proxy_test.go
  pkg/component/kubernetes/proxy/resources.go
  pkg/component/kubernetes/scheduler/scheduler.go
  pkg/component/kubernetes/scheduler/scheduler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

logging: revert logging plugin to v0.65.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Address PR review feedback (2)
  pkg/apis/core/validation/project_test.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Do not consider bindings in deletion as keepers of a credential
  pkg/controllermanager/controller/credentialsbinding/reconciler.go
  pkg/controllermanager/controller/credentialsbinding/reconciler_test.go
  pkg/controllermanager/controller/secretbinding/reconciler.go
  pkg/controllermanager/controller/secretbinding/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Address feedback: Adjust `core` group
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Address feedback: Adjust `control-plane-migration` group
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Address feedback: Split autoscaling group
  OWNERS
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Address feedback: Add `machine-controller-manager` group
  OWNERS
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Introduce `RequeueReconciler` if and `RateLimitedRequeReconcilerAdapter`
  pkg/controllerutils/reconciler/mock/doc.go
  pkg/controllerutils/reconciler/mock/mocks.go
  pkg/controllerutils/reconciler/requeue.go
  pkg/controllerutils/reconciler/requeue_test.go
  third_party/mock/client-go/util/workqueue/doc.go
  third_party/mock/client-go/util/workqueue/mocks_rate_limiters.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Use `RequeueReconciler` in the project reconciler
  pkg/controllermanager/controller/project/project/add.go
  pkg/controllermanager/controller/project/project/reconciler.go
  test/integration/controllermanager/project/project/project_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Use `RequeueReconciler` in the managedresource reconciler
  pkg/resourcemanager/controller/managedresource/add.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Extract a constant for the default `RequeueAfter` time of 5ms
  pkg/controllerutils/miscellaneous.go
  pkg/operator/controller/garden/garden/reconciler.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update skaffold dependencies
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Cleanup seed label runnable in `gardener-controller-manager` (#13040)
  cmd/gardener-controller-manager/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove GA-ed `CredentialsRotationWithoutWorkersRollout` feature gate (#13041)
  docs/deployment/feature_gates.md
  pkg/apiserver/features/features.go
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/networking): make `networking` components VPAs use update mode `Recreate`
  pkg/component/networking/coredns/coredns.go
  pkg/component/networking/coredns/coredns_test.go
  pkg/component/networking/istio/charts/istio/istio-istiod/templates/autoscale.yaml
  pkg/component/networking/istio/test_charts/istiod_autoscale.yaml
  pkg/component/networking/nginxingress/nginxingress.go
  pkg/component/networking/nginxingress/nginxingress_test.go
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
  pkg/component/networking/vpn/seedserver/seedserver.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/component/networking/vpn/shoot/shoot.go
  pkg/component/networking/vpn/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/observability): make `logging` components VPAs use update mode `Recreate`
  pkg/component/observability/logging/eventlogger/event_logger.go
  pkg/component/observability/logging/eventlogger/event_logger_test.go
  pkg/component/observability/logging/fluentoperator/fluentoperator.go
  pkg/component/observability/logging/fluentoperator/fluentoperator_test.go
  pkg/component/observability/logging/vali/vali.go
  pkg/component/observability/logging/vali/vali_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/nodemanagement): make `nodemanagement` components VPAs use update mode `Recreate`
  pkg/component/nodemanagement/dependencywatchdog/bootstrap.go
  pkg/component/nodemanagement/dependencywatchdog/bootstrap_test.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager.go
  pkg/component/nodemanagement/machinecontrollermanager/machine_controller_manager_test.go
  pkg/component/nodemanagement/nodeproblemdetector/node_problem_detector.go
  pkg/component/nodemanagement/nodeproblemdetector/node_problem_detector_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(charts/gardener): make `controlplane` components VPAs use update mode `Recreate`
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/vpa.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(charts/gardener): make `admission` and `provider` local components VPAs use `Recreate`
  charts/gardener/admission-local/charts/runtime/values.yaml
  charts/gardener/provider-local/values.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(component/observability): make `monitoring` components use update mode `Recreate`
  pkg/component/observability/monitoring/alertmanager/alertmanager_test.go
  pkg/component/observability/monitoring/alertmanager/vpa.go
  pkg/component/observability/monitoring/blackboxexporter/blackboxexporter.go
  pkg/component/observability/monitoring/blackboxexporter/blackboxexporter_test.go
  pkg/component/observability/monitoring/kubestatemetrics/kubestatemetrics_test.go
  pkg/component/observability/monitoring/kubestatemetrics/resources.go
  pkg/component/observability/monitoring/metricsserver/metricsserver.go
  pkg/component/observability/monitoring/metricsserver/metricsserver_test.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter.go
  pkg/component/observability/monitoring/nodeexporter/nodeexporter_test.go
  pkg/component/observability/monitoring/persesoperator/perses_operator_test.go
  pkg/component/observability/monitoring/persesoperator/vpa.go
  pkg/component/observability/monitoring/prometheus/prometheus_test.go
  pkg/component/observability/monitoring/prometheus/vpa.go
  pkg/component/observability/monitoring/prometheusoperator/prometheus_operator_test.go
  pkg/component/observability/monitoring/prometheusoperator/vpa.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(pkg/utils): make `gardener` utilities VPAs use update mode `Recreate`
  pkg/utils/gardener/vpa.go
  pkg/utils/gardener/vpa_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration
