Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Update helm to v3.18.5
  go.mod
  go.sum
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Set labels to everything if selector is empty
  test/framework/k8s_utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add failing test
  test/framework/framework_suite_test.go
  test/framework/k8s_utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update golang.org/x/exp digest to 42675ad (#12731)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.29.1
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update golang Docker tag to v1.25.0
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/ShootMachineImageUpdateTest.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency google/addlicense to v1.2.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.4.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update kubernetes packages to v0.33.4
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix nil panic in Container Runtime TM tests (#12734)
  test/framework/framework_suite_test.go
  test/framework/k8s_utils.go
  test/framework/k8s_utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update logcheck go.mod
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update Setup Guide to include Cert Management for Garden (#12706)
  docs/deployment/setup_gardener.md
Due: none

Introduce `Seed` annotation to temporarily disable `Shoot` reconciliations (#12712)
  docs/operations/seed_settings.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/seed.go
  pkg/apis/core/v1beta1/types_seed.go
  pkg/gardenlet/controller/seed/care/health.go
  pkg/gardenlet/controller/seed/care/health_test.go
  pkg/gardenlet/controller/seed/care/reconciler_test.go
  pkg/gardenlet/controller/shoot/shoot/add.go
  pkg/gardenlet/controller/shoot/shoot/add_test.go
  pkg/gardenlet/controller/shoot/shoot/helper/infos.go
  pkg/gardenlet/controller/shoot/shoot/helper/infos_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/scheduler/controller/shoot/reconciler.go
  test/integration/scheduler/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ignore .toml files
  hack/add-license-header.sh
  hack/check-license-header.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[kind-local] Add DNS entry for discovery.ingress.runtime-garden.local.gardener.cloud
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.35.4 (#12723)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update quay.io/kiwigrid/k8s-sidecar Docker tag to v1.30.8 (#12727)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update helm to v3.18.5 (#12733)
  go.mod
  go.sum
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.29.1 (#12735)
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency kubernetes/kubernetes to v1.33.4 (#12732)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2.4.0 (#12738)
  hack/tools.mk
  hack/tools/logcheck/go.mod
  hack/tools/logcheck/go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update kubernetes packages to v0.33.4 (#12739)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency securego/gosec to v2.22.8
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/helper/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make generate
  charts/gardener/operator/templates/crd-gardens.yaml
  docs/api-reference/core.md
  example/operator/10-crd-operator.gardener.cloud_gardens.yaml
  pkg/apis/core/v1beta1/generated.proto
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Remove optimistic defaulting
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt tests
  extensions/pkg/controller/worker/machines_test.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler_test.go
  pkg/component/extensions/worker/worker_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make `Priority` field in `MachineDeployment` non optional
  extensions/pkg/controller/worker/machines.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/component/autoscaling/clusterautoscaler/cluster_autoscaler.go
  pkg/component/extensions/worker/worker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[make generate]
  docs/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from ialidzhikov
  hack/compare-k8s-feature-gates.sh
  pkg/utils/validation/features/featuregates.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Release v1.123.4
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Notes added by 'git notes add'
  7d/82e55e9bd3e2a064cc026a7e56434c4a2a8433
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare next Development Cycle v1.123.5-dev
  VERSION
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Clean up the obsolete `.ci/get_latest_release_component_descriptor` script (#12704)
  .ci/get_latest_release_component_descriptor
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Enhance collected shoot apiserver metrics (#12716)
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/servicemonitor.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deflake `node-agent` unit test (#12729)
  pkg/nodeagent/controller/operatingsystemconfig/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency google/addlicense to v1.2.0 (#12737)
  hack/add-license-header.sh
  hack/check-license-header.sh
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: pass cloudprofile default architecture when using capabilities on shoot admission and image selection
  extensions/pkg/bastion/machine.go
  pkg/apis/core/v1beta1/helper/cloudprofile.go
  pkg/apis/core/v1beta1/helper/cloudprofile_test.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/controllermanager/controller/shoot/maintenance/helper/helper.go
  plugin/pkg/shoot/validator/admission.go
  test/framework/worker_utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address review feedback
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/component/networking/nodelocaldns/mock/mocks.go
  pkg/component/networking/nodelocaldns/nodelocaldns.go
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/gardenlet/operation/botanist/nodelocaldns.go
  pkg/gardenlet/operation/botanist/nodelocaldns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

chore: Use Renovate preset for grouping Go updates
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
