Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250219-8541a5a-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

Adapt Shoot status API
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use PathKubeletDirectory constant
  pkg/component/extensions/operatingsystemconfig/original/components/varlibkubeletmount/component.go
  pkg/nodeagent/bootstrap/bootstrap.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt Worker API
  pkg/apis/extensions/v1alpha1/types_worker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt worker controller to add worker pool hash for inplace update
  extensions/pkg/controller/worker/machines.go
  pkg/component/extensions/worker/mock/mocks.go
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
  pkg/gardenlet/operation/botanist/worker.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Deny updating the worker pool or credential rotation if there is an ongoing in-place update
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Handle health check in worker for manual in-place update
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/helper/helper.go
  pkg/utils/gardener/machines.go
  pkg/utils/kubernetes/health/machinedeployment.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt worker controller to set worker status with in-place update hash
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/controller/worker/controller_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/mapper.go
  extensions/pkg/controller/worker/mapper_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/provider-local/controller/worker/add.go
  pkg/utils/miscellaneous_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt shoot reconciler to update Shoot status with pending workers based on worker pool hash
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/botanist_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Handle hibernation case and updating credentials rotation phase
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add a new controller in gardenlet to update Shoot status manual in-place pending workers
  charts/gardener/gardenlet/templates/helpers.tpl
  charts/gardener/gardenlet/test/chart_test.go
  charts/gardener/gardenlet/test/test.go
  charts/gardener/gardenlet/values.yaml
  docs/concepts/gardenlet.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/status/add.go
  pkg/gardenlet/controller/shoot/status/add_test.go
  pkg/gardenlet/controller/shoot/status/reconciler.go
  pkg/gardenlet/controller/shoot/status/status_suite_test.go
  test/integration/gardenlet/shoot/status/status_suite_test.go
  test/integration/gardenlet/shoot/status/status_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update skaffold dependencies
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Add optional constraint to Shoot to mark that there are pending manual-inplace updates
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/gardenlet/controller/shoot/care/constraints.go
  pkg/gardenlet/controller/shoot/care/constraints_test.go
  pkg/gardenlet/controller/shoot/care/health.go
  pkg/gardenlet/controller/shoot/care/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[Drop] Use MCM fork
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Apply suggestions from code review
  extensions/pkg/controller/worker/controller_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile_test.go
  extensions/pkg/controller/worker/mapper_test.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_test.go
  pkg/gardenlet/controller/shoot/status/add.go
  pkg/gardenlet/controller/shoot/status/add_test.go
  pkg/gardenlet/controller/shoot/status/reconciler.go
  pkg/gardenlet/controller/shoot/status/status_suite_test.go
  test/integration/gardenlet/shoot/status/status_suite_test.go
  test/integration/gardenlet/shoot/status/status_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  pkg/gardenlet/controller/shoot/status/reconciler.go
  pkg/utils/gardener/machines_test.go
  pkg/utils/kubernetes/health/machinedeployment.go
  pkg/utils/kubernetes/health/machinedeployment_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/concepts/gardenlet.md
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/controller/worker/controller_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/machines.go
  pkg/utils/gardener/machines.go
  pkg/utils/gardener/machines_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

more cleanup
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/istio_config.go
  pkg/gardenlet/operation/istio_config_test.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

promote feature gate RemoveAPIServerProxyLegacyPort to beta
  docs/deployment/feature_gates.md
  pkg/features/features.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

remove istio loadbalancer annotations from kapi service (#11728)
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/istio_config.go
  pkg/gardenlet/operation/istio_config_test.go
  pkg/operator/controller/garden/garden/components.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.0.3+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.0.3+incompatible (#11735)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.11.5
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.12.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Fix issue with NamespacedCloudProfile deletion after parent CloudProfile removed Capabilities support again
  plugin/pkg/namespacedcloudprofile/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Validate all capability keys and values for their global definition
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/utils.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module istio.io/api to v1.24.4
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix defaulting of NamespacedCloudProfile machine type architectures.
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update authorisation graph for shoot after recreating secret- or credentialbinding (#11461)
  pkg/admissioncontroller/webhook/auth/seed/graph/eventhandler_shoot.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhook/auth/seed/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.0.4+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28.0.4+incompatible (#11742)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency golangci/golangci-lint to v2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency projectcalico/calico to v3.29.3
  example/gardener-local/calico/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update dependency projectcalico/calico to v3.29.3 (#11743)
  example/gardener-local/calico/base/kustomization.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

dropped explicit mention of promoted feature gate
  example/gardener-local/gardenlet/values.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Adopt OWNER_ALIASES for SKE (#74)
  OWNERS_ALIASES
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use brew to install hub in process.md
  docs/development/process.md
Due: none

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.12.1 (#11740)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
