Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260227-085711a-1.26
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-e2e-kind-gardenadm:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251112-67af14d-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-e2e-kind-ipv6:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251008-429250b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
      - make import-tools-bin ci-e2e-kind
  ...

pull-gardener-e2e-kind-migration:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20251009-79a424b-1.25
      command:
      - wrapper.sh
      - bash
      - -c
  ...

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

fix: Ignore hibernated clusters when checking UsesUnifiedHTTPProxyPort
  cmd/gardenlet/app/migration.go
  cmd/gardenlet/app/migration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

fix: check Hibernation by desired state in spec and by Status
  cmd/gardenlet/app/migration.go
  pkg/api/core/v1beta1/helper/shoot.go
  pkg/api/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

chore: add not-commited files
  pkg/gardenlet/operation/botanist/logging.go
  pkg/gardenlet/operation/botanist/logging_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency credativ/vali to v2.2.37 (#15713)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/andybalholm/brotli to v1.2.4 (#15715)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.151] [GEP-30] Ignore hibernated clusters when checking `UsesUnifiedHTTPProxyPort` (#15718)
  cmd/gardenlet/app/migration.go
  cmd/gardenlet/app/migration_test.go
  pkg/api/core/v1beta1/helper/shoot.go
  pkg/api/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  third_party/component-helpers/scheduling/corev1/nodeaffinity/nodeaffinity.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.150] [GEP-30] Ignore hibernated clusters when checking `UsesUnifiedHTTPProxyPort` (#15719)
  cmd/gardenlet/app/migration.go
  cmd/gardenlet/app/migration_test.go
  pkg/api/core/v1beta1/helper/shoot.go
  pkg/api/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`gardenadm restore`: Only report success after actually approving a pending GNA CSR
  pkg/gardenadm/botanist/nodeagent.go
  pkg/gardenadm/botanist/nodeagent_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix Plutono sidecar port conflict
  pkg/component/observability/plutono/plutono.go
  pkg/component/observability/plutono/plutono_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

[release-v1.149] [GEP-30] Ignore hibernated clusters when checking `UsesUnifiedHTTPProxyPort` (#15720)
  cmd/gardenlet/app/migration.go
  cmd/gardenlet/app/migration_test.go
  pkg/api/core/v1beta1/helper/shoot.go
  pkg/api/core/v1beta1/helper/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/component/etcd/peerexposure/peerexposure.go
  pkg/component/networking/istio/istio_test.go
  pkg/component/networking/istio/test_charts/ingress_service_etcd_ports.yaml
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/etcd_livemigration.go
  pkg/gardenlet/operation/botanist/export_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update licenses
  pkg/component/etcd/peerexposure/peerexposure.go
  pkg/component/etcd/peerexposure/peerexposure_test.go
  pkg/gardenlet/operation/botanist/etcd_livemigration.go
  pkg/gardenlet/operation/botanist/etcd_livemigration_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

simplify misdirected request detection logic
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/misdirected-requests-envoy-filter.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

update conditional formatting and port suffix parsing
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/misdirected-requests-envoy-filter.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

handle certificate SANs
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/misdirected-requests-envoy-filter.yaml
  pkg/component/networking/istio/test_charts/ingress_misdirected_requests_envoyfilter.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

only strip 443 port in authority header
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/misdirected-requests-envoy-filter.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

remove safeguards since envoy already handles this when accepting the HTTP/2 connection
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/misdirected-requests-envoy-filter.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

rename annotation to networkpolicy-pod-selector
  docs/concepts/resource-manager.md
  pkg/apis/resources/v1alpha1/types.go
  pkg/component/networking/vpn/seedserver/seedserver_test.go
  pkg/resourcemanager/controller/networkpolicy/add_test.go
  pkg/utils/gardener/networkpolicy_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/component/etcd/peerexposure/peerexposure.go
  pkg/component/etcd/peerexposure/peerexposure_test.go
  pkg/component/shared/istio.go
  pkg/component/shared/istio_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Perform secret rotation step before OS update
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Export last-computed-osc-changes.yaml to use it in extension
  pkg/apis/config/nodeagent/v1alpha1/types.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/apis/config/nodeagent/v1alpha1/types.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Restore local registry after wipe bases in-place update in remote setup
  dev-setup/remote/registry/deploy-registry.sh
  dev-setup/remote/registry/kyverno-policies/add-registry-to-osc.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Support for Kubernetes v1.37 (#15678)
  README.md
  dev-setup/gardenconfig/components/cloudprofile/cloudprofile.yaml
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  dev-setup/skaffold-seed.yaml
  hack/compute-k8s-controllers.sh
  pkg/component/kubernetes/controllermanager/controllermanager.go
  pkg/component/kubernetes/controllermanager/controllermanager_test.go
  pkg/resourcemanager/controller/node/criticalcomponents/helper/daemon_controller.go
  pkg/utils/kubernetes/controllers.go
  pkg/utils/validation/admissionplugins/admissionplugins.go
  pkg/utils/validation/apigroups/apigroups.go
  pkg/utils/validation/features/featuregates.go
  pkg/utils/validation/kubernetesversion/version.go
  pkg/utils/validation/kubernetesversion/version_test.go
  third_party/component-helpers/scheduling/corev1/nodeaffinity/nodeaffinity.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `Seed` and `Garden` Perses instances (#15563)
  dev-setup/skaffold-gardenadm.yaml
  dev-setup/skaffold-operator.yaml
  dev-setup/skaffold-seed.yaml
  go.mod
  pkg/component/observability/monitoring/perses/allowedendpoints_internal_test.go
  pkg/component/observability/monitoring/perses/component.go
  pkg/component/observability/monitoring/perses/dashboards.go
  pkg/component/observability/monitoring/perses/datasources.go
  pkg/component/observability/monitoring/perses/istio_resources.go
  pkg/component/observability/monitoring/perses/perses.go
  pkg/component/observability/monitoring/perses/perses_suite_test.go
  pkg/component/observability/monitoring/perses/perses_test.go
  pkg/component/observability/monitoring/perses/servicemonitor.go
  pkg/component/observability/monitoring/perses/vpa.go
  pkg/component/observability/monitoring/persesoperator/deployment.go
  pkg/component/observability/monitoring/persesoperator/perses_operator_test.go
  pkg/component/shared/perses.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/controller/seed/seed/reconciler_delete.go
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/operator/controller/garden/garden/components.go
  pkg/operator/controller/garden/garden/reconciler_delete.go
  pkg/operator/controller/garden/garden/reconciler_reconcile.go
  test/e2e/operator/garden/garden.go
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Perform credentials rotation before the OS update during in-place update (#15704)
  dev-setup/remote/registry/deploy-registry.sh
  dev-setup/remote/registry/kyverno-policies/add-registry-to-osc.yaml
  pkg/apis/config/nodeagent/v1alpha1/types.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Reconcile healthy shoots in failed state during maintenance window (#15706)
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`gardenadm restore`: Only report success after actually approving a pending GNA CSR (#15722)
  pkg/gardenadm/botanist/nodeagent.go
  pkg/gardenadm/botanist/nodeagent_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.50.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Introduce `WorkerPoolToHashMap` in InPlaceUpdateStatus
  docs/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address review
  pkg/gardenlet/controller/shoot/add.go
  pkg/gardenlet/controller/shoot/shoot/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/botanist_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address Review
  pkg/api/core/validation/shoot.go
  pkg/api/core/validation/shoot_test.go
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Don't add status controller for unmanaged infra scenario
  pkg/gardenlet/controller/shoot/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Put worker pools that need update in pending worker pool
  pkg/gardenlet/operation/botanist/botanist.go
  pkg/gardenlet/operation/botanist/botanist_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix failing test
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
  test/integration/controllermanager/controllerregistration/controllerinstallation/seed/seed_suite_test.go
  test/integration/controllermanager/controllerregistration/controllerinstallation/seed/seed_test.go
  test/integration/controllermanager/shoot/maintenance/maintenance_suite_test.go
  test/integration/controllermanager/shoot/maintenance/maintenance_test.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_suite_test.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
  test/integration/gardenlet/shoot/care/care_suite_test.go
  test/integration/gardenlet/shoot/care/care_test.go
  test/integration/gardenlet/shoot/selfhostedshootexposure/selfhostedshootexposure_suite_test.go
  test/integration/gardenlet/shoot/selfhostedshootexposure/selfhostedshootexposure_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
