Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-ipv6: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-e2e-kind-migration: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION|OWNERS|OWNERS_ALIASES)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Add support for WorkloadIdentities to the reference reconciler
  pkg/controller/reference/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Configure reference reconciler in shoot, seed and garden controllers
  pkg/controllermanager/controller/seed/reference/add.go
  pkg/controllermanager/controller/shoot/reference/add.go
  pkg/operator/controller/garden/reference/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add util function to deploy referened WorkloadIdentity
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/utils/gardener/resources.go
  pkg/utils/gardener/resources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Let seed controller and shoot botanist reconcile and destroy referenced workload identities
  pkg/gardenlet/controller/seed/seed/reconciler_reconcile.go
  pkg/gardenlet/operation/botanist/resources.go
  pkg/gardenlet/operation/botanist/resources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Extend shoot/seed reference controller integration tests to cover WorkloadIdentity
  test/integration/controllermanager/seed/reference/reference_test.go
  test/integration/controllermanager/shoot/reference/reference_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add support for WorkloadIdentity references in github.com/gardener/gardener/extensions/pkg/controller.GetObjectByReference
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make WorkloadIdentity optional in reference reconciler
  pkg/controller/reference/reconciler.go
  pkg/operator/controller/garden/reference/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update skaffold deps
  skaffold-gardenadm.yaml
  skaffold-operator.yaml
  skaffold-seed.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix linters' findings
  pkg/gardenlet/operation/botanist/resources_test.go
  pkg/utils/graph/eventhandler_seed.go
  pkg/utils/graph/eventhandler_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update documentation
  docs/concepts/controller-manager.md
  docs/extensions/referenced-resources.md
  docs/extensions/validation-guidelines-for-extensions.md
Due: none

Address review feedback
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/operation/botanist/resources_test.go
  pkg/utils/gardener/resources.go
  pkg/utils/gardener/resources_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Disallow Gardens to refer WorkloadIdentity
  pkg/apis/core/validation/utils_test.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/common to v0.67.4 (#13517)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency mikefarah/yq to v4.49.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

labels for nginx dnsrecord
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/operation/botanist/nginxingress.go
  pkg/gardenlet/operation/botanist/nginxingress_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

address feedback
  docs/deployment/feature_gates.md
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
  pkg/component/networking/nodelocaldns/resources.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

address feedback
  pkg/component/networking/nodelocaldns/nodelocaldns_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update /etc/hosts with IPv6 entries
  docs/deployment/content/remote-local-setup.yaml
Due: none

Update /etc/hosts with entries for ci-e2e-kind-operator tests
  docs/deployment/content/remote-local-setup.yaml
Due: none

Update /etc/hosts with new end-to-end test shoots
  docs/deployment/content/remote-local-setup.yaml
Due: none

Deploy shoot-ipv6.yaml when IPv6 is used
  docs/deployment/content/remote-local-setup.yaml
Due: none

Add command to run IPv6 on "prepare-operator-complete.sh" setup
  docs/deployment/content/remote-local-setup.yaml
Due: none

Fix managed seed window panes
  docs/deployment/content/remote-local-setup.yaml
Due: none

Use new "credentialsBindingName"
  example/provider-local/managedseeds/shoot-managedseed.yaml
  example/provider-local/shoot-ipv6.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Support IPv6 for managed seed
  docs/deployment/content/remote-local-setup.yaml
  example/provider-local/managedseeds/managedseed-ipv6.yaml
  example/provider-local/managedseeds/shoot-managedseed-ipv6.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix gardener access component to not deploy shoot resource into garden cluster (#13492)
  pkg/component/gardener/access/access.go
  pkg/component/gardener/access/access_test.go
  pkg/gardenlet/operation/botanist/gardeneraccess.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Make the `.spec.provider.workers[].machine.image` field required for the Shoot resource (part 8) (#13399)
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  test/integration/controllermanager/bastion/bastion_test.go
  test/integration/controllermanager/credentialsbinding/credentialsbinding_test.go
  test/integration/controllermanager/exposureclass/exposureclass_test.go
  test/integration/controllermanager/gardenletlifecycle/lifecycle_test.go
  test/integration/controllermanager/managedseedset/managedseedset_test.go
  test/integration/controllermanager/project/activity/activity_test.go
  test/integration/controllermanager/project/project/project_test.go
  test/integration/controllermanager/project/stale/stale_test.go
  test/integration/controllermanager/secretbinding/secretbinding_test.go
  test/integration/controllermanager/shoot/conditions/conditions_test.go
  test/integration/controllermanager/shoot/hibernation/hibernation_test.go
  test/integration/controllermanager/shoot/migration/migration_test.go
  test/integration/controllermanager/shoot/quota/quota_test.go
  test/integration/controllermanager/shoot/reference/reference_test.go
  test/integration/controllermanager/shoot/retry/retry_test.go
  test/integration/controllermanager/shoot/statuslabel/statuslabel_test.go
  test/integration/controllermanager/shootstate/shootstate_test.go
  test/integration/gardenlet/backupentry/backupentry_test.go
  test/integration/gardenlet/bastion/bastion_test.go
  test/integration/gardenlet/managedseed/managedseed_test.go
  test/integration/gardenlet/shoot/care/care_test.go
  test/integration/gardenlet/shoot/lease/lease_suite_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Update dependency incu6us/goimports-reviser to v3.11.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Fix typo
  .github/workflows/release.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Address PR review feedback from ialidzhikov (2)
  docs/deployment/feature_gates.md
Due: none

Address review comments
  pkg/utils/gardener/controllerregistration.go
  pkg/utils/gardener/seed.go
  pkg/utils/gardener/seed_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  plugin/pkg/global/extensionlabels/admission.go
  plugin/pkg/global/extensionlabels/admission_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Refactor: reduce duplication
  pkg/utils/gardener/seed.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

`gardenadm connect` creates `Backup{Bucket,Entry}` in garden
  pkg/admissioncontroller/webhook/admission/shootrestriction/gardenadm.go
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler_test.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/admissioncontroller/webhook/auth/shoot/gardenadm.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
  pkg/gardenadm/cmd/connect/connect.go
  test/e2e/gardenadm/unmanagedinfra/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prepare shoot authorizer/restriction for `BackupBucket` controller enablement
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler_test.go
  pkg/admissioncontroller/webhook/auth/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/api/indexer/gardener_core.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
  pkg/utils/graph/eventhandler_backupbucket.go
  pkg/utils/graph/graph.go
  pkg/utils/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Enable `BackupBucket` controller in `gardenlet`
  cmd/gardenlet/app/app.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation.go
  pkg/gardenlet/bootstrappers/garden_kubeconfig.go
  pkg/gardenlet/controller/add.go
  pkg/gardenlet/controller/backupbucket/add.go
  pkg/gardenlet/controller/backupbucket/add_test.go
  pkg/utils/gardener/gardenlet/gardenlet.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Handle `Secret`/`ConfigMap` creation via `gardenadm` in shoot restriction handler
  pkg/admissioncontroller/webhook/admission/shootrestriction/gardenadm.go
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler.go
  pkg/admissioncontroller/webhook/admission/shootrestriction/handler_test.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/webhooks.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Add `.status.uid` field selector for `Shoot`s
  cmd/gardener-admission-controller/app/app.go
  pkg/api/indexer/gardener_core.go
  pkg/api/indexer/gardener_core_test.go
  pkg/apis/core/field_constants.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Expose `.metadata.uid` and `.status.uid` in `shoot-info` `ConfigMap`
  pkg/component/shoot/system/system.go
  pkg/component/shoot/system/system_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration

Prepare shoot authorizer/restriction for `BackupEntry` controller enablement
  pkg/admissioncontroller/webhook/auth/shoot/authorizer.go
  pkg/admissioncontroller/webhook/auth/shoot/authorizer_test.go
  pkg/utils/graph/eventhandler_backupentry.go
  pkg/utils/graph/graph.go
  pkg/utils/graph/graph_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-e2e-kind-ipv6, pull-gardener-e2e-kind-migration, pull-gardener-unit, pull-gardener-integration
