Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-e2e-kind-gardenadm: unless all of: ^(\.ci|\.github|\.ocm|\.test-defs|docs|logo)/|\.md$|^(README|LICENSE|VERSION)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Adapt charts to new `trafficDistribution` value
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/service.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/service.yaml
  pkg/component/networking/istio/charts/istio/istio-ingress/templates/service-internal.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Adapt tests to new `trafficDistribution` value
  pkg/apis/operator/v1alpha1/validation/garden_test.go
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/apiserver/apiserver_test.go
  pkg/component/gardener/dashboard/terminal/terminal_test.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/utils/gardener/topology_aware_routing_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore: Change example Shoot to refer CredentialsBinding
  example/provider-local/shoot.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update TopologyAwareRouting documentation
  docs/operations/topology_aware_routing.md
Due: none

Use `PreferClose` for ETCD's clientService trafficDistribution
  pkg/component/etcd/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore: Bump kindest/node version to 1.34.0
  example/gardener-local/kind/cluster/values.yaml
  pkg/provider-local/node/Dockerfile
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Set `trafficDistribution` to `PreferSameZone` for kubernetes versions `>= 1.34`
  pkg/utils/gardener/topology_aware_routing.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(docs/autoscaling): update example `vpa` explanation with update mode `Recreate`
  docs/usage/autoscaling/shoot_pod_autoscaling_best_practices.md
Due: none

Enable `MutatingAdmissionPolicy` feature for kind `kube-apiserver`
  example/gardener-local/kind/cluster/templates/_kubeadm_config_patches.tpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Restrict `node` webhook for shoots only
  cmd/gardener-extension-provider-local/app/options.go
  pkg/provider-local/webhook/node/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Add `MutatingAdmissionPolicy` for node status capacity
  dev-setup/kind/node-status-capacity/kustomization.yaml
  dev-setup/kind/node-status-capacity/mutatingadmissionpolicy.yaml
  hack/kind-up.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Remove webhook trigger (no longer needed now)
  cmd/gardener-extension-provider-local/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v0.8.22 (#13098)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Docs
  docs/concepts/operator.md
Due: none

Registration
  pkg/operator/webhook/add.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Webhook
  pkg/operator/webhook/validation/add.go
  pkg/operator/webhook/validation/namespace/add.go
  pkg/operator/webhook/validation/namespace/handler.go
  pkg/operator/webhook/validation/namespace/handler_test.go
  pkg/operator/webhook/validation/namespace/namespace_suite_test.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Fix wildcardConfiguration for exposure classes. (#13055)
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/gardenlet/operation/istio_config.go
  pkg/gardenlet/operation/istio_config_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update k8s.io/utils digest to bc988d5 (#13082)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v0.8.22 (#13099)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/node-problem-detector/node-problem-detector Docker tag to v0.8.22 (#13097)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.37.3
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.38.0
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency open-telemetry/opentelemetry-collector to v0.137.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Add review suggestions
  docs/usage/shoot-operations/shoot_operations.md
  docs/usage/shoot/shoot_maintenance.md
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/operator/v1alpha1/helper/garden.go
  pkg/apis/operator/v1alpha1/validation/garden.go
  pkg/apis/operator/v1alpha1/validation/garden_test.go
  pkg/apiserver/registry/core/shoot/strategy.go
  pkg/apiserver/registry/core/shoot/strategy_test.go
  pkg/controllermanager/controller/shoot/maintenance/reconciler.go
  pkg/gardenlet/controller/shoot/shoot/reconciler.go
  pkg/operator/controller/garden/garden/add.go
  pkg/operator/controller/garden/garden/add_test.go
  pkg/operator/controller/garden/garden/reconciler.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Include networkpolicy permissions for operator
  pkg/component/observability/opentelemetry/operator/operator.go
  pkg/component/observability/opentelemetry/operator/operator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

chore(nodeinit): log garden-node-agent-init to console (#12822)
  pkg/component/extensions/operatingsystemconfig/nodeinit/gardenadm_test.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/nodeinit.go
  pkg/component/extensions/operatingsystemconfig/nodeinit/nodeinit_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.38.0 (#13103)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update module github.com/prometheus/common to v0.67.0
  go.mod
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

feat: configurable advertised addresses for shoot ingress endpoints (#13043)
  docs/README.md
  docs/development/shoot-advertised-addresses.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/operation/botanist/advertisedaddresses.go
  pkg/gardenlet/operation/botanist/advertisedaddresses_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

`gardener-operator`: Prevent deletion of `garden` namespace in runtime cluster while `Garden` resource still exists (#13101)
  docs/concepts/operator.md
  pkg/operator/webhook/add.go
  pkg/operator/webhook/validation/add.go
  pkg/operator/webhook/validation/namespace/add.go
  pkg/operator/webhook/validation/namespace/handler.go
  pkg/operator/webhook/validation/namespace/handler_test.go
  pkg/operator/webhook/validation/namespace/namespace_suite_test.go
  skaffold-operator.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.38.1
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update opentelemetry operator image to v0.136.0 (#13106)
  imagevector/containers.yaml
  pkg/component/observability/opentelemetry/operator/operator.go
  pkg/component/observability/opentelemetry/operator/operator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update go
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/ShootMachineImageUpdateTest.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  hack/tools/image/variants.yaml
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update nginx Docker tag to v1.29.2
  example/resource-manager/20-managedresource.yaml
  example/resource-manager/40-haconfig-deployment.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

vali: increase default ingestion buffers
  pkg/component/observability/logging/vali/templates/vali-config.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

fluent-bit: optimize valitail output default configuration, increasing throughput
  pkg/component/observability/logging/fluentcustomresources/cluster_outputs.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Update dependency gardener/logging to v0.67.0
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration

Wait for CRD to be ready in the resource manager Wait
  pkg/component/gardener/resourcemanager/resource_manager.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-e2e-kind-gardenadm, pull-gardener-unit, pull-gardener-integration
