Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$

Trigger osc reconciler when the node condition changes
  docs/concepts/node-agent.md
  pkg/nodeagent/controller/operatingsystemconfig/add.go
  pkg/nodeagent/controller/operatingsystemconfig/add_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add integration tests
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_suite_test.go
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Handle credentials rotation
  pkg/nodeagent/certificate.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[Drop] Use MCM fork
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review feedback
  docs/concepts/node-agent.md
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/rbac.go
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/rbac_test.go
  pkg/nodeagent/controller/operatingsystemconfig/add.go
  pkg/nodeagent/controller/operatingsystemconfig/add_test.go
  pkg/nodeagent/controller/operatingsystemconfig/changes.go
  pkg/nodeagent/controller/operatingsystemconfig/osc_changes.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler_test.go
  pkg/nodeagent/controller/token/add.go
  pkg/utils/version/version_test.go
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Increase timeout for long-taking step
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module sigs.k8s.io/controller-runtime to v0.20.4
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Bring back static token kubeconfig for `kube-apiserver`
  pkg/component/kubernetes/apiserver/apiserver.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/mock/mocks.go
  pkg/component/kubernetes/apiserver/secrets.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Augment example `Shoot` manifest
  example/provider-local/gardenadm/shoot.yaml
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/gardenadm/botanist.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Prepare `kube-apiserver` for running as static pod
  pkg/component/apiserver/deployment.go
  pkg/component/apiserver/types.go
  pkg/component/etcd/etcd/constants/constants.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/gardener/resourcemanager/resource_manager_test.go
  pkg/component/kubernetes/apiserver/apiserver_test.go
  pkg/component/kubernetes/apiserver/deployment.go
  pkg/component/kubernetes/apiserver/secrets.go
  pkg/component/shared/kubeapiserver.go
  pkg/component/shared/kubeapiserver_test.go
  pkg/gardenlet/operation/botanist/kubeapiserver.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

ETCD bootstrap component supports roles
  pkg/component/etcd/bootstrap/etcd.go
  pkg/component/etcd/bootstrap/etcd_test.go
  pkg/gardenadm/staticpod/translator.go
  pkg/gardenadm/staticpod/translator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Silence usage
  cmd/gardenadm/app/app.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Configure registry mirrors in `Dockerfile` already
  pkg/provider-local/node/Dockerfile
  pkg/provider-local/node/containerd/europe-docker.pkg.dev/hosts.toml
  pkg/provider-local/node/containerd/garden.local.gardener.cloud:5001/hosts.toml
  pkg/provider-local/node/containerd/gcr.io/hosts.toml
  pkg/provider-local/node/containerd/quay.io/hosts.toml
  pkg/provider-local/node/containerd/registry.k8s.io/hosts.toml
  pkg/provider-local/webhook/controlplane/ensurer.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

`kubelet` considers static pod manifests
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
  pkg/gardenadm/staticpod/translator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Populate static OSC data in `deploy` func
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Generate OSC and apply it via node-agent logic
  imagevector/containers.go
  imagevector/containers.yaml
  pkg/gardenadm/botanist/botanist.go
  pkg/gardenadm/botanist/controlplane.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenadm/cmd/init/init.go
  skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Create `AutonomousBotanist` struct
  pkg/gardenadm/botanist/botanist.go
  pkg/gardenadm/botanist/botanist_suite_test.go
  pkg/gardenadm/botanist/kubelet.go
  pkg/gardenadm/botanist/kubelet_test.go
  pkg/gardenadm/cmd/init/init.go
  pkg/gardenadm/cmd/init/kubelet_test.go
  skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Make machine image optional in OSC component
  pkg/component/extensions/operatingsystemconfig/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fall back to internal domain when external domain is unset
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Write kubelet bootstrap kubeconfig as part of init flow
  pkg/gardenadm/botanist/kubelet.go
  pkg/gardenadm/botanist/kubelet_test.go
  pkg/gardenadm/cmd/init/init.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Change static file permissions and use other directory for volumes
  pkg/gardenadm/staticpod/translator.go
  pkg/gardenadm/staticpod/translator_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Use `kubernetes.default.svc` for in-cluster API server address
  pkg/gardenadm/staticpod/translator.go
  pkg/gardenadm/staticpod/translator_test.go
  pkg/gardenlet/operation/shoot/shoot.go
  pkg/gardenlet/operation/shoot/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `/ko-app` prefix for GNA when build locally
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/component.go
  pkg/component/extensions/operatingsystemconfig/original/components/nodeagent/component_test.go
  pkg/provider-local/webhook/nodeagentosc/mutator.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Ensure node-agent directories exist
  pkg/gardenadm/botanist/kubelet.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Build `gardener-node-agent` image and populate image vector overwrite
  example/gardenadm-local/.gitignore
  example/gardenadm-local/high-touch/machine.yaml
  hack/check-skaffold-deps.sh
  skaffold-gardenadm.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Populate admin kubeconfig and print information
  pkg/gardenadm/botanist/controlplane.go
  pkg/gardenadm/botanist/operatingsystemconfig.go
  pkg/gardenadm/cmd/init/init.go
  test/e2e/gardenadm/hightouch/gardenadm.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module sigs.k8s.io/controller-runtime to v0.20.4 (#11730)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update k8s.io/utils digest to 1f6e0b7
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update k8s.io/utils digest to 1f6e0b7 (#11721)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.30.3
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.30.3 (#11731)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

remove istio loadbalancer annotations from kapi service
  pkg/gardenlet/operation/botanist/kubeapiserverexposure.go
  pkg/operator/controller/garden/garden/components.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.12.1
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.11.5
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.12.1 (#11732)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update registry.k8s.io/ingress-nginx/controller-chroot Docker tag to v1.11.5 (#11733)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Modify GetOSVersion function
  pkg/nodeagent/controller/operatingsystemconfig/reconciler.go
  pkg/nodeagent/controller/operatingsystemconfig/reconciler_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix integration test
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Implement PR feedback
  test/integration/gardenlet/seed/seed/seed_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add helper functions
  pkg/apis/core/helper/shoot.go
  pkg/apis/core/helper/shoot_test.go
  pkg/apis/core/v1beta1/helper/shoot.go
  pkg/apis/core/v1beta1/helper/shoot_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration
