Repository gardener/gardener: changes, and which Prow jobs are due for each by the changed paths.
All: pull-gardener-check-renovate-config, pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration, post-gardener-release-handler

pull-gardener-check-renovate-config:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/renovatebot/renovate:39.144.4
      command:
      - renovate-config-validator

pull-gardener-apidiff:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20250219-8541a5a-1.23
      command:
      - make
      args:
      - import-tools-bin
      - check-apidiff

post-gardener-build-golang-test-images:
  decorate: true
  spec:
    serviceAccountName: image-builder
    containers:
    - name: image-builder
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20241030-0a9681a
      command:
      - /image-builder
      args:
      - --log-level=info
  ...

pull-gardener-check-vulnerabilities:
  decorate: true
  optional: true
  spec:
    containers:
    - name: test
      image: eu.gcr.io/gardener-project/ci-infra/golang-test:v20221012-3f7c056-1.19
      command:
      - make
      args:
      - check-vulnerabilities

pull-gardener-unit:
  decorate: true
  spec:
    containers:
    - image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - check-generate
      - check
      - format
      - test
      - test-prometheus
      - check-docforge
      resources:
        requests:
          cpu: 8
          memory: 8000Mi

pull-gardener-integration:
  decorate: true
  spec:
    containers:
    - name: test-integration
      image: ghcr.io/gardener/ci-infra/golang-test:1.17.7
      command:
      - make
      args:
      - test-integration
      resources:
        requests:
          cpu: 6
          memory: 2000Mi

post-gardener-release-handler:
  decorate: true
  spec:
    containers:
    - name: release-handler
      image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/release-handler:v20241002-f02876f
      command:
      - /release-handler
      args:
      - --dry-run=false
      - --github-token-path=/etc/github-token/token
  ...

refactor project_roles e2e test to ordered containers
  test/e2e/gardener/context.go
  test/e2e/gardener/project/common.go
  test/e2e/gardener/project/internal/project.go
  test/e2e/gardener/project/project_roles.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

simplify defercleanup
  test/e2e/gardener/project/project_roles.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: parse envoy template only once
  pkg/component/networking/vpn/seedserver/seedserver.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add `OCIRepository.PullSecretRef` for pulling helm charts (#11324)
  charts/gardener/operator/templates/crd-extensions.yaml
  docs/api-reference/core-v1.md
  docs/api-reference/core.md
  docs/deployment/setup_gardener.md
  docs/extensions/controllerregistration.md
  example/25-controllerdeployment.yaml
  example/55-gardenlet.yaml
  example/operator/10-crd-operator.gardener.cloud_extensions.yaml
  example/operator/15-extension.yaml
  go.mod
  pkg/apis/core/types_controllerdeployment.go
  pkg/apis/core/v1/generated.pb.go
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1/types_controllerdeployment.go
  pkg/apis/core/v1/zz_generated.conversion.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_controllerdeployment.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/openapi/openapi_generated.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/add.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation/reconciler.go
  pkg/gardenlet/controller/gardenlet/add.go
  pkg/gardenlet/controller/gardenlet/reconciler.go
  pkg/operator/controller/extension/extension/add.go
  pkg/operator/controller/extension/extension/add_test.go
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration.go
  pkg/operator/controller/extension/extension/controllerregistration/controllerregistration_test.go
  pkg/operator/controller/gardenlet/add.go
  pkg/utils/oci/fake/fake_registry.go
  pkg/utils/oci/helmregistry.go
  pkg/utils/oci/helmregistry_test.go
  pkg/utils/oci/keychain.go
  pkg/utils/oci/keychain_test.go
  pkg/utils/oci/oci_suite_test.go
  test/integration/gardenlet/controllerinstallation/controllerinstallation/controllerinstallation_test.go
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

[GEP-28] Add bootstrap etcd component for deploying etcd to bootstrap a control plane node in the autonomous shoot cluster scenario. (#11614)
  pkg/component/etcd/bootstrap/etcd.go
  pkg/component/etcd/bootstrap/etcd_suite_test.go
  pkg/component/etcd/bootstrap/etcd_test.go
  pkg/component/etcd/etcd/etcd.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update quay.io/kiwigrid/k8s-sidecar Docker tag to v1.30.2 (#11628)
  imagevector/containers.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v27.1.2+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v27.1.2+incompatible (#11632)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v27.5.1+incompatible
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Limit updates of jsonpatch/v2 to stay below v3
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

fix: add v6 metrics listener
  pkg/component/networking/vpn/seedserver/templates/envoy.yaml.tpl
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

CreateShoot testdef knows about minAllowed options
  .test-defs/CreateShoot.yaml
  test/framework/shoot_utils.go
  test/framework/shootcreationframework.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

refactor validateProvider in the shoot admission plugin (#11539)
  plugin/pkg/shoot/validator/admission.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Refactor `seed` integration test not to use `gstruct` Matcher (#11616)
  pkg/utils/test/objectnames.go
  test/integration/gardenlet/seed/seed/seed_test.go
  test/integration/operator/garden/garden/garden_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

changes to GNA to properly configure containerd 2
  pkg/nodeagent/controller/operatingsystemconfig/containerd.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config.go
  pkg/nodeagent/controller/operatingsystemconfig/containerd_config_test.go
  pkg/nodeagent/controller/operatingsystemconfig/testfiles/containerd-config.toml-v2
  pkg/nodeagent/controller/operatingsystemconfig/testfiles/containerd-config.toml-v3
  test/integration/nodeagent/operatingsystemconfig/operatingsystemconfig_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `check-generate` script for extensions
  hack/check-generate.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.30.2
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update dependency crate-ci/typos to v1.30.2 (#11639)
  hack/tools.mk
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt the `gardener-apiserver` Service
  charts/gardener/controlplane/charts/runtime/templates/apiserver/service.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes version >= 1.31
  docs/concepts/gardenlet.md
  docs/operations/topology_aware_routing.md
  pkg/component/autoscaling/vpa/admissioncontroller.go
  pkg/component/autoscaling/vpa/vpa_test.go
  pkg/component/etcd/etcd/etcd.go
  pkg/component/etcd/etcd/etcd_test.go
  pkg/component/gardener/admissioncontroller/admission_controller.go
  pkg/component/gardener/admissioncontroller/admission_controller_test.go
  pkg/component/gardener/admissioncontroller/service.go
  pkg/component/gardener/apiserver/service.go
  pkg/component/gardener/dashboard/terminal/service.go
  pkg/component/gardener/dashboard/terminal/terminal.go
  pkg/component/gardener/dashboard/terminal/terminal_test.go
  pkg/component/gardener/resourcemanager/resource_manager.go
  pkg/component/kubernetes/apiserverexposure/service.go
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/gardenlet/controller/seed/seed/components.go
  pkg/gardenlet/operation/botanist/etcd.go
  pkg/gardenlet/operation/botanist/etcd_test.go
  pkg/gardenlet/operation/botanist/resource_manager.go
  pkg/operator/controller/garden/garden/components.go
  pkg/utils/gardener/topology_aware_routing.go
  pkg/utils/gardener/topology_aware_routing_test.go
  pkg/utils/version/version.go
  pkg/utils/version/version_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt the `gardener-admission-controller` Service
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/service.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Adapt the `gardener-extension-registry-cache-admission` Service
  charts/gardener/admission-local/charts/runtime/templates/service.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Disable major updates for jsonpatch/v2 (PR review)
  .github/renovate.json5
Due: pull-gardener-check-renovate-config, pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

CreateShoot testdef knows about minAllowed options (#11637)
  .test-defs/CreateShoot.yaml
  test/framework/shoot_utils.go
  test/framework/shootcreationframework.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `check-generate` script for extensions (#11638)
  hack/check-generate.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add CloudProfileCapabilities FeatureGate
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  docs/proposals/33-machine-image-capabilities.md
  pkg/apis/core/types.go
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/conversions.go
  pkg/apis/core/v1beta1/defaults_cloudprofile.go
  pkg/apis/core/v1beta1/defaults_cloudprofile_test.go
  pkg/apis/core/v1beta1/defaults_namespacedcloudprofile_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_test.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/zz_generated.defaults.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/namespacedcloudprofile.go
  pkg/apis/core/validation/namespacedcloudprofile_test.go
  pkg/apis/core/validation/utils.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/features/features.go
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler.go
  pkg/controllermanager/controller/namespacedcloudprofile/reconciler_test.go
  pkg/features/features.go
  pkg/utils/validation/gardener/core/cloudprofile.go
  pkg/utils/validation/gardener/core/cloudprofile_test.go
  pkg/utils/validation/gardener/core/core_suite_test.go
  plugin/pkg/namespacedcloudprofile/validator/admission.go
  plugin/pkg/namespacedcloudprofile/validator/admission_test.go
  skaffold-operator.yaml
  skaffold.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add defaulting
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add validation
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Introduce two new fields `MachineInPlaceUpdateTimeout` and `DisableHealthTimeout` supported by MCM
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Add defaulting and validaiton for MaxSurge in case ManualInplaceUpdate
  pkg/apis/core/v1beta1/defaults_shoot.go
  pkg/apis/core/v1beta1/defaults_shoot_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Extension should calculate MCD strategy based on the updateStrategy of the worker pool
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/machines.go
  pkg/provider-local/controller/worker/machines.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Run `make generate`
  docs/api-reference/core.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/core/v1/generated.proto
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/security/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/settings/v1alpha1/generated.proto
  pkg/apiserver/openapi/api_violations.report
  pkg/apiserver/openapi/openapi_generated.go
  pkg/component/extensions/crds/assets/crd-extensions.gardener.cloud_workers.yaml
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Adapt worker extension deployment to use `UpdateStrategy` field also
  pkg/component/extensions/worker/worker.go
  pkg/component/extensions/worker/worker_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v27.5.1+incompatible (#11633)
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix `check-generate` script for extensions (#11641)
  hack/check-generate.sh
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

local setup: Remove wrongly added stale files
  example/provider-local/garden/local/patch-imagevector-overwrite.yaml
  example/provider-local/garden/operator/patch-imagevector-overwrite.yaml
Due: pull-gardener-apidiff, pull-gardener-unit, pull-gardener-integration

Update module github.com/docker/cli to v28
  go.mod
  go.sum
Due: pull-gardener-apidiff, post-gardener-build-golang-test-images, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Fix gardenadm e2e tests
  pkg/gardenadm/botanist.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Address PR review comments
  docs/concepts/resource-manager.md
  docs/operations/topology_aware_routing.md
  pkg/component/kubernetes/apiserverexposure/service_test.go
  pkg/utils/gardener/topology_aware_routing_test.go
Due: pull-gardener-apidiff, pull-gardener-check-vulnerabilities, pull-gardener-unit, pull-gardener-integration

Path conditions:
  pull-gardener-check-renovate-config: any of: ^((\.github/|\.gitlab/)?renovate\.json5?|\.renovaterc(\.json5?)?|package.json)$
  pull-gardener-apidiff: unless all of: ^docs/|\.md$
  post-gardener-build-golang-test-images: any of: ^go\.mod|^hack\/tools\/image|^hack\/tools\.mk
  pull-gardener-check-vulnerabilities: unless all of: ^docs/|\.(md|yaml)$
  pull-gardener-unit: unless all of: ^docs/|\.md$
  pull-gardener-integration: unless all of: ^docs/|\.md$
  post-gardener-release-handler: any of: ^VERSION$
